<template>
  <v-select
    multiple
    chips
    :label="label"
    item-text="text"
    item-value="id"
    :items="membershipList"
    :rules="membershipRules"
    v-model="membership"
    @input="onChange"
  >
    <template v-slot:items="props">
      <v-icon color="primary" v-if="(membership || []).includes(props.item.id)">radio_button_checked</v-icon>
      <v-icon v-else>radio_button_unchecked</v-icon>
      <div class="ml-2">{{ props.item.text }}</div>
    </template>
  </v-select>
</template>

<script>
export default {
  props: ['label', 'value', 'hasSub'],
  data () {
    return {
      membership: [],
    }
  },
  computed: {
    membershipRules () {
      return [
        v => typeof v !== 'undefined' || 'Membership is required.',
      ]
    },
    membershipList () {
      const membershipList = [
        {
          id: 0,
          text: 'No',
        },
        {
          divider: true,
        },
        {
          id: 1,
          text: 'Full Committee, Member Only',
        },
        {
          id: 2,
          text: 'Full Committee, Vice Chair',
        },
        {
          id: 3,
          text: 'Full Committee, Chair',
        },
        {
          divider: true,
        },
        {
          id: 4,
          text: 'Subcommittee, Member Only',
        },
        {
          id: 5,
          text: 'Subcommittee, Vice Chair',
        },
        {
          id: 6,
          text: 'Subcommittee, Chair',
        },
      ]
      if (!this.hasSub) {
        return membershipList.slice(0, 5)
      }
      return membershipList
    },
  },
  methods: {
    onChange () {
      let membership = [...this.membership]
      if (membership.length === 0) {
        membership = [0]
        return
      }
      const lastChange = membership[membership.length - 1]
      if (lastChange === 0) {
        membership = []
      }
      if ([1, 2, 3].includes(lastChange)) {
        membership = _.difference(membership, [0, 1, 2, 3])
      }
      if ([4, 5, 6].includes(lastChange)) {
        membership = _.difference(membership, [0, 4, 5, 6])
      }
      membership.push(lastChange)
      this.$emit('input', membership)
    }
  },
  watch: {
    value () {
      this.membership = this.value ? [...this.value] : []
    }
  }
}
</script>

<style lang="scss" scoped>
</style>
