<template>
  <v-dialog max-width="500" v-model="isModalOpen">
    <v-form ref="legDataForm" @submit.prevent="onSave()">
      <v-card>
        <v-card-title>
          <span class="title">{{ isNew ? 'Add New' : 'Edit' }} Legislator Data</span>
        </v-card-title>
        <v-divider></v-divider>
        <v-card-text>
          <v-alert type="error" outline :value="true" v-if="error">{{ error }}</v-alert>
          <v-layout wrap>
            <v-flex xs12 class="px-2 mb-2">
              <small class="grey--text">Support</small>
              <v-rating2 v-model="legData.leg_support"></v-rating2>
            </v-flex>
            <v-flex xs12 class="px-2">
              <v-textarea label="Legislator Notes" rows="2" v-model="legData.leg_notes">
              <v-tooltip slot="prepend" bottom>
            <v-icon slot="activator" color="primary" dark>help</v-icon>
            <span>These notes can be seen by all users, including KPs.</span>
          </v-tooltip>
              </v-textarea>
            </v-flex>
            <v-flex xs12 class="px-2" v-if="isVIP">
              <v-textarea label="Sensitive, VIP-Only Legislator Notes" rows="2" v-model="legData.vip_notes">
            <v-tooltip slot="prepend" bottom>
            <v-icon slot="activator" color="primary" dark>help</v-icon>
            <span>These notes can only bee seen by your Admin users and cannot be accessed by KPs or Coordinators.</span>
          </v-tooltip>
              </v-textarea>
            </v-flex>
            <v-flex xs12 class="px-2" v-if="!isSuperAdmin && userClient.uses_regions">
              <v-select label="Region #" :items="regionList" v-model="legData.leg_region"></v-select>
            </v-flex>
          </v-layout>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="grey white--text" @click.native="isModalOpen = false">Cancel</v-btn>
          <v-btn type="submit" color="primary" :loading="isBusy">Save</v-btn>
        </v-card-actions>
      </v-card>
    </v-form>
  </v-dialog>
</template>

<script>
import LegislatorService from '../../services/LegislatorService'
import VRating2 from '../App/VRating2'

export default {
  props: ['refresh'],
  mixins: [LegislatorService],
  components: {
    VRating2,
  },
  data () {
    return {
      // Modal Open
      isModalOpen: false,
      // Form Data
      legislator: null,
      legData: {},
      // Form Error
      error: '',
      // Form Busy
      isBusy: false,
    }
  },
  computed: {
    // Validation Rules
    isNew () {
      return this.legislator && !this.legislator.leg_id
    },
    regionList () {
      if (!this.userClient.uses_regions || !this.userClient.region_count) return
      return _.range(1, this.userClient.region_count + 1)
    }
  },
  methods: {
    toggle (legislator) {
      this.isModalOpen = true
      this.error = ''
      this.legislator = legislator
      if (this.isNew) {
        this.legData = {
          leg_id: legislator.id,
          client_id: this.userClientId,
        }
        this.$refs.legDataForm.reset()
      } else {
        this.legData = {
          leg_id: legislator.id,
          client_id: this.userClientId,
          leg_notes: legislator.leg_notes,
          vip_notes: legislator.vip_notes,
          leg_support: legislator.leg_support,
          leg_region: legislator.leg_region,
        }
      }
    },
    onSave () {
      if (!this.$refs.legDataForm.validate()) return
      this.isBusy = true
      if (this.isNew) {
        this.addLegData(this.legData)
          .then((res) => {
            this.isBusy = false
            toastr.clear()
            toastr.success('Legislator data has been added.', 'Success!')
            this.refresh()
            this.isModalOpen = false
          })
          .catch((err) => {
            this.isBusy = false
            this.error = 'Something went wrong!'
          })
      } else {
        this.updateLegData(this.legData)
          .then((res) => {
            this.isBusy = false
            toastr.clear()
            toastr.success('Legislator data has been updated.', 'Success!')
            this.refresh()
            this.isModalOpen = false
          })
          .catch((err) => {
            this.isBusy = false
            this.error = 'Something went wrong!'
          })
      }
    }
  }
}
</script>

<style lang="scss" scoped>
</style>
