<template>
  <v-dialog max-width="700" v-model="isModalOpen">
    <!-- Sub Sidebar -->
    <v-card class="flex-1">
      <v-card-title>
        <span class="title">{{ legislator.firstname }} {{ legislator.lastname }} -</span>
        <span class="label-party" :style="{'background-color': partyColorList[legislator.party]}">{{ legislator.party }}</span>
        <v-spacer />
        <div class="d-flex" v-if="isVIP && legislator.leg_support">
          <v-icon size="16" color="orange lighten-3" v-for="value in [1, 2, 3, 4, 5]" :key="value" v-if="value <= legislator.leg_support">star</v-icon>
        </div>
        <v-icon class="ml-3" @click="isModalOpen = false">close</v-icon>
      </v-card-title>
      <v-divider></v-divider>
      <v-layout fill-height class="position-relative">
        <!-- Main Sidebar -->
        <v-navigation-drawer mini-variant stateless absolute value="true" width="57" class="vertical-tabbar">
          <v-list class="pa-0">
            <v-tooltip bottom v-for="(item, index) in tabItemList" :key="index">
              <template v-slot:activator="{ on }">
                <v-list-tile class="pa-0" :class="{'active': index === activeTabIndex}" @click="onSelectTab(index)" v-on="on">
                  <v-icon size="25" v-if="item.icon">{{ item.icon }}</v-icon>
                  <div class="tab-item" v-else>{{ item.text }}</div>
                </v-list-tile>
              </template>
              <span>{{ item.title }}</span>
            </v-tooltip>
          </v-list>
        </v-navigation-drawer>
        <v-card-text class="card-body">
          <v-layout wrap justify-center align-center class="card-content" v-if="activeTabIndex === 0">
            <div class="px-2 photo-container">
              <img :src="legislator.official_image" alt="" height="250" v-if="legislator.official_image" />
              <v-layout justify-center>
                <a class="px-2" :href="legislator.website_url" target="_blank" v-if="legislator.website_url">
                  <i class="fa fa-globe fa-2x grey--text" />
                </a>
                <a class="px-2" :href="legislator.twitter_url" target="_blank" v-if="legislator.twitter_url">
                  <i class="fa fa-twitter-square fa-2x light-blue--text" />
                </a>
                <a class="px-2" :href="legislator.facebook_url" target="_blank" v-if="legislator.facebook_url">
                  <i class="fa fa-facebook-square fa-2x primary--text" />
                </a>
                <a class="px-2" :href="legislator.ballotpedia_url" target="_blank" v-if="legislator.ballotpedia_url">
                  <img src="/images/bp.png" alt="" width="24" height="24" />
                </a>
              </v-layout>
            </div>
            <div class="px-2 detail-container">
              <v-flex xs12 v-if="legislator.official_phone">
                <v-text-field label="Offical Phone" append-icon="call" v-model="legislator.official_phone" @click:append="onRequestCall" readonly></v-text-field>
              </v-flex>
              <v-flex xs12 v-if="legislator.official_email">
                <v-text-field label="Offical Email" append-icon="send" v-model="legislator.official_email" @click:append="onSendEmail" readonly></v-text-field>
              </v-flex>
              <v-flex xs12 v-if="legislator.occupation">
                <v-textarea label="Occupation" rows="3" v-model="legislator.occupation" readonly></v-textarea>
              </v-flex>
              <v-flex xs12 v-if="legislator.leg_notes">
                <v-textarea label="Notes" rows="3" v-model="legislator.leg_notes" readonly></v-textarea>
              </v-flex>
              <v-flex xs12 v-if="isVIP && legislator.vip_notes">
                <v-textarea label="Sensitive, VIP-Only Legislator Notes" rows="2" v-model="legislator.vip_notes" readonly></v-textarea>
              </v-flex>
            </div>
          </v-layout>
          <v-layout wrap v-if="activeTabIndex === 1">
            <v-flex xs12 class="text-xs-center">
              <v-data-table
                class="elevation-1"
                :headers="voteHistoryTableHeader"
                :items="voteHistory"
              >
                <template v-slot:items="props">
                  <td>{{ props.item.name }}</td>
                  <td>{{ props.item.notes }}</td>
                  <td>{{ props.item.pvote }}</td>
                  <td>{{ props.item.fvote }}</td>
                </template>
              </v-data-table>
            </v-flex>
          </v-layout>
          <v-layout wrap v-if="activeTabIndex === 2">
            <v-flex xs12 class="text-xs-center">
              <v-data-table
                class="elevation-1"
                :headers="kpHistoryTableHeader"
                :items="kpHistory"
              >
                <template v-slot:items="props">
                  <td>
                    <v-layout justify-center align-center>
                      <span class="no-line-break">{{ props.item.fullname }}</span>
                      <v-tooltip bottom v-for="(relationship, index) in props.item.relationship" :key="index">
                        <template v-slot:activator="{ on }">
                          <v-avatar size="20" :color="kpRelationshipList[relationship].color" class="ml-1" v-on="on">
                            <small class="white--text">{{ relationship }}</small>
                          </v-avatar>
                        </template>
                        <span>{{ kpRelationshipList[relationship].description }}</span>
                      </v-tooltip>
                    </v-layout>
                  </td>
                  <td>{{ props.item.position }}</td>
                  <td>
                    <v-menu open-on-hover auto bottom offset-y max-width="300">
                      <template v-slot:activator="{ on }">
                        <v-btn :disabled="!props.item.notes" icon small flat v-on="on">
                          <v-icon color="primary">note</v-icon>
                        </v-btn>
                      </template>
                      <v-card>
                        <v-card-text>
                          {{ props.item.notes }}
                        </v-card-text>
                      </v-card>
                    </v-menu>
                  </td>
                  <td>{{ props.item.period }}</td>
                </template>
              </v-data-table>
            </v-flex>
          </v-layout>
          <v-layout wrap v-if="activeTabIndex === 3">
            <v-flex xs12 class="text-xs-center">
              <h2 class="mb-2">Total = ${{ totalDonation }}</h2>
              <v-data-table
                class="elevation-1"
                :headers="donationHistoryTableHeader"
                :items="donationHistory"
              >
                <template v-slot:items="props">
                  <td>{{ props.item.session_name }}</td>
                  <td>${{ props.item['KP1 Donations'] || 0 }}</td>
                  <td>${{ props.item['Other Donations'] || 0 }}</td>
                  <td>${{ props.item['PAC Donations'] || 0 }}</td>
                </template>
              </v-data-table>
            </v-flex>
          </v-layout>
          <v-layout wrap v-if="activeTabIndex === 4">
            <v-flex xs12>
              <h2 class="mb-2">
                Latest news
                <v-progress-circular
                    v-if="isNewsLoading"
                    :size="20"
                    :width="3"
                    color="primary"
                    indeterminate
                ></v-progress-circular>
              </h2>
              <div v-if="legislatorNews && legislatorNews.length > 0">
                <v-card class="mb-2 news_item" v-for="item in legislatorNews" :key="item.title">
                  <div class="news_item__body">
                    {{ item.title }}
                  </div>
                  <div class="news_item__footer">
                    <div class="grey--text">{{ item.pubDate }}</div>
                    <a :href="item.link" target="_blank">Read more</a>
                  </div>
                </v-card>
              </div>
              <v-alert v-else color="info" icon="info" outline :value="true">There is no news</v-alert>
            </v-flex>
          </v-layout>
        </v-card-text>
      </v-layout>
      <v-divider></v-divider>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="grey white--text" @click.native="isModalOpen = false">Close</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import LegislatorService from '../../services/LegislatorService'
import StateService from '../../services/StateService'

export default {
  mixins: [LegislatorService, StateService],
  data () {
    return {
      // Modal Open
      isModalOpen: false,
      // Form Data
      activeTabIndex: 0,
      legislator: {},
      voteHistory: [],
      kpHistory: [],
      donationHistory: [],
      totalDonation: 0,
      legislatorNews: [],
      legislatorState: null,
      isNewsLoading: false
    }
  },
  computed: {
		tabItemList () {
			return [
				{
					icon: 'account_box',
					title: 'General',
				},
				{
					icon: 'check_box',
					title: 'Vote History',
				},
				{
					text: 'KP',
					title: 'KP History',
				},
				{
					icon: 'attach_money',
					title: 'Donations',
				},
        {
          icon: 'rss_feed',
          title: 'News',
        },
			]
		},
    voteHistoryTableHeader () {
      return [
        { text: 'Session', value: 'name', align: 'center'},
        { text: 'Notes', value: 'notes', align: 'center'},
        { text: 'P-Vote', value: 'pvote', align: 'center'},
        { text: 'F-Vote', value: 'fvote', align: 'center'},
      ]
    },
    kpHistoryTableHeader () {
      return [
        { text: 'KP', value: 'fullname', align: 'center'},
        { text: 'Position', value: 'position', align: 'center'},
        { text: 'Notes', align: 'center'},
        { text: 'From - To', value: 'period', align: 'center'},
      ]
    },
    donationHistoryTableHeader () {
      return [
        { text: 'Session Name', value: 'session_name', align: 'center'},
        { text: 'KP1 Donations', value: 'KP1 Donations'},
        { text: 'Other Donations', value: 'Other Donations'},
        { text: 'PAC Donations', value: 'PAC Donations'},
      ]
    },
    kpRelationshipList () {
      return {
        N: {
          description: 'None',
          color: 'error',
        },
        A: {
          description: 'Acquaintance',
          color: 'warning',
        },
        CC: {
          description: 'Can Call',
          color: 'warning',
        },
        FM: {
          description: 'Family member has a relationship with the legislator',
          color: 'blue',
        },
        $: {
          description: 'Gave money to the legislator',
          color: 'success',
        },
        P: {
          description: 'Legislator is a patient of the KP',
          color: 'success',
        },
        PF: {
          description: 'Legislator is a personal friend of the KP',
          color: 'success',
        },
        WC: {
          description: 'KP worked in legislator’s campaign',
          color: 'success',
        },
        VC: {
          description: 'The KP is very close with the legislator',
          color: 'success',
        },
      }
    },
    partyColorList () {
      return {
        R: '#f7d8de',
        D: '#cee4f3',
        I: '#f7f7dd',
        L: '#f3ecd4'
      }
    },
  },
  methods: {
    toggle (legislator) {
      this.isModalOpen = true
      this.legislator = legislator

      this.legislatorState = null
      this.legislatorNews = []
      this.getLegislatorState().then(()=> {this.onLoadNews()})

      if (!this.isSuperAdmin) {
        this.fetchVoteHistory()
        this.fetchKPHistory()
        this.fetchDonationHistory()
      }
    },
    async fetchVoteHistory () {
      this.voteHistory = []
      const voteHistoryObject = {}
      const voteHistory = (await this.getLegislatorVoteHistory({
        id: this.legislator.id,
        client_id: this.userClient.id,
      })).data
      voteHistory.forEach((vote) => {
        const item = voteHistoryObject[vote.id] || {
          name: vote.session_name,
          notes: vote.notes,
        }
        if (vote.task_name === 'P-Vote') {
          item.pvote = vote.result
        } else {
          item.fvote = vote.result
        }
        voteHistoryObject[vote.id] = item
      })
      _.forEach(voteHistoryObject, (vote) => {
        this.voteHistory.push(vote)
      })
    },
    async fetchKPHistory () {
      const kpHistory = (await this.getLegislatorKPHistory({
        id: this.legislator.id,
        client_id: this.userClient.id,
      })).data
      this.kpHistory = kpHistory.map((kp) => {
        const startDate = kp.start_date ? moment(kp.start_date).format('MMM DD, YYYY') : ''
        const endDate = kp.end_date ? moment(kp.end_date).format('MMM DD, YYYY') : 'Present'
        const item = {
          fullname: `${kp.member.nickname} ${kp.member.lastname}`,
          relationship: kp.kp_relationship,
          position: `KP${kp.kp_position}`,
          notes: kp.notes,
          period: `${startDate} - ${endDate}`
        }
        return item
      })
    },
    async fetchDonationHistory () {
      const result = (await this.getLegislatorDonationHistory({
        id: this.legislator.id,
        client_id: this.userClient.id,
      })).data
      this.totalDonation = 0
      const donationHistory = []
      result.forEach((donation) => {
        this.totalDonation += donation.donation
        const existingDonationIndex = donationHistory.findIndex(_donation => _donation.session_name === donation.session_name)
        if (existingDonationIndex !== -1) {
          donationHistory[existingDonationIndex][donation.session_task_name] = donation.donation
        } else {
          donationHistory.push({
            session_name: donation.session_name,
            [donation.session_task_name]: donation.donation,
          })
        }
      })
      this.donationHistory = donationHistory
    },
    onSelectTab (tabIndex) {
      this.activeTabIndex = tabIndex
    },
    onRequestCall () {
      window.location.href = `tel:${this.legislator.official_phone}`
    },
    onSendEmail () {
      window.location.href = `mailto:${this.legislator.official_email}`
    },
    getLegislatorState() {
      if(this.legislator.state_id) {
        this.isNewsLoading = true

        return this.getStates().then(response => {
          this.legislatorState = response.data.find(state => state.id == this.legislator.state_id)
        })
      }
    },
    onLoadNews() {
      if(this.legislator.fullname) {
        this.getLegislatorNews(this.legislator, this.legislatorState).then(response => {
          let parser = new DOMParser();
          let resultArray = Array.from(parser.parseFromString(response.data,"text/xml").getElementsByTagName("item"))

          if(resultArray.length > 0) {
            resultArray.slice(0, 5).map(item => {
              this.legislatorNews.push({
                title: item.childNodes[0].innerHTML,
                link: item.childNodes[1].innerHTML,
                pubDate: item.childNodes[3].innerHTML,
                description: item.childNodes[4].innerHTML,
              })
            })
          }

          this.isNewsLoading = false
        })
      }
    }
  },
}
</script>

<style lang="scss" scoped>
.position-relative {
  position: relative;
}
.flex-1 {
  flex: 1;
}
.label-party {
  margin-left: 8px;
  padding: 4px 8px;
  border-radius: 4px;
}
.vertical-tabbar {
  .active {
    background-color: rgba(0, 0, 0, 0.1);
  }
  .tab-item {
    width: 25px;
    text-align: center;
  }
}
.card-body {
  padding-left: 70px;
  height: 380px;
  overflow-y: auto;
  @media screen and (max-width: 500px) {
    height: calc(90vh - 150px);
  }
  .card-content {
    display: flex;

    @media screen and (max-width: 500px) {
      flex-direction: column;

      .detail-container {
        margin-top: 20px;
        width: 100%;
      }
    }
    .detail-container {
      flex: 1;
    }
  }
}
.news {
  &_item {
    &__body {
      padding: 10px 10px 5px 10px;
    }
    &__footer {
      display: flex;
      padding: 5px 10px 5px 10px;
      border-top: 1px solid #eee;
      justify-content: space-between;
      font-size: 12px;
      @media(max-width: 500px) {
        flex-direction: column-reverse;
        div {
          font-size: 10px;
        }
      }
    }
  }

}
</style>
