<template>
  <v-navigation-drawer fixed temporary right touchless width="650" v-model="isModalOpen">
    <v-layout fill-height>
      <!-- Main Sidebar -->
      <v-navigation-drawer mini-variant stateless value="true" width="57" class="vertical-tabbar">
        <v-list class="pa-0">
          <v-tooltip bottom v-for="(item, index) in tabItemList" :key="index">
            <template v-slot:activator="{ on }">
              <v-list-tile class="pa-0" :class="{'active': index === activeTabIndex}" @click="onSelectTab(index)" v-on="on">
                <v-icon size="25" v-text="item.icon" v-if="item.icon"></v-icon>
                <img :src="item.iconUrl" width="28" v-else />
              </v-list-tile>
            </template>
            <span>{{ item.title }}</span>
          </v-tooltip>
        </v-list>
      </v-navigation-drawer>
      <!-- Sub Sidebar -->
      <v-form ref="newLegislatorForm" class="flex-1" @submit.prevent="onAddLegislator()">
        <v-card style="box-shadow: none !important;">
          <v-card-title>
            <span class="title">New Legislator - {{ tabItemList[activeTabIndex].title }}</span>
            <v-spacer />
            <v-icon @click="isModalOpen = false">close</v-icon>
          </v-card-title>
          <v-divider></v-divider>
          <v-card-text>
            <v-alert type="error" outline :value="true" v-if="error">{{ error }}</v-alert>
            <!-- General -->
            <v-layout wrap v-show="activeTabIndex === 0">
              <v-flex xs6 class="px-2" v-if="isSuperAdmin">
                <v-select
                  label="State"
                  item-text="state"
                  item-value="id"
                  :items="stateList"
                  :rules="stateRules"
                  v-model="newLegislator.state_id"
                  @input="onSelectState"
                >
                </v-select>
              </v-flex>
              <v-flex :xs6="isSuperAdmin" :xs12="!isSuperAdmin" class="px-2">
                <v-checkbox label="Is Federal?" v-model="newLegislator.is_federal"></v-checkbox>
              </v-flex>
              <v-flex xs4 class="px-2">
                <v-text-field label="First Name*" :rules="firstNameRules" v-model="newLegislator.firstname" @input="onChangeFirstName"></v-text-field>
              </v-flex>
              <v-flex xs4 class="px-2">
                <v-text-field label="Last Name*" :rules="lastNameRules" v-model="newLegislator.lastname"></v-text-field>
              </v-flex>
              <v-flex xs4 class="px-2">
                <v-text-field label="Nick Name*" :rules="nickNameRules" v-model="newLegislator.nickname"></v-text-field>
              </v-flex>
              <v-flex xs12 class="px-2">
                <v-text-field label="Full Name*" :rules="fullNameRules" v-model="newLegislator.fullname"></v-text-field>
              </v-flex>
              <v-flex xs6 class="px-2">
                <v-select label="Party" :items="partyList" v-model="newLegislator.party"></v-select>
              </v-flex>
              <v-flex xs6 class="px-2">
                <v-select label="District*" item-text="district" item-value="id" :items="districtList" v-model="newLegislator.district_id"></v-select>
              </v-flex>
              <v-flex xs12 class="px-2" v-for="legislatorCommittee in legislatorCommitteeList" :key="legislatorCommittee.id">
                <committee-select :label="legislatorCommittee.fullname" v-model="newLegislator.committees[legislatorCommittee.id]" :has-sub="hasSubcommittees"></committee-select>
              </v-flex>
            </v-layout>
            <!-- End General -->
            <!-- Official -->
            <v-layout wrap v-show="activeTabIndex === 1">
              <v-flex xs4 class="px-2">
                <v-text-field label="Official Email" v-model="newLegislator.official_email"></v-text-field>
              </v-flex>
              <v-flex xs4 class="px-2">
                <v-text-field label="Official Phone" mask="(###) ###-####" :rules="phoneNumberRules" v-model="newLegislator.official_phone"></v-text-field>
              </v-flex>
              <v-flex xs4 class="px-2">
                <v-text-field label="Official Fax" v-model="newLegislator.official_fax"></v-text-field>
              </v-flex>
              <v-flex xs12 class="px-2">
                <address-input placeholder="Official Address" v-model="newLegislator.official_address"></address-input>
              </v-flex>
              <v-flex xs6 class="px-2">
                <v-text-field label="State Room" v-model="newLegislator.state_room"></v-text-field>
              </v-flex>
              <v-flex xs6 class="px-2">
                <v-text-field label="Aide Name" v-model="newLegislator.aide_name"></v-text-field>
              </v-flex>
              <v-flex xs12 class="px-2">
                <v-text-field
                  label="Official Image"
                  append-icon="cloud_upload"
                  v-model="newLegislator.official_image"
                  @click:append="$refs.officialImageUploader.click()"
                >
                </v-text-field>
                <input ref="officialImageUploader" type="file" accept="image/*" class="d-none" @change="onUploadOfficialImage()">
              </v-flex>
            </v-layout>
            <!-- End Official -->
            <!-- Local -->
            <v-layout wrap v-show="activeTabIndex === 2">
              <v-flex xs12 class="px-2">
                <v-text-field label="Occupation" v-model="newLegislator.occupation"></v-text-field>
              </v-flex>
              <v-flex xs6 class="px-2">
                <v-text-field label="Personal Email" v-model="newLegislator.personal_email"></v-text-field>
              </v-flex>
              <v-flex xs6 class="px-2">
                <v-text-field label="Local Phone" mask="(###) ###-####" :rules="phoneNumberRules" v-model="newLegislator.local_phone"></v-text-field>
              </v-flex>
              <v-flex xs12 class="px-2">
                <address-input placeholder="Local Address" v-model="newLegislator.local_address"></address-input>
              </v-flex>
            </v-layout>
            <!-- End Local -->
            <!-- Social -->
            <v-layout wrap v-show="activeTabIndex === 3">
              <v-flex xs12 class="px-2">
                <v-text-field label="Website URL" v-model="newLegislator.website_url"></v-text-field>
              </v-flex>
              <v-flex xs12 class="px-2">
                <v-text-field label="Biography URL" v-model="newLegislator.biography_url"></v-text-field>
              </v-flex>
              <v-flex xs12 class="px-2">
                <v-text-field label="Ballotpedia URL" v-model="newLegislator.ballotpedia_url"></v-text-field>
              </v-flex>
              <v-flex xs12 class="px-2">
                <v-text-field label="Campaign URL" v-model="newLegislator.campaign_url"></v-text-field>
              </v-flex>
              <v-flex xs12 class="px-2">
                <v-text-field label="Custom Link" v-model="newLegislator.custom_link"></v-text-field>
              </v-flex>
            </v-layout>
            <!-- End Social -->
            <!-- Social Media -->
            <v-layout wrap v-show="activeTabIndex === 4">
              <v-flex xs12 class="px-2">
                <v-text-field label="Instagram URL" v-model="newLegislator.instagram_url"></v-text-field>
              </v-flex>
              <v-flex xs12 class="px-2">
                <v-text-field label="LinkedIn URL" v-model="newLegislator.linkedin_url"></v-text-field>
              </v-flex>
              <v-flex xs12 class="px-2">
                <v-text-field label="Twitter URL" v-model="newLegislator.twitter_url"></v-text-field>
              </v-flex>
              <v-flex xs12 class="px-2">
                <v-text-field label="Facebook URL" v-model="newLegislator.facebook_url"></v-text-field>
              </v-flex>
              <v-flex xs12 class="px-2">
                <v-text-field label="YouTube URL" v-model="newLegislator.youtube_url"></v-text-field>
              </v-flex>
            </v-layout>
            <!-- End Social Media -->
            <!-- Dates -->
            <v-layout wrap v-show="activeTabIndex === 5">
              <v-flex xs12 class="px-2">
                <v-date-picker2 label="Sworn In" :rules="electedAtRules" v-model="newLegislator.elected_at"></v-date-picker2>
              </v-flex>
              <v-flex xs12 class="px-2">
                <v-date-picker2 label="Abdicated At" v-model="newLegislator.abdicated_at"></v-date-picker2>
              </v-flex>
            </v-layout>
            <!-- End Dates -->
          </v-card-text>
          <v-divider></v-divider>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="grey white--text" @click.native="isModalOpen = false">Cancel</v-btn>
            <v-btn type="submit" color="primary" :loading="isBusy">Save</v-btn>
          </v-card-actions>
        </v-card>
      </v-form>
    </v-layout>
  </v-navigation-drawer>
</template>

<script>
import CloudinaryService from '../../services/CloudinaryService'
import CommitteeService from '../../services/CommitteeService'
import LegislatorService from '../../services/LegislatorService'
import StateService from '../../services/StateService'
import AddressInput from '../App/AddressInput'
import CommitteeSelect from './CommitteeSelect'
import VDatePicker2 from '../App/VDatePicker2'

export default {
  props: ['stateList', 'committeeList', 'occupationList', 'refresh'],
  mixins: [CloudinaryService, CommitteeService, LegislatorService, StateService],
  components: {
    AddressInput,
    CommitteeSelect,
    VDatePicker2,
  },
  data () {
    return {
      // Modal Open
      isModalOpen: false,
      // Modal Data
      activeTabIndex: 0,
      districtList: [],
      // Form Data
      newLegislator: {},
      // Form Error
      error: '',
      // Form Busy
      isBusy: false,
    }
  },
  computed: {
    // Validation Rules
    stateRules () {
      return [
        v => !!v || 'State is required.',
      ]
    },
    firstNameRules () {
      return [
        v => !!v || 'First name is required.',
      ]
    },
    lastNameRules () {
      return [
        v => !!v || 'Last name is required.',
      ]
    },
    nickNameRules () {
      return [
        v => !!v || 'Nickname is required.',
      ]
    },
    fullNameRules () {
      return [
        v => !!v || 'Full name is required.',
      ]
    },
    electedAtRules () {
      return [
        v => !!v || 'Sworn in date is required.',
      ]
    },
    tabItemList () {
      return [
        {
          icon: 'account_box',
          title: 'General',
        },
        {
          icon: 'account_balance',
          title: 'Official',
        },
        {
          icon: 'home',
          title: 'Local',
        },
        {
          icon: 'public',
          title: 'Web Links',
        },
        {
          iconUrl: '/images/icon-twitter.png',
          title: 'Social Media',
        },
        {
          icon: 'date_range',
          title: 'Dates',
        },
      ]
    },
    partyList () {
      return ['None', 'R', 'D', 'I', 'L']
    },
    selectedState () {
      if (!this.newLegislator.state_id) return null
      return this.stateList.find(state => state.id === this.newLegislator.state_id)
    },
    hasSubcommittees () {
      if (!this.selectedState) return false
      return this.selectedState.has_subcommittees
    },
    legislatorCommitteeList () {
      if (this.isSuperAdmin) return []
      if (!this.newLegislator.district_id) return []
      const district = this.districtList.find(district => district.id === this.newLegislator.district_id)
      if (!district) return []
      const houseCommitteeList = this.committeeList.filter(committee => (this.userClient.house_committees || []).includes(committee.id))
      const senateCommitteeList = this.committeeList.filter(committee => (this.userClient.senate_committees || []).includes(committee.id))
      const jointCommitteeList = this.committeeList.filter(committee => (this.userClient.joint_committees || []).includes(committee.id))
      if (district.district[0] === 'H') {
        return [...houseCommitteeList, ...jointCommitteeList]
      }
      return [...senateCommitteeList, ...jointCommitteeList]
    },
  },
  methods: {
    async toggle () {
      this.isModalOpen = true
      this.activeTabIndex = 0
      this.error = ''
      this.$refs.newLegislatorForm.reset()
      if (!this.isSuperAdmin) {
        this.newLegislator = {
          state_id: this.userClient.state_id
        }
        this.onSelectState()
      }
      this.newLegislator.committees = {}
    },
    onSelectTab (tabIndex) {
      this.activeTabIndex = tabIndex
    },
    async onSelectState () {
      if (!this.newLegislator.state_id) return
      this.districtList = (await this.getStateUnelectedDistricts(this.newLegislator.state_id)).data
    },
    onChangeFirstName () {
      this.newLegislator.nickname = this.newLegislator.firstname
      this.newLegislator = { ...this.newLegislator }
    },
    onUploadOfficialImage () {
      const file = this.$refs.officialImageUploader.files[0]
      if (!file) return
      this.uploadToCloudinary(file)
        .json((res) => {
          this.newLegislator.official_image = res.secure_url
          this.newLegislator = {...this.newLegislator}
        })
        .catch((err) => {
          toastr.error('Something went wrong!', 'Error!')
        })
    },
    onAddLegislator () {
      if (!this.$refs.newLegislatorForm.validate()) {
        this.error = 'Please fill all required fields.'
        return
      }
      this.error = ''
      this.isBusy = true
      const payload = _.cloneDeep(this.newLegislator)
      if (payload.party === 'None') {
        payload.party = ''
      }
      this.createLegislator(payload)
        .then((res) => {
          this.isBusy = false
          toastr.clear()
          toastr.success('New legislator has been created.', 'Success!')
          this.refresh()
          this.isModalOpen = false
        })
        .catch((err) => {
          this.isBusy = false
          this.error = 'Something went wrong!'
        })
    }
  }
}
</script>

<style lang="scss" scoped>
.active {
  background-color: rgba(0, 0, 0, 0.1);
}
.flex-1 {
  flex: 1;
}
</style>
