<template>
  <v-dialog max-width="700" v-model="isModalOpen">
    <v-card class="flex-1" v-if="legislator">
      <v-card-title>
        <span class="title">{{ legislator.firstname }} {{ legislator.lastname }} - {{ legislator.party }}</span>
        <v-spacer />
        <v-icon class="ml-3" @click="isModalOpen = false">close</v-icon>
      </v-card-title>
      <v-divider></v-divider>
      <v-card-text>
        <v-layout wrap justify-center align-center class="card-content">
          <div class="px-2 photo-container">
            <img :src="legislator.official_image" alt="" height="250" v-if="legislator.official_image" />
            <v-layout justify-center>
              <a class="px-2" :href="legislator.website_url" target="_blank" v-if="legislator.website_url">
                <i class="fa fa-globe fa-2x grey--text" />
              </a>
              <a class="px-2" :href="legislator.twitter_url" target="_blank" v-if="legislator.twitter_url">
                <i class="fa fa-twitter-square fa-2x light-blue--text" />
              </a>
              <a class="px-2" :href="legislator.facebook_url" target="_blank" v-if="legislator.facebook_url">
                <i class="fa fa-facebook-square fa-2x primary--text" />
              </a>
              <a class="px-2" :href="legislator.ballotpedia_url" target="_blank" v-if="legislator.ballotpedia_url">
                <img src="/images/bp.png" alt="" width="24" height="24" />
              </a>
            </v-layout>
          </div>
          <div class="px-2 detail-container">
            <v-flex xs12 v-if="legislator.official_phone">
              <v-text-field label="Offical Phone" append-icon="call" v-model="legislator.official_phone" @click:append="onRequestCall" readonly></v-text-field>
            </v-flex>
            <v-flex xs12 v-if="legislator.official_email">
              <v-text-field label="Offical Email" append-icon="send" v-model="legislator.official_email" @click:append="onSendEmail" readonly></v-text-field>
            </v-flex>
            <v-flex xs12 v-if="legislator.occupation">
              <v-text-field label="Occupation" v-model="legislator.occupation" readonly></v-text-field>
            </v-flex>
            <v-flex xs12 v-if="legislator.leg_data && legislator.leg_data.leg_notes">
              <v-textarea label="Notes" rows="3" v-model="legislator.leg_data.leg_notes" readonly></v-textarea>
            </v-flex>
          </div>
        </v-layout>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="grey white--text" @click.native="isModalOpen = false">Close</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  props: ['legislator'],
  data () {
    return {
      // Modal Open
      isModalOpen: false,
    }
  },
  methods: {
    toggle () {
      this.isModalOpen = true
    },
    onRequestCall () {
      window.location.href = `tel:${this.legislator.official_phone}`
    },
    onSendEmail () {
      window.location.href = `mailto:${this.legislator.official_email}`
    }
  }
}
</script>

<style lang="scss" scoped>
.card-content {
  display: flex;

  @media screen and (max-width: 500px) {
    flex-direction: column;

    .detail-container {
      width: 100%;
    }
  }
  .detail-container {
    flex: 1;
  }
}
</style>
