
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

html, body {
  overflow-y: auto !important;
}

.v-tooltip__content {
  z-index: 10000 !important;
}

.ql-editor {
  height: 150px !important;

  &.readonly {
    padding: 0;
    height: fit-content !important;
  }
}

.swal2-container {
  font-family: Roboto,sans-serif;
}

.fade-enter-active, .fade-leave-active {
  transition: all .3s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.fill-width {
  width: 100%;
}

.no-line-break {
  white-space: nowrap;
}

.search-input {
  max-width: 300px;
}

.blue-background {
  background-image: url('/images/main-background.svg');
  background-size: cover !important;
}

.blue-card {
  background-color: rgba(#E5EEFD, 0.14) !important;
  border: 1px solid rgba(#FFFFFF, 0.07) !important;
  box-shadow: 0 2px 34px 0 rgba(#000000, 0.07) !important;
}

.v-input.v-text-field--box {
  .v-input__slot {
    border-radius: 0px !important;

    &::before,
    &::after {
      display: none;
    }

    .v-input__icon--prepend-inner {
      width: inherit;
      .v-icon {
        opacity: 0.5;
        color: #FFF !important;
      }
    }
    .v-text-field__slot {
      .v-label {
        color: #FFF !important;
        opacity: 0.5;
      }
      input {
        padding: 0;
        font-weight: 400;
        caret-color: white;
        opacity: 0.5;
      }
    }
  }

  &.v-input--is-focused {
    .v-input__slot {
      .v-text-field__slot {
        input {
          opacity: 1;
        }
      }
    }
  }
}

.btn-green {
  margin: 0 !important;
  width: 100%;
  height: 56px !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  font-weight: 700 !important;
  background-color: #3bd290 !important;
}

// /* blue primary text color */
// .primary--text {
//   color: #5eb1ec !important;
//   caret-color: #5eb1ec !important;
// }

// /* page title color */
// .theme--light.v-sheet {
//   color: #626778 !important;
// }

// /* page bg */
// .container {
// background-color: #d5dae6 !important;
// }

// /*page bottom bg color*/
// .v-content__wrap {
//   background-color: #d5dae6 !important;
// }

// /*card title bg* /
// .v-card__title {
//   background-color: #eef1f7;
// }

// /* left nav bg */
// .app-sidebar {
//   background-color: #495b78 !important;
//   .v-list__tile {
//     color: #e1edf7 !important;
//   }
//   .v-list__tile__action,
//   .v-list__group__header__prepend-icon,
//   .v-list__group__header__append-icon {
//     .v-icon {
//       color: #e1edf7 !important;
//     }
//   }
// }

// /* make the active stepper text stand out */
// .theme--light.v-stepper .v-stepper__step--active .v-stepper__label {
//   text-shadow: 0 0 0 #0915f6 !important;
// }

/* edit modals */
.v-navigation-drawer {
  .v-card {
    min-height: 100vh;
  }
}

/* vertical tabbars */
.vertical-tabbar {
  width: 57px !important;
  transform: translateX(0px) !important;
  background-color: #FFF !important;
  color: rgba(0, 0, 0, 0.87) !important;
}
