<template>
  <v-navigation-drawer fixed temporary right touchless width="600" v-model="isModalOpen">
    <v-layout fill-height>
      <v-form ref="userForm" @submit.prevent="onUpdateUser()">
        <v-card>
          <v-card-title>
            <span class="title">Edit New User</span>
          </v-card-title>
          <v-divider></v-divider>
          <v-card-text>
            <v-alert type="error" outline class="mb-2" :value="true" v-if="error">{{ error }}</v-alert>
            <v-layout wrap>
              <v-flex xs6 class="px-2">
                <v-select label="Role*" :items="roleList" :rules="roleRules" v-model="user.role"></v-select>
              </v-flex>
              <v-flex xs6 class="px-2">
                <v-checkbox label="Active" v-model="user.active"></v-checkbox>
              </v-flex>
              <v-flex xs12 class="px-2">
                <v-autocomplete
                  label="Member*"
                  :item-text="item => `${item.firstname} ${item.lastname} (Region ${item.coordinator.toString().padStart(2, '0')})`"
                  item-value="id"
                  :items="memberList"
                  :rules="memberRules"
                  v-model="user.member_id"
                  @input="onChangeMember"
                  v-if="user.role === 'Coordinator' || user.role === 'KP'"
                >
                </v-autocomplete>
              </v-flex>
              <v-flex xs4 class="px-2">
                <v-text-field label="First Name*" :rules="firstNameRules" v-model="user.firstname" @input="onChangeFirstName"></v-text-field>
              </v-flex>
              <v-flex xs4 class="px-2">
                <v-text-field label="Last Name*" :rules="lastNameRules" v-model="user.lastname"></v-text-field>
              </v-flex>
              <v-flex xs4 class="px-2">
                <v-text-field label="Nick Name*" :rules="nickNameRules" v-model="user.nickname"></v-text-field>
              </v-flex>
              <v-flex xs12 class="px-2">
                <v-text-field label="Email*" :rules="emailRules" v-model="user.email"></v-text-field>
              </v-flex>
              <v-flex xs12 class="px-2">
                <v-text-field label="Cell Phone" mask="(###) ###-####" :rules="phoneNumberRules" v-model="user.cell_phone"></v-text-field>
              </v-flex>
              <v-flex xs12 class="px-2">
                <address-input placeholder="Mailing Address" v-model="user.mailing_address"></address-input>
              </v-flex>
            </v-layout>
          </v-card-text>
          <v-divider></v-divider>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="grey white--text" @click.native="isModalOpen = false">Cancel</v-btn>
            <v-btn type="submit" color="primary" :loading="isBusy">Save</v-btn>
          </v-card-actions>
        </v-card>
      </v-form>
    </v-layout>
  </v-navigation-drawer>
</template>

<script>
import UserService from '../../services/UserService'
import AddressInput from '../App/AddressInput.vue'

export default {
  props: ['client', 'memberList', 'refresh'],
  mixins: [UserService],
  components: {
    AddressInput,
  },
  data () {
    return {
      // Modal Open
      isModalOpen: false,
      // Form Data
      user: {},
      // Form Error
      error: '',
      // Form Busy
      isBusy: false,
    }
  },
  computed: {
    // Validation Rules
    roleRules () {
      return [
        v => !!v || 'Role is required.',
      ]
    },
    memberRules () {
      return [
        v => !!v || 'Associated member is required.',
      ]
    },
    firstNameRules () {
      return [
        v => !!v || 'First name is required.',
      ]
    },
    lastNameRules () {
      return [
        v => !!v || 'Last name is required.',
      ]
    },
    nickNameRules () {
      return [
        v => !!v || 'Nickname is required.',
      ]
    },
    emailRules () {
      return [
        v => !!v || 'E-mail address is required.',
        v => AppHelper.validateEmail(v) || 'E-mail address must be valid.',
      ]
    },
    roleList () {
      let roleList = [
        'Super Admin',
        'VIP',
        'Coordinator',
        'KP',
      ]
      if (this.isVIP) {
        roleList = ['VIP', 'Coordinator']
      }
      if (!this.client.uses_regions) roleList = roleList.filter(role => role !== 'Coordinator')
      return roleList
    },
  },
  methods: {
    toggle (user) {
      this.isModalOpen = true
      this.error = ''
      this.user = _.cloneDeep(user)
      this.user.role = this.user.roles[0].name
      this.user = {...this.user}
    },
    onChangeFirstName () {
      this.user.nickname = this.user.firstname
      this.user = {...this.user}
    },
    onChangeMember () {
      if (!this.user.member_id) return
      const member = this.memberList.find(member => member.id === this.user.member_id)
      this.user = {
        id: this.user.id,
        role: this.user.role,
        member_id: this.user.member_id,
        firstname: member.firstname,
        lastname: member.lastname,
        nickname: member.nickname,
        email: member.email,
        cell_phone: member.cell,
      }
    },
    onUpdateUser () {
      if (!this.$refs.userForm.validate()) return
      this.isBusy = true
      const payload = {
        ...this.user,
        member_id: ['Coordinator', 'KP'].includes(this.user.role) ? this.user.member_id : null,
      }
      this.updateUser(this.user)
        .then((res) => {
          this.isBusy = false
          toastr.clear()
          toastr.success('User info has been updated.', 'Success!')
          this.refresh()
          this.isModalOpen = false
        })
        .catch((err) => {
          this.handleError(err)
        })
    }
  }
}
</script>

<style lang="scss" scoped>
</style>
