<template>
  <v-dialog max-width="600" v-model="isModalOpen">
    <v-form ref="newUserForm" @submit.prevent="onAddUser()">
      <v-card>
        <v-card-title>
          <span class="title">Add New User</span>
        </v-card-title>
        <v-divider></v-divider>
        <v-card-text>
          <v-alert type="error" outline class="mb-2" :value="true" v-if="error">{{ error }}</v-alert>
          <v-layout wrap>
            <v-flex xs6 class="px-2">
              <v-layout align-center >
                <v-select label="Role*" :items="roleList" :rules="roleRules" v-model="newUser.role"></v-select>
                <v-tooltip bottom>
                  <template v-slot:activator="{ on }">
                    <v-icon size="20" v-on="on">help</v-icon>
                  </template>
                  <ul>
                    <li>
                      VIP: All-Powerful Admins
                      <ul>
                        <li>Not connected to an Active Member</li>
                        <li>Can see everything</li>
                        <li>Can add new users</li>
                        <li>Can set options</li>
                      </ul>
                    </li>
                    <li>
                      Coordinator: Limited Accounts to assist with motivating KPs and recording Tasks
                      <ul>
                        <li>Connected to an Active Member</li>
                        <li>Can only see “KP Task Results” and “District Lookup” menu items</li>
                        <li>
                          Can only see the Regions and KPs for which they are responsible in the “KP Task Results” menu item<br/>
                          unless “Show All Task Rows for Coordinators” is checked in options
                        </li>
                      </ul>
                    </li>
                    <li v-if="false">
                      KP - Individual Key Persons
                      <ul>
                        <li>Connected to an Active Member</li>
                        <li>Can only see “KP Task Results” and “District Lookup” menu items</li>
                        <li>Can only see the Legislators for which they are responsible in the “KP Task Results” menu item</li>
                      </ul>
                    </li>
                  </ul>
                </v-tooltip>
              </v-layout>
            </v-flex>
            <v-flex xs6 class="px-2">
              <v-checkbox label="Active" v-model="newUser.active"></v-checkbox>
            </v-flex>
            <v-flex xs12 class="px-2">
              <v-autocomplete
                label="Member*"
                :item-text="item => `${item.firstname} ${item.lastname} (Region ${item.coordinator.toString().padStart(2, '0')})`"
                item-value="id"
                :items="memberList"
                :rules="memberRules"
                v-model="newUser.member_id"
                @input="onChangeMember"
                v-if="['Coordinator', 'KP'].includes(newUser.role)"
              >
              </v-autocomplete>
            </v-flex>
            <v-flex xs4 class="px-2">
              <v-text-field label="First Name*" :rules="firstNameRules" v-model="newUser.firstname" @input="onChangeFirstName"></v-text-field>
            </v-flex>
            <v-flex xs4 class="px-2">
              <v-text-field label="Last Name*" :rules="lastNameRules" v-model="newUser.lastname"></v-text-field>
            </v-flex>
            <v-flex xs4 class="px-2">
              <v-text-field label="Nick Name*" :rules="nickNameRules" v-model="newUser.nickname"></v-text-field>
            </v-flex>
            <v-flex xs12 class="px-2">
              <v-text-field label="Email*" :rules="emailRules" v-model="newUser.email"></v-text-field>
            </v-flex>
            <v-flex xs12 class="px-2">
              <v-text-field label="Cell Phone" mask="(###) ###-####" :rules="phoneNumberRules" v-model="newUser.cell_phone"></v-text-field>
            </v-flex>
            <v-flex xs12 class="px-2">
              <address-input placeholder="Mailing Address" v-model="newUser.mailing_address"></address-input>
            </v-flex>
          </v-layout>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="grey white--text" @click.native="isModalOpen = false">Cancel</v-btn>
          <v-btn type="submit" color="primary" :loading="isBusy">Add</v-btn>
        </v-card-actions>
      </v-card>
    </v-form>
  </v-dialog>
</template>

<script>
import UserService from '../../services/UserService'
import AddressInput from '../App/AddressInput.vue'

export default {
  props: ['client', 'memberList', 'refresh'],
  mixins: [UserService],
  components: {
    AddressInput,
  },
  data () {
    return {
      // Modal Open
      isModalOpen: false,
      // Form Data
      newUser: {},
      // Form Error
      error: '',
      // Form Busy
      isBusy: false,
    }
  },
  computed: {
    // Validation Rules
    roleRules () {
      return [
        v => !!v || 'Role is required.',
      ]
    },
    memberRules () {
      return [
        v => !!v || 'Associated member is required.',
      ]
    },
    firstNameRules () {
      return [
        v => !!v || 'First name is required.',
      ]
    },
    lastNameRules () {
      return [
        v => !!v || 'Last name is required.',
      ]
    },
    nickNameRules () {
      return [
        v => !!v || 'Nickname is required.',
      ]
    },
    emailRules () {
      return [
        v => !!v || 'E-mail address is required.',
        v => AppHelper.validateEmail(v) || 'E-mail address must be valid.',
      ]
    },
    roleList () {
      let roleList = [
        'Super Admin',
        'VIP',
        'Coordinator',
        'KP',
      ]
      if (this.isVIP) {
        roleList = ['VIP', 'Coordinator']
      }
      if (!this.client.uses_regions) roleList = roleList.filter(role => role !== 'Coordinator')
      return roleList
    },
  },
  methods: {
    toggle () {
      this.isModalOpen = true
      this.error = ''
      this.$refs.newUserForm.reset()
      this.$nextTick().then(() => {
        this.newUser = {
          active: true,
        }
      })
    },
    onChangeFirstName () {
      this.newUser.nickname = this.newUser.firstname
      this.newUser = {...this.newUser}
    },
    onChangeMember () {
      if (!this.newUser.member_id) return
      const member = this.memberList.find(member => member.id === this.newUser.member_id)
      this.newUser = {
        role: this.newUser.role,
        member_id: this.newUser.member_id,
        firstname: member.firstname,
        lastname: member.lastname,
        nickname: member.nickname,
        email: member.email,
        cell_phone: member.cell,
      }
    },
    onAddUser () {
      if (!this.$refs.newUserForm.validate()) return
      this.isBusy = true
      const payload = {
        ...this.newUser,
        client_id: this.client.id,
        member_id: ['Coordinator', 'KP'].includes(this.newUser.role) ? this.newUser.member_id : null,
      }
      this.createUser(payload)
        .then((res) => {
          this.isBusy = false
          toastr.clear()
          toastr.success('New user has been created.', 'Success!')
          this.refresh()
          this.isModalOpen = false
        })
        .catch((err) => {
          this.handleError(err)
        })
    }
  }
}
</script>

<style lang="scss" scoped>
</style>
