<template>
  <v-dialog max-width="800" v-model="isModalOpen">
    <v-form ref="donationRequestEmailForm">
      <v-card>
        <v-card-title>
          <span class="title">Sample Donation Request</span>
        </v-card-title>
        <v-divider></v-divider>
        <v-card-text>
          <v-flex xs12>
            <v-text-field
              v-model="subject"
              label="Email subject"
              :rule="subjectRules"
              outlined
              shaped
            ></v-text-field>
          </v-flex>
          <v-flex xs12>
            <v-text-field
              v-model="sendFrom"
              :rule="fromRules"
              label="Send from name"
              outlined
              shaped
            ></v-text-field>
          </v-flex>
          <v-select
            multiple
            chips
            deletable-chips
            return-object
            item-text="fullname"
            label="District Members"
            :items="districtMemberList"
            v-model="selectedEmails"
            >
          </v-select>
          <div class="quill_auto-height">
            <quill-editor ref="quillEditor" :options="quillEditorOption" v-model="template" v-show="isEditor"></quill-editor>
          </div>
          <v-alert color="#000" outline class="mb-2" :value="true" v-show="!isEditor">
            <div v-html="template"></div>
          </v-alert>
          <em>
            Replies to this email will go to {{ userEmail }}
          </em>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-btn @click="sendRequestEmail" :loading="isBusy" color="primary" >Send</v-btn>
          <v-spacer></v-spacer>
          <v-btn :color="isEditor ? 'success' : 'primary'" @click="isEditor = !isEditor">
            <v-icon class="mr-1">{{ isEditor ? 'save' : 'edit'}}</v-icon>
            {{ isEditor ? 'Accept' : 'Edit message'}}
          </v-btn>
          <v-btn color="grey white--text" @click.native="isModalOpen = false">Close</v-btn>
        </v-card-actions>
      </v-card>
    </v-form>
  </v-dialog>
</template>

<script>
import swal from 'sweetalert2'
import ClientService from '../../services/ClientService'
import { ImageResize } from 'quill-image-resize-module'
import { quillEditor } from 'vue-quill-editor'
import EditorImageUpload from '../../../../mixins/EditorImageUploadMixin'

export default {
  mixins: [ClientService],
  components: {
    quillEditor,
  },
  data () {
    return {
      // Modal Open
      isModalOpen: false,
      // Form Data
      selectedClient: {},
      selectedDistrict: '',
      districtLegislator: {},
      districtMemberList: [],
      // Form Busy
      isBusy: false,
      subject: '',
      sendFrom: '',
      replyTo: '',
      isEditor: false,
      template: "",
      selectedEmails: []
    }
  },

  computed: {
    fromRules () {
      return [
        v => !!v || 'From name is required.',
      ]
    },
    replyToEmailRules () {
      return [
        v => !!v || 'Reply to email address is required.',
      ]
    },
    subjectRules () {
      return [
        v => !!v || 'Subject is required.',
      ]
    },
    isSenator () {
      return this.selectedDistrict.includes('S')
    },
    quillEditorOption () {
      return {
        modules: {
          toolbar: [
            [{ 'size': ['small', false, 'large'] }],
            [ 'bold', 'italic', 'underline', 'strike' ],
            [{ 'color': [] }, { 'background': [] }],
            [{ 'list': 'ordered' }, { 'list': 'bullet'}, { 'indent': '-1' }, { 'indent': '+1' }],
            [ 'direction', { 'align': [] }],
            //[ 'link', 'image' ],
            [ 'clean', 'image' ],
          ],
          imageResize: {
            displaySize: true
          }
        }
      }
    },
  },
  methods: {
    toggle (selectedClient, selectedDistrict, districtLegislator, districtMemberList) {
      this.isModalOpen = true
      this.selectedClient = {...selectedClient}
      this.selectedDistrict = selectedDistrict
      this.districtLegislator = {...districtLegislator}
      this.districtMemberList = districtMemberList.map(item => {return {...item, fullname: `${item.firstname} ${item.lastname}`}})
      this.selectedEmails = this.districtMemberList
      this.subject  = `The ${this.selectedClient.assoc_abbrev} need your help`
      this.sendFrom =  this.userName
      this.replyTo = this.userEmail
      this.setDefaultTemplate()
    },
    sendRequestEmail () {
      if (!this.$refs.donationRequestEmailForm.validate()) return
      const email =  {
        clientId: this.selectedClient.id,
        subject: this.subject,
        reply_to_email: this.replyTo,
        from: this.sendFrom,
        message: this.template,
        tos: this.selectedEmails.map(item => item.email),
        personalReplies: true
      }
      swal({
        title: 'Are you sure?',
        type: 'question',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, Send Now',
        reverseButtons: true,
      }).then((result) => {
        if (result.value) {
          this.isBusy = true
          this.sendEmail(email)
            .then((res) => {
              this.isBusy = false
              toastr.clear()
              toastr.success('Email has been sent.', 'Success!')
              this.isModalOpen = false
            })
            .catch((err) => {
              this.isBusy = false
              this.error = 'Something went wrong!'
            })
        }
      })
    },
    setDefaultTemplate() {
      let msg = "<p>\n" +
        "              Fellow " + this.selectedClient.assoc_abbrev + " member,\n" +
        "            </p>\n" +
        "            <p>\n" +
        "              First of all, let me thank you for all your past support. As you may know, I am the Key Person for " + this.districtLegislator.fullname + ".\n" +
        "              Since you are a constituent of this particular legislator (which makes you very important to " + this.districtLegislator.nickname + "!),\n" +
        "              I am asking for your help.\n" +
        "            </p>\n" +
        "            <p>\n" +
        "              I will be meeting with " + this.districtLegislator.nickname + " soon and would like to present contributions from the " + this.selectedClient.assoc_abbrev + "\n" +
        "              members that live or work in district " + this.selectedDistrict + ". I am asking for $100 from everyone in this district (but anything you can give is helpful and\n" +
        "              appreciated).<br />\n" +
        "              Can you help me with this?\n" +
        "            </p>\n" +
        "            <p>\n" +
        "              Checks can be made out to: " + this.districtLegislator.nickname + " " + this.districtLegislator.lastname + " for " + (this.isSenator ? 'Senator' : 'Delegate') + "\n" +
        "            </p>\n" +
        "            <p>\n" +
        "              and mailed to me at Dr. " + this.userName + "<br />\n" +
        "              " + this.userMailingAddress + "<br />\n" +
        "            </p>\n" +
        "            <p>\n" +
        "              <strong>Deadline for mailing is {DEADLINE-CHANGEME}.</strong><br />\n" +
        "              I will hand deliver these checks to " + this.districtLegislator.nickname + "<br />\n" +
        "              Thank you again for your continued support of your profession's legislative efforts!<br />\n" +
        "              Email or call me at " + this.userCellPhone + " if you have any questions.\n" +
        "            </p>\n" +
        "            <p>\n" +
        "              Thank You!<br />\n" +
        "              - " + this.userName + "\n" +
        "            </p>"
      this.$refs.quillEditor.quill.clipboard.dangerouslyPasteHTML(msg);
    }
  }
}
</script>

<style lang="scss" scoped>
</style>
