<template>
  <v-dialog max-width="800" v-model="isModalOpen">
    <v-form ref="volunteerRequestEmailForm">
      <v-card>
        <v-card-title>
          <span class="title">Sample Volunteer Request Email</span>
        </v-card-title>

        <v-card-text>
          <v-flex xs12>
            <v-text-field
              v-model="subject"
              label="Email subject"
              :rule="subjectRules"
              outlined
              shaped
            ></v-text-field>
          </v-flex>
          <v-flex xs12>
            <v-text-field
              v-model="sendFrom"
              :rule="fromRules"
              label="Send from name"
              outlined
              shaped
            ></v-text-field>
          </v-flex>
          <v-select
            multiple
            chips
            return-object
            deletable-chips
            item-text="fullname"
            label="Eligible KPs"
            :items="eligibleMemberList"
            v-model="selectedEmails"
          >
          </v-select>
          <div class="quill_auto-height">
            <quill-editor ref="quillEditor" :options="quillEditorOption" v-model="template" v-show="isEditor"></quill-editor>
          </div>
          <v-alert color="#000" outline class="mb-2" :value="true" v-show="!isEditor">
            <div v-html="template"></div>
          </v-alert>
          <em>
            Replies to this email will go to {{ userEmail }}
          </em>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-btn @click="sendRequestEmail" :loading="isBusy" color="primary" >Send</v-btn>
          <v-spacer></v-spacer>
          <v-btn :color="isEditor ? 'success' : 'primary'" @click="isEditor = !isEditor">
            <v-icon class="mr-1">{{ isEditor ? 'save' : 'edit'}}</v-icon>
            {{ isEditor ? 'Accept' : 'Edit message'}}
          </v-btn>
          <v-btn color="grey white--text" @click.native="isModalOpen = false">Close</v-btn>
        </v-card-actions>
      </v-card>
    </v-form>
  </v-dialog>
</template>

<script>
import swal from 'sweetalert2'
import ClientService from '../../services/ClientService'
import { ImageResize } from 'quill-image-resize-module'
import { quillEditor } from 'vue-quill-editor'
import EditorImageUpload from '../../../../mixins/EditorImageUploadMixin'

export default {
  mixins: [ClientService, EditorImageUpload],
  components: {
    quillEditor,
  },
  data () {
    return {
      // Modal Open
      isModalOpen: false,
      // Form Data
      selectedClient: {},
      selectedDistrict: '',
      districtLegislator: {},
      eligibleMemberList: [],
      subject: '',
      sendFrom: '',
      replyTo: '',
      // Form Busy
      isBusy: false,
      isEditor: false,
      template: "",
      selectedEmails: []
    }
  },
  computed: {
    fromRules () {
      return [
        v => !!v || 'From name is required.',
      ]
    },
    replyToEmailRules () {
      return [
        v => !!v || 'Reply to email address is required.',
      ]
    },
    subjectRules () {
      return [
        v => !!v || 'Subject is required.',
      ]
    },
    quillEditorOption () {
      return {
        modules: {
          toolbar: [
            [{ 'size': ['small', false, 'large'] }],
            [ 'bold', 'italic', 'underline', 'strike' ],
            [{ 'color': [] }, { 'background': [] }],
            [{ 'list': 'ordered' }, { 'list': 'bullet'}, { 'indent': '-1' }, { 'indent': '+1' }],
            [ 'direction', { 'align': [] }],
            //[ 'link', 'image' ],
            [ 'clean', 'image' ],
          ],
          imageResize: {
            displaySize: true
          }
        }
      }
    },
    checkedOccupation() {
      if(this.districtLegislator.occupation == '' || this.districtLegislator.occupation == 'unknown' || this.districtLegislator.occupation == null) {
        return ''
      } else {
        return this.districtLegislator.occupation
      }
    }
  },
  methods: {
    toggle (selectedClient, selectedDistrict, districtLegislator, eligibleMemberList) {
      this.isModalOpen = true
      this.selectedClient = {...selectedClient}
      this.selectedDistrict = selectedDistrict
      this.districtLegislator = {...districtLegislator}
      this.eligibleMemberList = eligibleMemberList.map(item => {return {...item, fullname: `${item.firstname} ${item.lastname}`}})
      this.selectedEmails = this.eligibleMemberList
      this.subject  = `The ${this.selectedClient.assoc_abbrev} need your help`
      this.sendFrom =  this.userName
      this.replyTo = this.userEmail
      this.setDefaultTemplate()
    },
    sendRequestEmail () {
      if (!this.$refs.volunteerRequestEmailForm.validate()) return
      const email =  {
        clientId: this.selectedClient.id,
        subject: this.subject,
        reply_to_email: this.replyTo,
        from: this.sendFrom,
        message: this.template,
        tos: this.selectedEmails.map(item => item.email),
        personalReplies: true
      }
      swal({
        title: 'Are you sure?',
        type: 'question',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, Send Now',
        reverseButtons: true,
      }).then((result) => {
        if (result.value) {
          this.isBusy = true
          this.sendEmail(email)
            .then((res) => {
              this.isBusy = false
              toastr.clear()
              toastr.success('Email has been sent.', 'Success!')
              this.isModalOpen = false
            })
            .catch((err) => {
              this.isBusy = false
              this.error = 'Something went wrong!'
            })
        }
      })
    },
    setDefaultTemplate() {
      let msg = "<p>\n" +
        "              Fellow Colleague,\n" +
        "            </p>\n" +
        "            <p>\n" +
        "              As you probably know, our Key Person structure is one of " + this.selectedClient.assoc_abbrev + "'s greatest assets.\n" +
        "              We pass our laws and keep " + this.selectedClient.profession + " strong with our first-class grassroots system.\n" +
        "            </p>\n" +
        "            <p>\n" +
        "              We are in need of a new Key Person for District " + this.selectedDistrict + " and specifically " + this.districtLegislator.fullname + ".\n" +
        "              As you live or work in this district, you are a very important person to " + this.districtLegislator.nickname + ".\n" +
        "              I was hoping you might accept the primary Key Person position?\n" +
        "            </p>\n" +
        "            <p\n" +
        "            <p style=\"border-bottom: 1px solid gray; border-top: 1px solid gray; margin-bottom: 0\">\n" +
        "              <img src='" + this.districtLegislator.official_image + "' width=\"150\" style=\"margin-top: 15px; margin-bottom: 5px;\">\n" +
        "            <p>\n" +
        "            <p>\n" +
      "              <p style=\"margin-bottom: 10px;\">" + this.checkedOccupation + "</p>\n" +
        "            <p>\n" +
        "              The position would require you to make contact with the " + this.selectedDistrict + " legislator at least once a year.\n" +
        "              Maybe get some coffee, attend a fundraiser, and make a donation to their campaign.\n" +
        "              This keeps your face and " + this.selectedClient.profession + " in general in their mind so when it comes time for us to ask for their all-important vote,\n" +
        "              the legislator will already be familiar with you - and " + this.selectedClient.assoc_abbrev + ".\n" +
        "            </p>\n" +
        "            <p>\n" +
        "              Do you think you can help us out? If you have any questions, please do not hesitate to contact me.\n" +
        "            </p>\n" +
        "            <p>\n" +
        "              Thank You!<br />\n" +
        "              " + this.userName + "\n" +
        "            </p>"
      this.$refs.quillEditor.quill.clipboard.dangerouslyPasteHTML(msg);
    }
  },
}
</script>

<style lang="scss">
.quill_auto-height {
  .ql-editor {
    height: auto!important;
    p {
      margin-bottom: 16px;
    }
  }
}
</style>
