<template>
  <v-content class="blue-background">
    <v-container fluid fill-height fill-screen>
      <v-layout align-center justify-center>
        <v-flex xs12 sm6 md3>
          <div class="display-1 font-weight-bold text-xs-center white--text mb-4">FORGOT PASSWORD?</div>
          <v-form ref="forgotPasswordForm" @submit.prevent="onSendEmail">
            <v-card dark class="pa-3 elevation-12 blue-card">
              <v-card-text>
                <v-alert type="error" color="white" :value="true" outline class="mb-3" v-if="error">{{ error }}</v-alert>
                <v-alert type="success" color="white" :value="true" outline class="mb-3" v-if="message">{{ message }}</v-alert>
                <v-text-field
                  box
                  type="email"
                  prepend-inner-icon="person"
                  label="E-mail ID*"
                  background-color="rgba(255, 255, 255, 0.2)"
                  v-model="user.email"
                  :rules="emailRules"
                  @input="error = ''"
                >
                </v-text-field>
                <div class="text-xs-right">
                  <a href="/login" class="white--text">Back to login</a>
                </div>
                <v-btn type="submit" class="mt-2 btn-green" :loading="isBusy">Send Reset Password Link</v-btn>
              </v-card-text>
            </v-card>
          </v-form>
        </v-flex>
      </v-layout>
    </v-container>
  </v-content>
</template>

<script>
import AuthService from '../services/AuthService'

export default {
  mixins: [AuthService],
  data () {
    return {
      // Form Data
      user: {},
      // Form Error
      error: '',
      // Form Message
      message: '',
      // Form Busy
      isBusy: false,
    }
  },
  computed: {
    emailRules () {
      return [
        v => !!v || 'E-mail is required.',
        v => AppHelper.validateEmail(v) || 'E-mail must be valid.',
      ]
    }
  },
  methods: {
    onSendEmail () {
      if (!this.$refs.forgotPasswordForm.validate()) return
      this.isBusy = true
      this.remember(this.user)
        .then((res) => {
          this.error = ''
          this.message = res.data.message
          this.isBusy = false
        })
        .catch((err) => {
          this.error = err.response.data.message
          this.message = ''
          this.isBusy = false
        })
    }
  }
}
</script>

<style lang="scss" scoped>
</style>
