<template>
  <v-content class="blue-background">
    <v-container fluid fill-height fill-screen>
      <v-layout align-center justify-center>
        <v-flex xs12 sm6 md3 v-if="!isBusy">
          <div class="display-1 font-weight-bold text-xs-center white--text mb-4">KP DASHBOARD</div>
          <v-card dark class="pa-3 elevation-12 blue-card">
            <v-card-text>
              <v-alert type="info" color="white" :value="true" outline class="mb-3" v-if="isKP && serviceType !== 'adv'">
                Hi, {{ user.nickname }}, please update the tasks for your assigned legislator(s) and then press Save for each. This link will expire in 2 hours.
              </v-alert>
              <v-alert type="info" color="white" :value="true" outline class="mb-3" v-if="isMember || (isKP && serviceType === 'adv')">
                Hi {{ user.nickname }}, please review this message and edit to your liking before sending to your legislator. This link will expire in 2 hours. Thank you!
              </v-alert>
              <v-alert type="error" color="white" :value="true" outline class="mb-3" v-if="!user">
                This link is invalid or has expired. Please ask your Coordinator or Admin for a new login link.
              </v-alert>
              <v-btn class="btn-green" @click="onNext">{{ user ? 'Proceed' : 'Go to Login Page' }}</v-btn>
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </v-content>
</template>

<script>
import AuthService from '../services/AuthService'

export default {
  props: ['token'],
  mixins: [AuthService],
  data() {
    return {
      isBusy: true,
      user: null,
    }
  },
  computed: {
    serviceType () {
      const urlParams = new URLSearchParams(window.location.search)
      return urlParams.get('s')
    },
    isKP () {
      if (!this.user) return false
      return this.user.role === 'KP'
    },
    isMember () {
      if (!this.user) return false
      return this.user.role === 'Member'
    },
  },
  mounted () {
    this.onLogin()
  },
  methods: {
    onLogin () {
      const payload = { token: this.token }
      this.loginAsMember(payload)
        .then((res) => {
          localStorage.setItem('token', JSON.stringify(res.data.token))
          this.$store.dispatch('authStore/setUserData', {
            ...res.data.user,
            serviceType: this.serviceType,
          })
          this.$store.dispatch('authStore/refreshSession')
          this.user = res.data.user
          this.isBusy = false
        })
        .catch((err) => {
          this.isBusy = false
        })
    },
    onNext () {
      location.href = '/'
    }
  }
}
</script>

<style lang="scss" scoped>
</style>
