<template>
  <v-content class="blue-background">
    <v-container fill-height fill-screen fluid>
      <v-layout align-center justify-center>
        <v-flex md3 sm6 xs12>
          <div class="display-1 font-weight-bold text-xs-center white--text mb-4">KP DASHBOARD</div>
          <v-form ref="loginForm" @submit.prevent="handleSubmit" v-if="!twoFactorCodeSent">
            <v-card dark class="pa-3 elevation-12 blue-card">
              <v-card-text>
                <v-alert :value="true" class="mb-3" color="white" outline type="error" v-if="error">{{ error }}
                </v-alert>
                <v-text-field
                  background-color="rgba(255, 255, 255, 0.2)"
                  box
                  label="Email*"
                  prepend-inner-icon="person"
                  type="email"
                  v-model="user.email"
                  :rules="emailRules"
                  @input="error = ''"
                  v-if="!isKeyPerson"
                >
                </v-text-field>
                <v-text-field
                  :rules="passwordRules"
                  @input="error = ''"
                  background-color="rgba(255, 255, 255, 0.2)"
                  box
                  label="Password*"
                  prepend-inner-icon="lock"
                  type="password"
                  v-model="user.password"
                  v-if="!isKeyPerson"
                >
                </v-text-field>
                <v-divider light v-if="!isKeyPerson"/>
                <v-snackbar
                  v-model="showSnackbar"
                  :top="true"
                  :left="false"
                  :right="true"
                  :timeout="2500"
                > {{error?error : message}}
                </v-snackbar>
                <div class="text-xs-right" v-if="!isKeyPerson">
                  <a href="/password/email" class="white--text">Forgot Password?</a>
                </div>
                <v-btn type="submit" class="mt-2 btn-green" :loading="isBusy" v-if="!isKeyPerson"> Login Now</v-btn>
                <br/>
                <br/>
                <v-checkbox hide-details label="Are you a KP trying to log in?" class="mt-0"
                            v-model="isKeyPerson"></v-checkbox>
                <br/>
                <v-text-field
                  label="Enter your cell phone number"
                  box
                  prepend-inner-icon="phone"
                  background-color="rgba(255, 255, 255, 0.2)"
                  mask="(###) ###-####"
                  :rules="phoneNumberRules"
                  v-if="isKeyPerson"
                  v-model="cellPhone">
                </v-text-field>
                <v-btn type="submit" class="mt-2 btn-green" :loading="isBusy" v-if="isKeyPerson">Send me a login
                  link
                </v-btn>
                </v-card-text>
            </v-card>
          </v-form>
          <v-form @submit.prevent="handleTwoFactorAuthorize" ref="twoFaForm" v-if="twoFactorCodeSent && !isDeactivateTwoFactor">
            <v-card class="pa-3 elevation-12 blue-card" dark>
              <v-card-title class="headline">Two factor authorization.</v-card-title>
              <v-alert :value="true" class="mb-3" color="white" outline type="success" v-if="message">{{ message }}
              </v-alert>
              <v-alert :value="true" class="mb-3" color="white" outline type="error" v-else-if="error">{{ error }}
              </v-alert>
              <v-text-field
                :rules="TwoFactorCode"
                @input="error = ''"
                background-color="rgba(255, 255, 255, 0.2)"
                box
                label="Verification code"
                prepend-inner-icon="lock"
                :error-messages="error?['Verification code is invalid']: []"
                type="text"
                v-model="user.two_factor_code"
              >
              </v-text-field>
              <div class="text-xs-left">
                <a @click="sendDeactivateTwoFactorCode" class="white--text lost-device"> Lost the device? Use an email</a>
              </div>
              <br/>
              <v-btn :loading="isBusy" class="mt-2 btn-green" type="submit">
                {{'Verify'}}
              </v-btn>
            </v-card>
          </v-form>
          <v-form @submit.prevent="handleDeactivateTwoFactor" ref="deactivateTwoFactorForm" v-if="isDeactivateTwoFactor">
            <v-card class="pa-3 elevation-12 blue-card" dark>
              <v-alert :value="true" class="mb-3" color="white" outline type="success" v-if="message">{{ message }}
              </v-alert>
              <v-text-field
                :rules="TwoFactorCode"
                @input="error = ''"
                background-color="rgba(255, 255, 255, 0.2)"
                box
                label="Verification code"
                prepend-inner-icon="lock"
                :error-messages="error?[message]: []"
                type="text"
                v-model="user.deactivate_token"
              >
              </v-text-field>
              <br/>
              <v-btn :loading="isBusy" class="mt-2 btn-green" type="submit">
                {{'Deactivate 2FA'}}
              </v-btn>
            </v-card>
          </v-form>
        </v-flex>
      </v-layout>
    </v-container>
  </v-content>
</template>

<script>
  import AuthService from '../services/AuthService'
  import UserService from "../../dashboard/services/UserService";

  export default {
    mixins: [AuthService, UserService],
    data() {
      return {
        // Form Data
        user: {},
        // Form Error
        error: '',
        // Form Busy
        isKeyPerson: false,
        isBusy: false,
        cellPhone: null,
        showSnackbar: false,
        message: null,
        show2FAfield: false,
        twoFactorCodeSent: false,
        isDeactivateTwoFactor: false,
        userLoginData: {}
      }
    },
    computed: {
      emailRules() {
        return [
          v => !!v || 'E-mail or Username is required.',
        ]
      },
      phoneNumberRules() {
        return [
          v => (!v || !!v && v.length === 10) || 'Invalid phone number',
        ]
      },
      TwoFactorCode() {
        return [
          v => !!v || 'Verification code is required.',
        ]
      },
      passwordRules() {
        return [
          v => !!v || 'Password is required.',
        ]
      }
    },
    methods: {
      onLogin() {
        if (!this.$refs.loginForm.validate()) return
        this.isBusy = true;
        this.login(this.user)
          .then((res) => {
            localStorage.setItem('token', JSON.stringify(res.data.token))
            this.isBusy = false
            if (res.data.user.two_factor_verified) {
              this.user.cell_phone = res.data.user.cell_phone;
              this.userLoginData = res.data.user
              this.send2FACode();
            } else {
              this.$store.dispatch('authStore/setUserData', res.data.user)
              this.$store.dispatch('authStore/refreshSession')
              location.reload()
            }
          })
          .catch((err) => {
            this.error = err.response.data.message
            this.isBusy = false
          })
      },
      async getKPLoginLink() {
        if (!this.$refs.loginForm.validate()) return
        this.isBusy = true;
        try {
          const response = await this.sendKPLoginLink({phone: this.cellPhone});
          if (response.status === 200 && response.data.message !== undefined) {
            this.message = response.data.message
            this.showSnackbar = true
          }
          if (response.status !== 200 && response.data.message !== undefined) {
            this.error = response.data.message
            this.showSnackbar = true
          }
          this.isBusy = false
        } catch (e) {
          this.error = e;
          this.isBusy = false
        }
      },
      handleSubmit() {
        if (!this.isKeyPerson) {
          this.onLogin();
        } else {
          this.getKPLoginLink();
        }
      },
      send2FACode() {
        this.isBusy = true;
        this.verifyPhone({phone: this.user.cell_phone})
          .then((res) => {
            this.isBusy = false;
            this.twoFactorCodeSent = true;
            this.message = 'The verification code was sent to your phone number ' + this.user.cell_phone + ', please check and verify';
          })
          .catch((err) => {
            this.error = 'Something went wrong, please try again later';
            this.isBusy = false
          })
      },
      sendDeactivateTwoFactorCode() {
        if (!this.user.email)
        {
          return false;
        }
        this.isBusy = true;
        this.sendDeactivateCode()
          .then((res) => {
            this.isBusy = false;
            this.isDeactivateTwoFactor = true;
            this.message = 'The verification code was sent to your email ' + this.user.email + ', please check';
          })
          .catch((err) => {
            this.error = 'Something went wrong, please try again later';
            this.isBusy = false
          })
      },
      verifyTwoFactorCode() {
        if (!this.$refs.twoFaForm.validate()) return
        this.isBusy = true;
        this.verifyUserTwoFactorCode({verification_code: this.user.two_factor_code})
          .then((res) => {
            this.isBusy = false;
            if (res.data.verified) {
              this.$store.dispatch('authStore/setUserData', this.userLoginData)
              this.$store.dispatch('authStore/refreshSession')
              location.reload()
            } else {
              this.error = "Verification code is invalid."
            }
          })
          .catch((err) => {
            this.error = 'Something went wrong, please try again later';
            this.isBusy = false
          })
      },
      handleTwoFactorAuthorize() {
        if (this.twoFactorCodeSent) {
            this.verifyTwoFactorCode()
        }
      },
      handleDeactivateTwoFactor() {
        if (!this.user.deactivate_token)
        {
          this.error = true;
          this.message = 'Verification code is required';
          return
        }
        this.isBusy = true;
        this.error = false
        this.deactivateTwoFactorCode({deactivate_token: this.user.deactivate_token})
        .then((res) => {
          this.isBusy = false;
          if (res.data.success) {
            this.userLoginData.two_factor_verified = false
            this.$store.dispatch('authStore/setUserData',  this.userLoginData)
            this.$store.dispatch('authStore/refreshSession')
            location.reload()
          } else {
            this.error = true;
            this.message = "Verification code is invalid.";
          }
        })
        .catch((err) => {
          this.error = 'Something went wrong, please try again later';
          this.isBusy = false
        })
      }
    }
  }

</script>

<style lang="scss" scoped>
  .lost-device {
    font-size: 18px;
    font-weight: 400;
  }
</style>
