<template>
  <v-content>
    <v-container fluid fill-height fill-screen>
      <v-layout align-center justify-center>
        <v-flex xs12 sm6 md3>
          <v-form ref="registerForm" @submit.prevent="onRegister">
            <v-card class="elevation-12">
              <v-toolbar dark color="primary">
                <v-toolbar-title>Register Your Account</v-toolbar-title>
              </v-toolbar>
              <v-card-text>
                <v-alert type="error" :value="true" outline class="mb-3" v-if="error">{{ error }}</v-alert>
                <v-text-field type="email" prepend-icon="email" label="E-mail ID*" :value="email" readonly></v-text-field>
                <v-text-field type="password" prepend-icon="lock" label="Password*" :rules="passwordRules" v-model="user.password" @input="error = ''"></v-text-field>
                <v-text-field type="password" prepend-icon="lock" label="Password Confirmation*" :rules="passwordConfirmationRules" v-model="user.password_confirmation" @input="error = ''"></v-text-field>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn type="submit" color="primary" :loading="isBusy" :disabled="!email">Register</v-btn>
              </v-card-actions>
            </v-card>
          </v-form>
        </v-flex>
      </v-layout>
    </v-container>
  </v-content>
</template>

<script>
import AuthService from '../services/AuthService'

export default {
  props: ['token', 'email'],
  mixins: [AuthService],
  data () {
    return {
      // Form Data
      user: {},
      // Form Error
      error: '',
      // Form Busy
      isBusy: false,
    }
  },
  computed: {
    passwordRules () {
      return [
        v => !!v || 'Password is required.',
        v => (v && v.length >= 6) || 'Password should contain more than 6 characters.'
      ]
    },
    passwordConfirmationRules () {
      return [
        v => v === this.user.password || 'Password doesn\'t match.'
      ]
    }
  },
  mounted () {
    if (!this.email) {
      this.error = 'Seems you entered wrong link.'
    }
  },
  methods: {
    onRegister () {
      if (!this.$refs.registerForm.validate()) return
      this.isBusy = true
      this.register({token: this.token, ...this.user})
        .then((res) => {
          localStorage.setItem('token', JSON.stringify(res.data.token))
          this.$store.dispatch('authStore/setUserData', res.data.user)
          this.$store.dispatch('authStore/refreshSession')
          this.isBusy = false
          location.reload()
        })
        .catch((err) => {
          this.handleError(err)
        })
    }
  }
}
</script>

<style lang="scss" scoped>
</style>
