<template>
  <v-content class="blue-background">
    <v-container fluid fill-height fill-screen>
      <v-layout align-center justify-center>
        <v-flex xs12 sm6 md3>
          <div class="display-1 font-weight-bold text-xs-center white--text mb-4">RESET PASSWORD</div>
          <v-form ref="resetPasswordForm" @submit.prevent="onResetPassword">
            <v-card dark class="pa-3 elevation-12 blue-card">
              <v-card-text>
                <v-alert type="error" color="white" :value="true" outline class="mb-3" v-if="error">{{ error }}</v-alert>
                <v-alert type="success" color="white" :value="true" outline class="mb-3" v-if="message">{{ message }}</v-alert>
                <v-text-field
                  box
                  type="email"
                  prepend-inner-icon="person"
                  label="E-mail ID*"
                  background-color="rgba(255, 255, 255, 0.2)"
                  v-model="user.email"
                  :rules="emailRules"
                  @input="error = ''"
                >
                </v-text-field>
                <v-text-field
                  box
                  type="password"
                  prepend-inner-icon="lock"
                  label="Password*"
                  background-color="rgba(255, 255, 255, 0.2)"
                  v-model="user.password"
                  :rules="passwordRules"
                  @input="error = ''"
                >
                </v-text-field>
                <v-text-field
                  box
                  type="password"
                  prepend-inner-icon="lock"
                  label="Password Confirmation*"
                  background-color="rgba(255, 255, 255, 0.2)"
                  v-model="user.password_confirmation"
                  :rules="passwordConfirmationRules"
                  @input="error = ''"
                >
                </v-text-field>
              </v-card-text>
              <v-btn type="submit" class="btn-green" :loading="isBusy">Reset Password</v-btn>
            </v-card>
          </v-form>
        </v-flex>
      </v-layout>
    </v-container>
  </v-content>
</template>

<script>
import AuthService from '../services/AuthService'

export default {
  props: ['token'],
  mixins: [AuthService],
  data () {
    return {
      // Form Data
      user: {},
      // Form Valid
      isFormValid: false,
      // Form Error
      error: '',
      message: '',
      // Form Busy
      isBusy: false,
    }
  },
  computed: {
    emailRules () {
      return [
        v => !!v || 'E-mail is required.',
        v => AppHelper.validateEmail(v) || 'E-mail must be valid.',
      ]
    },
    passwordRules () {
      return [
        v => !!v || 'Password is required.',
        v => (v && v.length >= 6) || 'Password should contain more than 6 characters.'
      ]
    },
    passwordConfirmationRules () {
      return [
        v => v === this.user.password || 'Password doesn\'t match.'
      ]
    }
  },
  methods: {
    onResetPassword () {
      if (!this.$refs.resetPasswordForm.validate()) return
      this.isBusy = true
      this.reset({token: this.token, ...this.user})
        .then((res) => {
          this.error = ''
          this.message = res.data.message
          this.isBusy = false
          setTimeout(() => {
            location.href = '/'
          }, 3000)
        })
        .catch((err) => {
          this.error = err.response.data.message
          this.message = ''
          this.isBusy = false
        })
    }
  }
}
</script>

<style lang="scss" scoped>
</style>
