<template>
  <v-dialog persistent max-width="700" v-model="isModalOpen">
    <v-form ref="emailForm" @submit.prevent="onSend()">
      <v-card>
        <v-card-title>
          <span class="title">Sending Email to {{ kpCount }} KP(s)</span>
        </v-card-title>
        <v-divider></v-divider>
        <v-card-text>
          <v-alert type="error" outline :value="true" v-if="error">{{ error }}</v-alert>
          <v-alert type="warning" outline class="mb-2" :value="!unique">
            Alert! You are about to send multiple messages to each KP because you have not clicked the "Show Unique" button.
            If you are including legislator info then proceed. If not, you may want to cancel, unselect all KPs, click Show Unique, then proceed with message.
          </v-alert>
          <v-layout wrap>
            <v-flex xs12 class="px-2">
              <v-text-field label="From*" :rules="fromRules" v-model="email.from" @input="error = ''"></v-text-field>
            </v-flex>
            <v-flex xs12 class="px-2" v-if="!client.mailgun_email">
              <v-select label="Reply To*" :items="replyToEmailList" :rules="replyToEmailRules" v-model="email.reply_to_email"></v-select>
            </v-flex>
            <v-flex xs12 class="px-2">
              <v-text-field label="Subject*" :rules="subjectRules" v-model="email.subject" @input="error = ''"></v-text-field>
            </v-flex>
            <v-flex xs12 class="px-2">
              <div class="mb-1 caption grey--text">Variables</div>
              <v-layout wrap>
                <v-chip @click="onAddVariable(variable)" v-for="variable in variableList" :key="variable">{{ variable }}</v-chip>
              </v-layout>
            </v-flex>
            <v-flex xs12 class="mt-3 px-2" id="messageBlock">
              <v-layout align-end>
                <v-flex xs6>
                  <div class="mb-1 caption grey--text">Message*</div>
                </v-flex>
                <v-flex xs6 class="text-xs-right">
                  <v-switch hide-details label="Show Preview" class="d-inline-block mt-0" @click="onPreviewMessage" v-model="isPreview"></v-switch>
                </v-flex>
              </v-layout>
              <quill-editor ref="quillEditor" :options="quillEditorOption" v-model="email.message" v-show="!isPreview"></quill-editor>
              <quill-editor :options="quillEditorOption" :value="formattedMessage" disabled v-show="isPreview"></quill-editor>
            </v-flex>
          </v-layout>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="grey white--text" @click.native="isModalOpen = false">Close</v-btn>
          <v-btn type="submit" color="primary" :loading="isBusy" :disabled="!email.message">Send</v-btn>
        </v-card-actions>
      </v-card>
    </v-form>
  </v-dialog>
</template>

<script>
import { ImageResize } from 'quill-image-resize-module'
import { quillEditor } from 'vue-quill-editor'
import AppService from '../../services/AppService'
import ClientService from '../../services/ClientService'
import EditorImageUpload from '../../../../mixins/EditorImageUploadMixin'

export default {
  props: ['client', 'unique'],
  mixins: [AppService, ClientService, EditorImageUpload],
  components: {
    quillEditor,
  },
  data () {
    return {
      // Modal Open
      isModalOpen: false,
      // Form Data
      legislatorList: [],
      email: {},
      isPreview: false,
      formattedMessage: '',
      // Form Error
      error: '',
      // Form Busy
      isBusy: false,
    }
  },
  computed: {
    quillEditorOption () {
      return {
        modules: {
          toolbar: [
            [{ 'size': ['small', false, 'large'] }],
            [ 'bold', 'italic', 'underline', 'strike' ],
            [{ 'color': [] }, { 'background': [] }],
            [{ 'list': 'ordered' }, { 'list': 'bullet'}, { 'indent': '-1' }, { 'indent': '+1' }],
            [ 'direction', { 'align': [] }],
            //[ 'link', 'image' ],
            [ 'clean', 'image' ],
          ],
          imageResize: {
            displaySize: true
          }
        }
      }
    },
    // Validation Rules
    fromRules () {
      return [
        v => !!v || 'From name is required.',
      ]
    },
    replyToEmailRules () {
      return [
        v => !!v || 'Reply to email address is required.',
      ]
    },
    subjectRules () {
      return [
        v => !!v || 'Subject is required.',
      ]
    },
    messageRules () {
      return [
        v => !!v || 'Message is required.',
      ]
    },
    replyToEmailList () {
      const emailList = []
      if (this.client && this.client.reply_to_email) {
        emailList.push(this.client.reply_to_email)
      }
      emailList.push(this.userEmail)
      return emailList
    },
    variableList () {
      return [
        '{kp_nick}',
        // '{kp_first}',
        // '{kp_last}',
        '{leg_full}',
        '{leg_email}',
        '{leg_ph}',
        '{district}',
        '{ez_login}'
      ]
    },
    kpCount () {
      return this.email.tos ? this.email.tos.length : 0
    }
  },
  methods: {
    toggle (clientId, legislatorList, emailList) {
      this.isModalOpen = true
      this.isPreview = false
      this.error = ''
      this.$refs.emailForm.reset()
      this.$nextTick().then(() => {
        const legislators = legislatorList.filter(legislator => legislator.primary_kp && legislator.primary_kp.member.email)
          .map(legislator => legislator.id)
        this.email = {
          clientId,
          from: this.userName,
          reply_to_email: this.replyToEmailList[0],
          tos: emailList,
          legislators,
          message: `
            Hi {kp_nick},<br /><br />
            Thanks! -${this.userData.nickname}
          `
        }
        this.legislatorList = legislatorList.filter(legislator => legislator.primary_kp && legislator.primary_kp.member.email)
      })
    },
    onAddVariable (variable) {
      variable += ' '
      const $quill = this.$refs.quillEditor.quill
      const currentPosition = $quill.getSelection(true).index
      $quill.insertText(currentPosition, variable)
      $quill.setSelection(currentPosition + variable.length)
    },
    async onPreviewMessage () {
      if (this.isPreview) {
        if (!this.email.message) {
          this.formattedMessage = ''
          return
        }
        const payload = {
          legislator_id: this.legislatorList[0].id,
          member_id: this.legislatorList[0].primary_kp.member.id,
          message: this.email.message,
        }
        this.formattedMessage = (await this.getAppFormattedMessage(payload)).data
      }
    },
    onSend () {
      if (!this.$refs.emailForm.validate()) return
      this.isBusy = true
      this.sendEmail(this.email)
        .then((res) => {
          this.isBusy = false
          toastr.clear()
          toastr.success('Email has been sent.', 'Success!')
          this.isModalOpen = false
        })
        .catch((err) => {
          this.isBusy = false
          this.error = 'Something went wrong!'
        })
    }
  },
}
</script>

<style lang="scss">
  #messageBlock {
    .ql-container.ql-snow {
      overflow: hidden;
    }
  }
</style>
