<template>
  <v-dialog max-width="700" v-model="isModalOpen">
    <v-form ref="textForm" @submit.prevent="onSend()">
      <v-card>
        <v-card-title>
          <span class="title">Sending Text or Email to {{ kpCount }} KP(s)</span>
        </v-card-title>
        <v-divider></v-divider>
        <v-card-text>
          <v-alert type="error" outline :value="true" v-if="error">{{ error }}</v-alert>
          <v-alert type="warning" outline class="mb-2" :value="!unique">
            Alert! You are about to send multiple messages to each KP because you have not clicked the "Show Unique" button.
            If you are including legislator info then proceed. If not, you may want to cancel, unselect all KPs, click Show Unique, then proceed with message.
          </v-alert>
          <div class="mb-2 px-2">
            <div class="mb-1 caption grey--text">Variables</div>
            <v-layout wrap>
              <v-chip @click="onAddVariable(variable)" v-for="variable in variableList" :key="variable">{{ variable }}</v-chip>
            </v-layout>
          </div>
          <v-layout wrap>
            <v-flex xs12 class="text-xs-right">
              <v-switch hide-details label="Show Preview" class="d-inline-block mt-0" @click="onPreviewMessage" v-model="isPreview"></v-switch>
            </v-flex>
            <v-flex xs12 id="editorContainer" class="px-2">
              <!--<v-textarea outline ref="editor" label="Message*"  counter="150" :rules="messageRules" v-model="message" @input="onChangeText" v-show="!isPreview"></v-textarea>-->

              <quill-editor ref="quillEditor" :options="quillEditorOption" v-model="email.message" v-show="!isPreview" label="Message*"  counter="150" :rules="messageRules"  @input="onChangeText"></quill-editor>
              <quill-editor :options="quillEditorOption" :value="formattedMessage" disabled v-show="isPreview"></quill-editor>
              <div id="editorContainer" counter="160" ><span class="text-counter">{{finalMessageLength}}/160</span></div>
            </v-flex>
          </v-layout>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="grey white--text" @click.native="isModalOpen = false">Close</v-btn>
          <v-btn type="submit" color="primary" :loading="isBusy" :disabled="finalMessageLength > 160">Send</v-btn>
        </v-card-actions>
      </v-card>
    </v-form>
  </v-dialog>
</template>

<script>
import { quillEditor } from 'vue-quill-editor'
import AppService from '../../services/AppService'
import ClientService from '../../services/ClientService'

export default {
  props: ['unique'],
  mixins: [AppService, ClientService],
  components: {
    quillEditor,
  },
  data () {
    return {
      // Modal Open
      isModalOpen: false,
      // Form Data
      legislatorList: [],
      text: {},
      email: {},
      message: '',
      isPreview: false,
      formattedMessage: '',
      // Form Error
      error: '',
      // Form Busy
      isBusy: false,
    }
  },
  computed: {
    quillEditorOption () {
      return {
        formats:null,
        modules: {
          toolbar: null
        }
      }
    },
    // Validation Rules
    messageRules () {
      return [
        v => !!v || 'Message is required.',
        v => (v && this.finalMessageLength <= 150) || 'Message should be less than 150 characters.',
      ]
    },
    replyToEmailList () {
      const emailList = []
      if (this.client && this.client.reply_to_email) {
        emailList.push(this.client.reply_to_email)
      }
      emailList.push(this.userEmail)
      return emailList
    },
    variableList () {
      return [
        '{kp_nick}',
        // '{kp_first}',
        // '{kp_last}',
        '{leg_full}',
        '{leg_email}',
        '{leg_ph}',
        '{district}',
        '{ez_login}'
      ]
    },
    finalMessageLength () {
      let kpNick = ''
      let kpFirst = ''
      let kpLast = ''
      let legFull = ''
      let legEmail = ''
      let legPh = ''
      let district = ''
      const ezLogin = 'https://kpda.sh/ez/xxxxxxxx'
      this.legislatorList.forEach((legislator) => {
        if (kpNick.length < (legislator.primary_kp.member.nickname || '').length) kpNick = legislator.primary_kp.member.nickname
        if (kpFirst.length < (legislator.primary_kp.member.firstname || '').length) kpFirst = legislator.primary_kp.member.firstname
        if (kpLast.length < (legislator.primary_kp.member.lastname || '').length) kpLast = legislator.primary_kp.member.lastname
        if (legFull.length < (legislator.fullname || '').length) legFull = legislator.fullname
        if (legEmail.length < (legislator.official_email || '').length) legEmail = legislator.official_email
        if (legPh.length < (legislator.official_phone || '').length) legPh = legislator.official_phone
        if (district.length < (legislator.district || '').length) district = legislator.district
      })
      let message = this.email.message || ''
      message = message.replace(/{kp_nick}/g, kpNick)
      message = message.replace(/{kp_first}/g, kpFirst)
      message = message.replace(/{kp_last}/g, kpLast)
      message = message.replace(/{leg_full}/g, legFull)
      message = message.replace(/{leg_email}/g, legEmail)
      message = message.replace(/{leg_ph}/g, legPh)
      message = message.replace(/{district}/g, district)
      message = message.replace(/{ez_login}/g, ezLogin)

      message = this.html2Text(message)
      return message.length
    },
    kpCount () {
      let count = 0;
      if (this.text.tos) count += this.text.tos.length
      if (this.email.tos) count += this.email.tos.length
      return count
    }
  },
  methods: {
    toggle (clientId, legislatorList, contactList) {
      this.isModalOpen = true
      this.isPreview = false
      this.error = ''
      this.$refs.textForm.reset()
      this.$nextTick().then(() => {
        this.legislatorList = legislatorList.filter(legislator => legislator.primary_kp && (legislator.primary_kp.member.cell || legislator.primary_kp.member.email))
        this.text = {
          clientId,
          tos: contactList.cellList,
          legislators: legislatorList.filter(legislator => legislator.primary_kp && legislator.primary_kp.member.cell).map(legislator => legislator.id),
        }
        this.email = {
          clientId,
          from: this.userName,
          reply_to_email: this.replyToEmailList[0],
          subject: `KP Dashboard - ${this.userName}`,
          tos: contactList.emailList,
          legislators: legislatorList.filter(legislator => legislator.primary_kp && legislator.primary_kp.member.email).map(legislator => legislator.id),
          message: `
            Hi {kp_nick},<br /><br />
            Thanks! -${this.userData.nickname}
          `
        }
        this.message = `Hi {kp_nick},\n\nThanks! -${this.userData.nickname}`
        this.onChangeText()
      })
    },
    onAddVariable (variable) {
      variable += ' '
      const $quill = this.$refs.quillEditor.quill
      const currentPosition = $quill.getSelection(true).index
      $quill.insertText(currentPosition, variable)
      $quill.setSelection(currentPosition + variable.length)
    },
    onChangeText () {
      this.error = ''
      const $el = document.querySelector('#editorContainer .v-counter')

      //console.log(this.finalMessageLength )
      //$el.innerHTML = this.html2Text(this.email.message).length +'/ 160'

      //console.log(this.html2Text(this.email.message))
    },
    async onPreviewMessage () {

      console.log("on preview message")
      if (this.isPreview) {
        if (!this.email.message) {
          this.formattedMessage = ''
          return
        }
        const payload = {
          legislator_id: this.legislatorList[0].id,
          member_id: this.legislatorList[0].primary_kp.member.id,
          message: this.email.message,
        }
        this.formattedMessage = (await this.getAppFormattedMessage(payload)).data
      }
    },
    html2Text(html){
      let find =/(<br>|<\/p><p>)/,
        re = new RegExp(find, 'g');

      let txt = html.replace(re, '\n');
      txt = txt.replace(/<[^>]*>?/gm, '')
      return txt
    },
    async onSend () {
      if (!this.$refs.textForm.validate()) return
      this.isBusy = true
      if (this.text.tos.length > 0) {
        this.message = this.html2Text(this.email.message)

        //console.log(this.email.message, this.message)
        //this.isBusy = false
        //return

        try {
          this.text.message = this.message
          await this.sendText(this.text)
        } catch (err) {
          this.isBusy = false
          this.error = 'Something went wrong!'
          return
        }
      }
      if (this.email.tos.length > 0) {
        try {
          this.email.message = this.message
          await this.sendEmail(this.email)
        } catch (err) {
          this.isBusy = false
          this.error = 'Something went wrong!'
          return
        }
      }
      this.isBusy = false
      toastr.clear()
      toastr.success('Text has been sent.', 'Success!')
      this.isModalOpen = false
    }
  }
}
</script>

<style lang="scss" scoped>
  .text-counter {
    float: right;
    color: gray;
  }
</style>
