<template>
  <v-dialog max-width="600" v-model="isModalOpen">
    <v-form ref="tasksForm">
      <v-card>
        <v-card-title>
          <span class="title">Session Tasks (*optional)</span>
          <v-spacer></v-spacer>
          <v-icon class="ml-3" @click="isModalOpen = false">close</v-icon>
        </v-card-title>
        <v-divider></v-divider>
        <v-list three-line>
          <template v-for="(task, index) in filteredTaskList">
            <v-list-tile>
              <v-list-tile-content>
                <v-list-tile-title>{{ task.name }} ({{ task.deadline | dateFormatter }})</v-list-tile-title>
                <v-list-tile-sub-title><em>{{ task.tooltip }}</em></v-list-tile-sub-title>
              </v-list-tile-content>
            </v-list-tile>
            <v-divider></v-divider>
          </template>
        </v-list>
      </v-card>
    </v-form>
  </v-dialog>
</template>

<script>
export default {
  props: ['taskList'],
  data () {
    return {
      // Modal Open
      isModalOpen: false
    }
  },
  computed: {
    filteredTaskList() {
      return this.taskList.filter((task) => {
        return !['Currency', 'Notes'].includes(task.task_type.data_type)
      })
    },
  },
  methods: {
    toggle () {
      this.isModalOpen = true
    }
  }
}
</script>

<style lang="scss" scoped>
</style>
