<template>
  <v-navigation-drawer fixed temporary right touchless width="650" v-model="isModalOpen">
    <v-layout fill-height>
      <v-form ref="memberForm" @submit.prevent="onUpdateMember()">
        <v-card style="box-shadow: none !important;">
          <v-card-title>
            <span class="title">Edit Member</span>
            <v-spacer />
            <v-icon @click="isModalOpen = false">close</v-icon>
          </v-card-title>
          <v-divider></v-divider>
          <v-card-text>
            <v-alert type="error" outline :value="true" v-if="error">{{ error }}</v-alert>
            <v-layout wrap>
              <v-flex xs12 class="mb-2 px-2">
                <div class="d-inline-block">
                  <v-tooltip bottom>
                    <template v-slot:activator="{ on }">
                      <v-avatar size="80" class="cursor-pointer" @click="$refs.avatarUploader.click()" v-on="on">
                        <img :src="member.avatar_url || '/images/member-avatar.png'" />
                      </v-avatar>
                    </template>
                    <span>Click above to upload this member's avatar.</span>
                  </v-tooltip>
                </div>
                <input ref="avatarUploader" type="file" accept="image/*" class="d-none" @change="onUploadAvatar()">
              </v-flex>
              <v-flex xs8 class="px-2" v-if="isSuperAdmin">
                <v-select
                  label="Client"
                  item-text="association"
                  item-value="id"
                  :items="clientList"
                  :rules="clientRules"
                  v-model="member.client_id"
                  @input="onSelectClient"
                >
                </v-select>
              </v-flex>
              <v-flex xs4 class="px-2">
                <v-checkbox label="Active" v-model="member.active" :disabled="assignedLegislators.length > 0"></v-checkbox>
              </v-flex>
            </v-layout>
            <v-layout wrap v-if="assignedLegislators.length > 0">
              <v-flex xs12 class="px-2">
                <v-select multiple chips label="Legislators this member is assigned to" :items="assignedLegislators" v-model="assignedLegislators" readonly></v-select>
              </v-flex>
            </v-layout>
            <v-layout wrap>
              <v-flex xs4 class="px-2">
                <v-text-field label="First Name*" :rules="firstNameRules" v-model="member.firstname" @input="onChangeFirstName"></v-text-field>
              </v-flex>
              <v-flex xs4 class="px-2">
                <v-text-field label="Last Name*" :rules="lastNameRules" v-model="member.lastname"></v-text-field>
              </v-flex>
              <v-flex xs4 class="px-2">
                <v-text-field label="Nick Name*" :rules="nickNameRules" v-model="member.nickname"></v-text-field>
              </v-flex>
              <v-flex xs4 class="px-2">
                <v-text-field label="Email*" :rules="emailRules" v-model="member.email"></v-text-field>
              </v-flex>
              <v-flex xs4 class="px-2">
                <v-text-field label="Cell Phone" mask="(###) ###-####" :rules="phoneNumberRules" v-model="member.cell"></v-text-field>
              </v-flex>
              <v-flex xs4 class="px-2">
                <v-text-field label="Office Phone" mask="(###) ###-####" :rules="phoneNumberRules" v-model="member.office_phone"></v-text-field>
              </v-flex>
            </v-layout>
            <v-layout wrap>
              <v-flex xs4 class="px-2" v-if="client && client.uses_dob">
                <v-date-picker2 label="Date Of Birth" v-model="member.dob"></v-date-picker2>
              </v-flex>
              <v-flex xs4 class="px-2" v-if="client && client.uses_grad_year">
                <v-select
                  label="Grad Year"
                  append-outer-icon="close"
                  :items="gradYearList"
                  v-model="member.grad_year"
                  @click:append-outer="onClear('grad_year')"
                >
                </v-select>
              </v-flex>
            </v-layout>
            <v-layout wrap>
              <v-flex xs4 class="px-2">
                <v-checkbox label="KP Eligible?" v-model="member.eligible"></v-checkbox>
              </v-flex>
              <v-flex xs4 class="px-2" v-if="client && client.uses_coordinators">
                <v-select
                  label="Coordinator?"
                  append-outer-icon="close"
                  :items="availableRegionList"
                  v-model="member.coordinator"
                  @click:append-outer="onClear('coordinator')"
                >
                </v-select>
              </v-flex>
            </v-layout>
            <v-layout wrap>
              <v-flex xs12 class="px-2">
                <v-textarea label="Notes" v-model="member.notes"></v-textarea>
              </v-flex>
              <v-flex xs12 class="px-2">
                <address-input placeholder="Home Address" v-model="member.home_address" @input="onChangeAddress(0)"></address-input>
              </v-flex>
              <v-flex xs4 class="px-2" v-if="houseDistrictList.length">
                <v-select
                  label="Home House District"
                  append-outer-icon="close"
                  item-text="district"
                  item-value="district"
                  :items="houseDistrictList"
                  v-model="member.home_house_district"
                  @click:append-outer="onClear('home_house_district')"
                >
                </v-select>
              </v-flex>
              <v-flex xs4 class="px-2">
                <v-select
                  label="Home Sen District"
                  append-outer-icon="close"
                  item-text="district"
                  item-value="district"
                  :items="senDistrictList"
                  v-model="member.home_sen_district"
                  @click:append-outer="onClear('home_sen_district')"
                >
                </v-select>
              </v-flex>
              <v-flex xs4 class="px-2">
                <v-select
                  label="Home Con District"
                  append-outer-icon="close"
                  item-text="district"
                  item-value="district"
                  :items="conDistrictList"
                  v-model="member.home_con_district"
                  @click:append-outer="onClear('home_con_district')"
                >
                </v-select>
              </v-flex>
              <v-flex xs12 class="px-2">
                <address-input placeholder="Office Address" v-model="member.work_address" @input="onChangeAddress(1)"></address-input>
              </v-flex>
              <v-flex xs4 class="px-2" v-if="houseDistrictList.length">
                <v-select
                  label="Work House District"
                  append-outer-icon="close"
                  item-text="district"
                  item-value="district"
                  :items="houseDistrictList"
                  v-model="member.work_house_district"
                  @click:append-outer="onClear('work_house_district')"
                >
                </v-select>
              </v-flex>
              <v-flex xs4 class="px-2">
                <v-select
                  label="Work Sen District"
                  append-outer-icon="close"
                  item-text="district"
                  item-value="district"
                  :items="senDistrictList"
                  v-model="member.work_sen_district"
                  @click:append-outer="onClear('work_sen_district')"
                >
                </v-select>
              </v-flex>
              <v-flex xs4 class="px-2">
                <v-select
                  label="Work Con District"
                  append-outer-icon="close"
                  item-text="district"
                  item-value="district"
                  :items="conDistrictList"
                  v-model="member.work_con_district"
                  @click:append-outer="onClear('work_con_district')"
                >
                </v-select>
              </v-flex>
              <v-flex xs12 class="px-2" v-if="client && client.uses_2nd_work">
                <address-input placeholder="2nd Office Address" v-model="member.work2_address" @input="onChangeAddress(2)"></address-input>
              </v-flex>
              <v-flex xs4 class="px-2" v-if="houseDistrictList.length && client && client.uses_2nd_work">
                <v-select
                  label="Work2 House District"
                  append-outer-icon="close"
                  item-text="district"
                  item-value="district"
                  :items="houseDistrictList"
                  v-model="member.work2_house_district"
                  @click:append-outer="onClear('work2_house_district')"
                >
                </v-select>
              </v-flex>
              <v-flex xs4 class="px-2" v-if="client && client.uses_2nd_work">
                <v-select
                  label="Work2 Sen District"
                  append-outer-icon="close"
                  item-text="district"
                  item-value="district"
                  :items="senDistrictList"
                  v-model="member.work2_sen_district"
                  @click:append-outer="onClear('work2_sen_district')"
                >
                </v-select>
              </v-flex>
              <v-flex xs4 class="px-2" v-if="client && client.uses_2nd_work">
                <v-select
                  label="Work2 Con District"
                  append-outer-icon="close"
                  item-text="district"
                  item-value="district"
                  :items="conDistrictList"
                  v-model="member.work2_con_district"
                  @click:append-outer="onClear('work2_con_district')"
                >
                </v-select>
              </v-flex>
              <v-flex xs12 class="px-2" v-if="client && client.uses_3rd_work">
                <address-input placeholder="3rd Office Address" v-model="member.work3_address" @input="onChangeAddress(3)"></address-input>
              </v-flex>
              <v-flex xs4 class="px-2" v-if="houseDistrictList.length && client && client.uses_3rd_work">
                <v-select
                  label="Work3 House District"
                  append-outer-icon="close"
                  item-text="district"
                  item-value="district"
                  :items="houseDistrictList"
                  v-model="member.work3_house_district"
                  @click:append-outer="onClear('work3_house_district')"
                >
                </v-select>
              </v-flex>
              <v-flex xs4 class="px-2" v-if="client && client.uses_3rd_work">
                <v-select
                  label="Work3 Sen District"
                  append-outer-icon="close"
                  item-text="district"
                  item-value="district"
                  :items="senDistrictList"
                  v-model="member.work3_sen_district"
                  @click:append-outer="onClear('work3_sen_district')"
                >
                </v-select>
              </v-flex>
              <v-flex xs4 class="px-2" v-if="client && client.uses_3rd_work">
                <v-select
                  label="Work3 Con District"
                  append-outer-icon="close"
                  item-text="district"
                  item-value="district"
                  :items="conDistrictList"
                  v-model="member.work3_con_district"
                  @click:append-outer="onClear('work3_con_district')"
                >
                </v-select>
              </v-flex>
              <v-flex xs12 class="px-2" v-if="client && client.uses_4th_work">
                <address-input placeholder="4th Office Address" v-model="member.work4_address" @input="onChangeAddress(4)"></address-input>
              </v-flex>
              <v-flex xs4 class="px-2" v-if="houseDistrictList.length && client && client.uses_4th_work">
                <v-select
                  label="Work4 House District"
                  append-outer-icon="close"
                  item-text="district"
                  item-value="district"
                  :items="houseDistrictList"
                  v-model="member.work4_house_district"
                  @click:append-outer="onClear('work4_house_district')"
                >
                </v-select>
              </v-flex>
              <v-flex xs4 class="px-2" v-if="client && client.uses_4th_work">
                <v-select
                  label="Work4 Sen District"
                  append-outer-icon="close"
                  item-text="district"
                  item-value="district"
                  :items="senDistrictList"
                  v-model="member.work4_sen_district"
                  @click:append-outer="onClear('work4_sen_district')"
                >
                </v-select>
              </v-flex>
              <v-flex xs4 class="px-2" v-if="client && client.uses_4th_work">
                <v-select
                  label="Work4 Con District"
                  append-outer-icon="close"
                  item-text="district"
                  item-value="district"
                  :items="conDistrictList"
                  v-model="member.work4_con_district"
                  @click:append-outer="onClear('work4_con_district')"
                >
                </v-select>
              </v-flex>
            </v-layout>
          </v-card-text>
          <v-divider></v-divider>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="grey white--text" @click.native="isModalOpen = false">Cancel</v-btn>
            <v-btn type="submit" color="primary" :loading="isBusy">Save</v-btn>
          </v-card-actions>
        </v-card>
      </v-form>
    </v-layout>
  </v-navigation-drawer>
</template>

<script>
import ClientService from '../../services/ClientService'
import CloudinaryService from '../../services/CloudinaryService'
import DistrictService from '../../services/DistrictService'
import MemberService from '../../services/MemberService'
import AddressInput from '../App/AddressInput.vue'
import VDatePicker2 from '../App/VDatePicker2'

export default {
  props: ['clientList', 'regionList', 'refresh'],
  mixins: [ClientService, CloudinaryService, DistrictService, MemberService],
  components: {
    AddressInput,
    VDatePicker2,
  },
  data () {
    return {
      // Modal Open
      isModalOpen: false,
      // Modal Data
      districtList: [],
      assignedLegislators: [],
      // Form Data
      member: {},
      // Form Error
      error: '',
      // Form Busy
      isBusy: false,
    }
  },
  computed: {
    // Validation Rules
    clientRules () {
      return [
        v => !!v || 'Client is required.',
      ]
    },
    firstNameRules () {
      return [
        v => !!v || 'First name is required.',
      ]
    },
    lastNameRules () {
      return [
        v => !!v || 'Last name is required.',
      ]
    },
    nickNameRules () {
      return [
        v => !!v || 'Nickname is required.',
      ]
    },
    emailRules () {
      return [
        v => !!v || 'E-mail address is required.',
        v => AppHelper.validateEmail(v) || 'E-mail address must be valid.',
      ]
    },
    gradYearList () {
      const thisYear = moment().year()
      return _.range(1960, thisYear + 1)
    },
    client () {
      if (!this.member.client_id) return null
      return this.clientList.find(client => client.id === this.member.client_id)
    },
    houseDistrictList () {
      return this.districtList.filter(district => !district.is_federal && /^H\d+$/.test(district.district))
    },
    senDistrictList () {
      return this.districtList.filter(district => !district.is_federal && /^S\d+$/.test(district.district))
    },
    conDistrictList () {
      return this.districtList.filter(district => district.is_federal && /^F\d+$/.test(district.district))
    },
    federalSenateList () {
      return this.districtList.filter(district => district.is_federal && /^[^\d]{2}$/.test(district.district))
    },
    availableRegionList () {
      if (!this.member.coordinator) return this.regionList
      if (!this.regionList.includes(this.member.coordinator)) {
        return [this.member.coordinator, ...this.regionList]
      }
      return this.regionList
    },
  },
  methods: {
    async toggle (member) {
      this.isModalOpen = true
      this.error = ''
      this.member = _.cloneDeep(member)
      this.onSelectClient()
      this.assignedLegislators = (await this.getMemberAssignedLegislators(member.id)).data.map(legislator => legislator.fullname)
    },
    onUploadAvatar () {
      const file = this.$refs.avatarUploader.files[0]
      if (!file) return
      this.uploadToCloudinary(file)
        .json((res) => {
          this.member.avatar_url = res.secure_url
          this.member = {...this.member}
          this.onUpdateMember(true)
        })
        .catch((err) => {
          toastr.error('Something went wrong!', 'Error!')
        })
    },
    async onSelectClient () {
      this.districtList = (await this.getClientDistricts(this.member.client_id)).data
    },
    onChangeFirstName () {
      this.member.nickname = this.member.firstname
      this.member = { ...this.member }
    },
    onChangeAddress (index) {
      if (!this.client) {
        return
      }
      const prefixList = [
        'home_',
        'work_',
        'work2_',
        'work3_',
        'work4_',
      ]
      const prefix = prefixList[index]
      const payload = {
        state_id: this.client.state_id,
        address: this.member[`${prefix}address`],
      }
      this.searchDistrictByAddress(payload)
        .then((res) => {
          if (!res.data.house_district && !res.data.sen_district && !res.data.con_district) {
            this.member[`${prefix}lat`] = null
            this.member[`${prefix}lng`] = null
            toastr.error('Sorry, no valid district found for this address, please add manually', 'Error')
            return
          }
          if (this.houseDistrictList.length > 0 && res.data.house_district) {
            this.member[`${prefix}house_district`] = res.data.house_district.district
          } else {
            this.member[`${prefix}house_district`] = null
          }
          if (this.senDistrictList.length > 0 && res.data.sen_district) {
            this.member[`${prefix}sen_district`] = res.data.sen_district.district
          } else {
            this.member[`${prefix}sen_district`] = null
          }
          if (this.conDistrictList.length > 0 && res.data.con_district) {
            this.member[`${prefix}con_district`] = res.data.con_district.district
          } else {
            this.member[`${prefix}con_district`] = null
          }
          this.member[`${prefix}lat`] = res.data.location.lat
          this.member[`${prefix}lng`] = res.data.location.lng
          this.member = { ...this.member }
        })
        .catch((err) => {
          this.member[`${prefix}lat`] = null
          this.member[`${prefix}lng`] = null
          this.handleError(err)
        })
    },
    onClear (key) {
      this.member[key] = null
      this.member = { ...this.member }
    },
    onUpdateMember (isModalOpen) {
      if (!this.$refs.memberForm.validate()) return
      this.isBusy = true
      this.updateMember(this.member)
        .then((res) => {
          this.isBusy = false
          toastr.clear()
          toastr.success('Member info has been updated.', 'Success!')
          this.refresh()
          this.isModalOpen = isModalOpen
        })
        .catch((err) => {
          this.handleError(err)
        })
    }
  }
}
</script>

<style lang="scss" scoped>
</style>
