<template>
  <v-dialog max-width="700" v-model="isModalOpen">
    <!-- Sub Sidebar -->
    <v-card class="flex-1">
      <v-card-title>
        <span class="title">{{ member.firstname }} {{ member.lastname }}</span>
      </v-card-title>
      <v-divider></v-divider>
      <v-layout fill-height class="position-relative">
        <!-- Main Sidebar -->
        <v-navigation-drawer mini-variant stateless absolute value="true" width="57" class="vertical-tabbar">
          <v-list class="pa-0">
            <v-tooltip bottom v-for="(item, index) in tabItemList" :key="index">
              <template v-slot:activator="{ on }">
                <v-list-tile class="pa-0" :class="{'active': index === activeTabIndex}" @click="onSelectTab(index)" v-on="on">
                  <v-icon size="25" v-if="item.icon">{{ item.icon }}</v-icon>
                  <div class="tab-item" v-else>{{ item.text }}</div>
                </v-list-tile>
              </template>
              <span>{{ item.title }}</span>
            </v-tooltip>
          </v-list>
        </v-navigation-drawer>
        <v-card-text class="card-body">
          <v-layout wrap justify-center align-center class="card-content" v-if="activeTabIndex === 0">
            <div class="px-2" v-if="member.avatar_url">
              <img :src="member.avatar_url" alt="" width="250" height="250" />
            </div>
            <div class="px-2 detail-container">
              <v-flex xs12 v-if="member.cell">
                <v-text-field label="Cell" append-icon="call" v-model="member.cell" @click:append="onRequestCall" readonly></v-text-field>
              </v-flex>
              <v-flex xs12 v-if="member.email">
                <v-text-field label="Email" append-icon="send" v-model="member.email" @click:append="onSendEmail" readonly></v-text-field>
              </v-flex>
              <v-flex xs12 v-if="member.notes">
                <v-textarea label="Member Notes" v-model="member.notes" readonly></v-textarea>
              </v-flex>
            </div>
          </v-layout>
          <v-layout wrap v-if="activeTabIndex === 1">
            <v-flex xs12 class="text-xs-center">
              <v-data-table
                class="elevation-1"
                :headers="kpHistoryTableHeader"
                :items="kpHistory"
              >
                <template v-slot:items="props">
                  <td>{{ props.item.legislator }}</td>
                  <td>{{ props.item.position }}</td>
                  <td>{{ props.item.start_date }}</td>
                  <td>{{ props.item.end_date }}</td>
                </template>
              </v-data-table>
            </v-flex>
          </v-layout>
          <v-layout wrap v-if="activeTabIndex === 2">
            <v-flex xs12>
              <v-data-table
                class="elevation-1"
                :headers="advocacyMessageHistoryTableHeader"
                :items="advocacyMessageHistory"
              >
                <template v-slot:items="props">
                  <td>{{ props.item.sent_at | dateTimeFormatter }}</td>
                  <td>{{ props.item.legislator_name }}</td>
                  <td class="text-xs-center">
                    <v-icon color="success" v-if="props.item.reply_sent_at">check_circle</v-icon>
                    <v-icon color="error" v-else>cancel</v-icon>
                  </td>
                </template>
              </v-data-table>
            </v-flex>
          </v-layout>
        </v-card-text>
      </v-layout>
      <v-divider></v-divider>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="grey white--text" @click.native="isModalOpen = false">Close</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import MemberService from '../../services/MemberService'

export default {
  props: ['selectedClient'],
  mixins: [MemberService],
  data () {
    return {
      // Modal Open
      isModalOpen: false,
      // Form Data
      activeTabIndex: 0,
      member: {},
      kpHistory: [],
      advocacyMessageHistory: [],
    }
  },
  computed: {
    tabItemList () {
      return [
        {
          icon: 'account_box',
          title: 'General',
        },
        {
          text: 'KP',
          title: 'Assignment History',
        },
        {
          icon: 'account_balance',
          title: 'Advocacy Messages',
        },
      ]
    },
    kpHistoryTableHeader () {
      return [
        { text: 'Legislator', value: 'legislator', align: 'center'},
        { text: 'KP Position', value: 'position', align: 'center'},
        { text: 'Start Date', value: 'start_date', align: 'center'},
        { text: 'End Date', value: 'end_date', align: 'center'},
      ]
    },
    advocacyMessageHistoryTableHeader () {
      return [
        { text: 'Date', value: 'sent_at'},
        { text: 'Legislator', value: 'legislator_name'},
        { text: 'Sent?', value: 'reply_sent_at', align: 'center'},
      ]
    },
  },
  methods: {
    toggle (member) {
      this.isModalOpen = true
      this.activeTabIndex = 0
      this.member = member
      this.fetchKPHistory()
      this.fetchAdvocacyMessageHistory()
    },
    async fetchKPHistory () {
      const kpHistory = (await this.getMemberKPHistory({
        id: this.member.id,
        client_id: this.selectedClient.id,
      })).data
      this.kpHistory = kpHistory.map((kp) => {
        const startDate = kp.start_date ? moment(kp.start_date).format('MMM DD, YYYY') : ''
        const endDate = kp.end_date ? moment(kp.end_date).format('MMM DD, YYYY') : 'Present'
        const item = {
          legislator: `${kp.legislator.nickname} ${kp.legislator.lastname}`,
          position: `KP${kp.kp_position}`,
          start_date: startDate,
          end_date: endDate,
        }
        return item
      })
    },
    async fetchAdvocacyMessageHistory () {
      this.advocacyMessageHistory = (await this.getMemberAdvocacyMessageHistory(this.member.id)).data
    },
    onSelectTab (tabIndex) {
      this.activeTabIndex = tabIndex
    },
    onRequestCall () {
      window.location.href = `tel:${this.member.cell}`
    },
    onSendEmail () {
      window.location.href = `mailto:${this.member.email}`
    }
  }
}
</script>

<style lang="scss" scoped>
.vertical-tabbar {
  .tab-item {
    width: 25px;
    text-align: center;
  }
}
.card-body {
  padding-left: 70px;
  height: 320px;
  overflow-y: auto;
  @media screen and (max-width: 500px) {
    height: calc(90vh - 150px);
  }
  .card-content {
    display: flex;

    @media screen and (max-width: 500px) {
      flex-direction: column;

      .detail-container {
        margin-top: 20px;
      }
    }
    .detail-container {
      flex: 1;
    }
  }
}
.active {
  background-color: rgba(0, 0, 0, 0.1);
}
.position-relative {
  position: relative;
}
.flex-1 {
  flex: 1;
}
.flex-none {
  flex: none;
}
</style>
