<template>
  <v-dialog max-width="600" v-model="isModalOpen">
    <v-form ref="downloadForm" @submit.prevent="onDownloadTemplate()">
      <v-card>
        <v-card-title>
          <span class="title">Download Member File Template</span>
        </v-card-title>
        <v-divider></v-divider>
        <v-card-text>
          <v-layout wrap>
            <v-flex xs6 md4 class="px-2" v-for="(column, index) in columnList" :key="column">
              <v-checkbox :label="column" v-model="filterList[index]" :readonly="index < 6"></v-checkbox>
            </v-flex>
          </v-layout>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="grey white--text" @click.native="isModalOpen = false">Close</v-btn>
          <v-btn type="submit" color="primary" :loading="isBusy">Download</v-btn>
        </v-card-actions>
      </v-card>
    </v-form>
  </v-dialog>
</template>

<script>
import downloadFile from 'downloadjs'

export default {
  data () {
    return {
      // Modal Open
      isModalOpen: false,
      // Form Data
      filterList: [],
      columnList: [],
      fieldList: [],
      // Form Busy
      isBusy: false,
    }
  },
  methods: {
    toggle () {
      this.isModalOpen = true
      this.columnList = [
        'Active',
        'Eligible',
        'First Name',
        'Last Name',
        'Nick Name',
        'Email',
        'Cell',
        'Office Phone',
        'Coordinator',
        'Date Of Birth',
        'Grad Year',
        'Notes',
        'Home Address',
        'Office Address',
        '2nd Office Address',
        '3rd Office Address',
        '4th Office Address',
      ]
      this.fieldList = [
        'active',
        'eligible',
        'firstname',
        'lastname',
        'nickname',
        'email',
        'cell',
        'office_phone',
        'coordinator',
        'dob',
        'grad_year',
        'notes',
        'home_address',
        'work_address',
        'work2_address',
        'work3_address',
        'work4_address',
      ]
      this.fieldList.forEach((field, index) => {
        this.filterList[index] = true
      })
      this.filterList = [...this.filterList]
    },
    onDownloadTemplate () {
      this.isBusy = true
      const columns = this.fieldList.filter((field, index) => this.filterList[index])
      let csvString = ''
      columns.forEach((column) => {
        csvString += column + ','
      })
      csvString += '\r\n'
      downloadFile(csvString, 'Members.csv', 'text/plain')
      this.isBusy = false
    }
  }
}
</script>

<style lang="scss" scoped>
</style>
