<template>
  <v-app>
    <client-settings-modal></client-settings-modal>
    <profile-modal></profile-modal>
    <toolbar></toolbar>
    <sidebar></sidebar>
    <v-content>
      <v-container fluid class="pa-0">
        <transition name="fade" mode="out-in" appear>
          <router-view></router-view>
        </transition>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import ClientSettingsModal from '../components/Layout/ClientSettingsModal.vue'
import ProfileModal from '../components/Layout/ProfileModal.vue'
import Sidebar from '../components/Layout/Sidebar.vue'
import Toolbar from '../components/Layout/Toolbar.vue'

export default {
  components: {
    ClientSettingsModal,
    ProfileModal,
    Sidebar,
    Toolbar,
  },
  mounted () {
    this.$intercom.boot({
      name: this.userName,
      email: this.userEmail,
      user_type: this.userRole,
      assoc_abbrev: this.userClient ? this.userClient.assoc_abbrev : '',
      assoc_profession: this.userClient ? this.userClient.profession : '',
      state: this.userClient ? this.userClient.state.state : '',
    })
  }
}
</script>

<style lang="scss" scoped>
</style>
