<template>
  <v-layout align-center>
    <div class="text-xs-center" v-if="rowData.committees.length > 0">
      <div class="d-inline-block" v-for="committee in rowData.committees" :key="committee.label">
        <v-chip small :color="getColorFromText(committee.shortname)" text-color="white" v-for="membership in committee.memberships" :key="membership">
          <v-avatar class="darken-4" :class="getColorFromText(committee.shortname)" v-if="membership >= 4">sub</v-avatar>
          {{ committee.shortname }}{{ [2, 5].includes(membership) ? '(Vice)' : '' }}{{ [3, 6].includes(membership) ? '(Chair)' : '' }} 
        </v-chip>
      </div>
    </div>
    <div v-else>---</div>
  </v-layout>
</template>

<script>
import Vue from 'vue'

export default Vue.extend({
  computed: {
    rowData () {
      return this.params.node.data || {}
    }
  }
})
</script>

<style lang="scss" scoped>
</style>
