<template>
  <v-layout align-center>
    <span class="ag-grid-clickable-cell" >{{ params.value }}</span>
  </v-layout>
</template>

<script>
import Vue from 'vue'

export default Vue.extend({
  //
})
</script>

<style lang="scss" scoped>
  .ag-grid-clickable-cell{text-decoration:underline; font-weight: normal; font-size: 1em; color: #3490dc; cursor: pointer}
</style>
