<template>
  <v-layout ref="container" column justify-center align-center>
    <v-tooltip bottom v-for="option in optionList" :key="option.text">
      <template v-slot:activator="{ on }">
        <v-icon :color="option.color" @click="onSelect(option)" v-text="option.icon" v-on="on" v-if="option.icon"></v-icon>
        <v-chip small @click="onSelect(option)" v-on="on" v-else>{{ option.text }}</v-chip>
      </template>
      <span>{{ option.text }}</span>
    </v-tooltip>
  </v-layout>
</template>

<script>
import Vue from 'vue'

export default Vue.extend({
  data () {
    return {
      result: null,
    }
  },
  computed: {
    optionList () {
      return [
        {
          icon: 'thumb_up',
          color: 'green',
          text: 'Yea',
        },
        {
          icon: 'thumb_down',
          color: 'red',
          text: 'Nay',
        },
        {
          text: 'Abstain',
        },
      ]
    }
  },
  created () {
    this.result = this.params.value
  },
  mounted () {
    Vue.nextTick(() => {
      this.$refs.container.focus()
    })
  },
  methods: {
    getValue () {
      return this.result
    },
    isPopup () {
      return true
    },
    onSelect (option) {
      this.result = option.text
      this.params.api.stopEditing()
    }
  }
})
</script>

<style lang="scss" scoped>
</style>
