<template>
  <v-layout align-center>
    <span class="no-line-break cursor-pointer">{{ rowData.fullname }}</span>
  </v-layout>
</template>

<script>
import Vue from 'vue'

export default Vue.extend({
  computed: {
    rowData () {
      return this.params.node.data || {}
    }
  }
})
</script>

<style lang="scss" scoped>
.cursor-pointer {
  cursor: pointer;
}
</style>
