<template>
  <v-dialog max-width="500" v-model="isModalOpen">
    <v-form @submit.prevent="onSave()">
      <v-card>
        <v-card-title>
          <span class="title">{{ isNew ? 'Add New' : 'Edit' }} Notes </span>
        </v-card-title>
        <v-divider></v-divider>
        <v-card-text>
          <v-layout wrap>
            <v-flex xs12 class="px-2">
              <v-textarea label="Pertinent session notes conerning this legislator" v-model="notes"></v-textarea>
            </v-flex>
          </v-layout>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="grey white--text" @click.native="isModalOpen = false">Cancel</v-btn>
          <v-btn type="submit" color="primary" :loading="isBusy">Save</v-btn>
        </v-card-actions>
      </v-card>
    </v-form>
  </v-dialog>
</template>

<script>
import TaskService from '../../services/TaskService'

export default {
  mixins: [TaskService],
  data () {
    return {
      // Modal Open
      isModalOpen: false,
      // Form Data
      notes: '',
      aggridApi: null,
      // Form Busy
      isBusy: false,
    }
  },
  computed: {
    // Validation Rules
    isNew () {
      return this.result && !this.result.result
    }
  },
  methods: {
    toggle (notes, aggridApi) {
      this.isModalOpen = true
      this.notes = notes
      this.aggridApi = aggridApi
    },
    onSave () {
      this.aggridApi.node.setDataValue(`task${this.aggridApi.colDef.taskId}`, this.notes)
      this.isModalOpen = false
    }
  }
}
</script>

<style lang="scss" scoped>
</style>
