<template>
  <v-layout align-center v-if="rowData.primary_kp">
    <span class="mr-1 no-line-break cursor-pointer" @click="$refs.memberDetailModal.toggle(rowData.primary_kp.member)">{{ rowData.primary_kp.member.nickname }} {{ rowData.primary_kp.member.lastname }}</span>
    <v-tooltip bottom v-if="!!rowData.primary_kp.notes" max-width="450" >
      <template v-slot:activator="{ on }">
        <v-icon size="16" class="mx-1" color="primary" v-on="on">note</v-icon>
      </template>
      <span>{{ rowData.primary_kp.notes }}</span>
    </v-tooltip>
    <v-tooltip bottom v-if="!!rowData.primary_kp.member.cell">
      <template v-slot:activator="{ on }">
        <a :href="'tel:' + rowData.primary_kp.member.cell" v-on="on">
          <v-icon :color="isBad(rowData.primary_kp.member.cell) ? 'error' : 'primary'" size="16" class="mx-1">phone_iphone</v-icon>
        </a>
      </template>
      <span>{{ rowData.primary_kp.member.cell }}</span>
    </v-tooltip>
    <v-tooltip bottom v-if="!!rowData.primary_kp.member.email">
      <template v-slot:activator="{ on }">
        <a :href="'mailto:' + rowData.primary_kp.member.email" v-on="on">
          <v-icon :color="isBad(rowData.primary_kp.member.email) ? 'error' : 'primary'" size="16" class="mx-1">email</v-icon>
        </a>
      </template>
      <span>{{ rowData.primary_kp.member.email }}</span>
    </v-tooltip>

    <member-detail-modal ref="memberDetailModal" :selected-client="selectedClient"></member-detail-modal>
  </v-layout>
</template>

<script>
import Vue from 'vue'
import MemberDetailModal from '../MembersPage/MemberDetailModal.vue'

export default Vue.extend({
  data() {
    return {
      clientList: [],
      selectedClientId: null
    }
  },
  components: {
    MemberDetailModal
  },
  async mounted () {
    this.selectedClientId = this.userClientId
    if (this.isSuperAdmin) {
      this.clientList = (await this.getClients()).data
    }
  },
  computed: {
    rowData () {
      return this.params.node.data || {}
    },
    selectedClient () {
      if (!this.isSuperAdmin) {
        return this.userClient
      }
      return this.clientList.find(client => client.id === this.selectedClientId) || {}
    },
  }
})
</script>

<style lang="scss" scoped>
  .cursor-pointer {
    cursor: pointer;
  }
</style>
