<template>
  <div class="w-100">
    <v-layout fill-height align-center v-if="dataType === 'Boolean'">
      <v-icon color="success" v-if="params.value === 'YES'">check_circle</v-icon>
      <v-icon color="error" v-else>cancel</v-icon>
    </v-layout>
    <v-layout fill-height justify-end align-center v-if="dataType === 'Currency'">
      {{ params.value | currency }}
    </v-layout>
    <v-layout fill-height align-center v-if="dataType === 'Notes'">
      <v-tooltip bottom v-if="params.value" max-width="450">
        <template v-slot:activator="{ on }">
          <v-icon color="primary" v-on="on">note</v-icon>
        </template>
        <span>{{ params.value }}</span>
      </v-tooltip>
      <v-icon color="primary" v-else>add</v-icon>
    </v-layout>
    <v-layout fill-height align-center v-if="dataType === 'String'">
      {{ params.value }}
    </v-layout>
    <v-layout fill-height align-center v-if="dataType === 'Select' && fieldName === 'P-Vote'">
      <v-tooltip bottom v-if="pVoteData">
        <template v-slot:activator="{ on }">
          <v-icon :color="pVoteData.color" v-text="pVoteData.icon" v-on="on" v-if="pVoteData.icon"></v-icon>
          <v-chip small v-on="on" v-else>{{ pVoteData.text }}</v-chip>
        </template>
        <span>{{ pVoteData.text }}</span>
      </v-tooltip>
    </v-layout>
    <v-layout fill-height align-center v-if="dataType === 'Select' && fieldName === 'F-Vote'">
      <v-tooltip bottom v-if="fVoteData">
        <template v-slot:activator="{ on }">
          <v-icon :color="fVoteData.color" v-text="fVoteData.icon" v-on="on" v-if="fVoteData.icon"></v-icon>
          <v-chip small v-on="on" v-else>{{ fVoteData.text }}</v-chip>
        </template>
        <span>{{ fVoteData.text }}</span>
      </v-tooltip>
    </v-layout>
    <v-layout fill-height align-center v-if="dataType === 'Select' && !['P-Vote', 'F-Vote'].includes(fieldName)">
      {{ params.value }}
    </v-layout>
  </div>
</template>

<script>
import Vue from 'vue'

export default Vue.extend({
  computed: {
    dataType () {
      if (!this.params.node.data) return null
      return this.params.colDef.dataType.data_type
    },
    fieldName () {
      return this.params.colDef.headerName
    },
    pVoteData () {
      if (this.dataType !== 'Select' || this.fieldName !== 'P-Vote') return null
      const optionList = [
        {
          icon: 'thumb_up',
          color: 'green',
          text: 'Supporting',
        },
        {
          icon: 'thumb_up',
          color: 'lime',
          text: 'Inclined to Support',
        },
        {
          text: 'Neutral',
        },
        {
          icon: 'thumb_down',
          color: 'orange',
          text: 'Inclined to Oppose',
        },
        {
          icon: 'thumb_down',
          color: 'red',
          text: 'Opposing',
        },
      ]
      return optionList.find(option => option.text === this.params.value)
    },
    fVoteData () {
      if (this.dataType !== 'Select' || this.fieldName !== 'F-Vote') return null
      const optionList = [
        {
          icon: 'thumb_up',
          color: 'green',
          text: 'Yea',
        },
        {
          icon: 'thumb_down',
          color: 'red',
          text: 'Nay',
        },
        {
          text: 'Abstain',
        },
      ]
      return optionList.find(option => option.text === this.params.value)
    }
  }
})
</script>

<style lang="scss">
.v-tooltip span {
  display: flex;
  align-items: center;
}
</style>

<style lang="scss" scoped>
.w-100 {
  width: 100%;
}
</style>
