<template>
  <v-layout align-center class="mr-2">
    <span class="no-line-break cursor-pointer">{{ node.key }}</span>
    <span class="mx-1" v-if="coordinator">-</span>
    <span v-if="coordinator">{{ coordinator.firstname }} {{ coordinator.lastname }}</span>
    <v-tooltip bottom v-if="coordinator">
      <template v-slot:activator="{ on }">
        <a :href="'tel:' + coordinator.cell" v-on="on">
          <v-icon color="primary" size="16" class="mx-1">phone_iphone</v-icon>
        </a>
      </template>
      <span>{{ coordinator.cell }}</span>
    </v-tooltip>
    <v-tooltip bottom v-if="coordinator">
      <template v-slot:activator="{ on }">
        <a :href="'mailto:' + coordinator.email" v-on="on">
          <v-icon color="primary" size="16">email</v-icon>
        </a>
      </template>
      <span>{{ coordinator.email }}</span>
    </v-tooltip>
  </v-layout>
</template>

<script>
import Vue from 'vue'

export default Vue.extend({
  computed: {
    node () {
      return this.params.node
    },
    coordinator () {
      return this.params.node.allLeafChildren[0].data.coordinator
    },
  }
})
</script>

<style lang="scss" scoped>
.inline-block {
  display: inline-block;
}
</style>
