<template>
  <div>
    <v-icon color="primary" size="24" class="ml-2 mt-1" @click.stop="isModalOpen = true">help</v-icon>
    <v-dialog v-model="isModalOpen" max-width="600">
      <v-card>
        <v-card-title class="headline">Assignments Help</v-card-title>
        <v-card-text>
          Preserrably every legislator will be assigned at least one Key Person from your membership. Key Persons will come and go, so you must end one assignment 
          before you can assign another to that position. This ensures a proper historical log of the KPs assigned to each legislator.
          <br /></br />
          It is imperative that you kep your KP Assignments current and valid! If a member decides that he/she no longer would like to stay in the KP structure, you 
          would end all of his/her assignments before unchecking the "Eligible" checkbox in his/her profile. This will remove him/her from the list of eligible 
          members to assign to any legislator in the future.
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" flat="flat" @click="isModalOpen = false">Close</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  data () {
    return {
      isModalOpen: false
    }
  }
}
</script>

<style lang="scss" scoped>
</style>
