<template>
  <div>
    <v-icon color="primary" size="24" class="ml-2 mt-1" @click.stop="isModalOpen = true">help</v-icon>
    <v-dialog v-model="isModalOpen" max-width="600">
      <v-card>
        <v-card-title class="headline">Member Page Help</v-card-title>
        <v-card-text>
          Please be sure to sync your membership database with this database; however, only add member types that you trust with your legislative secrets.
          If a member is no longer active with your association,
          please deactivate here. Also, eligible new members in your association should be added here.
          <br /></br />
          The "KP Eligible" field should be unchecked if a member has either retired from the KP structure or expressed no interest in volunteering.
          This will remove him or her from certain lists as not to bother them.
          <br /><br />
          If a member's cell or email bounces back with a permanent error indicating a bad address or number, their icons will turn red. You should contact these members to obtain a valid email or cell to 
          ensure they are receiving communications. 
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" flat="flat" @click="isModalOpen = false">Close</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  data () {
    return {
      isModalOpen: false
    }
  }
}
</script>

<style lang="scss" scoped>
</style>
