<template>
  <div>
    <v-icon color="primary" size="24" class="ml-2 mt-1" @click.stop="isModalOpen = true">help</v-icon>
    <v-dialog v-model="isModalOpen" max-width="600">
      <v-card>
        <v-card-title class="headline">Session Dashboard Help</v-card-title>
        <v-card-text>
          This is where you will monitor Session Tasks being completed, pertinent session notes for each legislator, predicted and final votes, and donations. This 
          page will allow you to see everything that is relevant to your current session in one page.
          <br /></br />
          To contact all KPs, click the top left checkbox to select all, then choose to contact them via email or text. If you would like to contact a specific group
           of KPs, use the filters under each column header to filter. You can also manually choose a set of KPs if you'd like by clicking the checkbox for each.
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" flat="flat" @click="isModalOpen = false">Close</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  data () {
    return {
      isModalOpen: false
    }
  }
}
</script>

<style lang="scss" scoped>
</style>
