<template>
  <v-navigation-drawer fixed temporary right touchless width="600" v-model="isModalOpen">
    <v-layout fill-height>
      <v-form ref="clientForm" @submit.prevent="onUpdateClient(false)">
        <v-card style="box-shadow: none !important;">
          <v-card-title>
            <span class="title">Edit Client</span>
            <v-spacer />
            <v-icon @click="isModalOpen = false">close</v-icon>
          </v-card-title>
          <v-divider></v-divider>
          <v-card-text>
            <v-alert type="error" outline :value="true" v-if="error">{{ error }}</v-alert>
            <v-layout wrap>
              <v-flex xs12 class="mb-2 px-2">
                <div class="d-inline-block">
                  <v-tooltip bottom>
                    <template v-slot:activator="{ on }">
                      <v-avatar size="80" class="cursor-pointer" @click="$refs.avatarUploader.click()" v-on="on">
                        <img :src="client.avatar_url || '/images/client-avatar.png'" />
                      </v-avatar>
                    </template>
                    <span>Click above to upload this client's association avatar.</span>
                  </v-tooltip>
                </div>
                <input ref="avatarUploader" type="file" accept="image/*" class="d-none" @change="onUploadAvatar()">
              </v-flex>
              <v-flex xs4 class="px-2">
                <v-checkbox label="Active" v-model="client.active"></v-checkbox>
              </v-flex>
              <v-flex xs8 class="px-2">
              </v-flex>
              <v-flex xs8 class="px-2">
                <v-text-field label="Association*" :rules="associationRules" v-model="client.association" @input="error = ''"></v-text-field>
              </v-flex>
              <v-flex xs4 class="px-2">
                <v-text-field label="Association Abbr*" :rules="associationAbbrevRules" v-model="client.assoc_abbrev"></v-text-field>
              </v-flex>
              <v-flex xs12 class="px-2">
                <v-text-field label="Profession" v-model="client.profession"></v-text-field>
              </v-flex>
              <v-flex xs12 class="px-2">
                <v-checkbox
                  label="Use KP Dashboard Emails in Messages?"
                  v-model="client.is_forward_email_required"
                  @change="client.reply_to_email = '';client.mailgun_email = '';client.forward_email = '';"
                >
                </v-checkbox>
              </v-flex>
              <v-flex xs6 class="px-2" v-if="!client.is_forward_email_required">
                <v-text-field label="Reply To Email*" v-model="client.reply_to_email"></v-text-field>
              </v-flex>
              <v-flex xs6 class="px-2" v-if="client.is_forward_email_required">
                <v-text-field label="Mailgun Email*" v-model="client.mailgun_email"></v-text-field>
              </v-flex>
              <v-flex xs6 class="px-2" v-if="client.is_forward_email_required">
                <v-text-field label="Forward Email" v-model="client.forward_email"></v-text-field>
              </v-flex>
              <v-flex xs12 class="px-2">
                <v-checkbox
                  label="Forward reply texts to personal phone number?"
                  v-model="client.is_forward_text_required"
                  @change="client.forward_number = '';"
                >
                </v-checkbox>
              </v-flex>
              <v-flex xs6 class="px-2">
                <v-text-field label="Twilio Number" mask="(###) ###-####" :rules="phoneNumberRules" v-model="client.twilio_number"></v-text-field>
              </v-flex>
              <v-flex xs6 class="px-2">
                <v-text-field label="Forward Number*" mask="(###) ###-####" :rules="phoneNumberRules" v-model="client.forward_number" v-if="client.is_forward_text_required"></v-text-field>
              </v-flex>
              <v-flex xs6 class="px-2">
                <v-select label="State*" item-text="state" item-value="id" :items="stateList" :rules="stateRules" v-model="client.state_id" @change="onSelectState"></v-select>
              </v-flex>
              <v-flex xs6 class="px-2">
                <v-select label="How many KPs?" :items="kpsList" v-model="client.uses_kps"></v-select>
              </v-flex>
              <v-flex xs4 class="px-2">
                <v-checkbox label="Uses regions?" v-model="client.uses_regions" @change="client.region_count = 0"></v-checkbox>
              </v-flex>
              <v-flex xs4 class="px-2">
                <v-text-field label="Region #" mask="##" v-model="client.region_count" v-if="client.uses_regions"></v-text-field>
              </v-flex>
              <v-flex xs4 class="px-2">
              </v-flex>
              <v-flex xs4 class="px-2">
                <v-checkbox label="Uses coordinators?" v-model="client.uses_coordinators" @change="client.show_all = false"></v-checkbox>
              </v-flex>
              <v-flex xs8 class="px-2">
                <v-checkbox label="Show All Task Rows for Coordinators" v-model="client.show_all" v-if="client.uses_coordinators"></v-checkbox>
              </v-flex>
              <v-flex xs4 class="px-2">
                <v-checkbox label="Uses DOB?" v-model="client.uses_dob"></v-checkbox>
              </v-flex>
              <v-flex xs4 class="px-2">
                <v-checkbox label="Uses grad year?" v-model="client.uses_grad_year"></v-checkbox>
              </v-flex>
              <v-flex xs4 class="px-2">
              </v-flex>
              <v-flex xs4 class="px-2">
                <v-checkbox label="Uses 2nd work?" v-model="client.uses_2nd_work"></v-checkbox>
              </v-flex>
              <v-flex xs4 class="px-2">
                <v-checkbox label="Uses 3rd work?" v-model="client.uses_3rd_work"></v-checkbox>
              </v-flex>
              <v-flex xs4 class="px-2">
                <v-checkbox label="Uses 4th work?" v-model="client.uses_4th_work"></v-checkbox>
              </v-flex>
              <v-flex xs12 class="px-2">
                <v-layout align-center>
                  <v-text-field label="Formal House" v-model="client.formal_house"></v-text-field>
                  <v-tooltip bottom>
                    <template v-slot:activator="{ on }">
                      <v-icon size="20" v-on="on">help</v-icon>
                    </template>
                    <span>How you would like to address House legislators, placeholder = “example, Delegate/Representative/Del./Rep.</span>
                  </v-tooltip>
                </v-layout>
              </v-flex>
              <v-flex xs12 class="px-2">
                <v-layout align-center>
                  <v-text-field label="Formal Senate" v-model="client.formal_senate"></v-text-field>
                  <v-tooltip bottom>
                    <template v-slot:activator="{ on }">
                      <v-icon size="20" v-on="on">help</v-icon>
                    </template>
                    <span>How you would like to address Senators, placeholder = “example, Senator/Sen.</span>
                  </v-tooltip>
                </v-layout>
              </v-flex>
              <v-flex xs12 class="px-2">
                <v-alert type="info" :value="true" outline class="mb-2">
                  Please select the Committee(s) that are important to your cause.
                  These will be used throughout your Dashboard - all others will be hidden, but available if you change your mind later.
                </v-alert>
                <v-autocomplete
                  multiple
                  chips
                  label="House Committees To Track"
                  item-text="shortname"
                  item-value="id"
                  :items="houseCommitteeList"
                  v-model="client.house_committees"
                  v-if="selectedState && selectedState.house_districts">
                  <template v-slot:selection="props">
                    <v-chip
                      label
                      dark
                      close
                      :selected="props.selected"
                      :color="getColorFromText(props.item.shortname)"
                      class="chip--select-multi"
                      @input="props.parent.selectItem(props.item)">
                      {{ props.item.shortname }}
                    </v-chip>
                  </template>
                  <template v-slot:items="props">
                    <v-list-tile>
                      <v-list-tile-action>
                        <v-icon color="accent" v-if="client.house_committees.includes(props.item.id)">check_box</v-icon>
                        <v-icon v-else>check_box_outline_blank</v-icon>
                      </v-list-tile-action>
                      <v-list-tile-content>
                        <v-list-tile-title>
                          <v-chip label small :color="getColorFromText(props.item.shortname)" text-color="white">{{ props.item.shortname }}</v-chip>
                        </v-list-tile-title>
                        <v-list-tile-sub-title>{{ props.item.fullname }}</v-list-tile-sub-title>
                      </v-list-tile-content>
                    </v-list-tile>
                  </template>
                </v-autocomplete>
                <v-autocomplete
                  multiple
                  chips
                  label="Senate Committees To Track"
                  item-text="shortname"
                  item-value="id"
                  :items="senateCommitteeList"
                  v-model="client.senate_committees"
                  v-if="selectedState && selectedState.sen_districts">
                  <template v-slot:selection="props">
                    <v-chip
                      label
                      dark
                      close
                      :selected="props.selected"
                      :color="getColorFromText(props.item.shortname)"
                      class="chip--select-multi"
                      @input="props.parent.selectItem(props.item)">
                      {{ props.item.shortname }}
                    </v-chip>
                  </template>
                  <template v-slot:items="props">
                    <v-list-tile>
                      <v-list-tile-action>
                        <v-icon color="accent" v-if="client.senate_committees.includes(props.item.id)">check_box</v-icon>
                        <v-icon v-else>check_box_outline_blank</v-icon>
                      </v-list-tile-action>
                      <v-list-tile-content>
                        <v-list-tile-title>
                          <v-chip label small :color="getColorFromText(props.item.shortname)" text-color="white">{{ props.item.shortname }}</v-chip>
                        </v-list-tile-title>
                        <v-list-tile-sub-title>{{ props.item.fullname }}</v-list-tile-sub-title>
                      </v-list-tile-content>
                    </v-list-tile>
                  </template>
                </v-autocomplete>
                <v-autocomplete
                  multiple
                  chips
                  label="Joint Committees To Track"
                  item-text="shortname"
                  item-value="id"
                  :items="jointCommitteeList"
                  v-model="client.joint_committees"
                  v-if="selectedState && selectedState.has_joint_committees">
                  <template v-slot:selection="props">
                    <v-chip
                      label
                      dark
                      close
                      :selected="props.selected"
                      :color="getColorFromText(props.item.shortname)"
                      class="chip--select-multi"
                      @input="props.parent.selectItem(props.item)">
                      {{ props.item.shortname }}
                    </v-chip>
                  </template>
                  <template v-slot:items="props">
                    <v-list-tile>
                      <v-list-tile-action>
                        <v-icon color="accent" v-if="client.joint_committees.includes(props.item.id)">check_box</v-icon>
                        <v-icon v-else>check_box_outline_blank</v-icon>
                      </v-list-tile-action>
                      <v-list-tile-content>
                        <v-list-tile-title>
                          <v-chip label small :color="getColorFromText(props.item.shortname)" text-color="white">{{ props.item.shortname }}</v-chip>
                        </v-list-tile-title>
                        <v-list-tile-sub-title>{{ props.item.fullname }}</v-list-tile-sub-title>
                      </v-list-tile-content>
                    </v-list-tile>
                  </template>
                </v-autocomplete>
              </v-flex>
            </v-layout>
          </v-card-text>
          <v-divider></v-divider>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="grey white--text" @click.native="isModalOpen = false">Cancel</v-btn>
            <v-btn type="submit" color="primary" :loading="isBusy">Save</v-btn>
          </v-card-actions>
        </v-card>
      </v-form>
    </v-layout>
  </v-navigation-drawer>
</template>

<script>
import ClientService from '../../services/ClientService'
import CloudinaryService from '../../services/CloudinaryService'
import StateService from '../../services/StateService'

export default {
  props: ['stateList', 'refresh'],
  mixins: [ClientService, CloudinaryService, StateService],
  data () {
    return {
      // Modal Open
      isModalOpen: false,
      // Form Data
      committeeList: [],
      client: {},
      // Form Error
      error: '',
      // Form Busy
      isBusy: false,
    }
  },
  computed: {
    // Validation Rules
    associationRules () {
      return [
        v => !!v || 'Association is required.',
      ]
    },
    associationAbbrevRules () {
      return [
        v => !!v || 'Association abbr is required.',
      ]
    },
    stateRules () {
      return [
        v => !!v || 'State is required.',
      ]
    },
    kpsList () {
      return [0, 1, 2, 3, 4, 5]
    },
    houseCommitteeList () {
      return this.committeeList.filter(committee => committee.type === 0)
    },
    senateCommitteeList () {
      return this.committeeList.filter(committee => committee.type === 1)
    },
    jointCommitteeList () {
      return this.committeeList.filter(committee => committee.type === 2)
    },
    selectedState () {
      return this.stateList.find(state => state.id === this.client.state_id)
    },
  },
  methods: {
    async toggle (client) {
      this.isModalOpen = true
      this.error = ''
      this.client = _.cloneDeep(client)
      this.client.state_id = client.state ? client.state.id : null
      delete this.client.state
      if (!this.client.house_committees) this.client.house_committees = []
      if (!this.client.senate_committees) this.client.senate_committees = []
      if (!this.client.joint_committees) this.client.joint_committees = []
      this.client = _.cloneDeep(this.client)
      this.committeeList = (await this.getStateCommittees(this.client.state_id)).data
    },
    onUploadAvatar () {
      const file = this.$refs.avatarUploader.files[0]
      if (!file) return
      this.uploadToCloudinary(file)
        .json((res) => {
          this.client.avatar_url = res.secure_url
          this.client = {...this.client}
          this.onUpdateClient(true)
        })
        .catch((err) => {
          toastr.error('Something went wrong!', 'Error!')
        })
    },
    async onSelectState () {
      if (!this.client.state_id) return
      this.committeeList = (await this.getStateCommittees(this.client.state_id)).data
      this.client.house_committees = []
      this.client.senate_committees = []
      this.client.joint_committees = []
      this.client = { ...this.client }
    },
    onUpdateClient (isModalOpen) {
      if (!this.$refs.clientForm.validate()) return
      this.isBusy = true
      this.updateClient(this.client)
        .then((res) => {
          this.isBusy = false
          toastr.clear()
          toastr.success('Client info has been updated.', 'Success!')
          this.refresh()
          this.isModalOpen = isModalOpen
        })
        .catch((err) => {
          this.isBusy = false
          this.error = 'Something went wrong!'
        })
    }
  }
}
</script>

<style lang="scss" scoped>
</style>
