<template>
  <v-dialog max-width="600" v-model="isModalOpen">
    <v-form ref="newClientForm" @submit.prevent="onAddClient()">
      <v-card>
        <v-card-title>
          <span class="title">Add New Client</span>
        </v-card-title>
        <v-divider></v-divider>
        <v-card-text>
          <v-alert type="error" outline :value="true" v-if="error">{{ error }}</v-alert>
          <v-layout wrap>
            <v-flex xs12 class="mb-2 px-2">
              <div class="d-inline-block">
                <v-tooltip bottom>
                  <template v-slot:activator="{ on }">
                    <v-avatar size="80" class="cursor-pointer" @click="$refs.avatarUploader.click()" v-on="on">
                      <img :src="newClient.avatar_url || '/images/client-avatar.png'" />
                    </v-avatar>
                  </template>
                  <span>Click above to upload this client's association avatar.</span>
                </v-tooltip>
              </div>
              <input ref="avatarUploader" type="file" accept="image/*" class="d-none" @change="onUploadAvatar()">
            </v-flex>
            <v-flex xs4 class="px-2">
              <v-checkbox label="Active" v-model="newClient.active"></v-checkbox>
            </v-flex>
            <v-flex xs8 class="px-2">
            </v-flex>
            <v-flex xs8 class="px-2">
              <v-text-field label="Association*" :rules="associationRules" v-model="newClient.association" @input="error = ''"></v-text-field>
            </v-flex>
            <v-flex xs4 class="px-2">
              <v-text-field label="Association Abbr*" :rules="associationAbbrevRules" v-model="newClient.assoc_abbrev"></v-text-field>
            </v-flex>
            <v-flex xs12 class="px-2">
              <v-text-field label="Profession" v-model="newClient.profession"></v-text-field>
            </v-flex>
            <v-flex xs12 class="px-2">
              <v-checkbox
                label="Use KP Dashboard Emails in Messages?"
                v-model="newClient.is_forward_email_required"
                @change="newClient.reply_to_email = '';newClient.mailgun_email = '';newClient.forward_email = '';"
              >
              </v-checkbox>
            </v-flex>
            <v-flex xs6 class="px-2" v-if="!newClient.is_forward_email_required">
              <v-text-field label="Reply To Email*" v-model="newClient.reply_to_email"></v-text-field>
            </v-flex>
            <v-flex xs6 class="px-2" v-if="newClient.is_forward_email_required">
              <v-text-field label="Mailgun Email*" v-model="newClient.mailgun_email"></v-text-field>
            </v-flex>
            <v-flex xs6 class="px-2" v-if="newClient.is_forward_email_required">
              <v-text-field label="Forward Email" v-model="newClient.forward_email"></v-text-field>
            </v-flex>
            <v-flex xs12 class="px-2">
              <v-checkbox
                label="Forward reply texts to personal phone number?"
                v-model="newClient.is_forward_text_required"
                @change="newClient.forward_number = '';"
              >
              </v-checkbox>
            </v-flex>
            <v-flex xs6 class="px-2">
              <v-text-field label="Twilio Number" mask="(###) ###-####" :rules="phoneNumberRules" v-model="newClient.twilio_number"></v-text-field>
            </v-flex>
            <v-flex xs6 class="px-2">
              <v-text-field label="Forward Number*" mask="(###) ###-####" :rules="phoneNumberRules" v-model="newClient.forward_number" v-if="newClient.is_forward_text_required"></v-text-field>
            </v-flex>
            <v-flex xs6 class="px-2">
              <v-select label="State*" item-text="state" item-value="id" :items="stateList" :rules="stateRules" v-model="newClient.state_id" @change="onSelectState"></v-select>
            </v-flex>
            <v-flex xs6 class="px-2">
              <v-select label="How many KPs?" :items="kpsList" v-model="newClient.uses_kps"></v-select>
            </v-flex>
            <v-flex xs4 class="px-2">
              <v-checkbox label="Uses regions?" v-model="newClient.uses_regions" @change="newClient.region_count = 0"></v-checkbox>
            </v-flex>
            <v-flex xs4 class="px-2">
              <v-text-field label="Region #" mask="##" v-model="newClient.region_count" v-if="newClient.uses_regions"></v-text-field>
            </v-flex>
            <v-flex xs4 class="px-2">
            </v-flex>
            <v-flex xs4 class="px-2">
              <v-checkbox label="Uses coordinators?" v-model="newClient.uses_coordinators" @change="newClient.show_all = false"></v-checkbox>
            </v-flex>
            <v-flex xs8 class="px-2">
              <v-checkbox label="Show All Task Rows for Coordinators" v-model="newClient.show_all" v-if="newClient.uses_coordinators"></v-checkbox>
            </v-flex>
            <v-flex xs4 class="px-2">
              <v-checkbox label="Uses DOB?" v-model="newClient.uses_dob"></v-checkbox>
            </v-flex>
            <v-flex xs4 class="px-2">
              <v-checkbox label="Uses grad year?" v-model="newClient.uses_grad_year"></v-checkbox>
            </v-flex>
            <v-flex xs4 class="px-2">
            </v-flex>
            <v-flex xs4 class="px-2">
              <v-checkbox label="Uses 2nd work?" v-model="newClient.uses_2nd_work"></v-checkbox>
            </v-flex>
            <v-flex xs4 class="px-2">
              <v-checkbox label="Uses 3rd work?" v-model="newClient.uses_3rd_work"></v-checkbox>
            </v-flex>
            <v-flex xs4 class="px-2">
              <v-checkbox label="Uses 4th work?" v-model="newClient.uses_4th_work"></v-checkbox>
            </v-flex>
            <v-flex xs12 class="px-2">
              <v-layout align-center>
                <v-text-field label="Formal House" v-model="newClient.formal_house"></v-text-field>
                <v-tooltip bottom>
                  <template v-slot:activator="{ on }">
                    <v-icon size="20" v-on="on">help</v-icon>
                  </template>
                  <span>How you would like to address House legislators, placeholder = “example, Delegate/Representative/Del./Rep.</span>
                </v-tooltip>
              </v-layout>
            </v-flex>
            <v-flex xs12 class="px-2">
              <v-layout align-center>
                <v-text-field label="Formal Senate" v-model="newClient.formal_senate"></v-text-field>
                <v-tooltip bottom>
                  <template v-slot:activator="{ on }">
                    <v-icon size="20" v-on="on">help</v-icon>
                  </template>
                  <span>How you would like to address Senators, placeholder = “example, Senator/Sen.</span>
                </v-tooltip>
              </v-layout>
            </v-flex>
            <v-flex xs12 class="px-2">
              <v-alert type="info" :value="true" outline class="mb-2">
                Please select the Committee(s) that are important to your cause.
                These will be used throughout your Dashboard - all others will be hidden, but available if you change your mind later.
              </v-alert>
              <v-autocomplete
                multiple
                chips
                label="House Committees To Track"
                item-text="shortname"
                item-value="id"
                :items="houseCommitteeList"
                v-model="newClient.house_committees"
                v-if="selectedState && selectedState.house_districts">
                <template v-slot:selection="props">
                  <v-chip
                    label
                    dark
                    close
                    :selected="props.selected"
                    :color="getColorFromText(props.item.shortname)"
                    class="chip--select-multi"
                    @input="props.parent.selectItem(props.item)">
                    {{ props.item.shortname }}
                  </v-chip>
                </template>
                <template v-slot:items="props">
                  <v-list-tile>
                    <v-list-tile-action>
                      <v-icon color="accent" v-if="newClient.house_committees.includes(props.item.id)">check_box</v-icon>
                      <v-icon v-else>check_box_outline_blank</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                      <v-list-tile-title>
                        <v-chip label small :color="getColorFromText(props.item.shortname)" text-color="white">{{ props.item.shortname }}</v-chip>
                      </v-list-tile-title>
                      <v-list-tile-sub-title>{{ props.item.fullname }}</v-list-tile-sub-title>
                    </v-list-tile-content>
                  </v-list-tile>
                </template>
              </v-autocomplete>
              <v-autocomplete
                multiple
                chips
                label="Senate Committees To Track"
                item-text="shortname"
                item-value="id"
                :items="senateCommitteeList"
                v-model="newClient.senate_committees"
                v-if="selectedState && selectedState.sen_districts">
                <template v-slot:selection="props">
                  <v-chip
                    label
                    dark
                    close
                    :selected="props.selected"
                    :color="getColorFromText(props.item.shortname)"
                    class="chip--select-multi"
                    @input="props.parent.selectItem(props.item)">
                    {{ props.item.shortname }}
                  </v-chip>
                </template>
                <template v-slot:items="props">
                  <v-list-tile>
                    <v-list-tile-action>
                      <v-icon color="accent" v-if="newClient.senate_committees.includes(props.item.id)">check_box</v-icon>
                      <v-icon v-else>check_box_outline_blank</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                      <v-list-tile-title>
                        <v-chip label small :color="getColorFromText(props.item.shortname)" text-color="white">{{ props.item.shortname }}</v-chip>
                      </v-list-tile-title>
                      <v-list-tile-sub-title>{{ props.item.fullname }}</v-list-tile-sub-title>
                    </v-list-tile-content>
                  </v-list-tile>
                </template>
              </v-autocomplete>
              <v-autocomplete
                multiple
                chips
                label="Joint Committees To Track"
                item-text="shortname"
                item-value="id"
                :items="jointCommitteeList"
                v-model="newClient.joint_committees"
                v-if="selectedState && selectedState.has_joint_committees">
                <template v-slot:selection="props">
                  <v-chip
                    label
                    dark
                    close
                    :selected="props.selected"
                    :color="getColorFromText(props.item.shortname)"
                    class="chip--select-multi"
                    @input="props.parent.selectItem(props.item)">
                    {{ props.item.shortname }}
                  </v-chip>
                </template>
                <template v-slot:items="props">
                  <v-list-tile>
                    <v-list-tile-action>
                      <v-icon color="accent" v-if="newClient.joint_committees.includes(props.item.id)">check_box</v-icon>
                      <v-icon v-else>check_box_outline_blank</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                      <v-list-tile-title>
                        <v-chip label small :color="getColorFromText(props.item.shortname)" text-color="white">{{ props.item.shortname }}</v-chip>
                      </v-list-tile-title>
                      <v-list-tile-sub-title>{{ props.item.fullname }}</v-list-tile-sub-title>
                    </v-list-tile-content>
                  </v-list-tile>
                </template>
              </v-autocomplete>
            </v-flex>
          </v-layout>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="grey white--text" @click.native="isModalOpen = false">Cancel</v-btn>
          <v-btn type="submit" color="primary" :loading="isBusy">Add</v-btn>
        </v-card-actions>
      </v-card>
    </v-form>
  </v-dialog>
</template>

<script>
import ClientService from '../../services/ClientService'
import CloudinaryService from '../../services/CloudinaryService'
import StateService from '../../services/StateService'

export default {
  props: ['stateList', 'refresh'],
  mixins: [ClientService, CloudinaryService, StateService],
  data () {
    return {
      // Modal Open
      isModalOpen: false,
      // Form Data
      committeeList: [],
      newClient: {},
      // Form Error
      error: '',
      // Form Busy
      isBusy: false,
    }
  },
  computed: {
    // Validation Rules
    associationRules () {
      return [
        v => !!v || 'Association is required.',
      ]
    },
    associationAbbrevRules () {
      return [
        v => !!v || 'Association abbr is required.',
      ]
    },
    stateRules () {
      return [
        v => !!v || 'State is required.',
      ]
    },
    kpsList () {
      return [0, 1, 2, 3, 4, 5]
    },
    houseCommitteeList () {
      return this.committeeList.filter(committee => committee.type === 0)
    },
    senateCommitteeList () {
      return this.committeeList.filter(committee => committee.type === 1)
    },
    jointCommitteeList () {
      return this.committeeList.filter(committee => committee.type === 2)
    },
    selectedState () {
      return this.stateList.find(state => state.id === this.newClient.state_id)
    },
  },
  methods: {
    toggle () {
      this.isModalOpen = true
      this.error = ''
      this.$refs.newClientForm.reset()
      this.$nextTick().then(() => {
        this.newClient = {
          house_committees: [],
          senate_committees: [],
          joint_committees: [],
        }
      })
    },
    onUploadAvatar () {
      const file = this.$refs.avatarUploader.files[0]
      if (!file) return
      this.uploadToCloudinary(file)
        .json((res) => {
          this.newClient.avatar_url = res.secure_url
          this.newClient = {...this.newClient}
        })
        .catch((err) => {
          toastr.error('Something went wrong!', 'Error!')
        })
    },
    async onSelectState () {
      if (!this.newClient.state_id) return
      this.committeeList = (await this.getStateCommittees(this.newClient.state_id)).data
      this.newClient.house_committees = []
      this.newClient.senate_committees = []
      this.newClient.joint_committees = []
      this.newClient = { ...this.newClient }
    },
    onAddClient () {
      if (!this.$refs.newClientForm.validate()) return
      this.isBusy = true
      this.createClient(this.newClient)
        .then((res) => {
          this.isBusy = false
          toastr.clear()
          toastr.success('New client has been created.', 'Success!')
          this.refresh()
          this.isModalOpen = false
        })
        .catch((err) => {
          this.isBusy = false
          this.error = 'Something went wrong!'
        })
    }
  }
}
</script>

<style lang="scss" scoped>
</style>
