@import url(https://fonts.googleapis.com/css?family=Nunito);html,
body {
  overflow-y: auto !important;
}

.v-tooltip__content {
  z-index: 10000 !important;
}

.ql-editor {
  height: 150px !important;
}

.ql-editor.readonly {
  padding: 0;
  height: -webkit-fit-content !important;
  height: -moz-fit-content !important;
  height: fit-content !important;
}

.swal2-container {
  font-family: Roboto, sans-serif;
}

.fade-enter-active,
.fade-leave-active {
  transition: all 0.3s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.fill-width {
  width: 100%;
}

.no-line-break {
  white-space: nowrap;
}

.search-input {
  max-width: 300px;
}

.blue-background {
  background-image: url("/images/main-background.svg");
  background-size: cover !important;
}

.blue-card {
  background-color: rgba(229, 238, 253, 0.14) !important;
  border: 1px solid rgba(255, 255, 255, 0.07) !important;
  box-shadow: 0 2px 34px 0 rgba(0, 0, 0, 0.07) !important;
}

.v-input.v-text-field--box .v-input__slot {
  border-radius: 0px !important;
}

.v-input.v-text-field--box .v-input__slot::before,
.v-input.v-text-field--box .v-input__slot::after {
  display: none;
}

.v-input.v-text-field--box .v-input__slot .v-input__icon--prepend-inner {
  width: inherit;
}

.v-input.v-text-field--box .v-input__slot .v-input__icon--prepend-inner .v-icon {
  opacity: 0.5;
  color: #FFF !important;
}

.v-input.v-text-field--box .v-input__slot .v-text-field__slot .v-label {
  color: #FFF !important;
  opacity: 0.5;
}

.v-input.v-text-field--box .v-input__slot .v-text-field__slot input {
  padding: 0;
  font-weight: 400;
  caret-color: white;
  opacity: 0.5;
}

.v-input.v-text-field--box.v-input--is-focused .v-input__slot .v-text-field__slot input {
  opacity: 1;
}

.btn-green {
  margin: 0 !important;
  width: 100%;
  height: 56px !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  font-weight: 700 !important;
  background-color: #3bd290 !important;
}

/* edit modals */

.v-navigation-drawer .v-card {
  min-height: 100vh;
}

/* vertical tabbars */

.vertical-tabbar {
  width: 57px !important;
  -webkit-transform: translateX(0px) !important;
          transform: translateX(0px) !important;
  background-color: #FFF !important;
  color: rgba(0, 0, 0, 0.87) !important;
}

