<template>
  <v-navigation-drawer fixed temporary right touchless width="600" v-model="isModalOpen">
    <v-layout fill-height>
      <v-form ref="profileForm" @submit.prevent="onUpdateProfile()">
        <v-card>
          <v-card-title>
            <span class="title">Profile</span>
          </v-card-title>
          <v-divider></v-divider>
          <v-card-text>
            <v-alert type="error" outline class="mb-2" :value="true" v-if="error">{{ error }}</v-alert>
            <v-layout wrap>
              <v-flex xs6 class="px-2">
                <v-select label="Role*" :items="roleList" :rules="roleRules" v-model="user.role" readonly></v-select>
              </v-flex>
              <v-flex xs6 class="px-2">
              </v-flex>
              <v-flex xs4 class="px-2">
                <v-text-field label="First Name*" :rules="firstNameRules" v-model="user.firstname" @input="onChangeFirstName"></v-text-field>
              </v-flex>
              <v-flex xs4 class="px-2">
                <v-text-field label="Last Name*" :rules="lastNameRules" v-model="user.lastname"></v-text-field>
              </v-flex>
              <v-flex xs4 class="px-2">
                <v-text-field label="Nick Name*" :rules="nickNameRules" v-model="user.nickname"></v-text-field>
              </v-flex>
              <v-flex xs12 class="px-2">
                <v-text-field label="Email*" :rules="emailRules" v-model="user.email" readonly></v-text-field>
              </v-flex>
              <v-flex xs12 class="px-2">
                <v-text-field label="Cell Phone" mask="(###) ###-####" :rules="phoneNumberRules" v-model="user.cell_phone"></v-text-field>
              </v-flex>
              <v-flex xs12 class="px-2">
                <address-input placeholder="Mailing Address" v-model="user.mailing_address"></address-input>
              </v-flex>
              <v-flex xs12 class="px-2">
                <v-checkbox label="Change Password?" v-model="user.need_to_change_password"></v-checkbox>
              </v-flex>
              <v-flex xs12 class="px-2" v-if="!user.two_factor_verified">
                <v-btn  color="primary"  @click="$refs.twoFactorVerification.toggle(user)">Enable Two factor verification</v-btn>
              </v-flex>
              <v-flex xs12 class="px-2" v-else>
                <v-btn  color="primary" :loading="isBusy"  @click.prevent="sendVerificationCode">Disable Two factor verification</v-btn>
              </v-flex>
            </v-layout>
          </v-card-text>
          <v-divider></v-divider>
          <v-card-text>

          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="grey white--text" @click.native="isModalOpen = false">Cancel</v-btn>
            <v-btn type="submit" color="primary" :loading="isBusy">Save</v-btn>
          </v-card-actions>
        </v-card>
      </v-form>
    </v-layout>
    <two-factor-verification ref="twoFactorVerification"></two-factor-verification>
    <disable-two-factor-modal ref="disableTwoFactorModal"></disable-two-factor-modal>
  </v-navigation-drawer>
</template>

<script>
import UserService from '../../services/UserService'
import AddressInput from '../App/AddressInput.vue'
import TwoFactorVerification from "../App/TwoFactorVerification";
import DisableTwoFactorModal from "../App/DisableTwoFactorModal";
export default {
  mixins: [UserService],
  components: {
    DisableTwoFactorModal,
    TwoFactorVerification,
    AddressInput,
  },
  data () {
    return {
      // Form Data
      user: {},
      // Form Error
      error: '',
      // Form Busy
      isBusy: false,
    }
  },
  computed: {
    isModalOpen: {
      get () {
        return this.appState.isProfileSidebarOpen
      },
      set (newValue) {
        this.$store.dispatch('appStore/setProfileSidebarOpen', newValue)
      }
    },
    // Validation Rules
    roleRules () {
      return [
        v => !!v || 'Role is required.',
      ]
    },
    firstNameRules () {
      return [
        v => !!v || 'First name is required.',
      ]
    },
    lastNameRules () {
      return [
        v => !!v || 'Last name is required.',
      ]
    },
    nickNameRules () {
      return [
        v => !!v || 'Nickname is required.',
      ]
    },
    emailRules () {
      return [
        v => !!v || 'E-mail address is required.',
        v => AppHelper.validateEmail(v) || 'E-mail address must be valid.',
      ]
    },
    currentPasswordRules () {
      return [
        v => !!v || 'Please enter the current password.'
      ]
    },
    newPasswordRules () {
      return [
        v => !!v || 'Please enter the new password.',
        v => (!!v && v.length >= 6) || 'Password should contain more than 6 characters.'
      ]
    },
    passwordConfirmationRules () {
      return [
        v => v === this.user.new_password || 'Password doesn\'t match.'
      ]
    },
    roleList () {
      const roleList = [
        'Super Admin',
        'VIP',
        'Coordinator',
        'KP',
      ]
      return roleList
    },
  },
  methods: {
    onChangeFirstName () {
      this.user.nickname = this.user.firstname
      this.user = {...this.user}
    },
    onUpdateProfile () {
      if (!this.$refs.profileForm.validate()) return
      this.isBusy = true
      this.updateUser(this.user)
        .then((res) => {
          this.isBusy = false
          toastr.clear()
          toastr.success('Profile has been updated.', 'Success!')
          delete this.user.need_to_change_password
          delete this.user.current_password
          delete this.user.new_password
          delete this.user.password_confirmation
          this.$store.dispatch('authStore/setUserData', this.user)
          this.isModalOpen = false
        })
        .catch((err) => {
          this.handleError(err)
        })
    },
    async sendVerificationCode(){
      try{
        this.isBusy = true
        this.error = null
        const response = await this.verifyPhone({phone: this.user.cell_phone})
        if(response.status === 200 && response.data.message){
          this.$refs.disableTwoFactorModal.toggle(this.user)
        }
        else {
          this.error = 'Something went wrong';
        }
        this.isBusy = false
      }catch (e) {
        this.isBusy = false
        this.error = e;
      }
    }
  },
  watch: {
    isModalOpen () {
      if (this.isModalOpen) {
        this.error = ''
        this.user = _.cloneDeep(this.userData)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
</style>
