<template>
  <v-navigation-drawer app fixed touchless width="285" class="app-sidebar" :clipped="$vuetify.breakpoint.mdAndUp" :mini-variant="isMiniVariant" v-model="isModalOpen">
    <v-toolbar flat class="transparent" v-if="userClient">
      <v-list class="pa-0">
        <v-list-tile avatar>
          <v-list-tile-avatar color="primary">
            <img :src="userClient.avatar_url || '/images/client-avatar.png'" />
          </v-list-tile-avatar>
        </v-list-tile>
      </v-list>
    </v-toolbar>
    <v-divider></v-divider>
    <v-list class="pt-0">
      <template v-for="(menuItem, menuIndex) in menuItems">
        <v-list-tile :class="{'active': activeMainIndex === menuIndex}" @click="onClickMainMenuItem($event, menuItem)" v-if="menuItem.show && !menuItem.items">
          <v-list-tile-action>
            <v-tooltip right>
              <template v-slot:activator="{ on }">
                <v-badge color="primary" overlap v-if="menuItem.link === 'messages-page' && appState.unseenMessageCount > 0">
                  <template v-slot:badge>
                    <span>{{ appState.unseenMessageCount }}</span>
                  </template>
                  <v-icon size="30" v-text="menuItem.icon"></v-icon>
                </v-badge>
                <v-icon v-else size="30" v-text="menuItem.icon" v-on="on"></v-icon>
              </template>
              <span>{{ menuItem.title }}</span>
            </v-tooltip>
          </v-list-tile-action>
        </v-list-tile>

        <v-menu
            fixed
            v-if="menuItem.show && menuItem.items"
            v-model="menuItem.isExpanded"
            transition="slide-x-transition"
            :nudge-width="200"
            offset-x
        >
          <template v-slot:activator="{ on }">
            <v-list>
              <v-list-tile @click="menuItem.isExpanded = !menuItem.isExpanded" class="menu_item--has-child">
                <v-tooltip right>
                  <template v-slot:activator="{ on }">
                    <v-icon size="30" v-text="menuItem.icon" v-on="on"></v-icon>
                  </template>
                  <span>{{ menuItem.title }}</span>
                </v-tooltip>
              </v-list-tile>
            </v-list>
          </template>

          <v-card>
            <div class="caption grey--text pa-2">{{ menuItem.title }}</div>
            <v-list class="pa-0">
              <v-list-tile
                  :class="{'active': activeSubIndex === subMenuIndex}"
                  @click="onClickSubMenuItem(subMenuItem)"
                  v-for="(subMenuItem, subMenuIndex) in menuItem.items"
                  :key="subMenuItem.title"
                  v-if="subMenuItem.show"
              >
                <v-list-tile-action>
                  <v-icon v-text="subMenuItem.icon"></v-icon>
                </v-list-tile-action>
                <v-list-tile-title>{{ subMenuItem.title }}</v-list-tile-title>
              </v-list-tile>
            </v-list>
          </v-card>
        </v-menu>
      </template>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
import swal from 'sweetalert2'
import ClientService from '../../services/ClientService'

export default {
  mixins: [ClientService],
  data() {
    return {
      isMiniVariant: true,
      menuItems: [],
      timerInterval: null,
      sessionTimerId: null,
    }
  },
  computed: {
    isModalOpen: {
      get () {
        return this.appState.isMenuSidebarOpen
      },
      set (newValue) {
        this.$store.dispatch('appStore/setMenuSidebarOpen', newValue)
      }
    },
    isCompleted () {
      let isCompleted = !!Object.keys(this.appState.clientStatus)
      _.forEach(this.appState.clientStatus, (value) => {
        isCompleted &= value
      })
      return isCompleted
    },
    activeMainIndex () {
      return this.menuItems.findIndex((mainItem) => {
        if (!mainItem.items) return mainItem.link === this.$route.name
        return mainItem.items.findIndex(item => item.link === this.$route.name) >= 0
      })
    },
    activeSubIndex () {
      if (!this.menuItems[this.activeMainIndex].items) return -1
      return this.menuItems[this.activeMainIndex].items.findIndex(item => item.link === this.$route.name)
    },
  },
  created () {
    this.menuItems = [
      {
        icon: 'spellcheck',
        title: 'Status',
        link: 'status-page',
        show: this.isVIP && !this.isCompleted,
        isExpanded: false
      },
      {
        icon: 'home',
        title: 'Home',
        link: 'home-page',
        show: this.isSuperAdmin || this.isVIP,
        isExpanded: false
      },
      {
        icon: 'list_alt',
        title: 'Session Dashboard',
        link: 'kp-tasks-page',
        show: this.isSuperAdmin || this.isVIP || this.isCoordinator,
        isExpanded: false,
      },
      {
        icon:'group',
        title: 'People',
        show: this.isSuperAdmin || this.isVIP || this.isCoordinator,
        isExpanded: false,
        items: [
          {
            icon: 'group',
            title: 'My KPs',
            link: 'my-kps-page',
            show: (this.isVIP && this.userData.coordinator) || this.isCoordinator
          },
          {
            icon: 'group',
            title: this.isSuperAdmin ? 'Members' : `${this.userClient.assoc_abbrev} Members`,
            link: 'members-page',
            show: this.isSuperAdmin || this.isVIP
          },
          {
            icon: 'account_circle',
            title: 'Legislators',
            link: 'legislators-page',
            show: this.isSuperAdmin || this.isVIP
          },
          {
            icon: 'thumbs_up_down',
            title: 'KP Leaderboard',
            link: 'kp-leaderboard-page',
            show: this.isSuperAdmin || this.isVIP
          },
          {
            icon: 'search',
            title: 'District Lookup',
            link: 'district-lookup-page',
            show: this.isSuperAdmin || this.isVIP || this.isCoordinator
          },
        ],
      },
      {
        icon: 'forum',
        title: 'Messages',
        link: 'messages-page',
        show: this.isVIP || this.isCoordinator,
        isExpanded: false
      },
      {
        icon: 'account_balance',
        title: 'Advocacy Messaging',
        link: 'advocacy-page',
        show: this.isVIP,
        isExpanded: false
      },
      {
        icon: 'settings',
        title: 'Settings',
        show: this.isSuperAdmin || this.isVIP,
        isExpanded: false,
        items: [
          {
            icon: 'playlist_add_check',
            title: 'Sessions/Tasks',
            link: 'sessions-page',
            show: this.isSuperAdmin || this.isVIP
          },
          {
            icon: 'people_outline',
            title: this.isSuperAdmin ? 'Team' : `${this.userClient.assoc_abbrev} Team`,
            link: 'users-page',
            show: this.isSuperAdmin || this.isVIP
          },
          {
            icon: 'contact_mail',
            title: 'Options',
            show: this.isVIP
          },
        ],
      },
      {
        icon: 'settings_applications',
        title: 'Admin',
        show: this.isSuperAdmin,
        isExpanded: false,
        items: [
          {
            icon: 'contacts',
            title: 'Clients',
            link: 'clients-page',
            show: this.isSuperAdmin
          },
          {
            icon: 'domain',
            title: 'Committees',
            link: 'committees-page',
            show: this.isSuperAdmin
          },
          {
            icon: 'security',
            title: 'User Sessions',
            link: 'user-sessions-page',
            show: this.isSuperAdmin
          },
          {
            icon: 'sync',
            title: 'Find Legislators',
            link: 'find-legislators-page',
            show: this.isSuperAdmin
          },
        ],
      },
      {
        icon: 'list_alt',
        title: 'Tasks',
        link: 'my-tasks-page',
        isExpanded: false,
        show: this.isKP,
      },
      {
        icon: 'assignment',
        title: 'Assigned Tasks',
        link: 'assigned-tasks-page',
        show: this.isKP || this.isMember,
        isExpanded: false
      },
      {
        icon: 'live_help',
        title: 'Support',
        show: true,
        isExpanded: false
      },
      {
        icon: 'help_outline',
        title: 'How to',
        link: 'how-to-page',
        show: this.isSuperAdmin || this.isVIP
      }
    ]
  },
  mounted () {
    this.checkSession()
    this.sessionTimerId = setInterval(this.checkSession, 60 * 1000)

    if (this.isVIP || this.isCoordinator) {
      this.getUnseenMessageCount()
      setInterval(this.getUnseenMessageCount, 15000)
    }
    window.addEventListener('click', ()=> {
      this.changeSessionWatcher()
    })
  },
  methods: {
    checkSession () {
      let now  = moment().format("DD/MM/YYYY HH:mm:ss")
      let then = moment(this.refreshedAt, "DD/MM/YYYY HH:mm:ss")
      let past = moment().diff(then, 'minutes')

      if (past == 115) {
        swal({
          html: '<h2>Your session will end in <strong></strong>, would you like to continue working?</h2>',
          type: 'question',
          timer: 5 * 60 * 1000,
          onBeforeOpen: () => {
            this.timerInterval = setInterval(() => {
              const seconds = swal.getTimerLeft() / 1000
              if(swal.getContent()) {
                swal.getContent().querySelector('strong').textContent = `${parseInt(seconds / 60)} mins ${parseInt(seconds % 60)} seconds`
              }
            }, 1000)
          },
          onClose: () => {
            clearInterval(this.timerInterval)
          },
          showCancelButton: true,
          confirmButtonColor: '#4CAF50',
          cancelButtonColor: '#FF5252',
          confirmButtonText: 'Yes',
          cancelButtonText: 'Log Out',
          reverseButtons: true,
        }).then((result) => {
          if (result.value) {
            this.$store.dispatch('authStore/refreshSession')
          } else {
            AppHelper.logout()
          }
        })
      }
      if (past >= 120) {
        AppHelper.logout()
      }
    },
    changeSessionWatcher() {
      clearTimeout(this.sessionTimerId)
      this.sessionTimerId = setInterval(this.checkSession, 60 * 1000)
      this.$store.dispatch('authStore/refreshSession')
    },
    async getUnseenMessageCount () {
      const messageCount = (await this.getClientUnseenMessageCount(this.userClientId)).data
      this.$store.dispatch('appStore/setUnseenMessageCount', messageCount)
    },
    activeClass (menuItem) {
      return this.$route.name === menuItem.link ? 'active' : ''
    },
    onClickMainMenuItem (event, mainItem) {
      if (mainItem.title === 'Support') {
        if (this.$intercom.visible) {
          this.$intercom.hide()
        } else {
          this.$intercom.show()
        }
      }
      this.$router.replace({ name: mainItem.link })
      event.stopPropagation()
    },
    onClickSubMenuItem (subItem) {
      if (subItem.title === 'Options') {
        return this.$store.dispatch('appStore/setClientSettingsSidebarOpen', true)
      }
      this.$router.replace({ name: subItem.link })
    },
  },
  watch: {
    '$intercom.visible'(value) {
      const launcherEl = document.querySelector('.intercom-launcher-frame')
      if (value) {
        launcherEl.classList.add('visible')
      } else {
        launcherEl.classList.remove('visible')
      }
    },
    '$route' (to, from){
      this.changeSessionWatcher()
    }
  }
}
</script>

<style lang="scss" scoped>
.active {
  background-color: rgba(0, 0, 0, 0.1);
}
</style>

<style lang="scss">
.v-navigation-drawer {
  .v-list__group__header__prepend-icon {
    padding-right: 0 !important;
  }
  &.v-navigation-drawer--mini-variant {
    .v-list__group__header__prepend-icon {
      padding-right: 16px !important;
    }
  }
}

.intercom-launcher-frame,
.intercom-launcher-badge-frame {
  visibility: hidden;
}

.visible {
  visibility: visible;
}
.menu_item {
  &--has-child {
    &>a {
      justify-content: center;
    }
  }
}
</style>
