<template>
  <v-toolbar app fixed dark color="primary" height="58px" :clipped-left="$vuetify.breakpoint.lgAndUp">
    <v-toolbar-side-icon text-color="white" @click="$store.dispatch('appStore/setMenuSidebarOpen', !appState.isMenuSidebarOpen)"></v-toolbar-side-icon>
    <v-toolbar-title class="pt-2">
      <logo-icon></logo-icon>
    </v-toolbar-title>
    <v-spacer></v-spacer>
    <v-toolbar-items>
      <v-menu left offset-y min-width="120">
        <template v-slot:activator="{ on }">
          <v-btn icon large color="warning" v-on="on">
            <v-avatar size="32">
              <span class="white--text headline">{{ userNameAbbr }}</span>
            </v-avatar>
          </v-btn>
        </template>
        <v-list>
          <v-list-tile v-if="isSuperAdmin || isVIP || isCoordinator">
            <v-list-tile-content>
              <v-list-tile-title @click="$store.dispatch('appStore/setProfileSidebarOpen', true)">Profile</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-list-tile @click="onLogout">
            <v-list-tile-content>
              <v-list-tile-title>Logout</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
      </v-menu>

    </v-toolbar-items>
  </v-toolbar>
</template>

<script>
import LogoIcon from '../App/LogoIcon.vue'

export default {
  components: {
    LogoIcon,
  },
  computed: {
    userNameAbbr () {
      return this.userName ? this.userName[0].toUpperCase() : ''
    }
  },
  methods: {
    onLogout () {
      AppHelper.logout()
    }
  }
}
</script>

<style lang="scss" scoped>
</style>
