<template>
  <gmap-autocomplete
    class="address-input"
    :placeholder="placeholder"
    :value="value"
    @place_changed="onPlaceChanged">
  </gmap-autocomplete>
</template>

<script>
export default {
  props: ['placeholder', 'value'],
  methods: {
    onPlaceChanged(address) {
      this.$emit('input', address.formatted_address)
      this.$emit('blur')
    },
  },
}
</script>

<style lang="scss" scoped>
.address-input {
  margin-top: 4px;
  margin-bottom: 20px;
  padding: 20px 0 8px;
  width: 100%;
  line-height: 20px;
  font-size: 16px;
  outline: none;
  border-bottom: solid 1px rgba(0,0,0,.42);
}
</style>
