<template>
  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="200px" y="32px"
    viewBox="0 0 200 32" style="enable-background:new 0 0 200 32;height: 32px;" xml:space="preserve">
  <g id="Layer_1">
    <g>
      <path class="st0" d="M30.2,10.3c-0.2-0.6-0.5-1.1-0.8-1.6c-0.8-1.3-4,2-3.4,3.4c0.3,0.6,0.5,1.2,0.6,1.8c0.2,0.8,0.3,1.5,0.3,2.4
        c0,5.7-4.6,10.3-10.3,10.3c-5.1,0-9.3-3.6-10.2-8.5v0c-0.1-0.6-0.2-1.2-0.2-1.9c0-0.2,0-0.5,0-0.7c0.1-1.8-3.9-3.9-3.9-3.9
        C2.1,12.3,2,13,1.8,13.6v0c-0.2,0.9-0.2,1.7-0.2,2.6c0,8.2,6.7,14.9,14.9,14.9c8.2,0,14.9-6.7,14.9-14.9
        C31.4,14.1,31,12.1,30.2,10.3z M16.5,1.3c-4.9,0-9.3,2.4-12,6.1C4,8.2,3.5,9,3.1,9.8l1.3-0.2l5.1-0.9c1.8-1.7,4.3-2.7,7-2.7
        c1.9,0,3.7,0.5,5.3,1.5l3.3-3.3C22.7,2.4,19.7,1.3,16.5,1.3z"/>
      <path class="st1" d="M6.2,16.3c0,0.6,0.1,1.3,0.2,1.9l-4.5-4.5v0C2,13,2.1,12.3,2.3,11.7l3.9,3.9C6.2,15.8,6.2,16,6.2,16.3z"/>
      <path class="st1" d="M30.2,10.3l-3.6,3.6c-0.1-0.6-0.4-1.2-0.6-1.8l3.4-3.4C29.7,9.2,30,9.7,30.2,10.3z"/>
      <polygon class="st0" points="31.6,6.5 29.4,8.7 14.4,23.7 6.2,15.6 2.3,11.7 7.8,10.7 14.4,17.3 23.2,8.4 26.5,5.1 28.4,3.2 		"/>
    </g>
  </g>
  <g id="Layer_2">
    <g>
      <path class="st0" d="M50.1,23.6c0,0.6-0.5,1.1-1.1,1.1c-0.4,0-0.7-0.2-0.9-0.4L42,16.3l-2.7,2.8v4.5c0,0.6-0.5,1.1-1.1,1.1
        s-1.1-0.5-1.1-1.1V8.7c0-0.6,0.5-1.1,1.1-1.1s1.1,0.5,1.1,1.1v7.6L47.5,8c0.2-0.2,0.5-0.4,0.8-0.4c0.6,0,1.1,0.5,1,1
        c0,0.3-0.1,0.5-0.3,0.7l-5.5,5.5l6.4,8C50,23.1,50.1,23.3,50.1,23.6z"/>
      <path class="st0" d="M66.2,13.1c0,2.5-1.6,5.3-6.4,5.3h-4.4v5.1c0,0.6-0.5,1.1-1.1,1.1s-1.1-0.5-1.1-1.1V8.9
        c0-0.6,0.5-1.1,1.1-1.1h5.5C64.6,7.7,66.2,10.5,66.2,13.1z M64,13.1c0-1.6-0.9-3.3-4.4-3.3h-4.2v6.5h4.2
        C63.1,16.3,64,14.6,64,13.1z"/>
      <path class="st0" d="M89.9,16.1c0,4-2.7,8.4-8.5,8.4h-4.8c-0.6,0-1.1-0.5-1.1-1.1V8.9c0-0.6,0.5-1.1,1.1-1.1h4.8
        C87.1,7.7,89.9,12.1,89.9,16.1z M87.7,16.1c0-3.7-2.6-6.3-6.6-6.3h-3.5v12.7h3.5C85.1,22.5,87.7,19.9,87.7,16.1z"/>
      <path class="st0" d="M102.4,16.7v6.8c0,0.6-0.5,1.1-1.1,1.1c-0.6,0-1.1-0.5-1.1-1.1v-0.6c-0.9,0.9-2.3,1.8-4.5,1.8
        c-2.1,0-3.9-1.3-3.9-3.6s1.8-3.9,5.5-3.9h2.9v-0.2c0-2.1-1.1-3-3.2-3c-1.3,0-2.3,0.3-3.2,0.6c-0.1,0-0.2,0-0.3,0
        c-0.5,0-0.9-0.4-0.9-0.9c0-0.4,0.2-0.7,0.6-0.9c1.1-0.5,2.4-0.9,4.2-0.9C100.9,12,102.4,14.4,102.4,16.7z M100.3,21v-2h-2.6
        c-2.3,0-3.6,0.5-3.6,1.9c0,1,0.6,1.9,2.5,1.9C98,22.8,99.4,22,100.3,21z"/>
      <path class="st0" d="M114.8,21.2c0,1.9-1.6,3.6-4.6,3.6c-1.8,0-3.1-0.4-4.4-1.1c-0.2-0.2-0.4-0.5-0.4-0.8c0-0.5,0.4-1,0.9-1
        c0.1,0,0.3,0,0.4,0.1c0.9,0.4,1.8,0.7,3.3,0.7c1.8,0,2.7-0.6,2.7-1.7c0-2.1-7.2-0.8-7.2-5.2c0-2.2,1.6-3.8,4.7-3.8
        c1.3,0,2.5,0.2,3.5,0.6c0.5,0.1,0.7,0.6,0.7,0.9c0,0.5-0.4,1-1,1c-0.1,0-0.2,0-0.3,0c-0.8-0.2-1.7-0.4-2.7-0.4
        c-1.8,0-2.8,0.7-2.8,1.7C107.6,18.2,114.8,16.5,114.8,21.2z"/>
      <path class="st0" d="M128.6,16.7v6.8c0,0.6-0.5,1.1-1.1,1.1c-0.6,0-1.1-0.5-1.1-1.1V17c0-1.8-0.8-2.9-2.6-2.9
        c-1.7,0-3,1.1-3.9,2.3v7.2c0,0.6-0.5,1.1-1.1,1.1c-0.6,0-1.1-0.5-1.1-1.1V8c0-0.6,0.5-1.1,1.1-1.1c0.6,0,1.1,0.5,1.1,1.1v6.3
        c1-1.1,2.3-2.2,4.5-2.2C127,12,128.6,14.2,128.6,16.7z"/>
      <path class="st0" d="M144.4,18.4c0,4.1-2.9,6.4-5.8,6.4c-1.7,0-3-0.7-4.1-1.8v0.6c0,0.6-0.5,1.1-1.1,1.1c-0.6,0-1.1-0.5-1.1-1.1V8
        c0-0.6,0.5-1.1,1.1-1.1c0.6,0,1.1,0.5,1.1,1.1v5.9c1.1-1.2,2.4-1.8,4.1-1.8C141.5,12,144.4,14.3,144.4,18.4z M142.2,18.4
        c0-2.8-1.7-4.3-3.9-4.3c-1.6,0-2.9,0.8-3.8,1.8v5c0.9,1,2.2,1.8,3.8,1.8C140.5,22.7,142.2,21.2,142.2,18.4z"/>
      <path class="st0" d="M159,18.4c0,3.8-2.4,6.4-6.1,6.4c-3.7,0-6.1-2.6-6.1-6.4c0-3.8,2.4-6.4,6.1-6.4C156.5,12,159,14.6,159,18.4z
        M156.8,18.4c0-3.2-2.1-4.3-4-4.3c-1.8,0-4,1.2-4,4.3c0,3.2,2.1,4.4,4,4.4C154.6,22.8,156.8,21.5,156.8,18.4z"/>
      <path class="st0" d="M171.6,16.7v6.8c0,0.6-0.5,1.1-1.1,1.1c-0.6,0-1.1-0.5-1.1-1.1v-0.6c-0.9,0.9-2.3,1.8-4.5,1.8
        c-2.1,0-3.9-1.3-3.9-3.6s1.8-3.9,5.5-3.9h2.9v-0.2c0-2.1-1.1-3-3.2-3c-1.3,0-2.3,0.3-3.2,0.6c-0.1,0-0.2,0-0.3,0
        c-0.5,0-0.9-0.4-0.9-0.9c0-0.4,0.2-0.7,0.6-0.9c1.1-0.5,2.4-0.9,4.2-0.9C170.1,12,171.6,14.4,171.6,16.7z M169.4,21v-2h-2.6
        c-2.3,0-3.6,0.5-3.6,1.9c0,1,0.6,1.9,2.5,1.9C167.2,22.8,168.6,22,169.4,21z"/>
      <path class="st0" d="M182.5,13.1c0,0.6-0.5,1-1.1,1h-0.1c-1.6,0-2.9,0.9-3.7,2.1v7.3c0,0.6-0.5,1.1-1.1,1.1
        c-0.6,0-1.1-0.5-1.1-1.1V13.2c0-0.6,0.5-1.1,1.1-1.1c0.6,0,1.1,0.5,1.1,1.1v1c0.9-1.2,2.1-2.3,3.8-2.3h0.1
        C182,12,182.5,12.5,182.5,13.1z"/>
      <path class="st0" d="M193.8,13.8V8c0-0.6,0.5-1.1,1.1-1.1c0.6,0,1.1,0.5,1.1,1.1v15.6c0,0.6-0.5,1.1-1.1,1.1
        c-0.6,0-1.1-0.5-1.1-1.1v-0.6c-1.1,1.2-2.4,1.8-4.1,1.8c-2.9,0-5.8-2.3-5.8-6.4c0-4.1,2.9-6.4,5.8-6.4
        C191.4,12,192.7,12.7,193.8,13.8z M193.8,20.9v-5c-0.9-1-2.2-1.8-3.8-1.8c-2.3,0-3.9,1.5-3.9,4.3c0,2.8,1.7,4.3,3.9,4.3
        C191.5,22.7,192.8,21.9,193.8,20.9z"/>
    </g>
  </g>
  </svg>
</template>

<script>
</script>

<style lang="scss" scoped>
.st0{fill:#FFFFFF;}
.st1{opacity:0.5;fill:#B6BAB8;}
</style>
