<template>
  <v-menu
    ref="menu"
    :close-on-content-click="false"
    :nudge-right="40"
    lazy
    offset-y
    full-width
    :disabled="disabled"
    max-width="290px"
    min-width="290px"
    transition="scale-transition"
  >
    <template v-slot:activator="{ on }">
      <v-text-field prepend-icon="event" readonly :label="label" :value="formattedDate" :rules="rules" v-on="on"></v-text-field>
    </template>
    <v-date-picker scrollable :value="value" @input="onChangeDate">
      <v-spacer v-if="!required"></v-spacer>
      <v-btn flat color="primary" @click="onReset" v-if="!required">Reset</v-btn>
    </v-date-picker>
  </v-menu>
</template>

<script>
export default {
  props: ['label', 'value', 'format', 'rules', 'required', 'disabled'],
  computed: {
    formattedDate () {
      if (!this.format || !this.value) return this.value
      return moment(this.value).format(this.format)
    },
  },
  methods: {
    onChangeDate (date) {
      this.$refs.menu.save(date)
      this.$emit('input', date)
    },
    onReset () {
      this.$refs.menu.save('')
      this.$emit('input', '')
    }
  }
}
</script>

<style lang="scss" scoped>
</style>
