<template>
  <v-layout>
    <v-icon :color="index <= value ? 'orange lighten-3' : 'grey'" class="ma-0 pa-0" @click="onChange(index)" v-for="index in valueList" :key="index">star</v-icon>
  </v-layout>
</template>

<script>
export default {
  props: ['value'],
  computed: {
    valueList () {
      return [1, 2, 3, 4, 5]
    }
  },
  methods: {
    onChange (value) {
      if (this.value === 1 && value === 1) {
        this.$emit('input', 0)
      } else {
        this.$emit('input', value)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
</style>
