<template>
  <v-dialog max-width="700" v-model="isModalOpen">
    <v-form>
      <v-card v-if="kp">
        <v-card-title class="headline grey lighten-2" primary-title>
          {{ kp.nickname }} {{ kp.lastname }}
          <v-spacer></v-spacer>
          <v-icon class="ml-3" @click="isModalOpen = false">close</v-icon>
        </v-card-title>
        <v-layout wrap class="py-3">
          <v-flex xs12 sm4 v-if="kp.avatar_url">
            <v-img class="ml-3" :src="kp.avatar_url" height="200px" contain></v-img>
          </v-flex>
          <v-flex xs12 sm8>
            <div class="pa-3">
              <div><strong>Age:</strong> {{ age }}</div>
              <strong>Legislator(s): </strong>
              {{ kp.legislators.map(legislator => legislator.lastname).join(', ') }}<br />
              <strong>Member Notes: </strong>{{ kp.notes }}<br />
              {{ kp.email }}<br />
              {{ kp.cell }}
              <v-divider light></v-divider>
              <div
                class="notes_item"
                :class="{ column: selectedLegislator.id == legislator.id }"
                v-for="legislator in kp.legislators"
              >
                <strong>Relationship Notes ({{ legislator.lastname }}): </strong>
                <span class="notes_item__editable" v-if="(isVIP && userData.coordinator) || isCoordinator">
                  <span
                    v-if="selectedLegislator.id != legislator.id && legislator.notes && legislator.notes.length > 0"
                    @click="editNotes(legislator)"
                  >
                    {{ legislator.notes }}
                  </span>
                  <span class="notes_item__new"
                    v-if="!legislator.notes && selectedLegislator.id != legislator.id"
                    @click="editNotes(legislator)"
                  >
                    Add note
                  </span>
                  <span class="notes_item__field" v-if="selectedLegislator.id == legislator.id">
                    <v-text-field
                      hide-details
                      v-model="legislator.notes"
                      append-icon="block"
                      @click:append="cancelEdit(legislator)"
                    >
                    </v-text-field>
                    <v-btn
                      @click="onSaveLegislator(legislator)"
                      v-if="originNote != legislator.notes"
                      color="success"
                      class="my-0 mr-0"
                      small
                      icon
                    >
                      <v-icon size="16">save</v-icon>
                    </v-btn>
                  </span>
                </span>
                <span v-else>{{ legislator.notes }}</span>
              </div>
            </div>
          </v-flex>
        </v-layout>
        <v-divider light></v-divider>
        <v-card-actions class="pl-3">
          <v-btn
            color="warning"
            class="white--text"
            @click="sendTextModalRef.toggle(kp)"
          >
            Contact {{ kp.nickname }}
            <v-icon right dark>send</v-icon>
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-form>
  </v-dialog>
</template>

<script>
import LegislatorService from '../../services/LegislatorService'

export default {
  name: 'KPDetailModal',
  props: ['sendTextModalRef'],
  mixins: [LegislatorService],
  data () {
    return {
      isModalOpen: false,
      kp: null,
      selectedLegislator: '',
      originNote: '',
    }
  },
  computed: {
    kpRelationshipList () {
      return {
        N: {
          description: 'None',
          color: 'error',
        },
        A: {
          description: 'Acquaintance',
          color: 'warning',
        },
        CC: {
          description: 'Can Call',
          color: 'warning',
        },
        FM: {
          description: 'Family member has a relationship with the legislator',
          color: 'blue',
        },
        $: {
          description: 'Gave money to the legislator',
          color: 'success',
        },
        P: {
          description: 'Legislator is a patient of the KP',
          color: 'success',
        },
        PF: {
          description: 'Legislator is a personal friend of the KP',
          color: 'success',
        },
        WC: {
          description: 'KP worked in legislator’s campaign',
          color: 'success',
        },
        VC: {
          description: 'The KP is very close with the legislator',
          color: 'success',
        },
      }
    },
    age () {
      if (!this.kp || !this.kp.dob) return ''
      return parseInt(moment.duration(moment().diff(this.kp.dob)).asYears())
    }
  },
  methods: {
    toggle (kp) {
      this.isModalOpen = !this.isModalOpen
      this.kp = kp
    },
    onSaveLegislator(legislator) {
      const payload = {
        ...legislator,
        committees: []
      }
      this.updateLegislator(payload)
        .then((res) => {
          toastr.clear()
          toastr.success('Legislator has been updated.', 'Success!')
          this.selectedLegislator = ''
          this.originNote = ''
        })
        .catch((err) => {
          toastr.clear()
          toastr.error('Something went wrong.', 'Error!')
        })
    },
    editNotes(legislator) {
      if(this.selectedLegislator.id) {
        this.kp.legislators.find(item => item.id == this.selectedLegislator.id).notes = this.originNote
      }
      this.selectedLegislator = legislator
      this.originNote = legislator.notes
    },
    cancelEdit(legislator) {
      this.kp.legislators.find(item => item.id == legislator.id).notes = this.originNote
      this.selectedLegislator = ''
      this.originNote = ''
    }
  },
}
</script>

<style lang="scss" scoped>
  .notes_item {
    display: flex;
    @media(max-width: 767px) {
      flex-direction: column;
    }
    &__editable {
      display: flex;
      margin-left: 4px;
      @media(max-width: 767px) {
        margin-left: 0;
      }
    }
    &__new {
      color: #1976d2;
      cursor: pointer;
    }
    &__field {
      display: flex;
      align-items: center;
      width: 100%;
      .v-text-field {
        padding-top: 0;
        margin-top: 0;
        font-size: 14px;
      }
    }
    &.column {
      flex-direction: column;
      .notes_item__editable {
        margin-left: 0;
      }
    }
  }
</style>
