<template>
  <v-dialog max-width="700" v-model="isModalOpen">
    <v-form ref="textForm" @submit.prevent="onSend()">
      <v-card v-if="kp">
        <v-card-title>
          <span class="title">Sending Text or Email to {{ kp.nickname }} {{ kp.lastname }}</span>
        </v-card-title>
        <v-divider></v-divider>
        <v-card-text>
          <v-alert type="error" outline :value="true" v-if="error">{{ error }}</v-alert>
          <div class="mb-2 px-2">
            <div class="mb-1 caption grey--text">Variables</div>
            <v-layout wrap>
              <v-chip @click="onAddVariable(variable)" v-for="variable in variableList" :key="variable">{{ variable }}</v-chip>
            </v-layout>
          </div>
          <v-layout wrap>
            <v-flex xs12 class="text-xs-right">
              <v-switch hide-details label="Show Preview" class="d-inline-block mt-0" @click="onPreviewMessage" v-model="isPreview"></v-switch>
            </v-flex>
            <v-flex xs12 id="editorContainer" class="px-2">
              <v-textarea ref="editor" label="Message*"  counter="150" :rules="messageRules" v-model="message" @input="onChangeText" v-show="!isPreview"></v-textarea>
              <v-textarea label="Message*"  counter="150" :value="formattedMessage" readonly v-show="isPreview"></v-textarea>
            </v-flex>
          </v-layout>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="grey white--text" @click.native="isModalOpen = false">Close</v-btn>
          <v-btn type="submit" color="primary" :loading="isBusy" :disabled="finalMessageLength > 150">Send</v-btn>
        </v-card-actions>
      </v-card>
    </v-form>
  </v-dialog>
</template>

<script>
import AppService from '../../services/AppService'
import ClientService from '../../services/ClientService'

export default {
  mixins: [AppService, ClientService],
  data () {
    return {
      // Modal Open
      isModalOpen: false,
      // Form Data
      kp: null,
      message: '',
      isPreview: false,
      formattedMessage: '',
      // Form Error
      error: '',
      // Form Busy
      isBusy: false,
    }
  },
  computed: {
    // Validation Rules
    messageRules () {
      return [
        v => !!v || 'Message is required.',
        v => (v && this.finalMessageLength <= 150) || 'Message should be less than 150 characters.',
      ]
    },
    replyToEmailList () {
      const emailList = []
      if (this.userClient && this.userClient.reply_to_email) {
        emailList.push(this.userClient.reply_to_email)
      }
      emailList.push(this.userEmail)
      return emailList
    },
    variableList () {
      return [
        '{kp_nick}',
        '{leg_full}',
        '{leg_email}',
        '{leg_ph}',
        '{district}',
        '{ez_login}'
      ]
    },
    finalMessageLength () {
      let kpNick = ''
      let legFull = ''
      let legEmail = ''
      let legPh = ''
      let district = ''
      const ezLogin = 'https://kpda.sh/ez/xxxxxxxx'
      this.kp.legislators.forEach((legislator) => {
        if (kpNick.length < (this.kp.nickname || '').length) kpNick = this.kp.nickname
        if (legFull.length < (legislator.fullname || '').length) legFull = legislator.fullname
        if (legEmail.length < (legislator.official_email || '').length) legEmail = legislator.official_email
        if (legPh.length < (legislator.official_phone || '').length) legPh = legislator.official_phone
        if (district.length < (legislator.district || '').length) district = legislator.district
      })
      let message = this.message || ''
      message = message.replace(/{kp_nick}/g, kpNick)
      message = message.replace(/{leg_full}/g, legFull)
      message = message.replace(/{leg_email}/g, legEmail)
      message = message.replace(/{leg_ph}/g, legPh)
      message = message.replace(/{district}/g, district)
      message = message.replace(/{ez_login}/g, ezLogin)
      return message.length
    },
  },
  methods: {
    toggle (kp) {
      this.isModalOpen = true
      this.isPreview = false
      this.error = ''
      this.$refs.textForm.reset()
      this.kp = kp
      this.$nextTick().then(() => {
        this.text = {
          clientId: this.userClient.id,
          tos: [kp.cell],
          legislators: kp.legislators.map(legislator => legislator.id),
        }
        this.email = {
          clientId: this.userClient.id,
          from: this.userName,
          reply_to_email: this.replyToEmailList[0],
          subject: `KP Dashboard - ${this.userName}`,
          tos: [kp.email],
          legislators: kp.legislators.map(legislator => legislator.id),
        }
        this.message = `Hi {kp_nick}, \n\nThanks! -${this.userData.nickname}`
        this.onChangeText()
      })
    },
    onAddVariable (variable) {
      variable += ' '
      this.message = (this.message || '') + variable
      this.$refs.editor.focus()
      this.onChangeText()
    },
    onChangeText () {
      this.error = ''
      const $el = document.querySelector('#editorContainer .v-counter')
      $el.innerHTML = `${this.finalMessageLength} / 150`
    },
    async onPreviewMessage () {
      if (this.isPreview) {
        if (!this.message) {
          this.formattedMessage = ''
          return
        }
        const payload = {
          legislator_id: this.kp.legislators[0].id,
          member_id: this.kp.id,
          message: this.message,
        }
        this.formattedMessage = (await this.getAppFormattedMessage(payload)).data
      }
    },
    async onSend () {
      if (!this.$refs.textForm.validate()) return
      this.isBusy = true
      if (this.kp.cell) {
        try {
          this.text.message = this.message
          await this.sendText(this.text)
        } catch (err) {
          this.isBusy = false
          this.error = 'Something went wrong!'
          return
        }
      } else if (this.kp.email) {
        try {
          this.email.message = this.message
          await this.sendEmail(this.email)
        } catch (err) {
          this.isBusy = false
          this.error = 'Something went wrong!'
          return
        }
      }
      this.isBusy = false
      toastr.clear()
      toastr.success('Text has been sent.', 'Success!')
      this.isModalOpen = false
    }
  }
}
</script>

<style lang="scss" scoped>
</style>
