<template>
  <v-navigation-drawer fixed temporary right touchless width="600" v-model="isModalOpen">
    <v-layout fill-height>
      <v-form ref="taskForm" @submit.prevent="onUpdateTask()">
        <v-card style="box-shadow: none !important;">
          <v-card-title>
            <span class="title">Edit Task</span>
            <v-spacer />
            <v-icon @click="isModalOpen = false">close</v-icon>
          </v-card-title>
          <v-divider></v-divider>
          <v-card-text v-if="!!task">
            <v-alert type="error" outline :value="true" v-if="error">{{ error }}</v-alert>
            <v-layout wrap>
              <v-flex xs12 class="px-2">
                <v-checkbox label="Hide from KP" v-model="task.hide_from_kp"></v-checkbox>
              </v-flex>
              <v-flex xs6 class="px-2">
                <v-text-field label="Short Label*" counter="15" :rules="nameRules" v-model="task.name"></v-text-field>
              </v-flex>
              <v-flex xs6 class="px-2">
                <v-select label="Type*" item-text="name" item-value="data_type" :items="taskTypeList" v-model="task.data_type" @input="" readonly></v-select>
              </v-flex>
              <v-flex xs12 class="px-2" v-if="task.data_type === 'Select'">
                <v-combobox label="Options*" hide-selected multiple small-chips v-model="task.options" readonly></v-combobox>
              </v-flex>
              <v-flex xs12 class="px-2">
                <v-text-field label="Longer Explanation" v-model="task.tooltip"></v-text-field>
              </v-flex>
              <v-flex xs12 class="px-2">
                <v-textarea label="Notes" v-model="task.notes"></v-textarea>
              </v-flex>
              <v-flex xs12 class="px-2">
                <v-date-picker2 label="Deadline" v-model="task.deadline"></v-date-picker2>
              </v-flex>
            </v-layout>
          </v-card-text>
          <v-divider></v-divider>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="grey white--text" @click.native="isModalOpen = false">Cancel</v-btn>
            <v-btn type="submit" color="primary" :loading="isBusy">Save</v-btn>
          </v-card-actions>
        </v-card>
      </v-form>
    </v-layout>
  </v-navigation-drawer>
</template>

<script>
import TaskService from '../../services/TaskService'
import VDatePicker2 from '../App/VDatePicker2'

export default {
  props: ['refresh'],
  mixins: [TaskService],
  components: {
    VDatePicker2,
  },
  data () {
    return {
      // Modal Open
      isModalOpen: false,
      // Form Data
      task: null,
      // Form Error
      error: '',
      // Form Busy
      isBusy: false,
    }
  },
  computed: {
    // Validation Rules
    nameRules () {
      return [
        v => !!v || 'Name is required.',
        v => (!!v && v.length <= 15) || 'Name cannot exceed 15 characters.'
      ]
    },
    taskTypeList () {
      return [
        {
          name: 'Yes/No',
          data_type: 'Boolean',
        },
        {
          name: 'Custom Text',
          data_type: 'String',
        },
        {
          name: 'Notes',
          data_type: 'Notes',
        },
        {
          name: 'Currency',
          data_type: 'Currency',
        },
        {
          name: 'Dropdown List',
          data_type: 'Select',
        },
      ]
    }
  },
  methods: {
    toggle (task) {
      this.isModalOpen = true
      this.error = ''
      this.task = _.cloneDeep(task)
      const taskType = task.task_type
      this.task.data_type = (taskType.name === 'Notes' && taskType.data_type === 'String') ? 'Notes' : taskType.data_type
      this.task.options = taskType.options
      this.task = _.cloneDeep(this.task)
    },
    onUpdateTask () {
      if (!this.$refs.taskForm.validate()) return
      this.isBusy = true
      const payload = _.pick(this.task, ['id', 'name', 'tooltip', 'notes', 'deadline', 'hide_from_kp'])
      this.updateTask(payload)
        .then((res) => {
          this.isBusy = false
          toastr.clear()
          toastr.success('Task has been updated.', 'Success!')
          this.refresh()
          this.isModalOpen = false
        })
        .catch((err) => {
          this.isBusy = false
          this.error = 'Something went wrong!'
        })
    }
  }
}
</script>

<style lang="scss" scoped>
</style>
