<template>
  <v-navigation-drawer fixed temporary right touchless width="600" v-model="isModalOpen">
    <v-layout fill-height>
      <v-form ref="sessionForm" @submit.prevent="onUpdateSession()">
        <v-card style="box-shadow: none !important;">
          <v-card-title>
            <span class="title">Edit Session</span>
            <v-spacer />
            <v-icon @click="isModalOpen = false">close</v-icon>
          </v-card-title>
          <v-divider></v-divider>
          <v-card-text>
            <v-alert type="error" outline :value="true" v-if="error">{{ error }}</v-alert>
            <v-layout wrap>
              <v-flex xs12 class="px-2">
                <v-text-field label="Name*" :rules="nameRules" v-model="session.name" @input="error = ''"></v-text-field>
              </v-flex>
              <v-flex xs12 class="px-2">
                <v-textarea label="Notes" v-model="session.notes"></v-textarea>
              </v-flex>
              <v-flex xs6 class="px-2">
                  <v-date-picker2 label="Start At" :rules="startAtRules" v-model="session.start_at"></v-date-picker2>
              </v-flex>
              <v-flex xs6 class="px-2">
                  <v-date-picker2 label="End At" :rules="endAtRules" v-model="session.end_at"></v-date-picker2>
              </v-flex>
              <v-flex xs12 class="px-2">
                <v-autocomplete
                  multiple
                  chips
                  label="House committees to track this Session"
                  item-text="shortname"
                  item-value="id"
                  :items="houseCommitteeList"
                  v-model="session.house_committees"
                  v-if="client.state && client.state.house_districts">
                  <template v-slot:selection="props">
                    <v-chip
                      label
                      dark
                      close
                      :selected="props.selected"
                      :color="getColorFromText(props.item.shortname)"
                      class="chip--select-multi"
                      @input="props.parent.selectItem(props.item)">
                      {{ props.item.shortname }}
                    </v-chip>
                  </template>
                  <template v-slot:items="props">
                    <v-list-tile>
                      <v-list-tile-action>
                        <v-icon color="accent" v-if="(session.house_committees || []).includes(props.item.id)">check_box</v-icon>
                        <v-icon v-else>check_box_outline_blank</v-icon>
                      </v-list-tile-action>
                      <v-list-tile-content>
                        <v-list-tile-title>
                          <v-chip label small :color="getColorFromText(props.item.shortname)" text-color="white">{{ props.item.shortname }}</v-chip>
                        </v-list-tile-title>
                        <v-list-tile-sub-title>{{ props.item.fullname }}</v-list-tile-sub-title>
                      </v-list-tile-content>
                    </v-list-tile>
                  </template>
                </v-autocomplete>
                <v-autocomplete
                  multiple
                  chips
                  label="Senate committees to track this Session"
                  item-text="shortname"
                  item-value="id"
                  :items="senateCommitteeList"
                  v-model="session.senate_committees"
                  v-if="client.state && client.state.sen_districts">
                  <template v-slot:selection="props">
                    <v-chip
                      label
                      dark
                      close
                      :selected="props.selected"
                      :color="getColorFromText(props.item.shortname)"
                      class="chip--select-multi"
                      @input="props.parent.selectItem(props.item)">
                      {{ props.item.shortname }}
                    </v-chip>
                  </template>
                  <template v-slot:items="props">
                    <v-list-tile>
                      <v-list-tile-action>
                        <v-icon color="accent" v-if="(session.senate_committees || []).includes(props.item.id)">check_box</v-icon>
                        <v-icon v-else>check_box_outline_blank</v-icon>
                      </v-list-tile-action>
                      <v-list-tile-content>
                        <v-list-tile-title>
                          <v-chip label small :color="getColorFromText(props.item.shortname)" text-color="white">{{ props.item.shortname }}</v-chip>
                        </v-list-tile-title>
                        <v-list-tile-sub-title>{{ props.item.fullname }}</v-list-tile-sub-title>
                      </v-list-tile-content>
                    </v-list-tile>
                  </template>
                </v-autocomplete>
                <v-autocomplete
                  multiple
                  chips
                  label="Joint committees to track this Session"
                  item-text="shortname"
                  item-value="id"
                  :items="jointCommitteeList"
                  v-model="session.joint_committees"
                  v-if="client.state && client.state.has_joint_committees">
                  <template v-slot:selection="props">
                    <v-chip
                      label
                      dark
                      close
                      :selected="props.selected"
                      :color="getColorFromText(props.item.shortname)"
                      class="chip--select-multi"
                      @input="props.parent.selectItem(props.item)">
                      {{ props.item.shortname }}
                    </v-chip>
                  </template>
                  <template v-slot:items="props">
                    <v-list-tile>
                      <v-list-tile-action>
                        <v-icon color="accent" v-if="(session.joint_committees || []).includes(props.item.id)">check_box</v-icon>
                        <v-icon v-else>check_box_outline_blank</v-icon>
                      </v-list-tile-action>
                      <v-list-tile-content>
                        <v-list-tile-title>
                          <v-chip label small :color="getColorFromText(props.item.shortname)" text-color="white">{{ props.item.shortname }}</v-chip>
                        </v-list-tile-title>
                        <v-list-tile-sub-title>{{ props.item.fullname }}</v-list-tile-sub-title>
                      </v-list-tile-content>
                    </v-list-tile>
                  </template>
                </v-autocomplete>
              </v-flex>
            </v-layout>
          </v-card-text>
          <v-divider></v-divider>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="grey white--text" @click.native="isModalOpen = false">Cancel</v-btn>
            <v-btn type="submit" color="primary" :loading="isBusy">Save</v-btn>
          </v-card-actions>
        </v-card>
      </v-form>
    </v-layout>
  </v-navigation-drawer>
</template>

<script>
import SessionService from '../../services/SessionService'
import VDatePicker2 from '../App/VDatePicker2'

export default {
  props: ['activeSession', 'sessionList', 'committeeList', 'refresh'],
  mixins: [SessionService],
  components: {
    VDatePicker2,
  },
  data () {
    return {
      // Modal Open
      isModalOpen: false,
      // Form Data
      client: {},
      session: {},
      // Form Error
      error: '',
      // Form Busy
      isBusy: false,
    }
  },
  computed: {
    // Validation Rules
    nameRules () {
      return [
        v => !!v || 'Name is required.',
      ]
    },
    startAtRules () {
      return [
        v => !!v || 'Start date is required.',
      ]
    },
    endAtRules () {
      if (!this.session.start_at) return []
      return [
        v => !!v || 'End date is required.',
        v => (!!v && v > this.session.start_at) || 'End date should be after the start date.'
      ]
    },
    houseCommitteeList () {
      return this.committeeList.filter(committee => committee.type === 0)
    },
    senateCommitteeList () {
      return this.committeeList.filter(committee => committee.type === 1)
    },
    jointCommitteeList () {
      return this.committeeList.filter(committee => committee.type === 2)
    }
  },
  methods: {
    toggle (client, session) {
      this.isModalOpen = true
      this.error = ''
      this.$nextTick().then(() => {
        this.client = client
        this.session = {
          ...session,
          house_committees: (session.house_committees || []),
          senate_committees: (session.senate_committees || []),
          joint_committees: (session.joint_committees || []),
        }
      })
    },
    validate () {
      let isValid = true
      if (this.activeSession && this.activeSession.id !== this.session.id && this.session.end_at > moment().format('YYYY-MM-DD')) {
        this.error = 'Can\'t create more active sessions.'
        isValid = false
        return isValid
      }
      const sessionList = this.sessionList.filter(session => session.id !== this.session.id)
      sessionList.forEach((session) => {
        if ((session.start_at <= this.session.start_at && session.end_at >= this.session.start_at)
          || (session.start_at <= this.session.end_at && session.end_at >= this.session.end_at)
          || (session.start_at >= this.session.start_at && session.end_at <= this.session.end_at)) {
          this.error = 'Session period can\'t be overlapped.'
          isValid = false
        }
      })
      return isValid
    },
    onUpdateSession () {
      if (!this.$refs.sessionForm.validate()) return
      if (!this.validate()) return
      this.isBusy = true
      this.updateSession(this.session)
        .then((res) => {
          this.isBusy = false
          toastr.clear()
          toastr.success('Session has been updated.', 'Success!')
          this.refresh()
          this.isModalOpen = false
        })
        .catch((err) => {
          this.isBusy = false
          this.error = 'Something went wrong!'
        })
    }
  }
}
</script>

<style lang="scss" scoped>
</style>
