<template>
  <v-dialog max-width="600" v-model="isModalOpen">
    <v-form ref="newSessionForm" @submit.prevent="onAddSession()">
      <v-card>
        <v-card-title>
          <span class="title">Add New Session</span>
        </v-card-title>
        <v-divider></v-divider>
        <v-card-text>
          <v-alert type="error" outline :value="true" v-if="error">{{ error }}</v-alert>
          <v-layout wrap>
            <v-flex xs12 class="px-2">
              <v-text-field label="Name*" :rules="nameRules" v-model="newSession.name" @input="error = ''"></v-text-field>
            </v-flex>
            <v-flex xs12 class="px-2">
              <v-textarea label="Notes" v-model="newSession.notes"></v-textarea>
            </v-flex>
            <v-flex xs6 class="px-2">
                <v-date-picker2 label="Start At" :rules="startAtRules" v-model="newSession.start_at"></v-date-picker2>
            </v-flex>
            <v-flex xs6 class="px-2">
                <v-date-picker2 label="End At" :rules="endAtRules" v-model="newSession.end_at"></v-date-picker2>
            </v-flex>
            <v-flex xs12 class="px-2">
              <v-autocomplete
                multiple
                chips
                label="House committees to track this Session"
                item-text="shortname"
                item-value="id"
                :items="houseCommitteeList"
                v-model="newSession.house_committees"
                v-if="client.state && client.state.house_districts">
                <template v-slot:selection="props">
                  <v-chip
                    label
                    dark
                    close
                    :selected="props.selected"
                    :color="getColorFromText(props.item.shortname)"
                    class="chip--select-multi"
                    @input="props.parent.selectItem(props.item)">
                    {{ props.item.shortname }}
                  </v-chip>
                </template>
                <template v-slot:items="props">
                  <v-list-tile>
                    <v-list-tile-action>
                      <v-icon color="accent" v-if="(newSession.house_committees || []).includes(props.item.id)">check_box</v-icon>
                      <v-icon v-else>check_box_outline_blank</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                      <v-list-tile-title>
                        <v-chip label small :color="getColorFromText(props.item.shortname)" text-color="white">{{ props.item.shortname }}</v-chip>
                      </v-list-tile-title>
                      <v-list-tile-sub-title>{{ props.item.fullname }}</v-list-tile-sub-title>
                    </v-list-tile-content>
                  </v-list-tile>
                </template>
              </v-autocomplete>
              <v-autocomplete
                multiple
                chips
                label="Senate committees to track this Session"
                item-text="shortname"
                item-value="id"
                :items="senateCommitteeList"
                v-model="newSession.senate_committees"
                v-if="client.state && client.state.sen_districts">
                <template v-slot:selection="props">
                  <v-chip
                    label
                    dark
                    close
                    :selected="props.selected"
                    :color="getColorFromText(props.item.shortname)"
                    class="chip--select-multi"
                    @input="props.parent.selectItem(props.item)">
                    {{ props.item.shortname }}
                  </v-chip>
                </template>
                <template v-slot:items="props">
                  <v-list-tile>
                    <v-list-tile-action>
                      <v-icon color="accent" v-if="(newSession.senate_committees || []).includes(props.item.id)">check_box</v-icon>
                      <v-icon v-else>check_box_outline_blank</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                      <v-list-tile-title>
                        <v-chip label small :color="getColorFromText(props.item.shortname)" text-color="white">{{ props.item.shortname }}</v-chip>
                      </v-list-tile-title>
                      <v-list-tile-sub-title>{{ props.item.fullname }}</v-list-tile-sub-title>
                    </v-list-tile-content>
                  </v-list-tile>
                </template>
              </v-autocomplete>
              <v-autocomplete
                multiple
                chips
                label="Joint committees to track this Session"
                item-text="shortname"
                item-value="id"
                :items="jointCommitteeList"
                v-model="newSession.joint_committees"
                v-if="client.state && client.state.has_joint_committees">
                <template v-slot:selection="props">
                  <v-chip
                    label
                    dark
                    close
                    :selected="props.selected"
                    :color="getColorFromText(props.item.shortname)"
                    class="chip--select-multi"
                    @input="props.parent.selectItem(props.item)">
                    {{ props.item.shortname }}
                  </v-chip>
                </template>
                <template v-slot:items="props">
                  <v-list-tile>
                    <v-list-tile-action>
                      <v-icon color="accent" v-if="(newSession.joint_committees || []).includes(props.item.id)">check_box</v-icon>
                      <v-icon v-else>check_box_outline_blank</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                      <v-list-tile-title>
                        <v-chip label small :color="getColorFromText(props.item.shortname)" text-color="white">{{ props.item.shortname }}</v-chip>
                      </v-list-tile-title>
                      <v-list-tile-sub-title>{{ props.item.fullname }}</v-list-tile-sub-title>
                    </v-list-tile-content>
                  </v-list-tile>
                </template>
              </v-autocomplete>
            </v-flex>
          </v-layout>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="grey white--text" @click.native="isModalOpen = false">Cancel</v-btn>
          <v-btn type="submit" color="primary" :loading="isBusy">Add</v-btn>
        </v-card-actions>
      </v-card>
    </v-form>
  </v-dialog>
</template>

<script>
import SessionService from '../../services/SessionService'
import VDatePicker2 from '../App/VDatePicker2'

export default {
  props: ['activeSession', 'sessionList', 'committeeList', 'refresh'],
  mixins: [SessionService],
  components: {
    VDatePicker2,
  },
  data () {
    return {
      // Modal Open
      isModalOpen: false,
      // Form Data
      client: {},
      newSession: {},
      // Form Error
      error: '',
      // Form Busy
      isBusy: false,
    }
  },
  computed: {
    // Validation Rules
    nameRules () {
      return [
        v => !!v || 'Name is required.',
      ]
    },
    startAtRules () {
      return [
        v => !!v || 'Start date is required.',
      ]
    },
    endAtRules () {
      if (!this.newSession.start_at) return []
      return [
        v => !!v || 'End date is required.',
        v => (!!v && v > this.newSession.start_at) || 'End date should be after the start date.'
      ]
    },
    houseCommitteeList () {
      return this.committeeList.filter(committee => committee.type === 0)
    },
    senateCommitteeList () {
      return this.committeeList.filter(committee => committee.type === 1)
    },
    jointCommitteeList () {
      return this.committeeList.filter(committee => committee.type === 2)
    }
  },
  methods: {
    toggle (client) {
      this.isModalOpen = true
      this.error = ''
      this.$refs.newSessionForm.reset()
      this.client = client
      this.newSession = {
        client_id: client.id,
        house_committees: [],
        senate_committees: [],
        joint_committees: [],
      }
    },
    validate () {
      let isValid = true
      if (this.activeSession && this.newSession.end_at > moment().format('YYYY-MM-DD')) {
        this.error = 'Can\'t create more active sessions.'
        isValid = false
        return isValid
      }
      this.sessionList.forEach((session) => {
        if ((session.start_at <= this.newSession.start_at && session.end_at >= this.newSession.start_at)
          || (session.start_at <= this.newSession.end_at && session.end_at >= this.newSession.end_at)
          || (session.start_at >= this.newSession.start_at && session.end_at <= this.newSession.end_at)) {
          this.error = 'Session period can\'t be overlapped.'
          isValid = false
        }
      })
      return isValid
    },
    onAddSession () {
      if (!this.$refs.newSessionForm.validate()) return
      if (!this.validate()) return
      this.isBusy = true
      this.createSession(this.newSession)
        .then((res) => {
          this.isBusy = false
          toastr.clear()
          toastr.success('New session has been created.', 'Success!')
          this.refresh()
          this.isModalOpen = false
        })
        .catch((err) => {
          this.isBusy = false
          this.error = 'Something went wrong!'
        })
    }
  }
}
</script>

<style lang="scss" scoped>
</style>
