<template>
  <v-dialog max-width="650" v-model="isModalOpen">
    <v-form ref="newTaskModal" @submit.prevent="onAddTasks()">
      <v-card>
        <v-card-title>
          <span class="title">Add New Tasks</span>
        </v-card-title>
        <v-divider></v-divider>
        <v-card-text>
          <v-alert type="error" outline class="mb-2" :value="true" v-if="error">{{ error }}</v-alert>
          <v-layout wrap>
            <v-flex xs12 class="px-2">
              <v-checkbox label="Hide from KP" v-model="hideFromKP"></v-checkbox>
            </v-flex>
            <v-flex xs12 class="px-2">
              <v-select
                multiple
                chips
                persistent-hint
                label="Predefined Tasks"
                hint="Check all of the predefined tasks you'd like to track this session"
                item-text="description"
                item-value="id"
                :items="commonTaskList"
                v-model="protoIds">
              </v-select>
            </v-flex>
            <v-flex xs12 class="px-2">
              <v-checkbox label="Create Your Own Task" v-model="customTask.selected"></v-checkbox>
            </v-flex>
            <v-layout wrap v-if="customTask.selected">
              <v-flex xs6 class="px-2">
                <v-text-field label="Short Label*" counter="15" :rules="nameRules" v-model="customTask.name"></v-text-field>
              </v-flex>
              <v-flex xs6 class="px-2">
                <v-select
                  label="Type*"
                  item-text="data_type"
                  item-value="id"
                  :items="taskTypeList"
                  :rules="typeRules"
                  v-model="customTask.task_type_id"
                  @input="">
                </v-select>
              </v-flex>
              <v-flex xs12 class="px-2" v-if="customTask.task_type_id === -1">
                <v-combobox label="Options*" hide-selected multiple small-chips :rules="optionsRules" v-model="customTask.options"></v-combobox>
              </v-flex>
              <v-flex xs12 class="px-2">
                <v-text-field label="Longer Explanation" v-model="customTask.tooltip"></v-text-field>
              </v-flex>
              <v-flex xs12 class="px-2">
                <v-textarea label="Notes" v-model="customTask.notes"></v-textarea>
              </v-flex>
              <v-flex xs12 class="px-2">
                <v-date-picker2 label="Deadline" v-model="customTask.deadline"></v-date-picker2>
              </v-flex>
            </v-layout>
          </v-layout>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="grey white--text" @click.native="isModalOpen = false">Close</v-btn>
          <v-btn type="submit" color="primary" :loading="isBusy">Add</v-btn>
        </v-card-actions>
      </v-card>
    </v-form>
  </v-dialog>
</template>

<script>
import SessionService from '../../services/SessionService'
import VDatePicker2 from '../App/VDatePicker2'

export default {
  props: ['activeSession', 'commonTaskList', 'taskList', 'refresh'],
  mixins: [SessionService],
  components: {
    VDatePicker2,
  },
  data () {
    return {
      // Modal Open
      isModalOpen: false,
      // Form Data
      hideFromKP: false,
      protoIds: [],
      customTask: {},
      // Form Error
      error: '',
      // Form Busy
      isBusy: false,
    }
  },
  computed: {
    nameRules () {
      return [
        v => !!v || 'Name is required.',
        v => (!!v && v.length <= 15) || 'Name cannot exceed 15 characters.'
      ]
    },
    typeRules () {
      return [
        v => !!v || 'Type is required.'
      ]
    },
    optionsRules () {
      return [
        v => (!!v && v.length > 0) || 'Options are required.'
      ]
    },
    taskTypeList () {
      return [
        {
          id: 1,
          data_type: 'Yes/No',
        },
        {
          id: 2,
          data_type: 'Custom Text',
        },
        // {
        //   id: 3,
        //   data_type: 'Notes',
        // },
        {
          id: 4,
          data_type: 'Currency',
        },
        {
          id: -1,
          data_type: 'Dropdown List',
        },
      ]
    }
  },
  methods: {
    toggle () {
      this.isModalOpen = true
      this.error = ''
      this.$refs.newTaskModal.reset()
    },
    onAddTasks () {
      // if (this.taskList.length + this.protoIds.length + (this.customTask.selected ? 1 : 0) > 10) {
      //   this.error = 'You could add up to 10 tasks per session.'
      //   return
      // }
      if (!this.$refs.newTaskModal.validate()) return
      if (this.protoIds.length === 0 && !this.customTask.selected) {
        this.error = 'Please select the predefined tasks or create your own task.'
        return
      }
      this.isBusy = true
      const payload = {}
      payload.hide_from_kp = this.hideFromKP || false
      payload.sessionId = this.activeSession.id
      payload.proto_ids = this.protoIds || []
      if (this.customTask.selected) {
        payload.custom_task = this.customTask
        payload.custom_task.options = payload.custom_task.options || []
      }
      payload.custom_task = payload.custom_task || null

      this.addSessionTasks(payload)
        .then((res) => {
          this.isBusy = false
          toastr.clear()
          toastr.success('New tasks has been added to active session.', 'Success!')
          this.refresh()
          this.protoIds = []
          this.customTask = {}
          // this.isModalOpen = false
        })
        .catch((err) => {
          this.isBusy = false
          this.error = 'Something went wrong!'
        })
    }
  }
}
</script>

<style lang="scss" scoped>
</style>
