<template>
  <div class="fill-width">
    <v-card>
      <v-card-title>
        <h1>Advocacy Messages</h1>
        <advocacy-page-help-modal></advocacy-page-help-modal>
        <v-spacer></v-spacer>
        <v-btn icon color="primary" :loading="status === 'LOADING_PAGE'" @click="refresh">
          <v-icon dark>refresh</v-icon>
        </v-btn>
        <v-btn color="warning" @click="$refs.messageModal.toggle()">
          New Advocacy Message
          <v-icon dark class="ml-2">note_add</v-icon>
        </v-btn>
      </v-card-title>
      <v-data-table
        disable-initial-sort
        :loading="status === 'LOADING_PAGE'"
        class="elevation-1"
        :pagination.sync="pagination"
        :headers="advocacyMessageTableHeader"
        :items="advocacyMessageList"
      >
        <template v-slot:items="props">
          <td class="text-xs-center">
            <v-icon color="success" v-if="isActive(props.item)">check_circle</v-icon>
            <v-icon color="error" v-else>cancel</v-icon>
          </td>
          <td class="text-xs-center">{{ props.item.created_at | dateFormatter }}</td>
          <td class="text-xs-center" :class="getDeadlineClass(props.item)">
            {{ props.item.deadline | dateFormatter }}
          </td>
          <td class="text-xs-center">
            <v-layout justify-center align-center>
              <v-tooltip bottom>
                <template v-slot:activator="{ on }">
                  <a @click="$refs.fullMessageModal.toggle(props.item)" v-on="on">
                    <v-icon color="primary" size="35" class="mx-1">drafts</v-icon>
                  </a>
                </template>
                <span>Read full message</span>
              </v-tooltip>
            </v-layout>
          </td>
          <td class="py-2 text-xs-center">
            <v-progress-circular
              :rotate="-90"
              :size="60"
              :width="5"
              :value="props.item.sent_message_count * 100 / props.item.total_message_count"
              :color="getProgressColor(props.item.sent_message_count / props.item.total_message_count)"
              @click="$refs.statsModal.toggle(props.item.id)"
            >
              {{ props.item.sent_message_count }} / {{ props.item.total_message_count }}
            </v-progress-circular>
          </td>
          <td>
            <v-layout align-center v-if="!props.item.sent_at">
              <v-tooltip bottom>
                <template v-slot:activator="{ on }">
                  <v-btn
                    color="primary"
                    @click="$refs.messageModal.toggle(props.item)"
                    v-on="on"
                    :disabled="!isActive(props.item)"
                  >
                    Send
                  </v-btn>
                </template>
                <span>Send</span>
              </v-tooltip>
              <v-tooltip bottom>
                <template v-slot:activator="{ on }">
                  <v-btn
                    dark
                    color="pink"
                    @click="onDelete(props.item)"
                    v-on="on"
                  >
                    Delete
                  </v-btn>
                </template>
                <span>Delete</span>
              </v-tooltip>
            </v-layout>
            <v-layout align-center v-else>
              <v-tooltip bottom>
                <template v-slot:activator="{ on }">
                  <v-btn
                    color="warning"
                    @click="onRemind(props.item)"
                    :loading="status === 'REMINDING_' + props.item.id"
                    :disabled="!isActive(props.item)"
                    v-on="on"
                    v-if="!isCompleted(props.item)"
                  >
                    Remind All
                  </v-btn>
                </template>
                <span>Remind all those who have yet to send</span>
              </v-tooltip>
              <v-tooltip bottom>
                <template v-slot:activator="{ on }">
                  <v-btn
                    color="primary"
                    @click="$refs.deadlineModal.toggle(props.item)"
                    v-on="on"
                    v-if="!isCompleted(props.item)"
                  >
                    Deadline
                  </v-btn>
                </template>
                <span>Change deadline</span>
              </v-tooltip>
            </v-layout>
          </td>
        </template>
        <template v-slot:no-data>
          <p class="text-xs-center mb-0">No advocacy messages created yet.</p>
        </template>
      </v-data-table>
    </v-card>

    <deadline-modal ref="deadlineModal" :refresh="refresh"></deadline-modal>
    <full-message-modal ref="fullMessageModal"></full-message-modal>
    <message-modal ref="messageModal" :committee-list="committeeList" :legislator-list="legislatorList" :refresh="refresh"></message-modal>
    <stats-modal ref="statsModal"></stats-modal>
  </div>
</template>

<script>
import swal from 'sweetalert2'
import AdvocacyMessageService from '../services/AdvocacyMessageService'
import AdvocacyPageHelpModal from '../components/HelpModals/AdvocacyPageHelpModal'
import DeadlineModal from '../components/AdvocacyPage/DeadlineModal.vue'
import FullMessageModal from '../components/AdvocacyPage/FullMessageModal.vue'
import MessageModal from '../components/AdvocacyPage/MessageModal.vue'
import StatsModal from '../components/AdvocacyPage/StatsModal.vue'
import ClientService from '../services/ClientService'
import StateService from '../services/StateService'

export default {
  name: 'AdvocacyPage',
  mixins: [AdvocacyMessageService, ClientService, StateService],
  components: {
    AdvocacyPageHelpModal,
    DeadlineModal,
    FullMessageModal,
    MessageModal,
    StatsModal,
  },
  data () {
    return {
      status: '',
      committeeList: [],
      legislatorList: [],
      advocacyMessageList: [],
      pagination: {
        rowsPerPage: 10
      }
    }
  },
  computed: {
    advocacyMessageTableHeader () {
      return [
        { text: 'Active', value: 'active', align: 'center' },
        { text: 'Created At', value: 'created_at', align: 'center' },
        { text: 'Deadline', value: 'deadline', align: 'center' },
        { text: 'Message', value: 'message', align: 'center' },
        { text: 'Stats', value: 'stats', align: 'center' },
        { text: '', value: '', align: 'center' },
      ]
    }
  },
  async mounted () {
    this.committeeList = (await this.getStateCommittees(this.userClient.state_id)).data
    this.legislatorList = (await this.getClientLegislators(this.userClientId)).data
    this.refresh()
  },
  methods: {
    isCompleted (advocacyMessage) {
      return advocacyMessage.sent_message_count === advocacyMessage.total_message_count
    },
    isActive (advocacyMessage) {
      if (!advocacyMessage.active) return false
      if (advocacyMessage.deadline < moment().format('YYYY-MM-DD')) return false
      return true
    },
    getDeadlineClass (advocacyMessage) {
      const today = moment().format('YYYY-MM-DD')
      if (advocacyMessage.deadline === today) return 'warning--text'
      return advocacyMessage.deadline <  today ? 'error--text' : 'success--text'
    },
    async refresh () {
      this.status = 'LOADING_PAGE'
      this.advocacyMessageList = (await this.getClientAdvocacyMessages(this.userClientId)).data
      this.status = ''
    },
    onRemind (advocacyMessage) {
      swal({
        title: 'Are you sure?',
        html: 'This action will resend the same notice to all members that have yet to send this Adovacy Message. ' +
          '<strong>This may take a while so please be patient while the system sends all of the messages.</strong>',
        type: 'question',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, Remind All Now',
        reverseButtons: true,
      }).then((result) => {
        if (result.value) {
          this.status = `REMINDING_${advocacyMessage.id}`
          try {
            this.sendAdvocacyMessage(advocacyMessage.id)
            toastr.clear()
            toastr.success('Remind message has been sent to assigned members.', 'Success!')
          } catch (err) {
            this.handleError(err)
          }
          this.status = ''
        }
      })
    },
    onDelete (advocacyMessage) {
      swal({
        title: 'Are you sure to delete this message?',
        type: 'question',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes',
        reverseButtons: true,
      }).then((result) => {
        if (result.value) {
          this.deleteAdvocacyMessage(advocacyMessage.id)
            .then(() => {
              toastr.clear()
              toastr.success('Advocacy message has been removed.', 'Success!')
              this.refresh()
            })
            .catch((err) => {
              this.handleError(err)
            })
        }
      })
    }
  }
}
</script>

<style lang="scss" scoped>
</style>

<style lang="scss">
.v-progress-circular__info {
  white-space: nowrap;
}
</style>
