<template>
  <div class="fill-width">
    <v-card>
      <v-card-title>
        <h1>Assigned Tasks</h1>
      </v-card-title>
      <v-data-table
        disable-initial-sort
        :loading="isLoading"
        class="elevation-1"
        :pagination.sync="pagination"
        :headers="assignedTaskTableHeader"
        :items="assignedTaskList"
      >
        <template v-slot:items="props">
          <td>{{ props.item.created_at | dateFormatter }}</td>
          <td :class="getDeadlineClass(props.item)">
            {{ props.item.deadline | dateFormatter }}
          </td>
          <td class="py-2 text-xs-center">
            <v-progress-circular
              :rotate="-90"
              :size="60"
              :width="5"
              :value="props.item.sent_message_count * 100 / props.item.assigned_legislator_count"
              :color="getProgressColor(props.item.sent_message_count / props.item.assigned_legislator_count)"
              @click="$refs.replyStatsModal.toggle(props.item.id)"
            >
              {{ props.item.sent_message_count }} / {{ props.item.assigned_legislator_count }}
            </v-progress-circular>
          </td>
          <td class="text-xs-center">
            <v-tooltip bottom>
              <template v-slot:activator="{ on }">
                <v-btn
                  color="primary"
                  @click="$refs.replyMessageModal.toggle(props.item)"
                  :disabled="props.item.sent_message_count === props.item.assigned_legislator_count"
                  v-on="on"
                >
                  Send
                </v-btn>
              </template>
              <span>Send</span>
            </v-tooltip>
          </td>
        </template>
        <template v-slot:no-data>
          <p class="text-xs-center mb-0">No assigned task yet.</p>
        </template>
      </v-data-table>
    </v-card>

    <reply-message-modal ref="replyMessageModal" :refresh="refresh"></reply-message-modal>
    <reply-stats-modal ref="replyStatsModal"></reply-stats-modal>
  </div>
</template>

<script>
import ReplyMessageModal from '../components/AdvocacyPage/ReplyMessageModal.vue'
import ReplyStatsModal from '../components/AdvocacyPage/ReplyStatsModal.vue'
import MemberService from '../services/MemberService'

export default {
  name: 'AssignedTasksPage',
  mixins: [MemberService],
  components: {
    ReplyMessageModal,
    ReplyStatsModal,
  },
  data () {
    return {
      isLoading: false,
      search: '',
      assignedTaskList: [],
      pagination: {
        sortBy: 'created_at',
        descending: true,
        rowsPerPage: 10,
      }
    }
  },
  computed: {
    assignedTaskTableHeader () {
      const tableHeader = [
        { text: 'Assigned At', value: 'created_at', align: 'left' },
        { text: 'Deadline', value: 'deadline', align: 'left' },
        { text: 'Stats', value: '', align: 'center' },
        { text: '', value: '', align: 'center' },
      ]
      return tableHeader
    }
  },
  mounted () {
    this.refresh(true)
  },
  methods: {
    getDeadlineClass (advocacyMessage) {
      const today = moment().format('YYYY-MM-DD')
      if (advocacyMessage.deadline === today) return 'warning--text'
      return advocacyMessage.deadline <  today ? 'error--text' : 'success--text'
    },
    async refresh (needToggle) {
      this.isLoading = true
      this.assignedTaskList = (await this.getMemberAdvocacyMessages(this.userId)).data
      if (!this.assignedTaskList.length) {
        if (this.isKP) {
          this.$router.replace({ name: 'my-tasks-page' })
        } else {
          AppHelper.logout()
        }
      }
      if (needToggle) {
        const incompleteTaskList = this.assignedTaskList.filter(task => task.sent_message_count !== task.assigned_legislator_count)
        if (incompleteTaskList.length === 1) {
          this.$refs.replyMessageModal.toggle(incompleteTaskList[0])
        }
      }
      this.isLoading = false  
    }
  }
}
</script>

<style lang="scss" scoped>
td {
  padding: 4px;
}
</style>

<style lang="scss">
.inactive {
  background-color: rgb(235, 235, 228);
}
</style>
