<template>
  <div class="fill-width">
    <v-card>
      <v-card-title class="pb-0">
        <h1>KP Assignments</h1>
        <assignments-page-help-modal></assignments-page-help-modal>
        <v-spacer></v-spacer>
        <v-btn icon color="primary" :loading="isLoading" @click="refresh">
          <v-icon dark>refresh</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-title class="pt-0 align-end">
        <v-select
          label="Client"
          hide-details
          class="client-selector"
          item-text="assoc_abbrev"
          item-value="id"
          :items="clientList"
          v-model="selectedClientId"
          @change="onSelectClient"
          v-if="isSuperAdmin">
        </v-select>
        <v-select
          label="Region"
          hide-details
          class="region-selector ml-2"
          :items="regionList"
          v-model="selectedRegion"
          v-if="selectedClient.uses_regions">
        </v-select>
        <v-checkbox label="Hide Assigned" hide-details class="ml-2" v-model="isAssignedHidden"></v-checkbox>
        <v-spacer></v-spacer>
        <v-text-field append-icon="search" label="Search" single-line clearable hide-details class="search-input" v-model="search"></v-text-field>
      </v-card-title>
      <v-data-table
        :loading="isLoading"
        class="elevation-1"
        :pagination.sync="pagination"
        :headers="legislatorTableHeader"
        :items="filteredLegislatorList"
        :custom-filter="customFilter"
        :search="search">
        <template v-slot:items="props">
          <tr>
            <td class="justify-center layout">
              <v-btn icon class="mx-0" @click.stop="$refs.assignmentModal.toggle(props.item)">
                <v-icon color="primary">group_add</v-icon>
              </v-btn>
            </td>
            <td>
              <v-layout align-center>
                <!-- AP copied layout from legislator page 6.28.2019 -->
                <img class="ma-1" :src="getThumbImage(props.item.official_image)" alt="" height="60" @click="$refs.legislatorDetailModal.toggle(props.item)" v-if="props.item.official_image" />
                <a class="ml-2 mr-1 no-line-break" @click="$refs.legislatorDetailModal.toggle(props.item)">{{ props.item.nickname }} {{ props.item.lastname }}</a>
                <v-tooltip bottom v-if="!!props.item.official_phone">
                  <template v-slot:activator="{ on }">
                    <a :href="'tel:' + props.item.official_phone" v-on="on">
                      <v-icon color="primary" size="16" class="mx-2">phone</v-icon>
                    </a>
                  </template>
                  <span>{{ props.item.official_phone }}</span>
                </v-tooltip>
                <v-tooltip bottom v-if="!!props.item.official_email">
                  <template v-slot:activator="{ on }">
                    <a :href="'mailto:' + props.item.official_email" v-on="on">
                      <v-icon color="primary" size="16" class="mx-2">email</v-icon>
                    </a>
                  </template>
                  <span>{{ props.item.official_email }}</span>
                </v-tooltip>
              </v-layout>
            </td>
            <td class="text-xs-center no-line-break" v-if="!isSuperAdmin && userClient.uses_regions">
              {{ props.item.leg_region | integerFormatter('Region ', 2, '0') }}
            </td>
            <td class="text-xs-center">
              <v-btn flat small @click="openDistrictModal(props.item.district ? props.item.district.district : '')">
                <span class="clickable-cell" >
                {{ props.item.district ? props.item.district.district : '' }}
                </span>
              </v-btn>
            </td>
            <td class="text-xs-center" v-for="legislatorCommittee in legislatorCommitteeList">
              <v-layout align-center column>
                <!--
                <v-tooltip bottom v-for="membership in props.item['committee_' + legislatorCommittee.id]" :key="Math.random()">
                  <template v-slot:activator="{ on }">
                    <v-layout align-center v-on="on">
                      <span v-if="membership.membershipAbbr !== '--'">{{ membership.membershipAbbr }}</span>
                    </v-layout>
                  </template>
                  <span>{{ membership.membership }}</span>
                </v-tooltip>
                -->
                <div v-for="membership in props.item['committee_' + legislatorCommittee.id]" :key="Math.random()" v-if="membership.membershipAbbr !== '---'">
                  {{ membership.membershipAbbr }}
                </div>
              </v-layout>
            </td>
            <td class="text-xs-center" v-for="kp in props.item.kps">
              <v-layout align-center v-if="!!kp">
                <span class="no-line-break">{{ getMemberById(kp.member_id).nickname }} {{ getMemberById(kp.member_id).lastname }}</span>
                <v-tooltip bottom v-if="!!kp.notes" max-width="450">
                  <template v-slot:activator="{ on }">
                    <v-icon class="ml-1" v-on="on">note</v-icon>
                  </template>
                  <span>{{ kp.notes }}</span>
                </v-tooltip>
                <v-tooltip bottom v-for="(relationship, index) in kp.kp_relationship" :key="index" max-width="450">
                  <template v-slot:activator="{ on }">
                    <v-avatar size="20" :color="kpRelationshipList[relationship].color" class="ml-1" v-on="on">
                      <small class="white--text">{{ relationship }}</small>
                    </v-avatar>
                  </template>
                  <span>{{ kpRelationshipList[relationship].description }}</span>
                </v-tooltip>
              </v-layout>
            </td>
          </tr>
        </template>
        <template v-slot:no-data>
          <p class="text-xs-center mb-0">No legislator registered yet.</p>
        </template>
      </v-data-table>
    </v-card>

    <assignment-modal ref="assignmentModal" :client="selectedClient" :member-list="memberList" :refresh="refresh"></assignment-modal>
    <legislator-detail-modal ref="legislatorDetailModal"></legislator-detail-modal>
    <district-modal v-if="districtModalEnabled"></district-modal>
  </div>
</template>

<script>
import ClientService from '../services/ClientService'
import LegislatorService from '../services/LegislatorService'
import StateService from '../services/StateService'
import AssignmentsPageHelpModal from '../components/HelpModals/AssignmentsPageHelpModal'
import AssignmentModal from '../components/AssignmentsPage/AssignmentModal.vue'
import LegislatorDetailModal from '../components/LegislatorsPage/LegislatorDetailModal.vue'
import DistrictService from '../services/DistrictService'
import DistrictModal from '../components/District/DistrictModal'

export default {
  name: 'AssignmentsPage',
  mixins: [ClientService, LegislatorService, StateService, DistrictService],
  components: {
    DistrictModal,
    AssignmentsPageHelpModal,
    AssignmentModal,
    LegislatorDetailModal,
  },
  data () {
    return {
      isLoading: false,
      isAssignedHidden: false,
      search: '',
      selectedClientId: null,
      selectedRegion: 'Show All',
      clientList: [],
      committeeList: [],
      memberList: [],
      legislatorList: [],
      pagination: {
        rowsPerPage: 10,
      }
    }
  },
  computed: {
    legislatorTableHeader () {
      const tableHeader = [
        { text: '', value: '', align: 'center', sortable: false },
        { text: 'Legislator', value: 'lastname', align: 'left' },
        { text: 'Region', value: 'leg_region', align: 'center' },
        { text: 'District', value: 'district.district', align: 'center' },
        { text: 'KP1', value: '', align: 'center' },
        { text: 'KP2', value: '', align: 'center' },
        { text: 'KP3', value: '', align: 'center' },
        { text: 'KP4', value: '', align: 'center' },
        { text: 'KP5', value: '', align: 'center' },
      ]
      const committeeList = []
      this.legislatorCommitteeList.forEach((legislatorCommittee) => {
        committeeList.push({
          text: `${legislatorCommittee.shortname} (${this.committeeTypeList[legislatorCommittee.type]})`,
          value: `committee_${legislatorCommittee.id}_text`,
          align: 'center',
        })
      })
      tableHeader.splice(4, 0, ...committeeList)
      return tableHeader.slice(0, 4 + committeeList.length + (this.selectedClient.uses_kps || 0))
    },
    legislatorCommitteeList () {
      if (this.isSuperAdmin) return []
      if (this.committeeList.length === 0) return []
      const houseCommittees = this.userClient.state.house_districts ? (this.userClient.house_committees || []) : []
      const senateCommittees = this.userClient.state.sen_districts ? (this.userClient.senate_committees || []) : []
      const jointCommittees = this.userClient.joint_committees || []
      return [...houseCommittees, ...senateCommittees, ...jointCommittees].map((committeeId) => this.committeeList.find(committee => committee.id === committeeId))
    },
    committeeTypeList () {
      return [
        'H',
        'S',
        'J',
      ]
    },
    membershipAbbrList () {
      return [
        '---',
        'Comm',
        'Comm, Vice',
        'Comm, Chair',
        'Sub',
        'Sub, Vice',
        'Sub, Chair',
      ]
    },
    membershipList () {
      return [
        'No',
        'Full Committee, Member Only',
        'Full Committee, Vice Chair',
        'Full Committee, Chair',
        'Subcommittee, Member Only',
        'Subcommittee, Vice Chair',
        'Subcommittee, Chair',
      ]
    },
    kpRelationshipList () {
      return {
        N: {
          description: 'None',
          color: 'error',
        },
        A: {
          description: 'Acquaintance',
          color: 'warning',
        },
        CC: {
          description: 'Can Call',
          color: 'warning',
        },
        FM: {
          description: 'Family member has a relationship with the legislator',
          color: 'blue',
        },
        $: {
          description: 'Gave money to the legislator',
          color: 'success',
        },
        P: {
          description: 'Legislator is a patient of the KP',
          color: 'success',
        },
        PF: {
          description: 'Legislator is a personal friend of the KP',
          color: 'success',
        },
        WC: {
          description: 'KP worked in legislator’s campaign',
          color: 'success',
        },
        VC: {
          description: 'The KP is very close with the legislator',
          color: 'success',
        },
      }
    },
    selectedClient () {
      if (!this.isSuperAdmin) {
        return this.userClient
      }
      return this.clientList.find(client => client.id === this.selectedClientId) || {}
    },
    filteredLegislatorList () {
      return this.legislatorList.filter((legislator) => {
        let flag = !legislator.abdicated_at
        flag &= (!this.isAssignedHidden || (this.isAssignedHidden && !legislator.kps[0]))
        if (this.selectedClient.uses_regions && (this.selectedRegion && this.selectedRegion !== 'Show All')) {
          flag &= (legislator.leg_region == this.selectedRegion)
        }
        return flag
      })
    },
    regionList () {
      return ['Show All', ..._.range(1, this.selectedClient.region_count + 1)]
    }
  },
  async mounted () {
    this.selectedClientId = this.userClientId
    if (this.isSuperAdmin) {
      this.clientList = (await this.getClients()).data
    }
    this.refresh()
  },
  methods: {
    async refresh () {
      if (!this.selectedClientId) return
      this.isLoading = true
      this.committeeList = (await this.getStateCommittees(this.selectedClient.state_id)).data
      this.memberList = (await this.getClientMembers(this.selectedClientId)).data
      this.legislatorList = (await this.getClientAssignments(this.selectedClientId)).data
      this.legislatorList.forEach((legislator) => {
        legislator.committees = legislator.committees || []
        legislator.committees = legislator.committees.map((committee) => ({
          id: committee.id,
          shortname: committee.shortname,
          fullname: committee.fullname,
          memberships: JSON.parse(committee.pivot.memberships),
        }))
        this.legislatorCommitteeList.forEach((legislatorCommittee) => {
          legislator[`committee_${legislatorCommittee.id}`] = this.getMembershipText(legislatorCommittee.id, legislator.committees)
          legislator[`committee_${legislatorCommittee.id}_text`] = this.getMembershipText(legislatorCommittee.id, legislator.committees)
            .map(membership => membership.membershipAbbr)
            .join('')
        })
      })
      this.isLoading = false
    },
    getMembershipText (committeeId, committees) {
      const committee = committees.find(committee => committee.id === committeeId)
      if (!committee) {
        return [{
          membership: 'No',
          membershipAbbr: '---',
        }]
      }
      const memberships = [...committee.memberships]
      return memberships.sort()
        .map(membership => ({
          membership: this.membershipList[membership],
          membershipAbbr: this.membershipAbbrList[membership],
        }))
    },
    customFilter (items, search, filter) {
      search = search.toString().toLowerCase()
      return items.filter((row) => {
        let flag = false
        flag |= filter(row.fullname, search)
        for (let i = 0; i < 2; i ++) {
          if (row.kps[i]) {
            const kp = this.getMemberById(row.kps[i].member_id)
            flag |= filter(`${kp.nickname} ${kp.lastname}`, search)
          }
        }
        return flag
      })
    },
    getMemberById (memberId) {
      return this.memberList.find(member => member.id === memberId)
    },
    onSelectClient () {
      this.selectedRegion = 'Show All'
      this.refresh()
    }
  }
}
</script>

<style lang="scss" scoped>
.client-selector,
.region-selector {
  max-width: 200px;
}
td {
  padding: 4px;
  white-space: nowrap;
}
.avatar {
  overflow: hidden;
  border-radius: 50%;
  cursor: pointer;
}

.clickable-cell {
  text-decoration: underline;
  font-weight: normal;
  font-size: .9em;
  color: #2196F3;
  cursor: pointer
}
</style>
