<template>
  <div class="fill-width">
    <v-card>
      <v-card-title>
        <h1>Clients</h1>
        <v-spacer></v-spacer>
        <v-btn color="warning" @click="$refs.newClientModal.toggle()">New Client</v-btn>
      </v-card-title>
      <v-data-table :loading="isLoading" class="elevation-1" :pagination.sync="pagination" :headers="clientTableHeader" :items="clientList">
        <template v-slot:items="props">
          <td class="justify-center layout">
            <v-btn icon class="mx-0" @click="onEditClient(props.item)">
              <v-icon color="primary">edit</v-icon>
            </v-btn>
            <v-btn icon class="mx-0" @click="onDisableClient(props.item.id)" v-if="props.item.active">
              <v-icon color="pink">block</v-icon>
            </v-btn>
            <v-btn icon class="mx-0" @click="onEnableClient(props.item.id)" v-else>
              <v-icon color="success">check_circle</v-icon>
            </v-btn>
          </td>
          <td class="text-xs-center">
            <v-icon color="success" v-if="props.item.active">check_circle</v-icon>
            <v-icon color="error" v-else>cancel</v-icon>
          </td>
          <td class="text-xs-center">{{ props.item.association }}</td>
          <td class="text-xs-center">{{ props.item.assoc_abbrev }}</td>
          <td class="text-xs-center">{{ props.item.state ? props.item.state.state : '' }}</td>
          <td class="text-xs-center">
            <v-icon color="success" v-if="props.item.uses_regions">check_circle</v-icon>
            <v-icon color="error" v-else>cancel</v-icon>
          </td>
          <td class="text-xs-center">{{ props.item.uses_kps }}</td>
        </template>
        <template v-slot:no-data>
          <p class="text-xs-center mb-0">No client registered yet.</p>
        </template>
      </v-data-table>
    </v-card>

    <edit-client-modal ref="editClientModal" :state-list="stateList" :refresh="refresh"></edit-client-modal>
    <new-client-modal ref="newClientModal" :state-list="stateList" :refresh="refresh"></new-client-modal>
  </div>
</template>

<script>
import swal from 'sweetalert2'
import ClientService from '../services/ClientService'
import StateService from '../services/StateService'
import EditClientModal from '../components/ClientsPage/EditClientModal.vue'
import NewClientModal from '../components/ClientsPage/NewClientModal.vue'

export default {
  name: 'ClientsPage',
  mixins: [ClientService, StateService],
  components: {
    EditClientModal,
    NewClientModal,
  },
  data () {
    return {
      isLoading: true,
      stateList: [],
      clientList: [],
      pagination: {
        rowsPerPage: 10
      }
    }
  },
  computed: {
    clientTableHeader () {
      return [
        { text: '', value: '', align: 'center', sortable: false },
        { text: 'Active', value: 'active', align: 'center' },
        { text: 'Association', value: 'association', align: 'center' },
        { text: 'Association Abbr', value: 'assoc_abbrev', align: 'center' },
        { text: 'State', value: 'state.state', align: 'center' },
        { text: 'Uses regions?', value: 'uses_regions', align: 'center' },
        { text: 'How many KPs?', value: 'uses_kps', align: 'center' },
      ]
    }
  },
  async mounted () {
    this.stateList = (await this.getStates()).data
    this.refresh()
  },
  methods: {
    async refresh () {
      this.isLoading = true
      this.clientList = (await this.getClients()).data
      this.isLoading = false
    },
    onDisableClient (clientId) {
      swal({
        title: 'Are you sure to disable this client?',
        type: 'question',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes',
        reverseButtons: true,
      }).then((result) => {
        if (result.value) {
          this.disableClient(clientId)
            .then((res) => {
              toastr.clear()
              toastr.success('Client has been disabled.', 'Success!')
              this.refresh()
            })
            .catch((err) => {
              toastr.clear()
              toastr.error('Something went wrong.', 'Error!')
            })
        }
      })
    },
    onEnableClient (clientId) {
      swal({
        title: 'Are you sure to enable this client?',
        type: 'question',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes',
        reverseButtons: true,
      }).then((result) => {
        if (result.value) {
          this.enableClient(clientId)
            .then((res) => {
              toastr.clear()
              toastr.success('Client has been enabled.', 'Success!')
              this.refresh()
            })
            .catch((err) => {
              toastr.clear()
              toastr.error('Something went wrong.', 'Error!')
            })
        }
      })
    },
    onEditClient (client) {
      this.$refs.editClientModal.toggle(client)
    }
  }
}
</script>

<style lang="scss" scoped>
</style>
