<template>
  <div class="fill-width">
    <v-card>
      <v-card-title>
        <h1>Committees</h1>
        <v-spacer></v-spacer>
        <v-btn color="warning" @click="$refs.newCommitteeModal.toggle()" :disabled="!selectedStateId">New Committee</v-btn>
      </v-card-title>
      <v-card-title class="pt-0 align-end">
        <v-select
          label="State"
          hide-details
          class="state-selector mr-2"
          item-text="state"
          item-value="id"
          :items="stateList"
          v-model="selectedStateId"
          @input="refresh"
          v-if="isSuperAdmin"
        >
        </v-select>
        <v-checkbox label="Has Joint Committees?" hide-details @change="onUpdateState" v-model="hasJointCommitttees" v-if="this.selectedStateId"></v-checkbox>
        <v-spacer></v-spacer>
        <v-text-field append-icon="search" label="Search" single-line hide-details class="search-input" v-model="search"></v-text-field>
      </v-card-title>
      <v-data-table :loading="isLoading" class="elevation-1" :pagination.sync="pagination" :headers="committeeTableHeader" :items="committeeList" :search="search">
        <template v-slot:items="props">
          <td class="justify-center layout">
            <v-btn icon class="mx-0" @click="$refs.editCommitteeModal.toggle(props.item)">
              <v-icon color="primary">edit</v-icon>
            </v-btn>
            <v-btn icon class="mx-0" @click="onDeleteCommittee(props.item.id)">
              <v-icon color="pink">delete</v-icon>
            </v-btn>
          </td>
          <td class="text-xs-center">
            {{ committeeTypeList[props.item.type] }}
          </td>
          <td class="text-xs-center">{{ props.item.shortname }}</td>
          <td class="text-xs-center">{{ props.item.fullname }}</td>
        </template>
        <template v-slot:no-data>
          <p class="text-xs-center mb-0">No committee registered yet.</p>
        </template>
      </v-data-table>
    </v-card>

    <edit-committee-modal ref="editCommitteeModal" :state-list="stateList" :refresh="refresh"></edit-committee-modal>
    <new-committee-modal ref="newCommitteeModal" :state-list="stateList" :selected-state-id="selectedStateId" :refresh="refresh"></new-committee-modal>
  </div>
</template>

<script>
import swal from 'sweetalert2'
import CommitteeService from '../services/CommitteeService'
import StateService from '../services/StateService'
import EditCommitteeModal from '../components/CommitteesPage/EditCommitteeModal.vue'
import NewCommitteeModal from '../components/CommitteesPage/NewCommitteeModal.vue'

export default {
  name: 'CommitteesPage',
  mixins: [CommitteeService, StateService],
  components: {
    EditCommitteeModal,
    NewCommitteeModal,
  },
  data () {
    return {
      isLoading: false,
      hasJointCommitttees: false,
      search: '',
      stateList: [],
      selectedStateId: null,
      committeeList: [],
      pagination: {
        rowsPerPage: 10
      }
    }
  },
  computed: {
    committeeTableHeader () {
      return [
        { text: '', value: '', align: 'center', sortable: false },
        { text: 'Type', value: 'type', align: 'center' },
        { text: 'Short Name', value: 'shortname', align: 'center' },
        { text: 'Full Name', value: 'fullname', align: 'center' },
      ]
    },
    committeeTypeList () {
      return [
        'House',
        'Senate',
        'Joint',
      ]
    },
  },
  async mounted () {
    this.stateList = (await this.getStates()).data
    this.refresh()
  },
  methods: {
    async refresh () {
      if (!this.selectedStateId) return
      this.hasJointCommitttees = this.stateList.find(state => state.id === this.selectedStateId).has_joint_committees
      this.isLoading = true
      this.committeeList = (await this.getStateCommittees(this.selectedStateId)).data
      this.isLoading = false
    },
    async onUpdateState () {
      const payload = {
        has_joint_committees: this.hasJointCommitttees
      }
      await this.updateState(this.selectedStateId, payload)
      this.stateList = (await this.getStates()).data
      toastr.success('Committee has been updated.', 'Success!')
    },
    onDeleteCommittee (committeeId) {
      swal({
        title: 'Are you sure to delete this committee?',
        type: 'question',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes',
        reverseButtons: true,
      }).then((result) => {
        if (result.value) {
          this.deleteCommittee(committeeId)
            .then((res) => {
              toastr.clear()
              toastr.success('Committee has been deleted.', 'Success!')
              this.refresh()
            })
            .catch((err) => {
              this.handleError(err, true)
            })
        }
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.state-selector {
  max-width: 200px;
}
</style>
