<template>
  <div class="fill-width">
    <v-card>
      <v-card-title align-start class="pb-0">
        <div>
          <v-layout align-center>
            <h1>{{ pageTitle }}</h1>
            <district-lookup-page-help-modal></district-lookup-page-help-modal>
          </v-layout>
          <div v-if="formalAddress">( {{ formalAddress }} )</div>
        </div>
        <v-spacer></v-spacer>
        <v-btn
          color="warning"
          @click="$refs.volunteerRequestEmailModal.toggle(selectedClient, selectedDistrict, districtLegislator, eligibleMemberList)"
          :disabled="!eligibleMemberList.length"
          v-if="isSuperAdmin || isVIP"
        >
          Sample Volunteer Request
        </v-btn>
        <v-btn
          color="warning"
          @click="$refs.donationRequestEmailModal.toggle(selectedClient, selectedDistrict, districtLegislator, filteredMemberList)"
          :disabled="!filteredMemberList.length"
          v-if="isSuperAdmin || isVIP || isCoordinator || isKP"
        >
          Sample Donation Request
        </v-btn>
      </v-card-title>
      <v-card-title class="pt-0 align-end">
        <v-select
          label="Client"
          hide-details
          class="client-selector"
          item-text="assoc_abbrev"
          item-value="id"
          :items="clientList"
          v-model="selectedClientId"
          @input="refreshDistrictList"
          v-if="isSuperAdmin">
        </v-select>
        <v-autocomplete
          label="District"
          hide-details
          class="district-selector"
          item-text="alias_district"
          item-value="district"
          :clearable=true
          :items="districtList"
          v-model="selectedDistrict"
          @input="refreshMemberList"
          v-if="selectedClient && (isSuperAdmin || isVIP || isCoordinator)">
        </v-autocomplete>
        <v-spacer></v-spacer>
        <v-text-field append-icon="search" label="Search" single-line clearable hide-details class="search-input" v-model="search"></v-text-field>
      </v-card-title>
      <v-data-table
        :loading="isLoading"
        class="elevation-1"
        :pagination.sync="pagination"
        :headers="memberTableHeader"
        :items="filteredMemberList"
        :custom-filter="customFilter"
        :search="search">
        <template v-slot:items="props">
          <tr :class="{'inactive': !props.item.active}">
            <td>
              <v-layout align-center>
                <span class="mr-1 no-line-break">{{ props.item.nickname }} {{ props.item.lastname }}</span>
                <v-tooltip bottom v-if="!!props.item.cell">
                  <template v-slot:activator="{ on }">
                    <a :href="'tel:' + props.item.cell" v-on="on">
                      <v-icon :color="isBad(props.item.cell) ? 'error' : 'primary'" size="16" class="mx-1">phone_iphone</v-icon>
                    </a>
                  </template>
                  <span>{{ props.item.cell }}</span>
                </v-tooltip>
                <v-tooltip bottom v-if="!!props.item.email">
                  <template v-slot:activator="{ on }">
                    <a :href="'mailto:' + props.item.email" v-on="on">
                      <v-icon :color="isBad(props.item.email) ? 'error' : 'primary'" size="16" class="mx-1">email</v-icon>
                    </a>
                  </template>
                  <span>{{ props.item.email }}</span>
                </v-tooltip>
                <v-tooltip bottom v-if="!!props.item.notes" max-width="450">
                  <template v-slot:activator="{ on }">
                    <v-icon size="16" color="primary" class="mx-1" v-on="on">note</v-icon>
                  </template>
                  <span>{{ props.item.notes }}</span>
                </v-tooltip>
              </v-layout>
            </td>
            <td class="text-xs-center" v-if="isSuperAdmin || isVIP || isCoordinator">
              <v-icon color="success" v-if="props.item.eligible">check_circle</v-icon>
              <v-icon color="error" v-else>cancel</v-icon>
            </td>
            <td class="text-xs-center" :class="{'matched': props.item.home_house_district === selectedDistrict}" v-if="isHouseDistrictsRequired">
              {{ props.item.home_house_district }}
            </td>
            <td class="text-xs-center" :class="{'matched': props.item.home_sen_district === selectedDistrict}">
              {{ props.item.home_sen_district }}
            </td>
            <td class="text-xs-center" :class="{'matched': props.item.work_house_district === selectedDistrict}" v-if="isHouseDistrictsRequired">
              {{ props.item.work_house_district }}
            </td>
            <td class="text-xs-center" :class="{'matched': props.item.work_sen_district === selectedDistrict}">
              {{ props.item.work_sen_district }}
            </td>
            <td class="text-xs-center" :class="{'matched': props.item.work2_house_district === selectedDistrict}" v-if="isHouseDistrictsRequired && is2ndWorkDistrictRequired">
              {{ props.item.work2_house_district }}
            </td>
            <td class="text-xs-center" :class="{'matched': props.item.work2_sen_district === selectedDistrict}" v-if="is2ndWorkDistrictRequired">
              {{ props.item.work2_sen_district }}
            </td>
            <td class="text-xs-center" :class="{'matched': props.item.work3_house_district === selectedDistrict}" v-if="isHouseDistrictsRequired && is3rdWorkDistrictRequired">
              {{ props.item.work3_house_district }}
            </td>
            <td class="text-xs-center" :class="{'matched': props.item.work3_sen_district === selectedDistrict}" v-if="is3rdWorkDistrictRequired">
              {{ props.item.work3_sen_district }}
            </td>
            <td class="text-xs-center" :class="{'matched': props.item.work4_house_district === selectedDistrict}" v-if="isHouseDistrictsRequired && is4thWorkDistrictRequired">
              {{ props.item.work4_house_district }}
            </td>
            <td class="text-xs-center" :class="{'matched': props.item.work4_sen_district === selectedDistrict}" v-if="is4thWorkDistrictRequired">
              {{ props.item.work4_sen_district }}
            </td>
          </tr>
        </template>
        <template v-slot:no-data>
          <p class="text-xs-center mb-0">No member filtered.</p>
        </template>
      </v-data-table>
    </v-card>

    <donation-request-email-modal ref="donationRequestEmailModal"></donation-request-email-modal>
    <volunteer-request-email-modal ref="volunteerRequestEmailModal"></volunteer-request-email-modal>
  </div>
</template>

<script>
import ClientService from '../services/ClientService'
import MemberService from '../services/MemberService'
import DistrictLookupPageHelpModal from '../components/HelpModals/DistrictLookupPageHelpModal'
import DonationRequestEmailModal from '../components/DistrictLookupPage/DonationRequestEmailModal.vue'
import VolunteerRequestEmailModal from '../components/DistrictLookupPage/VolunteerRequestEmailModal.vue'

export default {
  name: 'DistrictLookupPage',
  mixins: [ClientService, MemberService],
  components: {
    DistrictLookupPageHelpModal,
    DonationRequestEmailModal,
    VolunteerRequestEmailModal,
  },
  data () {
    return {
      isLoading: false,
      search: '',
      selectedClientId: null,
      selectedDistrict: '',
      districtLegislator: {},
      clientList: [],
      districtList: [],
      memberList: [],
      pagination: {
        rowsPerPage: -1,
      }
    }
  },
  computed: {
    pageTitle () {
      if (!this.selectedDistrict || !this.selectedClient) return 'District Lookup'
      return `${this.selectedClient.assoc_abbrev} Member Constituents of District ${this.selectedDistrict}`
    },
    isHouseDistrictsRequired () {
      return this.selectedClient && this.selectedClient.state.house_districts
    },
    is2ndWorkDistrictRequired () {
      return this.selectedClient && this.selectedClient.uses_2nd_work
    },
    is3rdWorkDistrictRequired () {
      return this.selectedClient && this.selectedClient.uses_3rd_work
    },
    is4thWorkDistrictRequired () {
      return this.selectedClient && this.selectedClient.uses_4th_work
    },
    memberTableHeader () {
      let tableHeader = [
        { text: 'Member', value: 'lastname', align: 'left' },
        { text: 'KP Eligible?', value: 'eligible', align: 'center' },
        { text: 'HHD', value: 'home_house_district', align: 'center' },
        { text: 'HSD', value: 'home_sen_district', align: 'center' },
        { text: 'WHD', value: 'work_house_district', align: 'center' },
        { text: 'WSD', value: 'work_sen_district', align: 'center' },
        { text: 'W2HD', value: 'work2_house_district', align: 'center' },
        { text: 'W2SD', value: 'work2_sen_district', align: 'center' },
        { text: 'W3HD', value: 'work3_house_district', align: 'center' },
        { text: 'W3SD', value: 'work3_sen_district', align: 'center' },
        { text: 'W4HD', value: 'work4_house_district', align: 'center' },
        { text: 'W4SD', value: 'work4_sen_district', align: 'center' },
      ]
      let hiddenColumns = []
      if (this.isKP) {
        hiddenColumns.push('KP Eligible?')
      }
      if (!this.isHouseDistrictsRequired) {
        hiddenColumns.push('HHD', 'WHD', 'W2HD', 'W3HD', 'W4HD')
      }
      if (!this.is2ndWorkDistrictRequired) {
        hiddenColumns.push('W2HD', 'W2SD')
      }
      if (!this.is3rdWorkDistrictRequired) {
        hiddenColumns.push('W3HD', 'W3SD')
      }
      if (!this.is4thWorkDistrictRequired) {
        hiddenColumns.push('W4HD', 'W4SD')
      }
      tableHeader = tableHeader.filter(header => !hiddenColumns.includes(header.text))
      return tableHeader
    },
    filteredMemberList () {
      return this.memberList.filter(member => member.active)
    },
    eligibleMemberList () {
      return this.filteredMemberList.filter(member => !!member.eligible)
    },
    selectedClient () {
      if (this.isSuperAdmin) {
        if (!this.selectedClientId) return null
        return this.clientList.find(client => client.id === this.selectedClientId)
      }
      return this.userClient
    },
    formalAddress () {
      if (!this.districtLegislator.fullname) return null
      let formalAddress = ''
      if (this.selectedDistrict[0] === 'H') {
        formalAddress = `${this.selectedClient.formal_house} `
      } else if (this.selectedDistrict[0] === 'S') {
        formalAddress = `${this.selectedClient.formal_senate} `
      }
      formalAddress = `${formalAddress}${this.districtLegislator.fullname}`
      return formalAddress
    },
  },
  async mounted () {
    this.selectedClientId = this.userClient ? this.userClient.id : null
    this.selectedDistrict = this.$route.query.district
    this.clientList = (await this.getClients()).data
    this.refreshDistrictList()
    this.refreshMemberList()
  },
  methods: {
    async refreshDistrictList () {
      if (!this.selectedClient) return
      this.isLoading = true
      this.memberList = []
      this.isLoading = false
      this.districtList = (await this.getClientDistricts(this.selectedClient.id)).data
        .filter(district => /^(H|S)\d+$/.test(district.district))
    },
    async refreshMemberList () {
      if (!this.selectedClient || !this.selectedDistrict) return
      this.isLoading = true
      const res = (await this.searchMembersByDistrict({ client_id: this.selectedClient.id, district: this.selectedDistrict })).data
      this.districtLegislator = res.district_legislator || {}
      this.memberList = res.member_list
      this.isLoading = false
    },
    customFilter (items, search, filter) {
      search = search.toString().toLowerCase()
      return items.filter((row) => {
        const fullname1 = `${row.firstname} ${row.lastname}`.toLowerCase()
        const fullname2 = `${row.nickname} ${row.lastname}`.toLowerCase()
        return filter(fullname1, search) || filter(fullname2, search)
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.client-selector {
  margin-right: 16px;
  max-width: 200px;
}
.district-selector {
  max-width: 200px;
}
td {
  padding: 4px;
}
</style>

<style lang="scss">
.matched {
  background-color: rgba(34, 103, 192, 0.2);
  //border: 1px solid #1867c0;
}
</style>
