<template>
  <div class="fill-width">
    <v-card>
      <v-card-title class="pb-0">
        <h1>Find New Legislators</h1>
        <v-spacer></v-spacer>
        <v-btn color="primary" :loading="isImporting" @click="onImportLegislatorsFromGoogle">
          Import Legislators From Google
        </v-btn>
        <v-btn color="primary" :loading="isLoading" :disabled="!selectedStateId" @click="refresh">
          Find New Legislators
        </v-btn>
        <v-btn color="primary" :disabled="selectedIndices.length === 0" @click="onReplaceWithNewLegislators">
          Replace
        </v-btn>
        <v-btn color="primary" :disabled="selectedIndices.length === 0" @click="onIgnoreLegislators">
          Ignore
        </v-btn>
      </v-card-title>
      <v-card-title class="pt-0 align-end">
        <v-select
          label="State"
          hide-details
          class="state-selector mr-2"
          item-text="state"
          item-value="id"
          :items="stateList"
          v-model="selectedStateId"
          @input="refresh"
          v-if="isSuperAdmin"
        >
        </v-select>
      </v-card-title>
      <v-data-table
        :loading="isLoading"
        class="elevation-1"
        :pagination.sync="pagination"
        :headers="legislatorTableHeader"
        :items="legislatorList"
      >
        <template v-slot:items="props">
          <tr>
            <td>
              <v-checkbox label="" v-model="isSelected[props.index]"></v-checkbox>
            </td>
            <td>
              <v-layout align-center v-if="props.item.old">
                <div class="mr-1 no-line-break error--text">{{ props.item.old.nickname }} {{ props.item.old.lastname }}</div>
                <img class="avatar ml-1" :src="getThumbImage(props.item.old.official_image)" alt="" width="30" height="30" v-if="props.item.old.official_image" />
              </v-layout>
              <v-layout align-center>
                <div class="mr-1 no-line-break success--text">{{ props.item.new.nickname }} {{ props.item.new.lastname }}</div>
                <img class="avatar ml-1" :src="getThumbImage(props.item.new.official_image)" alt="" width="30" height="30" v-if="props.item.new.official_image" />
              </v-layout>
            </td>
            <td class="text-xs-center">
              <v-layout justify-center align-center class="error--text" v-if="props.item.old">{{ props.item.old.official_email }}</v-layout>
              <v-layout justify-center align-center class="success--text">{{ props.item.new.official_email }}</v-layout>
            </td>
            <td class="text-xs-center">
              {{ (props.item.old || props.item.new).district.ocd_id }}
            </td>
            <td class="text-xs-center">
              {{ props.item.old ? props.item.old.kp_count : 0 }}
            </td>
          </tr>
        </template>
        <template v-slot:no-data>
          <p class="text-xs-center mb-0">No legislator registered yet.</p>
        </template>
      </v-data-table>
    </v-card>
  </div>
</template>

<script>
import swal from 'sweetalert2'
import ClientService from '../services/ClientService'
import LegislatorService from '../services/LegislatorService'
import StateService from '../services/StateService'
import LegDataModal from '../components/LegislatorsPage/LegDataModal.vue'
import LegislatorDetailModal from '../components/LegislatorsPage/LegislatorDetailModal.vue'

export default {
  name: 'LegislatorsPage',
  mixins: [ClientService, LegislatorService, StateService],
  components: {
    LegDataModal,
    LegislatorDetailModal,
  },
  data () {
    return {
      isLoading: false,
      isImporting: false,
      isIgnoring: false,
      stateList: [],
      selectedStateId: null,
      legislatorList: [],
      isSelected: [],
      pagination: {
        rowsPerPage: 10,
      }
    }
  },
  computed: {
    legislatorTableHeader () {
      let tableHeader = [
        { text: '', value: '', align: 'left', sortable: false },
        { text: 'Name', value: '', align: 'left' },
        { text: 'Email', value: 'district.district', align: 'center' },
        { text: 'Division ID', value: 'party', align: 'center' },
        { text: '# of KPs', value: 'old.kp_count', align: 'center' },
      ]
      return tableHeader
    },
    partyColorList () {
      return {
        N: '#cccccc',
        R: '#f7d8de',
        D: '#cee4f3',
        I: '#f7f7dd',
        L: '#f3ecd4'
      }
    },
    selectedIndices () {
      const selectedIndices = []
      this.isSelected.forEach((isSelected, index) => {
        if (isSelected) {
          selectedIndices.push(index)
        }
      })
      return selectedIndices
    },
  },
  async mounted () {
    if (!this.isSuperAdmin) {
      this.selectedStateId = this.userClient.state_id
    }
    this.stateList = (await this.getStates()).data
    this.refresh()
  },
  methods: {
    async refresh () {
      if (!this.selectedStateId) return
      this.isLoading = true
      this.isSelected = []
      this.legislatorList = (await this.getNewStateLegislators(this.selectedStateId)).data
      this.isLoading = false
    },
    async onImportLegislatorsFromGoogle () {
      this.isImporting = true
      await this.importLegislatorsFromGoogle().data
      toastr.success('Legislators have been imported from google api.', 'Success!')
      this.isImporting = false
    },
    async onReplaceWithNewLegislators () {
      swal({
        title: 'Are you sure to replace these legislators with new ones?',
        type: 'question',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes',
        reverseButtons: true,
      }).then((result) => {
        if (result.value) {
          this.isReplacing = true
          const payload = {
            replaces: [],
          }
          this.selectedIndices.forEach((index) => {
            payload.replaces.push({
              old: this.legislatorList[index].old ? this.legislatorList[index].old.id : null,
              new: this.legislatorList[index].new ? this.legislatorList[index].new.id : null,
            })
          })
          this.replaceWithNewLegislators(payload)
            .then(() => {
              toastr.clear()
              toastr.success('Legislators have been updated.', 'Success!')
              this.refresh()
            })
            .catch((err) => {
              this.handleError(err)
            })
          this.isReplacing = false
        }
      })
    },
    async onIgnoreLegislators () {
      swal({
        title: 'Are you sure to ignore these legislators permanently?',
        type: 'question',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes',
        reverseButtons: true,
      }).then((result) => {
        if (result.value) {
          this.isIgnoring = true
          const payload = {
            state_id: this.selectedStateId,
            ignores: [],
          }
          this.selectedIndices.forEach((index) => {
            payload.ignores.push(this.legislatorList[index].new.official_email)
          })
          this.ignoreLegislators(payload)
            .then(() => {
              toastr.clear()
              toastr.success('Legislators have been ignored.', 'Success!')
              this.refresh()
            })
            .catch((err) => {
              this.handleError(err)
            })
          this.isIgnoring = false
        }
      })
    },
  }
}
</script>

<style lang="scss" scoped>
.state-selector {
  max-width: 200px;
}
td {
  padding-top: 5px !important;
  padding-bottom: 5px !important;

  & > div {
    height: 30px;
  }
}
.avatar {
  overflow: hidden;
  border-radius: 50%;
  cursor: pointer;
}
</style>

<style lang="scss">
.inactive {
  background-color: rgb(235, 235, 228);
}
</style>
