<template>
  <div class="fill-width">
    <v-card>
      <v-card-title>
        <h1></h1>
      </v-card-title>
      <v-card-title class="pt-0 align-end">
        <v-select
          label="Client"
          hide-details
          class="client-selector"
          item-text="assoc_abbrev"
          item-value="id"
          :items="clientList"
          v-model="selectedClientId"
          @input="refreshSessionList"
          v-if="isSuperAdmin">
        </v-select>
        <v-select
          label="Session"
          hide-details
          class="session-selector"
          item-text="name"
          item-value="id"
          :items="sessionList"
          v-model="selectedSessionId"
          @input="refreshPage">
        </v-select>
      </v-card-title>
      <v-card-title v-if="data">
        <!-- Task Count -->
        <v-card dark color="blue" class="mr-2 px-3 py-2">
          <v-layout align-center>
            <v-icon size="50">playlist_add_check</v-icon>
            <div class="text-xs-center">
              <h4>Session Tasks</h4>
              <h1>{{ data.task_count }}</h1>
            </div>
          </v-layout>
        </v-card>
        <!-- Upcoming Tasks -->
        <v-card dark color="light-blue" class="mr-2 px-3 py-2">
          <v-layout align-center>
            <v-icon size="50">vpn_key</v-icon>
            <div class="text-xs-center">
              <h4>Upcoming Tasks</h4>
              <h1>{{ data.upcoming_tasks }}</h1>
            </div>
          </v-layout>
        </v-card>
        <!-- Days Until Session End -->
        <v-card dark color="green" class="mr-2 px-3 py-2">
          <v-layout align-center>
            <v-icon size="50">date_range</v-icon>
            <div class="text-xs-center">
              <h4>Days Until Session End</h4>
              <h1>{{ data.days_left > 0 ? `${data.days_left} Days` : `${-data.days_left} Days` }}</h1>
            </div>
          </v-layout>
        </v-card>
        <!-- Assigned Legislators -->
        <v-card dark color="red" class="mr-2 px-3 py-2">
          <v-layout align-center>
            <v-icon size="50">supervised_user_circle</v-icon>
            <div class="text-xs-center">
              <h4>Assigned Legislators</h4>
              <h1>{{ data.assigned_legislators }}%</h1>
            </div>
          </v-layout>
        </v-card>
        <!-- Active KPs -->
        <v-card dark color="orange" class="mr-2 px-3 py-2">
          <v-layout align-center>
            <v-icon size="50">vpn_key</v-icon>
            <div class="text-xs-center">
              <h4>Active KPs</h4>
              <h1>{{ data.active_kps }}%</h1>
            </div>
          </v-layout>
        </v-card>
        <!-- Total Donations -->
        <v-card dark color="green" class="px-3 py-2">
          <v-layout align-center>
            <v-icon size="50">attach_money</v-icon>
            <div class="text-xs-center">
              <h4>Total Donations</h4>
              <h1>{{ data.donations }} USD</h1>
            </div>
          </v-layout>
        </v-card>
      </v-card-title>
      <v-card-text v-if="data">
        <v-layout wrap justify-center>
          <v-flex xs12 md6 lg3 class="mt-2 px-2">
            <v-card class="elevation-3 fill-height">
              <v-card-title><h3>{{ selectedClient.assoc_abbrev }} Membership</h3></v-card-title>
              <v-card-text>
                <v-card dark color="indigo">
                  <v-card-title align-center>
                    <div>Active {{ selectedClient.assoc_abbrev }} Members</div>
                    <v-spacer />
                    <div>{{ data.active_members }}</div>
                  </v-card-title>
                </v-card>
                <v-layout class="mt-3">
                  <v-flex xs6 class="px-1">
                    <v-card dark color="green">
                      <v-card-title align-center>
                        <div>Eligible</div>
                        <v-spacer />
                        <div>{{ data.eligible }}</div>
                      </v-card-title>
                    </v-card>
                  </v-flex>
                  <v-flex xs6 class="px-1">
                    <v-card dark color="red">
                      <v-card-title align-center>
                        <div>Opted-Out</div>
                        <v-spacer />
                        <div>{{ data.opted_out }}</div>
                      </v-card-title>
                    </v-card>
                  </v-flex>
                </v-layout>
                <v-card dark color="light-blue" class="mt-3">
                  <v-card-title align-center>
                    <div>Total Unique KPs</div>
                    <v-spacer />
                    <div>{{ data.total_kps }}</div>
                  </v-card-title>
                </v-card>
              </v-card-text>
            </v-card>
          </v-flex>
          <v-flex xs12 md6 lg3 class="mt-2 px-2">
            <v-card class="elevation-3 fill-height">
              <v-card-title><h3>{{ selectedClient.assoc_abbrev }} Legislators</h3></v-card-title>
              <v-card-text>
                <v-card dark color="indigo" class="mb-3">
                  <v-card-title align-center>
                    <div>Total Legislators</div>
                    <v-spacer />
                    <div>{{ data.leg }}</div>
                  </v-card-title>
                </v-card>
                <v-layout class="mb-3">
                  <v-flex xs6 class="px-1">
                    <v-card dark color="green">
                      <v-card-title align-center>
                        <div>House</div>
                        <v-spacer />
                        <div>{{ data.house }}</div>
                      </v-card-title>
                    </v-card>
                  </v-flex>
                  <v-flex xs6 class="px-1">
                    <v-card dark color="red">
                      <v-card-title align-center>
                        <div>Senate</div>
                        <v-spacer />
                        <div>{{ data.senate }}</div>
                      </v-card-title>
                    </v-card>
                  </v-flex>
                </v-layout>
                <doughnut-chart :chart-data="chartData" :options="chartOptions"></doughnut-chart>
              </v-card-text>
            </v-card>
          </v-flex>
          <v-flex xs12 md6 lg3 class="mt-2 px-2">
            <v-card class="elevation-3 fill-height">
              <v-card-title><h3>{{ selectedSession ? selectedSession.name : '' }} Tasks</h3></v-card-title>
              <v-data-table
                disable-initial-sort
                class="elevation-1"
                :headers="sessionTaskHistoryTableHeader"
                :items="data.session_tasks"
              >
                <template v-slot:items="props">
                  <td>
                    <v-layout align-center>
                      <span class="mr-2">{{ props.item.name }}</span>
                      <v-tooltip bottom>
                        <template v-slot:activator="{ on }">
                          <v-icon color="primary" v-on="on">info</v-icon>
                        </template>
                        <span>{{ props.item.tooltip }}</span>
                      </v-tooltip>
                    </v-layout>
                  </td>
                  <td>{{ props.item.deadline | dateFormatter }}</td>
                </template>
              </v-data-table>
            </v-card>
          </v-flex>
          <v-flex xs12 md6 lg3 class="mt-2 px-2">
            <v-card class="elevation-3 fill-height">
              <v-card-title><h3>Latest Completed Tasks</h3></v-card-title>
              <v-data-table
                disable-initial-sort
                class="elevation-1"
                :headers="latestCompletedTaskHistoryTableHeader"
                :items="data.latest_completed_tasks"
              >
                <template v-slot:items="props">
                  <td>{{ props.item.kp_name }}</td>
                  <td>{{ props.item.task_name }}</td>
                  <td>{{ props.item.updated_at | dateFormatter }}</td>
                </template>
              </v-data-table>
            </v-card>
          </v-flex>
        </v-layout>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
import ClientService from '../services/ClientService'
import SessionService from '../services/SessionService'
import DoughnutChart from '../components/App/DoughnutChart'

export default {
  name: 'HomePage',
  mixins: [ClientService, SessionService],
  components: {
    DoughnutChart
  },
  data () {
    return {
      isLoading: true,
      clientList: [],
      selectedClientId: null,
      sessionList: [],
      selectedSessionId: null,
      data: null,
    }
  },
  computed: {
    selectedClient () {
      if (!this.isSuperAdmin) {
        return this.userClient
      }
      return this.clientList.find(client => client.id === this.selectedClientId) || null
    },
    selectedSession () {
      if (!this.selectedSessionId) return null
      return this.sessionList.find(session => session.id === this.selectedSessionId)
    },
    sessionTaskHistoryTableHeader () {
      return [
        { text: 'Task Name', value: 'name'},
        { text: 'Deadline', value: 'deadline'},
      ]
    },
    latestCompletedTaskHistoryTableHeader () {
      return [
        { text: 'KP', value: 'kp_name'},
        { text: 'Task Name', value: 'task_name'},
        { text: 'Updated At', value: 'updated_at'},
      ]
    },
    chartData () {
      // Labels
      const labels = ['Republican', 'Democrat']
      // Data
      const data = [this.data.republicans, this.data.democrats]
      // Background Color
      const backgroundColor = ['rgba(255, 99, 132, 0.2)', 'rgba(54, 162, 235, 0.2)']
      // Border Color
      const borderColor = ['rgba(255, 99, 132, 1)', 'rgba(54, 162, 235, 1)']
      if (this.data.independents > 0) {
        labels.push('Independent')
        data.push(this.data.independents)
        backgroundColor.push('rgba(253, 253, 127, 0.2)')
        borderColor.push('rgba(253, 253, 127, 1)')
      }
      if (this.data.libertarians > 0) {
        labels.push('Libertarian')
        data.push(this.data.libertarians)
        backgroundColor.push('rgba(236, 200, 80, 0.2)')
        borderColor.push('rgba(236, 200, 80, 1)')
      }
      return {
        labels: labels,
        datasets: [{
          label: `Total Legislators for ${this.selectedClient.assoc_abbrev}`,
          data,
          backgroundColor,
          borderColor,
          borderWidth: 1,
        }]
      }
    },
    chartOptions () {
      return {
        responsive: true,
        legend: {
          position: 'top',
        },
        scales: {
          xAxes: [{
            display: false
          }]
        }
      }
    },
  },
  async mounted () {
    this.selectedClientId = this.userClientId
    if (this.isSuperAdmin) {
      this.clientList = (await this.getClients()).data
    }
    this.refreshSessionList()
  },
  methods: {
    async refreshPage () {
      if (!this.selectedSessionId) return
      this.isLoading = true
      this.data = (await this.getSessionDashboardData(this.selectedSessionId)).data
      this.isLoading = false
    },
    async refreshSessionList () {
      if (!this.selectedClientId) return
      this.isLoading = true
      this.sessionList = (await this.getClientSessions(this.selectedClientId)).data
      const activeSession = (await this.getClientActiveSession(this.selectedClientId)).data
      this.selectedSessionId = activeSession ? activeSession.id : null
      this.refreshPage()
      this.isLoading = false
    },
  }
}
</script>

<style lang="scss" scoped>
.client-selector {
  max-width: 250px;
}
.session-selector {
  margin-left: 16px;
  max-width: 300px;
}
</style>
