<template>
  <div class="fill-width">
    <v-card>
      <v-card-text>
        <v-layout wrap>

          <v-item-group v-model="window" class="flex xs12 sm2">
            <v-item v-for="item in items" :key="item.title" class="pr-2">
              <div slot-scope="{ active, toggle }">
                <v-btn :input-value="active" @click="toggle" class="mx-0 how-to_tab-link" block :color="active ? 'primary' : ''">
                  <v-icon class="mr-2">{{ item.icon }}</v-icon>
                  <span>{{ item.title }}</span>
                </v-btn>
              </div>
            </v-item>
          </v-item-group>

          <v-flex class="xs12 sm10">
            <v-window v-model="window" class="elevation-1" vertical>
              <v-window-item lazy transition="none" reverse-transition="none" v-for="(item, i) in items":key="item.title">
                <v-card flat>
                  <v-card-title class="title">{{ item.title }}</v-card-title>
                  <v-card-text>
                    <p v-if="item.text">
                      {{ item.text }}
                    </p>
                    <div v-if="item.images && item.images.length && window == i">
                      <v-carousel>
                        <v-carousel-item
                            v-for="(image, index) in item.images"
                            :key="index"
                            :src="image.src"
                        ></v-carousel-item>
                      </v-carousel>
                    </div>

                  </v-card-text>
                </v-card>
              </v-window-item>
            </v-window>
          </v-flex>

        </v-layout>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
  export default {
    name: "HowToPage",
    data(){
      return {
        window: 0,
        items: [
          {
            title: 'Dashboard',
            icon: 'dashboard',
            text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',
            images: [
              { src: 'https://cdn.vuetifyjs.com/images/carousel/squirrel.jpg' },
              { src: 'https://cdn.vuetifyjs.com/images/carousel/sky.jpg' },
              { src: 'https://cdn.vuetifyjs.com/images/carousel/bird.jpg' },
              { src: 'https://cdn.vuetifyjs.com/images/carousel/planet.jpg' }
            ]
          },
          {
            title: 'Projects',
            icon: 'view_list',
            text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',
            images: [
              { src: 'https://cdn.vuetifyjs.com/images/carousel/planet.jpg' },
              { src: 'https://cdn.vuetifyjs.com/images/carousel/sky.jpg' },
              { src: 'https://cdn.vuetifyjs.com/images/carousel/squirrel.jpg' },
              { src: 'https://cdn.vuetifyjs.com/images/carousel/bird.jpg' },
            ]
          },
          {
            title: 'Tasks',
            icon: 'playlist_add',
            text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',
            images: [
              { src: 'https://cdn.vuetifyjs.com/images/carousel/planet.jpg' },
              { src: 'https://cdn.vuetifyjs.com/images/carousel/sky.jpg' },
              { src: 'https://cdn.vuetifyjs.com/images/carousel/squirrel.jpg' },
              { src: 'https://cdn.vuetifyjs.com/images/carousel/bird.jpg' },
            ]
          }
        ]
      }
    }
  }
</script>

<style lang="scss">
  .how-to {
    &_tab-link {
      .v-btn__content {
        justify-content: flex-start;
      }
    }
  }
</style>
