<template>
  <div class="fill-width">
    <v-card>
      <v-card-title>
        <h1>KP Leaderboard</h1>
        <kp-leaderboard-page-help-modal></kp-leaderboard-page-help-modal>
      </v-card-title>
      <v-card-title class="pt-0 align-end">
        <v-select
          label="Client"
          hide-details
          class="client-selector"
          item-text="assoc_abbrev"
          item-value="id"
          :items="clientList"
          v-model="selectedClientId"
          @input="refresh"
          v-if="isSuperAdmin">
        </v-select>
        <v-spacer></v-spacer>
        <v-text-field append-icon="search" label="Search" single-line clearable hide-details class="search-input" v-model="search"></v-text-field>
      </v-card-title>
      <v-data-table
        :loading="isLoading"
        class="elevation-1"
        :pagination.sync="pagination"
        :headers="kpLeaderboardTableHeader"
        :items="kpList"
        :custom-filter="customFilter"
        :search="search">
        <template v-slot:items="props">
          <td>
            <v-layout align-center>
              <a class="mr-1 no-line-break">{{ props.item.nickname }} {{ props.item.lastname }}</a>
              <v-tooltip bottom v-if="!!props.item.cell">
                <template v-slot:activator="{ on }">
                  <a :href="'tel:' + props.item.cell" v-on="on">
                    <v-icon :color="isBad(props.item.cell) ? 'error' : 'primary'" size="16" class="mx-1">phone_iphone</v-icon>
                  </a>
                </template>
                <span>{{ props.item.cell }}</span>
              </v-tooltip>
              <v-tooltip bottom v-if="!!props.item.email">
                <template v-slot:activator="{ on }">
                  <a :href="'mailto:' + props.item.email" v-on="on">
                    <v-icon :color="isBad(props.item.email) ? 'error' : 'primary'" size="16" class="mx-1">email</v-icon>
                  </a>
                </template>
                <span>{{ props.item.email }}</span>
              </v-tooltip>
            </v-layout>
          </td>
          <td class="text-xs-center">{{ props.item.current_legislator_count }}</td>
          <td class="text-xs-center">{{ props.item.lifetime_legislator_count }}</td>
          <td>
            <v-chip label small dark :color="getDaysInactiveColor(props.item.inactive_days)">
              {{ props.item.inactive_days >= 0 ? props.item.inactive_days : 'Never' }}
            </v-chip>
          </td>
          <td class="py-2 text-xs-center">
            <v-progress-circular
              :rotate="-90"
              :size="60"
              :width="5"
              :value="getDegree(props.item.active_session_finished_task_count * 100, props.item.active_session_task_count)"
              :color="getProgressColor(getDegree(props.item.active_session_finished_task_count, props.item.active_session_task_count))"
            >
              {{ props.item.active_session_finished_task_count }} / {{ props.item.active_session_task_count }}
            </v-progress-circular>
          </td>
          <td class="py-2 text-xs-center">
            <v-progress-circular
              :rotate="-90"
              :size="60"
              :width="5"
              :value="getDegree(props.item.lifetime_finished_task_count * 100, props.item.lifetime_task_count)"
              :color="getProgressColor(getDegree(props.item.lifetime_finished_task_count, props.item.lifetime_task_count))"
            >
              {{ props.item.lifetime_finished_task_count }} / {{ props.item.lifetime_task_count }}
            </v-progress-circular>
          </td>
          <td class="text-xs-right">
            <v-chip :color="props.item.total_donation > 0 ? 'green' : 'grey'" text-color="white" class="pa-1">
              <v-avatar left size="28" :color="props.item.total_donation > 0 ? 'green' : 'grey'" class="darken-4">$</v-avatar>
              {{ props.item.total_donation }}
            </v-chip>
          </td>
        </template>
        <template v-slot:no-data>
          <p class="text-xs-center mb-0">No KP1 registered yet.</p>
        </template>
      </v-data-table>
    </v-card>
  </div>
</template>

<script>
import ClientService from '../services/ClientService'
import KpLeaderboardPageHelpModal from '../components/HelpModals/KPLeaderboardPageHelpModal'

export default {
  name: 'KPLeaderboardPage',
  mixins: [ClientService],
  components: {
    KpLeaderboardPageHelpModal,
  },
  data () {
    return {
      isLoading: true,
      clientList: [],
      selectedClientId: null,
      kpList: [],
      search: '',
      pagination: {
        rowsPerPage: 10,
      }
    }
  },
  computed: {
    kpLeaderboardTableHeader () {
      return [
        { text: 'Key Person', value: 'nickname' },
        { text: 'Current Legislators', value: 'current_legislator_count', align: 'center' },
        { text: 'Lifetime Legislators', value: 'lifetime_legislator_count', align: 'center' },
        { text: 'Days Inactive', value: 'inactive_days' },
        { text: 'Session Stats', value: 'active_session_finished_task_count', align: 'center' },
        { text: 'Lifetime Stats', value: 'lifetime_finished_task_count', align: 'center' },
        { text: '$ Given', value: 'total_donation', align: 'right' },
      ]
    },
    selectedClient () {
      if (!this.isSuperAdmin) {
        return this.userClient
      }
      return this.clientList.find(client => client.id === this.selectedClientId) || null
    },
  },
  async mounted () {
    this.selectedClientId = this.userClientId
    if (this.isSuperAdmin) {
      this.clientList = (await this.getClients()).data
    }
    this.refresh()
  },
  methods: {
    async refresh () {
      if (!this.selectedClientId) return
      this.isLoading = true
      this.kpList = (await this.getClientKPLeaderboardData(this.selectedClientId)).data
      this.isLoading = false
    },
    customFilter (items, search, filter) {
      search = search.toString().toLowerCase()
      return items.filter((row) => {
        const fullname1 = `${row.firstname} ${row.lastname}`.toLowerCase()
        const fullname2 = `${row.nickname} ${row.lastname}`.toLowerCase()
        return filter(fullname1, search) || filter(fullname2, search)
      })
    },
    getDaysInactiveColor (daysInactive) {
      if (daysInactive < 0) return '#CCC'
      if (daysInactive <= 30) return 'success'
      if (daysInactive <= 60) return 'warning'
      return 'error';
    },
    getDegree (value1, value2) {
      if (!value2) return 0
      return value1 / value2;
    }
  }
}
</script>

<style lang="scss" scoped>
.client-selector {
  max-width: 200px;
}
.session-selector {
  margin-left: 16px;
  max-width: 200px;
}
</style>
