<template>
  <div class="fill-width">
    <v-card>
      <v-card-title class="pb-0">
        <h1>Session Dashboard</h1>
        <session-dashboard-help-modal></session-dashboard-help-modal>
        <v-spacer></v-spacer>
        <v-btn icon color="primary" :loading="isLoading" @click="refresh">
          <v-icon dark>refresh</v-icon>
        </v-btn>
        <v-btn color="primary" @click="$refs.taskModal.toggle()" v-if="false">
          Show Tasks
          <v-icon dark class="ml-2">list</v-icon>
        </v-btn>

        <v-btn color="primary" @click="onShowUnique" v-if="((isVIP || isSuperAdmin) && isClientUsingRegion && !isShowingUnique)">
          Show Unique
          <v-icon dark class="ml-2">fa fa-check</v-icon>
        </v-btn>
        <v-btn color="primary" @click="onShowDuplicate" v-if="((isVIP || isSuperAdmin) && isClientUsingRegion && isShowingUnique)">
          Show Duplicate
          <v-icon dark class="ml-2">fa fa-clone</v-icon>
        </v-btn>

        <v-btn color="primary" @click="onExpandAll" v-if="((isVIP || isSuperAdmin) && isClientUsingRegion && !isExpanded)">
          Expand All
          <v-icon dark class="ml-2">expand_more</v-icon>
        </v-btn>
        <v-btn color="primary" @click="onCollapseAll" v-if="((isVIP || isSuperAdmin) && isClientUsingRegion && isExpanded)">
          Collapse All
          <v-icon dark class="ml-2">expand_less</v-icon>
        </v-btn>
        <v-btn color="warning" @click="$refs.sendEmailModal.toggle(selectedClientId, selectedLegislators, selectedEmailList)" :disabled="!selectedEmailList.length">
          Email KP1
          <v-icon dark class="ml-2">mail_outline</v-icon>
        </v-btn>
        <v-btn color="warning" @click="$refs.sendTextModal.toggle(selectedClientId, selectedLegislators, selectedContactList)" :disabled="!selectedContactList.contactCount">
          Text/Email KP1
          <v-icon dark class="ml-2">phone_iphone</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-title class="pt-0 align-end" :class="{'mt-2': isVIP}">
        <v-select
          label="Client"
          hide-details
          class="client-selector"
          item-text="assoc_abbrev"
          item-value="id"
          :items="clientList"
          v-model="selectedClientId"
          @input="refresh"
          v-if="isSuperAdmin">
        </v-select>
      </v-card-title>
      <ag-grid-vue
        class="ag-theme-balham kp-task-table"
        :gridOptions="gridOptions"
        :columnDefs="columnDefs"
        :rowData="rowData"
        :frameworkComponents="frameworkComponents"
        :groupRowInnerRenderer="groupRowInnerRenderer"
        v-show="columnDefs.length > 1">
      </ag-grid-vue>
      <v-alert type="warning" outline :value="true" v-show="columnDefs.length === 1">
        Loading active Session Dashboard....
      </v-alert>
    </v-card>

    <legislator-detail-modal ref="legislatorDetailModal"></legislator-detail-modal>
    <notes-modal ref="notesModal"></notes-modal>
    <send-email-modal ref="sendEmailModal" :unique="isShowingUnique" :client="selectedClient"></send-email-modal>
    <send-text-modal ref="sendTextModal" :unique="isShowingUnique"></send-text-modal>
    <task-modal ref="taskModal" :task-list="taskList"></task-modal>
    <district-modal v-if="districtModalEnabled"></district-modal>
  </div>
</template>

<script>
import { AgGridVue } from 'ag-grid-vue'
import ClientService from '../services/ClientService'
import SessionService from '../services/SessionService'
import StateService from '../services/StateService'
import TaskService from '../services/TaskService'
import CommitteeCell from '../components/AgGridCells/CommitteeCell.vue'
import DistrictCell from '../components/AgGridCells/DistrictCell.vue'
import FVoteEditor from '../components/AgGridCells/FVoteEditor.vue'
import LegislatorCell from '../components/AgGridCells/LegislatorCell.vue'
import LegislatorDetailModal from '../components/LegislatorsPage/LegislatorDetailModal.vue'
import NotesModal from '../components/AgGridCells/NotesModal.vue'
import PrimaryKPCell from '../components/AgGridCells/PrimaryKPCell.vue'
import PVoteEditor from '../components/AgGridCells/PVoteEditor.vue'
import SendEmailModal from '../components/KPTasksPage/SendEmailModal.vue'
import SendTextModal from '../components/KPTasksPage/SendTextModal.vue'
import SessionDashboardHelpModal from '../components/HelpModals/SessionDashboardHelpModal'
import TaskCell from '../components/AgGridCells/TaskCell.vue'
import TaskModal from '../components/KPTasksPage/TaskModal.vue'
import TaskGroupRow from '../components/AgGridCells/TaskGroupRow.vue'
import DistrictService from '../services/DistrictService'
import DistrictModal from '../components/District/DistrictModal'

export default {
  name: 'KPTasksPage',
  mixins: [ClientService, SessionService, StateService, TaskService, DistrictService],
  components: {
    DistrictModal,
    AgGridVue,
    LegislatorDetailModal,
    NotesModal,
    SendEmailModal,
    SendTextModal,
    SessionDashboardHelpModal,
    TaskModal,
  },
  data () {
    return {
      isLoading: true,
      isExpanded: false,
      isShowingUnique:false,
      selectedClientId: null,
      clientList: [],
      committeeList: [],
      legislatorCommitteeList: [],
      selectedLegislators: [],
      taskList: [],
      columnDefs: [],
      rowData: [],
      gridOptions: {},
    }
  },
  computed: {
    selectedClient () {
      if (!this.isSuperAdmin) {
        return this.userClient
      }
      return this.clientList.find(client => client.id === this.selectedClientId) || {}
    },
    selectedEmailList () {
      return this.selectedLegislators.filter(legislator => legislator.primary_kp && legislator.primary_kp.member.email)
        .map(legislator => legislator.primary_kp.member.email)
    },
    selectedContactList () {
      const selectedContactList = {
        contactCount: 0,
        emailList: [],
        cellList: [],
      }
      this.selectedLegislators.forEach((legislator) => {
        if (legislator.primary_kp && legislator.primary_kp.member.cell) {
          selectedContactList.contactCount += 1
          selectedContactList.cellList.push(legislator.primary_kp.member.cell)
        } else if (legislator.primary_kp && legislator.primary_kp.member.email) {
          selectedContactList.contactCount += 1
          selectedContactList.emailList.push(legislator.primary_kp.member.email)
        }
      })
      return selectedContactList
    },
    isClientUsingRegion () {
      if (!this.selectedClientId) return false
      return this.selectedClient.uses_regions
    },
    frameworkComponents () {
      return {
        groupRowInnerRenderer: TaskGroupRow,
        fVoteEditor: FVoteEditor,
        pVoteEditor: PVoteEditor,
      }
    },
    groupRowInnerRenderer () {
      return 'groupRowInnerRenderer'
    },
  },
  beforeMount () {
    this.gridOptions = {
      defaultColDef: {
        sortable: true,
        resizable: true,
        filter: 'agTextColumnFilter',
      },
      autoGroupColumnDef: {
        headerName: 'Region',
      },
      floatingFilter: true,
      groupUseEntireRow: true,
      rowHeight: 48,
      rowSelection: 'multiple',
      suppressRowClickSelection: true,
      columnDefs: this.columnDefs,
      rowData: this.rowData,
      onFirstDataRendered: (event) => {
        if (event.columnApi.columnController.bodyWidth > event.columnApi.columnController.scrollWidth && event.columnApi.columnController.primaryColumnTree.length > 1) {
          event.columnApi.autoSizeColumns(event.columnApi.columnController.primaryColumnTree[1].children.map(col => col.colId))
        } else {
          event.api.sizeColumnsToFit()
        }
      },
      onSelectionChanged: (event) => {
        this.selectedLegislators = event.api.getSelectedNodes()
          .filter(node => !node.group)
          .map(node => node.data)
      },
      onCellValueChanged: (params) => {
        if (!params.node.data) return
        this.addTaskResult({
          task_id: params.colDef.taskId,
          legislator_id: params.data.id,
          kp_id: params.data.primary_kp ? params.data.primary_kp.member_id : null,
          result: params.newValue
        })
          .then(() => {
            toastr.clear()
            toastr.success('Task result has been saved.', 'Success')
          })
          .catch(() => {
            toastr.clear()
            toastr.error('Something went wrong.', 'Error')
          })
      },
      onCellClicked: (params) => {
        if (!params.node.data) return

        //Open District modal
        if(params.colDef.field==='district'){
          this.openDistrictModal(params.data.district)
        }

        if (!params.colDef.dataType) {
          if (params.colDef.headerName === 'Legislator') {
            this.$refs.legislatorDetailModal.toggle(params.data)
          }
          return
        }

        if (params.colDef.dataType.data_type === 'Boolean') {
          params.node.setDataValue(`task${params.colDef.taskId}`, params.value === 'YES' ? 'NO' : 'YES')
        }
        if (params.colDef.dataType.data_type === 'Notes') {
          this.$refs.notesModal.toggle(params.value, params)
        }

      },
      //Tariq edit
      onFilterChanged:(event) => {
        let curSel = event.api.getSelectedNodes();
        event.api.deselectAll();
        if(curSel.length>0)
          event.api.selectAllFiltered();
      },
    }
    this.columnDefs = [
      {
        headerName: '',
        children: [
          {
            headerName: '',
            headerCheckboxSelection: true,
            headerCheckboxSelectionFilteredOnly: true,
            checkboxSelection: true,
            suppressSizeToFit: true,
            lockPosition: true,
            maxWidth: 40,
            width: 40,
            filter: false,
          },
          {
            headerName: 'Legislator',
            field: 'fullname',
            cellRendererFramework: LegislatorCell,
            suppressSizeToFit: true,
            lockPosition: true,
            width: 200,
          },
          {
            headerName: 'Primary KP',
            field: 'primary_kp',
            cellRendererFramework: PrimaryKPCell,
            filter: 'agSetColumnFilter',
            keyCreator: (params) => {
              if (!params.value) return null
              return `${params.value.member.nickname} ${params.value.member.lastname}`
            },
            suppressSizeToFit: true,
            lockPosition: true,
            width: 200,
          },
          {
            headerName: 'District',
            field: 'district',
            suppressSizeToFit: true,
            lockPosition: true,
            width: 100,
            cellRendererFramework: DistrictCell,
          },
          {
            headerName: 'Committees',
            field: 'committeeText',
            suppressSizeToFit: true,
            lockPosition: true,
            width: 200,
            cellRendererFramework: CommitteeCell,
          },{
            headerName: 'Unique',
            field: 'unique',
            hide: true,
            width: 40,
            filter: true,
          }
        ]
      }
    ]
  },
  async mounted () {
    this.selectedClientId = this.userClientId
    if (this.isSuperAdmin) {
      this.clientList = (await this.getClients()).data
    }
    this.refresh()
  },
  methods: {
    async refresh () {
      if (!this.selectedClientId) return
      this.isLoading = true
      this.taskList = []
      let result = []
      this.committeeList = (await this.getStateCommittees(this.selectedClient.state_id)).data
      if (this.$route.query.session) {
        result = (await this.getSessionKPTasks(this.$route.query.session)).data
      } else {
        result = (await this.getClientKPTasks(this.selectedClientId)).data
      }
      // Ag-grid Header
      this.columnDefs = this.columnDefs.slice(0, 1)
      this.columnDefs[0].children = this.columnDefs[0].children.filter(child => child.headerName !== 'Region')
      if (this.isClientUsingRegion) {
        this.columnDefs[0].children.splice(1, 0, {
          headerName: 'Region',
          field: 'leg_region',
          rowGroup: true,
          hide: true,
        })
      }
      if (result.session) {
        this.columnDefs.push({
          headerName: `${result.session.name} Tasks`,
          children: []
        })
        const houseCommittees = this.selectedClient.state.house_districts ? (result.session.house_committees || []) : []
        const senateCommittees = this.selectedClient.state.sen_districts ? (result.session.senate_committees || []) : []
        const jointCommittees = result.session.joint_committees || []
        this.legislatorCommitteeList = [...houseCommittees, ...senateCommittees, ...jointCommittees]
          .map((committeeId) => this.committeeList.find(committee => committee.id === committeeId))
          .filter(committee => !!committee)
      } else {
        this.legislatorCommitteeList = []
      }
      if (this.legislatorCommitteeList.length === 0) {
        this.columnDefs[0].children = this.columnDefs[0].children.filter(column => column.headerName !== 'Committees')
      }
      const notesIndex = result.tasks.findIndex(task => task.task_type.data_type === 'Notes')
      if (notesIndex >= 0) {
        result.tasks.splice(0, 0, result.tasks[notesIndex])
        result.tasks.splice(notesIndex + 1, 1)
      }
      result.tasks.forEach((task) => {
        if (task.task_type.data_type !== 'Notes' && task.task_type.data_type !== 'Currency') {
          this.taskList.push(task)
        }
        const columnDef = {
          headerName: task.name,
          headerTooltip: task.tooltip,
          field: `task${task.id}`,
          editable: task.task_type.data_type !== 'Notes',
          width: 100,
          suppressSizeToFit: task.task_type.data_type === 'Boolean',
          lockPosition: true,
          taskId: task.id,
          dataType: task.task_type,
          cellRendererFramework: TaskCell,
          cellEditorSelector: (params) => {
            let cellEditor = null
            if (task.task_type.data_type === 'Boolean') {
              cellEditor = {
                component: 'agSelectCellEditor',
                params: {
                  values: ['NO', 'YES']
                }
              }
            } else if (task.name === 'F-Vote') {
              cellEditor = {
                component: 'fVoteEditor',
              }
            } else if (task.name === 'P-Vote') {
              cellEditor = {
                component: 'pVoteEditor',
              }
            } else if (task.task_type.data_type === 'Select') {
              cellEditor = {
                component: 'agSelectCellEditor',
                params: {
                  values: task.task_type.options
                }
              }
            }
            return cellEditor
          }
        }
        if (task.task_type.data_type === 'Boolean') {
          columnDef.filter = 'agSetColumnFilter'
          columnDef.filterParams = {
            suppressSorting: true,
            values: ['YES', 'NO'],
          }
        }
        if (task.task_type.data_type === 'Currency') {
          columnDef.filter = 'agNumberColumnFilter'
        }
        if (task.task_type.data_type === 'Select') {
          columnDef.filter = 'agSetColumnFilter'
          columnDef.filterParams = {
            suppressSorting: true,
            values: task.task_type.options,
          }
          if (task.name === 'P-Vote' || task.name === 'F-Vote') {
            columnDef.width = 70
          }
        }
        this.columnDefs[1].children.push(columnDef)
      })
      // Ag-grid Rows

      this.rowData = []
      this.duplicateKps =[];
      result.legislators.sort((a, b) => a.leg_region - b.leg_region)
      result.legislators.forEach((legislator) => {

        let tempKp = legislator.primary_kp != null && typeof legislator.primary_kp.member_id  != 'undefined' &&  legislator.primary_kp.member_id  ? legislator.primary_kp.member_id:null;


        legislator.unique ='N';
        if(tempKp != null && !this.duplicateKps.includes(tempKp)) {
          this.duplicateKps.push(tempKp);
          legislator.unique ='Y';
        }



        legislator.leg_region = legislator.leg_region ? `Region ${legislator.leg_region.toString().padStart(2, '0')}` : 'Region --'
        legislator.district = legislator.district ? legislator.district.district : ''
        if (legislator.committees) {
          legislator.committees = legislator.committees.filter((committee) => {
              return !!this.legislatorCommitteeList.find(legislatorCommittee => legislatorCommittee.id === committee.id)
            }).map((committee) => ({
              shortname: committee.shortname,
              type: committee.type,
              memberships: JSON.parse(committee.pivot.memberships),
            })).filter((committee) => {
              return committee.memberships && committee.memberships.length > 0 && !committee.memberships.includes(0)
            }).map((committee) => {
              return {
                shortname: committee.shortname,
                memberships: committee.memberships.sort(),
                color: this.getColorFromText(committee.shortname)
              }
            })
          legislator.committeeText = legislator.committees.map(committee => committee.shortname).join(' ')
        } else {
          legislator.committees = []
        }
        result.tasks.forEach((task) => {
          legislator[`task${task.id}`] = this.findResult(result.task_results, legislator.id, task.id)
          if (!legislator[`task${task.id}`] && task.task_type.data_type === 'Boolean') {
            legislator[`task${task.id}`] = 'NO'
          }
        })
        this.rowData.push(legislator)
      })

      //console.log(this.duplicateKps.sort())

      //console.log('xx')

      this.isShowingUnique=false
      this.isExpanded = false
      this.isLoading = false
      if (this.isCoordinator) {
        await this.$nextTick()
        this.onExpandAll()
      }
    },
    findResult (results, legislatorId, taskId) {
      const result = results.find(result => result.legislator_id === legislatorId && result.task_id === taskId)
      return result ? result.result : ''
    },
    onExpandAll () {
      this.isExpanded = true
      this.gridOptions.api.forEachNode((node) => {
        if (node.group) node.setExpanded(true)
      })
    },
    onCollapseAll () {
      this.isExpanded = false
      this.gridOptions.api.forEachNode((node) => {
        if (node.group) node.setExpanded(false)
      })
    },
    onShowUnique () {
      this.isShowingUnique = true
      let filterComponent = this.gridOptions.api.getFilterInstance('unique');
      filterComponent.selectNothing();
      filterComponent.selectValue('Y');
      this.gridOptions.api.onFilterChanged();
    },
    onShowDuplicate () {
      this.isShowingUnique = false
      let filterComponent = this.gridOptions.api.getFilterInstance('unique');
      filterComponent.selectNothing();
      filterComponent.selectValue('N');
      filterComponent.selectValue('Y');
      this.gridOptions.api.onFilterChanged();
    }
  }
}
</script>

<style lang="scss" scoped>
.client-selector {
  max-width: 200px;
}
.avatar {
  overflow: hidden;
  border-radius: 50%;
  cursor: pointer;
}
.kp-task-table {
  width: 100%;
  height: calc(100vh - 230px);
}
</style>

<style lang="scss">
.ag-header-group-cell-label {
  flex: 1;
  justify-content: center;
}
.ag-cell {
  display: flex !important;
  height: 46px !important;
  line-height: 46px !important;
}
.ag-cell-edit-input {
  height: 46px !important;
  padding-left: 6px;
}
</style>

<style lang="scss">
.ag-row-group-expanded,
.ag-row-group-contracted {
  display: flex;
  align-items: center;
  padding-left: 12px;
}
.ag-row-group-expanded {
  background-color: #f5f7f7 !important;
}
.ag-row-group-indent-0 {
  display: flex;
  align-items: center;
}
.ag-floating-filter-input {
  background-color: #FFF;
  border: 1px solid #BDC3C7;
}
</style>
