<template>
  <div class="fill-width">
    <v-card>
      <v-card-title class="pb-0">
        <h1>{{ clientState }}Legislators</h1>
        <legislators-page-help-modal></legislators-page-help-modal>
        <v-spacer></v-spacer>
        <v-btn icon color="primary" :loading="isLoading" @click="refresh">
          <v-icon dark>refresh</v-icon>
        </v-btn>
        <v-btn color="warning" @click="$refs.newLegislatorModal.toggle()" v-if="isSuperAdmin">
          New Legislator
          <v-icon dark class="ml-2">person_add</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-title class="pt-0 align-end">
        <v-select
            label="Client"
            hide-details
            return-object
            class="state-selector mr-2"
            item-text="assoc_abbrev"
            :items="clientList"
            v-model="selectedClientItem"
            v-if="isSuperAdmin"
            @input="refresh"
        >
        </v-select>
        <v-select
            label="Region"
            hide-details
            class="state-selector mr-2"
            :items="regionList"
            v-model="selectedRegion"
            v-if="selectedClient.uses_regions">
        </v-select>
        <v-select
            label="Committees"
            hide-details
            class="committees-selector mr-2"
            item-text="fullname"
            item-value="id"
            multiple
            :items="committeeListGlobal"
            v-model="selectedCommittees"
            @input="refresh"
        >
          <template v-slot:prepend-item>
            <v-list-tile ripple @click="toggleAllAndRefresh">
              <v-list-tile-action>
                <v-icon :color="selectedCommittees.length > 0 ? 'primary' : ''">{{ selectedCommittees.length > 0 ? 'indeterminate_check_box' : 'add' }}</v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>Select All</v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
            <v-divider class="mt-2"></v-divider>
          </template>
        </v-select>
        <div><v-checkbox label="Hide Assigned" hide-details class="mr-2" v-model="isAssignedHidden"></v-checkbox></div>
        <div><v-checkbox hide-details label="Show Past Legislators" class="mt-0" v-model="showingPastLegislators"></v-checkbox></div>
        <v-spacer></v-spacer>
        <v-text-field append-icon="search" label="Search" single-line clearable hide-details class="search-input" v-model="search"></v-text-field>
      </v-card-title>
      <v-data-table
        :loading="isLoading"
        class="elevation-1"
        :pagination.sync="pagination"
        :headers="legislatorTableHeader"
        :items="filteredLegislatorList"
        :custom-filter="customFilter"
        :search="search">
        <template v-slot:items="props">
          <tr :class="{'inactive': props.item.abdicated_at}" v-if="!props.item.isVacant">
            <td class="justify-center layout">
              <v-layout align-center>
                <v-tooltip bottom>
                  <template v-slot:activator="{ on }">
                    <v-btn icon class="mx-0" v-on="on" @click="onEditLegislator(props.item)">
                      <v-icon color="primary">edit</v-icon>
                    </v-btn>
                  </template>
                  <span>Edit</span>
                </v-tooltip>
                <v-tooltip bottom>
                  <template v-slot:activator="{ on }">
                    <v-btn icon class="mx-0" v-on="on" @click="onAddLegData(props.item)" v-if="!isSuperAdmin">
                      <v-icon color="primary">note_add</v-icon>
                    </v-btn>
                  </template>
                  <span>Notes/Region</span>
                </v-tooltip>
                <v-tooltip bottom>
                  <template v-slot:activator="{ on }">
                    <v-btn icon class="mx-0" v-on="on" @click.stop="$refs.assignmentModal.toggle(props.item)">
                      <v-icon color="primary">group_add</v-icon>
                    </v-btn>
                  </template>
                  <span>Assignments</span>
                </v-tooltip>
              </v-layout>
            </td>
            <td>
              <v-layout align-center>
                <!-- AP removed img width 2019.06.10. it was 50 -->
                <img class="ma-1" :src="getThumbImage(props.item.official_image)" alt="" height="60" @click="$refs.legislatorDetailModal.toggle(props.item)" v-if="props.item.official_image" />
                <a class="ml-2 mr-1 no-line-break" @click="$refs.legislatorDetailModal.toggle(props.item)">{{ props.item.nickname }} {{ props.item.lastname }}</a>
                <v-tooltip bottom v-if="!!props.item.official_phone">
                  <template v-slot:activator="{ on }">
                    <a :href="'tel:' + props.item.official_phone" v-on="on">
                      <v-icon color="primary" size="16" class="mx-2">phone</v-icon>
                    </a>
                  </template>
                  <span>{{ props.item.official_phone }}</span>
                </v-tooltip>
                <v-tooltip bottom v-if="!!props.item.official_email">
                  <template v-slot:activator="{ on }">
                    <a :href="'mailto:' + props.item.official_email" v-on="on">
                      <v-icon color="primary" size="16" class="mx-2">email</v-icon>
                    </a>
                  </template>
                  <span>{{ props.item.official_email }}</span>
                </v-tooltip>
              </v-layout>
            </td>
            <td class="text-xs-center">
              <v-btn flat small @click="openDistrictModal(props.item.district ? props.item.district.district : '')">
                <span class="clickable-cell" >
                {{ props.item.district ? props.item.district.district : '' }}
                </span>
              </v-btn>

            </td>
            <td class="text-xs-center" :style="{'background-color': partyColorList[props.item.party]}">{{ props.item.party }}</td>
            <td class="text-xs-center no-line-break" v-if="!isSuperAdmin && userClient.uses_regions">
              {{ props.item.leg_region | integerFormatter('Region ', 2, '0') }}
            </td>
            <td class="text-xs-center" v-if="!isSuperAdmin">
              <v-tooltip bottom v-if="!!props.item.leg_notes" max-width="450">
                <template v-slot:activator="{ on }">
                  <v-icon color="primary" v-on="on">note</v-icon>
                </template>
                <span>{{ props.item.leg_notes }}</span>
              </v-tooltip>
            </td>
            <td class="text-xs-center" v-if="!isSuperAdmin">
              <v-layout v-if="props.item.leg_support">
                <v-icon size="16" color="orange lighten-3" v-for="value in [1, 2, 3, 4, 5]" :key="value" v-if="value <= props.item.leg_support">star</v-icon>
              </v-layout>
            </td>
            <td class="text-xs-center">{{ props.item.elected_at ? props.item.elected_at.split('-')[0] : '' }}</td>
            <td class="text-xs-center" v-for="kp in props.item.kps">
              <v-layout align-center v-if="!!kp">
                <span class="no-line-break">{{ getMemberById(kp.member_id).nickname }} {{ getMemberById(kp.member_id).lastname }}</span>
                <v-tooltip bottom v-if="!!kp.notes" max-width="450">
                  <template v-slot:activator="{ on }">
                    <v-icon class="ml-1" v-on="on">note</v-icon>
                  </template>
                  <span>{{ kp.notes }}</span>
                </v-tooltip>
                <v-tooltip bottom v-for="(relationship, index) in kp.kp_relationship" :key="index" max-width="450">
                  <template v-slot:activator="{ on }">
                    <v-avatar size="20" :color="kpRelationshipList[relationship].color" class="ml-1" v-on="on">
                      <small class="white--text">{{ relationship }}</small>
                    </v-avatar>
                  </template>
                  <span>{{ kpRelationshipList[relationship].description }}</span>
                </v-tooltip>
              </v-layout>
            </td>
          </tr>
          <tr bgcolor="#f7d8de" v-else>
            <td></td>
            <td>VACANT</td>
            <td class="text-xs-center">{{ props.item.district.district }}</td>
            <td colspan="100"></td>
          </tr>
        </template>
        <template v-slot:no-data>
          <p class="text-xs-center mb-0">No legislator registered yet.</p>
        </template>
      </v-data-table>
    </v-card>

    <edit-legislator-modal ref="editLegislatorModal" :state-list="stateList" :committee-list="committeeList" :occupation-list="occupationList" :refresh="refresh"></edit-legislator-modal>
    <leg-data-modal ref="legDataModal" :refresh="refresh"></leg-data-modal>
    <legislator-detail-modal ref="legislatorDetailModal"></legislator-detail-modal>
    <new-legislator-modal ref="newLegislatorModal" :state-list="stateList" :committee-list="committeeList" :occupation-list="occupationList" :refresh="refresh"></new-legislator-modal>

    <district-modal v-if="districtModalEnabled"></district-modal>
    <assignment-modal ref="assignmentModal" :client="selectedClient" :member-list="memberList" :refresh="refresh"></assignment-modal>
  </div>
</template>

<script>
import swal from 'sweetalert2'
import ClientService from '../services/ClientService'
import LegislatorService from '../services/LegislatorService'
import OccupationService from '../services/OccupationService'
import StateService from '../services/StateService'
import EditLegislatorModal from '../components/LegislatorsPage/EditLegislatorModal.vue'
import LegDataModal from '../components/LegislatorsPage/LegDataModal.vue'
import LegislatorDetailModal from '../components/LegislatorsPage/LegislatorDetailModal.vue'
import LegislatorsPageHelpModal from '../components/HelpModals/LegislatorsPageHelpModal'
import NewLegislatorModal from '../components/LegislatorsPage/NewLegislatorModal.vue'
import DistrictService from '../services/DistrictService'
import DistrictModal from '../components/District/DistrictModal'
import AssignmentModal from '../components/AssignmentsPage/AssignmentModal.vue'

export default {
  name: 'LegislatorsPage',
  mixins: [ClientService, LegislatorService, OccupationService, StateService,DistrictService],
  components: {
    DistrictModal,
    EditLegislatorModal,
    LegDataModal,
    LegislatorDetailModal,
    LegislatorsPageHelpModal,
    NewLegislatorModal,
    AssignmentModal,
  },
  data () {
    return {
      isLoading: false,
      showingPastLegislators: false,
      search: '',
      selectedStateId: null,
      stateList: [],
      committeeList: [],
      occupationList: [],
      legislatorList: [],
      selectedCommittees: [],
      memberList: [],
      selectedClientItem: {},
      selectedClientId: null,
      committeeListGlobal: [],
      clientList: [],
      committeeTypeList: [
        { id: 0, title: 'House' },
        { id: 1, title: 'Senate' },
        { id: 2, title: 'J' },
      ],
      selectedRegion: 'Show All',
      isAssignedHidden: false,
      pagination: {
        rowsPerPage: 10,
      }
    }
  },
  computed: {
    legislatorTableHeader () {
      let tableHeader = [
        { text: '', value: '', align: 'center', sortable: false },
        { text: 'Legislator', value: 'lastname', align: 'left' },
        { text: 'District', value: 'district.district', align: 'center' },
        { text: 'Party', value: 'party', align: 'center' },
        { text: 'Region', value: 'leg_region', align: 'center' },
        { text: 'Notes', value: 'leg_notes', align: 'center' },
        { text: 'Support', value: 'leg_support', align: 'center' },
        { text: 'Elected', value: 'elected_at', align: 'center' },
      ]
      let hiddenColumns = [];
      if (this.isSuperAdmin) {
        hiddenColumns = ['Region', 'Notes', 'Support']
      } else if (!this.userClient.uses_regions) {
        hiddenColumns = ['Region']
      }
      tableHeader = tableHeader.filter((header) => !hiddenColumns.includes(header.text))
      let maxLength = 0
      this.filteredLegislatorList.filter((item, index) => index <= this.pagination.rowsPerPage).forEach((legislator) => {
        if(legislator.kps.length > maxLength) {
          maxLength = legislator.kps.length
        }
      })

      for(let i = 0; i < maxLength; i++) {
        tableHeader.push({
          text: `KP${i + 1}`,
          value: ``,
          align: 'center',
        })
      }
      return tableHeader
    },
    partyColorList () {
      return {
        N: '#cccccc',
        R: '#f7d8de',
        D: '#cee4f3',
        I: '#f7f7dd',
        L: '#f3ecd4'
      }
    },
    membershipAbbrList () {
      return [
        '---',
        'Comm',
        'Comm, Vice',
        'Comm, Chair',
        'Sub',
        'Sub, Vice',
        'Sub, Chair',
      ]
    },
    membershipList () {
      return [
        'No',
        'Full Committee, Member Only',
        'Full Committee, Vice Chair',
        'Full Committee, Chair',
        'Subcommittee, Member Only',
        'Subcommittee, Vice Chair',
        'Subcommittee, Chair',
      ]
    },
    filteredLegislatorList () {
      if (this.showingPastLegislators) {
        return this.legislatorList
      }

      return this.legislatorList.filter((legislator) => {
        let flag = !legislator.abdicated_at
        flag &= (!this.isAssignedHidden || (this.isAssignedHidden && !legislator.kps[0]))
        if (this.selectedClient.uses_regions && (this.selectedRegion && this.selectedRegion !== 'Show All')) {
          flag &= (legislator.leg_region == this.selectedRegion)
        }
        return flag
      })
    },
    clientState () {
      if (!this.userClient) return ''
      const state = this.stateList.find(state => state.id === this.userClient.state_id)
      return state ? state.state + ' ' : ''
    },
    selectedClient () {
      if (!this.isSuperAdmin) {
        return this.userClient
      }
      return this.clientList.find(client => client.id === this.selectedClientId) || {}
    },
    kpRelationshipList () {
      return {
        N: {
          description: 'None',
          color: 'error',
        },
        A: {
          description: 'Acquaintance',
          color: 'warning',
        },
        CC: {
          description: 'Can Call',
          color: 'warning',
        },
        FM: {
          description: 'Family member has a relationship with the legislator',
          color: 'blue',
        },
        $: {
          description: 'Gave money to the legislator',
          color: 'success',
        },
        P: {
          description: 'Legislator is a patient of the KP',
          color: 'success',
        },
        PF: {
          description: 'Legislator is a personal friend of the KP',
          color: 'success',
        },
        WC: {
          description: 'KP worked in legislator’s campaign',
          color: 'success',
        },
        VC: {
          description: 'The KP is very close with the legislator',
          color: 'success',
        },
      }
    },
    selectedAllCommittees () {
      return this.selectedCommittees.length === this.committeeListGlobal.length
    },
    selectedSomeCommittee () {
      return this.selectedCommittees.length > 0 && !this.selectedAllCommittees
    },
    regionList () {
      return ['Show All', ..._.range(1, this.selectedClient.region_count + 1)]
    }
  },
  async mounted () {
    if (!this.isSuperAdmin) {
      this.selectedStateId = this.userClient.state_id
      this.committeeList = (await this.getStateCommittees(this.userClient.state_id)).data
    }

    if (this.isSuperAdmin) {
      this.clientList = (await this.getClients()).data
    }

    this.stateList = (await this.getStates()).data

    this.refresh()
  },
  methods: {
    async refresh () {
      if(!this.isSuperAdmin){
        this.selectedClientItem = this.userClient
      }

      this.selectedStateId = this.selectedClientItem.state_id
      this.selectedClientId = this.selectedClientItem.id

      if (!this.selectedStateId) return

      this.committeeList = (await this.getStateCommittees(this.selectedStateId)).data
      this.setCommiteeGlobalList()

      this.isLoading = true
      this.memberList = (await this.getClientMembers(this.selectedClientId)).data
      let vacantDistricts = []
      this.occupationList = (await this.getOccupations()).data
      let params = { committees: this.selectedCommittees }
      this.legislatorList = (await this.getClientLegislatorsWithCommittees(this.selectedClientId, params)).data
      vacantDistricts = (await this.getStateUnelectedDistricts(this.selectedStateId)).data

      this.legislatorList.forEach((legislator) => {
        if (!legislator.committees) legislator.committees = []
        legislator.committees = legislator.committees.map((committee) => ({
          id: committee.id,
          shortname: committee.shortname,
          fullname: committee.fullname,
          memberships: JSON.parse(committee.pivot.memberships),
        }))
        this.committeeListGlobal.forEach((legislatorCommittee) => {
          legislator[`committee_${legislatorCommittee.id}`] = this.getMembershipText(legislatorCommittee.id, legislator.committees)
          legislator[`committee_${legislatorCommittee.id}_text`] = this.getMembershipText(legislatorCommittee.id, legislator.committees)
            .map(membership => membership.membershipAbbr)
            .join('')
        })
      })
      vacantDistricts.filter(vacantDistrict => ['H', 'S'].includes(vacantDistrict.district[0]))
        .forEach((vacantDistrict) => {
          this.legislatorList.push({
            isVacant: true,
            district: vacantDistrict
          })
        })
      this.isLoading = false
    },
    setCommiteeGlobalList(){
      if (this.committeeList.length === 0) return []

      const houseCommittees = this.selectedClientItem.state.house_districts ? (this.selectedClientItem.house_committees || []) : []
      const senateCommittees = this.selectedClientItem.state.sen_districts ? (this.selectedClientItem.senate_committees || []) : []
      const jointCommittees = this.selectedClientItem.joint_committees || []

      let list = [...houseCommittees, ...senateCommittees, ...jointCommittees].map((committeeId) => this.committeeList.find(committee => committee.id === committeeId))

      this.committeeListGlobal = list.map(item => {
        let committee = this.committeeTypeList.find(committee => committee.id == item.type)
        let title = committee ? committee.title : ''
        if(item.type == 2) {
          item.fullname = item.fullname + ' - ' + item.shortname
        } else {
          item.fullname = item.fullname + ' - ' + title
        }

        return item
      })
    },
    getMembershipText (committeeId, committees) {
      const committee = committees.find(committee => committee.id === committeeId)
      if (!committee) {
        return [{
          membership: 'No',
          membershipAbbr: '---',
        }]
      }
      const memberships = [...committee.memberships]
      return memberships.sort()
        .map(membership => ({
          membership: this.membershipList[membership],
          membershipAbbr: this.membershipAbbrList[membership],
        }))
    },
    customFilter (items, search, filter) {
      search = search.toString().toLowerCase()
      return items.filter((row) => {
        let flag = false
        flag |= filter(`${row.nickname} ${row.lastname}`, search)
        for (let i = 0; i < 2; i ++) {
          if (row.kps[i]) {
            const kp = this.getMemberById(row.kps[i].member_id)
            flag |= filter(`${kp.nickname} ${kp.lastname}`, search)
          }
        }
        return flag
      })
    },
    onDeleteLegislator (legislatorId) {
      swal({
        title: 'Are you sure to delete this legislator?',
        type: 'question',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes',
        reverseButtons: true,
      }).then((result) => {
        if (result.value) {
          this.deleteLegislator(legislatorId)
            .then((res) => {
              toastr.clear()
              toastr.success('Legislator has been deleted.', 'Success!')
              this.refresh()
            })
            .catch((err) => {
              toastr.clear()
              toastr.error('Something went wrong.', 'Error!')
            })
        }
      })
    },
    onEditLegislator (legislator) {
      this.$refs.editLegislatorModal.toggle(legislator)
    },
    onAddLegData (legislator) {
      this.$refs.legDataModal.toggle(legislator)
    },
    getMemberById (memberId) {
      return this.memberList.find(member => member.id == memberId)
    },
    toggleAllAndRefresh () {
      if (this.selectedSomeCommittee) {
        this.selectedCommittees = []
      } else if (!this.selectedAllCommittees){
        this.selectedCommittees = this.committeeListGlobal.map(item => item.id)
      } else {
        this.selectedCommittees = []
      }

      this.refresh()
    }
  }
}
</script>

<style lang="scss" scoped>
.state-selector {
  max-width: 200px;
  @media(max-width: 500px) {
    max-width: 100%;
  }
}
td {
  padding: 4px;
  min-height: 70px;
  height: 70px !important;
  white-space: nowrap;
}
.avatar {
  overflow: hidden;
  border-radius: 50%;
  cursor: pointer;
}
</style>

<style lang="scss" scoped>
.inactive {
  background-color: rgb(235, 235, 228);
}

.clickable-cell {
  text-decoration: underline;
  font-weight: normal;
  font-size: .9em;
  color: #2196F3;
  cursor: pointer
}
</style>

<style lang="scss">
.committees-selector {
  max-width: 200px;
  @media(max-width: 500px) {
    max-width: 100%;
  }
  .v-select__selections {
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
    .v-select__selection--comma {
      white-space: nowrap;
      overflow: hidden;
    }
  }
}
</style>
