<template>
  <div class="fill-width">
    <v-card>
      <v-card-title class="pb-0">
        <h1>{{ selectedClient ? `${selectedClient.assoc_abbrev} ` : '' }}Members ({{ activeMemberCount }} active)</h1>
        <members-page-help-modal></members-page-help-modal>
        <v-spacer></v-spacer>
        <v-btn icon color="primary" :loading="isLoading" @click="refresh">
          <v-icon dark>refresh</v-icon>
        </v-btn>
        <v-btn color="primary" @click="onUpdateDistricts" :loading="isUpdating"
               v-if="(isSuperAdmin && selectedClientId) || isVIP">
          Update Districts
          <v-icon dark class="ml-2">update</v-icon>
        </v-btn>
        <v-btn color="primary" @click="$refs.memberFileTemplateModal.toggle()" v-if="isSuperAdmin">
          Download Template
          <v-icon dark class="ml-2">cloud_download</v-icon>
        </v-btn>
        <v-btn color="primary" :loading="isImporting" @click="$refs.memberFileUploader.click()"
               v-if="isSuperAdmin && selectedClientId">
          Import
          <v-icon dark>import_export</v-icon>
        </v-btn>
        <input ref="memberFileUploader" type="file" accept=".csv" class="d-none" @change="onImportMember">
        <v-btn color="warning" @click="$refs.newMemberModal.toggle()">
          New Member
          <v-icon dark class="ml-2">person_add</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-title class="pt-0 align-end">
        <v-select
          label="Client"
          hide-details
          class="client-selector"
          item-text="assoc_abbrev"
          item-value="id"
          :items="clientList"
          v-model="selectedClientId"
          @input="refresh"
          v-if="isSuperAdmin">
        </v-select>
        <v-checkbox hide-details label="Show Inactive" class="mt-0" v-model="showingInactiveUsers"></v-checkbox>
        <v-spacer></v-spacer>
        <v-text-field append-icon="search" label="Search" single-line clearable hide-details class="search-input"
                      v-model="search"></v-text-field>
      </v-card-title>
      <v-data-table
        :loading="isLoading"
        class="elevation-1"
        :pagination.sync="pagination"
        :headers="memberTableHeader"
        :items="filteredMemberList"
        :custom-filter="customFilter"
        :search="search">
        <template v-slot:items="props">
          <tr :class="{'inactive': !props.item.active}">
            <td class="justify-center layout">
              <v-btn icon class="mx-0" @click="onEditMember(props.item)">
                <v-icon color="primary">edit</v-icon>
              </v-btn>
              <v-btn icon class="mx-0" @click="onDeleteMember(props.item.id)" v-if="false">
                <v-icon color="pink">delete</v-icon>
              </v-btn>
            </td>
            <td>
              <v-layout align-center>
                <a class="mr-1 no-line-break" @click="$refs.memberDetailModal.toggle(props.item)" v-if="props.item.kp_member">{{ props.item.nickname
                  }} {{ props.item.lastname }}</a>
                <p v-else>{{ props.item.nickname
                  }} {{ props.item.lastname }}</p>
                <v-tooltip bottom v-if="!!props.item.cell">
                  <template v-slot:activator="{ on }">
                    <a :href="'tel:' + props.item.cell" v-on="on">
                      <v-icon :color="isBad(props.item.cell) ? 'error' : 'primary'" size="16" class="mx-1">
                        phone_iphone
                      </v-icon>
                    </a>
                  </template>
                  <span>{{ props.item.cell }}</span>
                </v-tooltip>
                <v-tooltip bottom v-if="!!props.item.email">
                  <template v-slot:activator="{ on }">
                    <a :href="'mailto:' + props.item.email" v-on="on">
                      <v-icon :color="isBad(props.item.email) ? 'error' : 'primary'" size="16" class="mx-1">email
                      </v-icon>
                    </a>
                  </template>
                  <span>{{ props.item.email }}</span>
                </v-tooltip>
              </v-layout>
            </td>
            <td class="text-xs-center">
              <v-icon color="success" v-if="props.item.is_email_cell_valid">check_circle</v-icon>
              <v-icon color="error" v-else>cancel</v-icon>
            </td>
            <td class="text-xs-center">
              <v-icon color="success" v-if="props.item.eligible">check_circle</v-icon>
              <v-icon color="error" v-else>cancel</v-icon>
            </td>
            <td class="text-xs-center no-line-break" v-if="isCoordinatorRequired">
              {{ props.item.coordinator | integerFormatter('', 2, '0') }}
            </td>
            <td>
              <v-layout justify-center align-center>
                <v-tooltip bottom v-if="!!props.item.notes" max-width="450">
                  <template v-slot:activator="{ on }">
                    <v-icon color="primary" v-on="on">note</v-icon>
                  </template>
                  <span>{{ props.item.notes }}</span>
                </v-tooltip>
              </v-layout>
            </td>
            <td class="text-xs-center">
              <v-icon color="success" v-if="props.item.is_district_set">check_circle</v-icon>
              <v-icon color="error" v-else>cancel</v-icon>
            </td>
            <td class="text-xs-center" v-if="isHouseDistrictsRequired">
              <v-btn flat small @click="openDistrictModal(props.item.home_house_district )">
                <span class="clickable-cell">
                  {{ props.item.home_house_district}}
                </span>
              </v-btn>
            </td>
            <td class="text-xs-center">
              <v-btn flat small @click="openDistrictModal( props.item.home_sen_district )">
                <span class="clickable-cell">
                {{  props.item.home_sen_district  }}
                </span>
              </v-btn>
            </td>
            <td class="text-xs-center" v-if="isHouseDistrictsRequired">
              <v-btn flat small @click="openDistrictModal(props.item.work_house_district  )">
                <span class="clickable-cell">{{ props.item.work_house_district  }} </span>

              </v-btn>
            </td>
            <td class="text-xs-center">
              <v-btn flat small @click="openDistrictModal(props.item.work_sen_district )">
                <span class="clickable-cell">{{ props.item.work_sen_district   }} </span>
              </v-btn>
            </td>
            <td class="text-xs-center" v-if="isHouseDistrictsRequired && is2ndWorkDistrictRequired">
              <v-btn flat small @click="openDistrictModal(props.item.work2_house_district  )">
                <span class="clickable-cell">{{ props.item.work2_house_district }} </span>
              </v-btn>
            </td>
            <td class="text-xs-center" v-if="is2ndWorkDistrictRequired">
              <v-btn flat small @click="openDistrictModal(props.item.work2_sen_district  )">
                <span class="clickable-cell">{{ props.item.work2_sen_district  }} </span>
              </v-btn>
            </td>
            <td class="text-xs-center" v-if="isHouseDistrictsRequired && is3rdWorkDistrictRequired">
              <v-btn flat small @click="openDistrictModal(props.item.work3_house_district  )">
                <span class="clickable-cell">{{ props.item.work3_house_district  }} </span>
              </v-btn>
            </td>
            <td class="text-xs-center" v-if="is3rdWorkDistrictRequired">
              <v-btn flat small @click="openDistrictModal(props.item.work3_sen_district)">
                <span class="clickable-cell">{{ props.item.work3_sen_district }} </span>
              </v-btn>
            </td>
            <td class="text-xs-center" v-if="isHouseDistrictsRequired && is4thWorkDistrictRequired">
              <v-btn flat small @click="openDistrictModal(props.item.work4_house_district  )">
                <span class="clickable-cell">{{ props.item.work4_house_district  }} </span>
              </v-btn>
            </td>
            <td class="text-xs-center" v-if="is4thWorkDistrictRequired">
              <v-btn flat small @click="openDistrictModal(props.item.work4_sen_district )">
                <span class="clickable-cell">{{ props.item.work4_sen_district  }} </span>
              </v-btn>
            </td>
          </tr>
        </template>
        <template v-slot:no-data>
          <p class="text-xs-center mb-0">No member registered yet.</p>
        </template>
      </v-data-table>
    </v-card>

    <member-file-template-modal ref="memberFileTemplateModal"></member-file-template-modal>
    <edit-member-modal ref="editMemberModal" :client-list="clientList" :region-list="regionList"
                       :refresh="refresh"></edit-member-modal>
    <member-detail-modal ref="memberDetailModal" :selected-client="selectedClient"></member-detail-modal>
    <new-member-modal ref="newMemberModal" :client-list="clientList" :region-list="regionList"
                      :refresh="refresh"></new-member-modal>

    <district-modal v-if="districtModalEnabled"></district-modal>
  </div>
</template>

<script>
  import swal from 'sweetalert2'
  import ClientService from '../services/ClientService'
  import MemberService from '../services/MemberService'
  import EditMemberModal from '../components/MembersPage/EditMemberModal.vue'
  import MemberDetailModal from '../components/MembersPage/MemberDetailModal.vue'
  import MemberFileTemplateModal from '../components/MembersPage/MemberFileTemplateModal.vue'
  import MembersPageHelpModal from '../components/HelpModals/MembersPageHelpModal'
  import NewMemberModal from '../components/MembersPage/NewMemberModal.vue'
  import DistrictService from '../services/DistrictService'
  import DistrictModal from '../components/District/DistrictModal'

  export default {
    name: 'MembersPage',
    mixins: [ClientService, MemberService, DistrictService],
    components: {
      DistrictModal,
      EditMemberModal,
      MemberDetailModal,
      MemberFileTemplateModal,
      MembersPageHelpModal,
      NewMemberModal,
    },
    data() {
      return {
        isLoading: false,
        isUpdating: false,
        isImporting: false,
        showingInactiveUsers: false,
        search: '',
        clientList: [],
        selectedClientId: null,
        memberList: [],
        pagination: {
          rowsPerPage: 10,
        }
      }
    },
    computed: {
      isCoordinatorRequired() {
        return this.selectedClient && this.selectedClient.uses_coordinators
      },
      isHouseDistrictsRequired() {
        return this.selectedClient && this.selectedClient.state.house_districts
      },
      is2ndWorkDistrictRequired() {
        return this.selectedClient && this.selectedClient.uses_2nd_work
      },
      is3rdWorkDistrictRequired() {
        return this.selectedClient && this.selectedClient.uses_3rd_work
      },
      is4thWorkDistrictRequired() {
        return this.selectedClient && this.selectedClient.uses_4th_work
      },
      memberTableHeader() {
        let tableHeader = [
          {text: '', value: '', align: 'center', sortable: false},
          {text: 'Member', value: 'lastname', align: 'left'},
          {text: 'Valid Email/Cell?', value: 'is_email_cell_valid', align: 'center'},
          {text: 'KP Eligible?', value: 'eligible', align: 'center'},
          {text: 'Coordinator?', value: 'coordinator', align: 'center'},
          {text: 'Notes', value: 'notes', align: 'center'},
          {text: 'Districts Set?', value: 'is_district_set', align: 'center'},
          {text: 'HHD', value: 'home_house_district', align: 'center'},
          {text: 'HSD', value: 'home_sen_district', align: 'center'},
          {text: 'WHD', value: 'work_house_district', align: 'center'},
          {text: 'WSD', value: 'work_sen_district', align: 'center'},
          {text: 'W2HD', value: 'work2_house_district', align: 'center'},
          {text: 'W2SD', value: 'work2_sen_district', align: 'center'},
          {text: 'W3HD', value: 'work3_house_district', align: 'center'},
          {text: 'W3SD', value: 'work3_sen_district', align: 'center'},
          {text: 'W4HD', value: 'work4_house_district', align: 'center'},
          {text: 'W4SD', value: 'work4_sen_district', align: 'center'},
        ]
        let hiddenColumns = []
        if (!this.isCoordinatorRequired) {
          hiddenColumns.push('Coordinator?')
        }
        if (!this.isHouseDistrictsRequired) {
          hiddenColumns.push('HHD', 'WHD', 'W2HD', 'W3HD', 'W4HD')
        }
        if (!this.is2ndWorkDistrictRequired) {
          hiddenColumns.push('W2HD', 'W2SD')
        }
        if (!this.is3rdWorkDistrictRequired) {
          hiddenColumns.push('W3HD', 'W3SD')
        }
        if (!this.is4thWorkDistrictRequired) {
          hiddenColumns.push('W4HD', 'W4SD')
        }
        tableHeader = tableHeader.filter(header => !hiddenColumns.includes(header.text))
        return tableHeader
      },
      filteredMemberList() {
        if (this.showingInactiveUsers) {
          return this.memberList
        }
        return this.memberList.filter(member => member.active)
      },
      activeMemberCount() {
        return this.memberList.filter(member => member.active).length
      },
      regionList() {
        if (!this.selectedClient || !this.selectedClient.region_count) return []
        const regionList = _.range(1, this.selectedClient.region_count + 1)
        const memberRegionList = this.memberList.map(member => member.coordinator)
        return regionList.filter(region => !memberRegionList.includes(region))
      },
      selectedClient() {
        if (!this.selectedClientId) return null
        return this.clientList.find(client => client.id === this.selectedClientId)
      }
    },
    async mounted() {
      this.selectedClientId = this.userClient ? this.userClient.id : null
      this.clientList = (await this.getClients()).data
      this.refresh()
    },
    methods: {
      async refresh() {
        if (!this.selectedClientId) return
        this.isLoading = true
        this.memberList = (await this.getClientMembers(this.selectedClientId)).data
        this.memberList.forEach((member) => {
          member.is_email_cell_valid = !this.isBad(member.email) && !this.isBad(member.cell)
        })
        this.memberList.forEach((member) => {
          member.is_district_set = false
          member.is_district_set |= (!!member.home_house_district || !!member.home_sen_district)
          member.is_district_set |= (!!member.work_house_district || !!member.work_sen_district)
          member.is_district_set |= (!!member.work2_house_district || !!member.work2_sen_district)
          member.is_district_set |= (!!member.work3_house_district || !!member.work3_sen_district)
          member.is_district_set |= (!!member.work4_house_district || !!member.work4_sen_district)
        })
        this.isLoading = false
      },
      customFilter(items, search, filter) {
        search = search.toString().toLowerCase()
        return items.filter((row) => {
          const fullname1 = `${row.firstname} ${row.lastname}`.toLowerCase()
          const fullname2 = `${row.nickname} ${row.lastname}`.toLowerCase()
          return filter(fullname1, search) || filter(fullname2, search)
        })
      },
      onUpdateDistricts() {
        swal({
          title: 'Are you sure?',
          html: `
          This action will overwrite all of the districts for all of your members that have a valid address.
          For blank addresses, or invalid addresses for which you have already manually set districts, no changes will be made.
          This is useful after an initial import, or if your state has recently redistricted.<br />
          <b>It cannot be undone.</b>
        `,
          type: 'question',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Yes, proceed',
          reverseButtons: true,
        }).then((result) => {
          if (result.value) {
            this.isUpdating = true
            this.updateClientDistricts(this.selectedClient.id)
              .then((res) => {
                swal({
                  title: 'Completed Updating Members',
                  type: 'info',
                  html: `${res.data.updated} members updated.<br /> ${res.data.skipped} of invalid addresses skipped.`,
                  confirmButtonColor: '#3085d6',
                })
                this.isUpdating = false
              })
              .catch((err) => {
                this.isUpdating = false
                this.handleError(err)
              })
          }
        })
      },
      async onImportMember() {
        const file = this.$refs.memberFileUploader.files[0]
        if (!file) return
        const body = new FormData
        body.append('file', file)
        this.isImporting = true
        const result = (await this.importClientMembers(this.selectedClientId, body)).data
        this.isImporting = false
        if (!result) {
          toastr.error('Invalid file.', 'Error!')
          return
        }
        this.refresh()
        swal({
          title: 'Completed Importing Members',
          type: 'info',
          html: `Successfully imported ${result.success} members<br /> Failed to import ${result.failure} members.`,
          confirmButtonColor: '#3085d6',
        })
      },
      onDeleteMember(memberId) {
        swal({
          title: 'Are you sure to delete this member?',
          type: 'question',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Yes',
          reverseButtons: true,
        }).then((result) => {
          if (result.value) {
            this.deleteMember(memberId)
              .then((res) => {
                toastr.clear()
                toastr.success('Member has been deleted.', 'Success!')
                this.refresh()
              })
              .catch((err) => {
                toastr.clear()
                toastr.error('Something went wrong.', 'Error!')
              })
          }
        })
      },
      onEditMember(member) {
        this.$refs.editMemberModal.toggle(member)
      }
    }
  }
</script>

<style lang="scss" scoped>
  .client-selector {
    margin-right: 16px;
    max-width: 200px;
  }

  td {
    padding: 4px;
  }
</style>

<style lang="scss">
  .inactive {
    background-color: rgb(235, 235, 228);
  }

  .clickable-cell {
    text-decoration: underline;
    font-weight: normal;
    font-size: .9em;
    color: #3490dc;
    cursor: pointer
  }
</style>
