<template>
  <div class="fill-width">
    <v-card id="messagePage" class="card-container">
      <v-card class="member-list-sidebar" v-show="!isMobile || (isMobile && !selectedMember)">
        <header class="pa-3">
          <v-layout align-center class="mb-3">
            <div class="title">Messages</div>
            <v-spacer></v-spacer>
            <v-btn icon color="primary" class="ma-0" :loading="isLoading" @click="refresh">
              <v-icon dark>refresh</v-icon>
            </v-btn>
          </v-layout>
          <v-text-field hide-details solo placeholder="Name or keyword" prepend-inner-icon="search" v-model="searchText"></v-text-field>
        </header>
        <v-list class="member-list pt-0">
          <v-divider></v-divider>
          <v-list-tile
            avatar
            class="member"
            :class="{
              'active': selectedMemberIndex === index,
              'py-2': isVIP,
              'primary lighten-5': isVIP && member.is_my_kp}
            "
            @click="onSelectMember(index, 0)"
            v-for="(member, index) in memberList"
            :key="member.id"
          >
            <v-list-tile-avatar :color="getColor(member.firstname)">
              <span class="white--text headline">{{ member.firstname[0] }}</span>
            </v-list-tile-avatar>
            <v-list-tile-content>
              <v-list-tile-title>{{ member.firstname }} {{ member.lastname }}</v-list-tile-title>
              <v-list-tile-sub-title>
                {{ member.last_message.created_at | dateDiffFormatter(true) }} | {{ getTextFromHTML(member.last_message.message) }}
              </v-list-tile-sub-title>
              <v-list-tile-sub-title v-if="isVIP && (member.leg_regions || member.coordinator_user)">
                <span v-if="member.leg_regions">Region {{ getUniqueArray(member.leg_regions).join(', ') }}</span>
                <span v-if="member.leg_regions && member.coordinator_user">-</span>
                <span v-if="member.coordinator_user">{{ member.coordinator_user.nickname }} {{ member.coordinator_user.lastname }}</span>
              </v-list-tile-sub-title>
            </v-list-tile-content>
            <v-list-tile-action>
              <v-layout>
                <v-badge right overlap color="error" class="mr-3">
                  <template v-slot:badge>
                    <span v-if="!!member.unseen_email_count">{{ member.unseen_email_count }}</span>
                  </template>
                  <v-btn icon ripple @click.stop="onSelectMember(index, 0)">
                    <v-icon :color="selectedMemberIndex === index && messageType === 0 ? 'primary' : 'grey lighten-1'">mail_outline</v-icon>
                  </v-btn>
                </v-badge>
                <v-badge right overlap color="error">
                  <template v-slot:badge>
                    <span v-if="!!member.unseen_text_count">{{ member.unseen_text_count }}</span>
                  </template>
                  <v-btn icon ripple @click.stop="onSelectMember(index, 1)">
                    <v-icon :color="selectedMemberIndex === index && messageType === 1 ? 'primary' : 'grey lighten-1'">phone_iphone</v-icon>
                  </v-btn>
                </v-badge>
              </v-layout>
            </v-list-tile-action>
          </v-list-tile>
        </v-list>
      </v-card>
      <v-card-text class="conversation-container" v-if="selectedMember">
        <div class="py-3">
          <v-layout align-center>
            <v-flex xs2>
              <v-btn icon @click="selectedMemberIndex = null" v-if="isMobile">
                <v-icon size="24">chevron_left</v-icon>
              </v-btn>
            </v-flex>
            <v-flex xs10>
              <v-layout justify-center align-center>
                <div class="text-xs-center title">{{ selectedMember.firstname }} {{ selectedMember.lastname }}</div>
                <v-icon size="24" class="ml-1" v-if="messageType === 0">mail_outline</v-icon>
                <v-icon size="24" class="ml-1" v-else>phone_iphone</v-icon>
              </v-layout>
            </v-flex>
            <v-flex xs2></v-flex>
          </v-layout>
        </div>
        <v-divider></v-divider>
        <div ref="messageListView" class="message-list-view">
          <div v-for="(group, index) in groupedMessageList" :key="index">
            <div>
              <v-layout align-center class="my-4">
                <v-divider></v-divider>
                <div class="px-4">{{ group.date }}</div>
                <v-divider></v-divider>
              </v-layout>
            </div>
            <div class="mb-2" v-for="message in group.messageList" :key="message.id">
              <v-layout>
                <v-spacer v-if="!message.is_reply"></v-spacer>
                <v-avatar :color="getColor(selectedMember.firstname)" v-if="message.is_reply">
                  <span class="white--text headline">{{ selectedMember.firstname[0] }}</span>
                </v-avatar>
                <div class="message" :class="{'reply': message.is_reply}">
                  <v-layout align-center>
                    <div class="font-weight-bold">
                      {{ userClient.assoc_abbrev }}
                      {{ message.is_reply ? `- ${selectedMember.firstname} ${selectedMember.lastname}` : '' }}
                    </div>
                    <v-spacer />
                    <div class="ml-3">{{ message.created_at | timeFormatter }}</div>
                  </v-layout>
                  <div class="mt-1 ql-editor readonly" v-html="message.message"></div>
                </div>
                <v-avatar color="blue-grey" v-if="!message.is_reply">
                  <span class="white--text headline">{{ userClient.assoc_abbrev[0] }}</span>
                </v-avatar>
              </v-layout>
            </div>
          </div>
        </div>
        <div class="input_area" v-if="messageType == 0">
          <div class="input_area__field input_area__editor" v-if="isEditor && !userClient.is_reply_disabled">
            <div class="input_area__field--ez-login-btn">
              <v-tooltip bottom>
                <template v-slot:activator="{ on }">
                  <v-btn icon small color="accent" class="ml-0" @click="onAddVariableEmail('{ez_login}')" v-on="on" :loading="linkInsertion">
                    <v-icon size="16">insert_link</v-icon>
                  </v-btn>
                </template>
                <span>Add easy login link</span>
              </v-tooltip>
            </div>
            <div class="input_area__field--wrapper">
              <quill-editor ref="quillEditor" :options="quillEditorOption" v-model="replyMessage"></quill-editor>
            </div>
            <v-btn icon color="primary" @click="onSendMessage" :disabled="replyMessage.length <= 0 || linkInsertion"><v-icon size="16">send</v-icon></v-btn>
            <div class="input_area__cancel">
              <v-btn @click="hideEditor" color="error" icon flat><v-icon size="16">close</v-icon></v-btn>
            </div>
          </div>
          <div class="input_area__field input_area__default" v-else>
            <v-text-field
              placeholder="Enter the message to reply"
              class="mt-2"
              @focus="showEditor"
              v-if="!userClient.is_reply_disabled"
            >
            </v-text-field>
          </div>
        </div>
        <div class="input_area" v-else>
          <div class="input_area__field input_area__default">
            <div>
              <v-tooltip bottom>
                <template v-slot:activator="{ on }">
                  <v-btn icon small color="accent" class="mt-0 mb-3 ml-0" @click="onAddVariableSms('{ez_login}')" v-on="on" :loading="linkInsertion">
                    <v-icon size="16">insert_link</v-icon>
                  </v-btn>
                </template>
                <span>Add easy login link</span>
              </v-tooltip>
            </div>
            <v-text-field
              label=""
              ref="smsInput"
              placeholder="Enter the message to reply"
              class="mt-2"
              :counter="!!messageType"
              :maxlength="messageType ? 150 : undefined"
              append-icon="send"
              v-model="replyMessage"
              @click:append="onSendMessage"
              @keyup.enter="onSendMessage"
              v-if="!userClient.is_reply_disabled"
              :disabled="linkInsertion"
            >
            </v-text-field>
          </div>
        </div>
      </v-card-text>
    </v-card>

    <div id="htmlConvertContainer" v-show="false"></div>
  </div>
</template>

<script>
import _ from 'lodash'
import { ImageResize } from 'quill-image-resize-module'
import ClientService from '../services/ClientService'
import UserService from '../services/UserService'
import { quillEditor } from 'vue-quill-editor'
import EditorImageUpload from '../../../mixins/EditorImageUploadMixin'

export default {
  name: 'MessagesPage',
  mixins: [ClientService, UserService, EditorImageUpload],
  components: {
    quillEditor
  },
  data () {
    return {
      isMini: false,
      isLoading: true,
      searchText: '',
      selectedMemberIndex: null,
      memberList: [],
      messageList: [],
      messageType: 0,
      replyMessage: '',
      isEditor: false,
      linkInsertion: false
    }
  },
  async mounted () {
    this.refresh()
  },
  computed: {
    selectedMember () {
      return this.memberList[this.selectedMemberIndex]
    },
    groupedMessageList () {
      const messageList = this.messageList.filter(message => message.is_sms === this.messageType)
      const groupedMessageMap = _.groupBy(messageList, (message) => {
        return this.getLocaleFromUTC(message.created_at, 'dddd MMMM DD, YYYY')
      })
      const groupedMessageList = []
      _.forEach(groupedMessageMap, (messageList, date) => {
        groupedMessageList.push({
          date,
          messageList
        })
      })
      return groupedMessageList
    },
    isMobile () {
      return window.screen.width <= 768
    },
    quillEditorOption () {
      return {
        modules: {
          toolbar: [
            [{ 'size': ['small', false, 'large'] }],
            [ 'bold', 'italic', 'underline', 'strike' ],
            [{ 'color': [] }, { 'background': [] }],
            [{ 'list': 'ordered' }, { 'list': 'bullet'}, { 'indent': '-1' }, { 'indent': '+1' }],
            [ 'direction', { 'align': [] }],
            //[ 'link', 'image' ],
            [ 'clean', 'image' ]
          ],
          imageResize: {
            displaySize: true
          }
        },
        placeholder: 'Enter the message to reply',
      }
    },
  },
  filters: {
    dateFormatter (value) {
      return moment(value).format('hh:mm A')
    }
  },
  methods: {
    getUniqueArray (array) {
      return _.uniq(array)
    },
    scrollToBottom () {
      this.$nextTick().then(() => {
        const element = this.$refs.messageListView
        element.scrollTop = element.scrollHeight
      })
    },
    getTextFromHTML (html) {
      const element = document.getElementById('htmlConvertContainer')
      element.innerHTML = html
      return element.textContent
    },
    async refresh () {
      this.isLoading = true
      this.selectedMemberIndex = null
      this.messageList = []
      this.memberList = (await this.getClientMessageMembers(this.userClientId, {
        search_text: this.searchText,
      })).data
      this.isLoading = false
    },
    async fetchMessageList () {
      this.isLoading = true
      const params = {
        member_id: this.selectedMember.id
      }
      this.messageList = (await this.getClientMessages(this.userClientId, params)).data
      this.scrollToBottom()
      this.isLoading = false
    },
    async onSelectMember (memberIndex, messageType) {
      this.messageType = messageType
      this.replyMessage = ''
      this.selectedMemberIndex = memberIndex
      if (messageType === 0) {
        if (this.selectedMember.unseen_email_count > 0) {
          toastr.success(`Please check ${this.selectedMember.unseen_email_count} new emails`, 'New Messages!')
        }
        this.selectedMember.unseen_email_count = 0
      } else {
        if (this.selectedMember.unseen_text_count > 0) {
          toastr.success(`Please check ${this.selectedMember.unseen_text_count} new texts`, 'New Texts!')
        }
        this.selectedMember.unseen_text_count = 0
      }
      this.memberList.splice(memberIndex, 1, this.selectedMember)
      this.fetchMessageList()
      await this.sawMessage(this.userId, {
        member_id: this.selectedMember.id,
        is_sms: messageType,
      })
      const messageCount = (await this.getClientUnseenMessageCount(this.userClientId)).data
      this.$store.dispatch('appStore/setUnseenMessageCount', messageCount)
    },
    onSendMessage () {
      if (!this.replyMessage) return
      if (this.messageType === 0) {
        const message = {
          id: Math.random(),
          is_reply: 0,
          is_sms: 0,
          message: this.replyMessage,
          created_at: moment.utc().format('YYYY-MM-DD HH:mm:ss'),
        }
        this.messageList.push(message)
        this.scrollToBottom()
        // Send Reply Email
        const payload = {
          clientId: this.userClientId,
          tos: [this.selectedMember.email],
          from: this.userClient.association,
          reply_to_email: this.userClient.reply_to_email,
          subject: '-',
          message: this.replyMessage,
        }
        this.sendEmail(payload)
          .then(() => {
            this.onSelectMember(this.selectedMemberIndex, 0)
          })
      } else {
        const message = {
          id: Math.random(),
          is_reply: 0,
          is_sms: 1,
          message: this.replyMessage,
          created_at: moment.utc().format('YYYY-MM-DD HH:mm:ss'),
        }
        this.messageList.push(message)
        this.scrollToBottom()
        // Send Reply Text
        const payload = {
          clientId: this.userClientId,
          tos: [this.selectedMember.cell],
          message: this.replyMessage,
        }
        this.sendText(payload)
          .then(() => {
            this.onSelectMember(this.selectedMemberIndex, 1)
          })
      }
      this.replyMessage = ''
    },
    hideEditor() {
      this.isEditor = false
      this.replyMessage = ''
    },
    showEditor() {
      this.isEditor = true
      setTimeout(() => {
        this.setImageUploadHendler()
      }, 500)
    },
    onAddVariableEmail (variable) {
      variable += ' '
      let editor = this.$refs.quillEditor.quill
      let currentPosition = editor.getSelection(true).index
      editor.insertText(currentPosition, variable)
      editor.setSelection(currentPosition + variable.length + 1)

      this.getFormatedText()
    },
    onAddVariableSms(variable) {
      let field = this.$refs.smsInput

      if (field.selectionStart || field.selectionStart == '0') {
        let startPos = field.selectionStart;
        let endPos = field.selectionEnd;
        this.replyMessage = field.value.substring(0, startPos)
          + variable
          + field.value.substring(endPos, field.value.length);
      } else {
        this.replyMessage = field.value + variable;
      }

      this.getFormatedText()
    },
    getFormatedText() {
      this.linkInsertion = true
      let payload = {
        legislator_id: this.selectedMember.client_id,
        member_id: this.selectedMember.id,
        message: this.replyMessage,
      }

      this.getAppFormattedMessage(payload).then(response => {
        this.replyMessage = response.data
        this.linkInsertion = false
      })
    }
  },
  watch: {
    searchText: _.debounce(function() {
      this.refresh()
    }, 300)
  }
}
</script>

<style lang="scss" scoped>
$mobile-screen-width: 768px;

.card-container {
  display: flex;
  height: calc(100vh - 150px);

  .member-list-sidebar {
    max-width: 320px;
    width: 100%;

    header {
      background-color: #FAFAFA;
    }

    .member-list {
      overflow-y: auto;
      height: calc(100vh - 280px);
    }

    @media screen and (max-width: $mobile-screen-width) {
      max-width: inherit;
    }
  }
  .member {
    cursor: pointer;

    &:hover {
      background-color: #eee;
    }
    &.active {
      background-color: #eee;
    }
  }

  .conversation-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;

    .reply-tabbar {
      border-bottom: 2px solid #eee;
    }
    .message-list-view {
      flex: 1;
      overflow-y: auto;

      // &::-webkit-scrollbar {
      //   display: none;
      // }

      .message {
        margin: 0px 8px;
        padding: 8px 16px;
        max-width: 600px;
        background: #d6f2fd;
        border-radius: 8px;

        &.reply {
          background: #eee;
        }
      }
    }
  }
}
.input {
  &_area {
    &__field {
      display: flex;
      align-items: flex-end;
      position: relative;
      &--wrapper {
        width: 100%;
      }
      .quill-editor {
        width: 100%;
      }
      &--counter {
        display: flex;
        justify-content: space-between;
        font-size: 12px;
        color: #666;
        margin-top: 4px;
        &.error-color {
          color: red;
        }
        span {
          &:last-child {
            margin-left: auto;
          }
        }
      }
    }
    &__cancel {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}
</style>

<style lang="scss">
#messagePage {
  .member-list-sidebar {
    .v-list__tile__action {
      min-width: 75px;
    }
  }
  .conversation-container {
    .v-avatar {
      min-width: 48px;
    }
  }
  .message {
    img {
      max-width: 100%;
    }
  }
  .ql-container.ql-snow {
    overflow: hidden;
  }
}
.input {
  &_area {
    &__field {
      .ql-editor {
        height: auto!important;
        max-height: 200px;
      }
    }
  }
}


</style>
