<template>
  <div class="fill-width">
    <v-card>
      <v-card-title class="pb-0">
        <h1>My KPs</h1>
        <v-btn color="primary" @click="$refs.taskModal.toggle()" :disabled="!taskList.length">
          Show Tasks
          <v-icon dark class="ml-2">list</v-icon>
        </v-btn>
      </v-card-title>
      <v-list two-line>
        <template v-for="(kp, index) in kpList">
          <v-list-tile avatar  @click="$refs.kpDetailModal.toggle(kp)">
            <v-list-tile-avatar :color="getColor(kp.nickname)">
              <img :src="kp.avatar_url" v-if="kp.avatar_url">
              <span class="white--text headline" v-else>{{ kp.nickname[0] }}</span>
            </v-list-tile-avatar>
            <v-list-tile-content>
              <v-list-tile-title>{{ kp.nickname }} {{ kp.lastname }}</v-list-tile-title>
              <v-list-tile-sub-title>{{ kp.legislators.map(legislator => legislator.lastname).join(', ') }}</v-list-tile-sub-title>
            </v-list-tile-content>
            <!-- removed icons (AP July 9, 2019)
            <v-list-tile-action>
              <v-layout align-center>
                <v-icon color="primary" @click="$refs.sendTextModal.toggle(kp)">chat_bubble</v-icon>
                <v-icon class="pl-2" color="primary" @click="$refs.kpDetailModal.toggle(kp)">info</v-icon>
              </v-layout>
            </v-list-tile-action>
            -->
          </v-list-tile>
          <v-divider></v-divider>
        </template>
      </v-list>
    </v-card>

    <kp-detail-modal ref="kpDetailModal" :send-text-modal-ref="$refs.sendTextModal"></kp-detail-modal>
    <send-text-modal ref="sendTextModal"></send-text-modal>
    <task-modal ref="taskModal" :task-list="taskList"></task-modal>
  </div>
</template>

<script>
import swal from 'sweetalert2'
import ClientService from '../services/ClientService'
import KPDetailModal from '../components/MyKPPage/KPDetailModal.vue'
import SendTextModal from '../components/MyKPPage/SendTextModal.vue'
import TaskModal from '../components/KPTasksPage/TaskModal.vue'

export default {
  name: 'MyKPPage',
  mixins: [ClientService],
  components: {
    kpDetailModal: KPDetailModal,
    SendTextModal,
    TaskModal,
  },
  data () {
    return {
      isLoading: false,
      taskList: [],
      kpList: [],
    }
  },
  async mounted () {
    this.refresh()
  },
  methods: {
    async refresh () {
      this.isLoading = true
      const res = (await this.getMyKPs(this.userClient.id)).data
      this.taskList = res.tasks
      this.kpList = res.myKPList
      this.isLoading = false
    }
  }
}
</script>

<style lang="scss" scoped>
</style>

<style lang="scss">
</style>
