<template>
  <div id="myTasksPage" class="fill-width">
  <v-subheader><v-icon small>help</v-icon> for more info and be sure to click Save!</v-subheader>
    <v-card>
      <v-card-text class="pa-0" v-if="legislators.length > 0">
        <v-tabs show-arrows color="#FAFAFA" height="60" v-model="activeTabIndex" @change="onSelectTab(activeTabIndex)">
          <v-tab ripple v-for="(legislator, index) in legislators" :key="legislator.id">
            Legislator {{ index + 1 }}
          </v-tab>
        </v-tabs>
        <v-card>
          <v-card-text class="pt-4" style="padding-bottom: 36px">
            <v-layout align-start justify-start column class="mb-3">
              <v-btn small color="primary" dark @click="$refs.legislatorDetailForKPModal.toggle()">{{ selectedLegislator.fullname }}</v-btn>
              <router-link class="subheading no-underline" :to="{ 'name': 'district-lookup-page', 'query': { 'district': selectedLegislator.district.district } }">
                <v-chip outline small color="primary" text-color="primary">
                  View {{ selectedLegislator.district.district }} Constituents
                  <v-icon class="pl-2">group</v-icon>
                </v-chip>
              </router-link>
            </v-layout>
            <v-layout class="mb-3" v-for="kp in selectedLegislator.kps" :key="kp.id">
              <div class="subheading kp-position-label">{{ kp.kp_position === 1 ? 'Primary KP: ' : `KP${kp.kp_position}: ` }}</div>
              <div class="ml-2 subheading">{{ kp.firstname }} {{ kp.lastname }}</div>
              <v-tooltip bottom v-if="kp.kp_position !== 1 && !!kp.cell">
                <template v-slot:activator="{ on }">
                  <a :href="'tel:' + kp.cell" v-on="on">
                    <v-icon color="primary" size="16" class="ml-2">phone_iphone</v-icon>
                  </a>
                </template>
                <span>{{ kp.cell }}</span>
              </v-tooltip>
              <v-tooltip bottom v-if="kp.kp_position !== 1 && !!kp.email">
                <template v-slot:activator="{ on }">
                  <a :href="'mailto:' + kp.email" v-on="on">
                    <v-icon color="primary" size="16" class="ml-2">email</v-icon>
                  </a>
                </template>
                <span>{{ kp.email }}</span>
              </v-tooltip>
            </v-layout>
            <v-divider class="my-3"></v-divider>
            <v-subheader><v-icon small>info</v-icon> Dates are target deadlines for each task.</v-subheader>
            <v-layout wrap>
              <v-flex xs12 md6 lg3 class="px-2" v-for="task in tasks" :key="'TASK1_' + task.id" v-if="tasks.length > 0 && task.task_type.data_type !== 'Notes'">
                <v-checkbox
                  type="checkbox"
                  :label="getTaskName(task)"
                  v-model="taskResult['task' + task.id]"
                  @change="handleFormChange"
                  v-if="task.task_type.data_type === 'Boolean'">
                  <template v-slot:label>
                    <span>{{ getTaskName(task) }}</span>
                    <span class="pl-1" :class="getDeadlineColor(task)" v-if="task.deadline">({{ task.deadline | dateFormatter('MMM D, YYYY') }})</span>
                  </template>
                  <template v-slot:append>
                    <v-tooltip bottom>
                      <template v-slot:activator="{ on }">
                        <v-icon v-on="on">help</v-icon>
                      </template>
                      <span>{{ task.tooltip }}</span>
                    </v-tooltip>
                  </template>
                </v-checkbox>
                <v-text-field
                  :label="getTaskName(task)"
                  class="task-input"
                  @change="handleFormChange"
                  v-model="taskResult['task' + task.id]"
                  v-if="task.task_type.data_type === 'String'">
                  <template v-slot:label>
                    <span>{{ getTaskName(task) }}</span>
                    <span :class="getDeadlineColor(task)" v-if="task.deadline">({{ task.deadline | dateFormatter('MMM D, YYYY') }})</span>
                  </template>
                  <template v-slot:append>
                    <v-tooltip bottom>
                      <template v-slot:activator="{ on }">
                        <v-icon v-on="on">help</v-icon>
                      </template>
                      <span>{{ task.tooltip }}</span>
                    </v-tooltip>
                  </template>
                </v-text-field>
                <v-text-field
                  type="number"
                  :label="getTaskName(task)"
                  prepend-icon="attach_money"
                  class="task-input"
                  @change="handleFormChange"
                  v-model="taskResult['task' + task.id]"
                  v-if="task.task_type.data_type === 'Currency'">
                  <template v-slot:label>
                    <span>{{ getTaskName(task) }}</span>
                    <span :class="getDeadlineColor(task)" v-if="task.deadline"></span>
                  </template>
                  <template v-slot:append>
                    <v-tooltip bottom>
                      <template v-slot:activator="{ on }">
                        <v-icon v-on="on">help</v-icon>
                      </template>
                      <span>{{ task.tooltip }}</span>
                    </v-tooltip>
                  </template>
                </v-text-field>
                <v-select
                  :label="getTaskName(task)"
                  class="task-input"
                  @change="handleFormChange"
                  :items="task.task_type.options"
                  v-model="taskResult['task' + task.id]"
                  v-if="task.task_type.data_type === 'Select'">
                  <template v-slot:label>
                    <span>{{ getTaskName(task) }}</span>
                    <span :class="getDeadlineColor(task)" v-if="task.deadline">({{ task.deadline | dateFormatter('MMM D, YYYY') }})</span>
                  </template>
                  <template v-slot:append-outer>
                    <v-tooltip bottom>
                      <template v-slot:activator="{ on }">
                        <v-icon v-on="on">help</v-icon>
                      </template>
                      <span>{{ task.tooltip }}</span>
                    </v-tooltip>
                  </template>
                </v-select>
              </v-flex>
            </v-layout>
            <v-layout wrap>
              <v-flex xs12 md6 lg3 class="pl-3 pr-1" v-for="task in tasks" :key="'TASK2_' + task.id" v-if="tasks.length > 0 && task.task_type.data_type === 'Notes'">
                <v-textarea
                  label="Pertinent Session Notes"
                  class="task-input"
                  @change="handleFormChange"
                  v-model="taskResult['task' + task.id]">
                </v-textarea>
              </v-flex>
            </v-layout>
          </v-card-text>
          <v-card-actions id="save-buttons">
            <v-layout>
              <v-spacer></v-spacer>
              <v-btn color="primary" :loading="isBusy"  v-if="formChanged" @click="onSave">Save</v-btn>
            </v-layout>
          </v-card-actions>
        </v-card>
      </v-card-text>
      <v-card-text v-else>
        <v-alert type="warning" outline :value="true">
          It seems there’s no active session or assigned task.
        </v-alert>
      </v-card-text>
    </v-card>

    <legislator-detail-for-k-p-modal ref="legislatorDetailForKPModal" :legislator="selectedLegislator"></legislator-detail-for-k-p-modal>
  </div>
</template>

<script>
import MemberService from '../services/MemberService'
import LegislatorDetailForKPModal from '../components/MyTasksPage/LegislatorDetailForKPModal.vue'

export default {
  name: 'MyTasksPage',
  mixins: [MemberService],
  components: {
    LegislatorDetailForKPModal,
  },
  data () {
    return {
      legislators: [],
      tasks: [],
      taskResults: [],
      activeTabIndex: 0,
      taskResult: {},
      isBusy: false,
      formChanged: false
    }
  },
  mounted () {
    this.refresh()
  },
  computed: {
    selectedLegislator () {
      if (this.legislators.length === 0) return null
      return this.legislators[this.activeTabIndex]
    }
  },
  methods: {
    async refresh () {
      const result = (await this.getKPTasks(this.userId)).data
      this.legislators = result.legislators
      this.tasks = result.tasks
      this.taskResults = result.task_results
      if (this.legislators.length > 0) {
        this.onSelectTab(this.activeTabIndex)
      }
    },
    handleFormChange () {
      this.formChanged = true
    },
    getTaskName (task) {
      let name = task.name
      if (name === 'KP1 Donations') {
        name = 'My donations to this legislator'
      }
      if (name === 'Other Donations') {
        name = 'Other non-PAC donations'
      }
      return name
    },
    getDeadlineColor (task) {
      const remainingDays = moment.duration(moment(task.deadline).diff(moment())).asDays()
      if (remainingDays < 0) return 'text-line-through'
      if (remainingDays < 14) return 'error--text'
      return 'success--text'
    },
    onSelectTab (tabIndex) {
      this.activeTabIndex = tabIndex
      this.taskResult = {}
      this.taskResults.forEach((taskResult) => {
        if (taskResult.legislator_id === this.selectedLegislator.id) {
          const task = this.tasks.find(task => task.id === taskResult.task_id)
          let value = taskResult.result
          if (task && task.task_type.data_type === 'Boolean') {
            value = (value === 'YES')
          }
          this.taskResult[`task${taskResult.task_id}`] = value
        }
      })
      this.taskResult = { ...this.taskResult }
    },
    onSave () {
      this.isBusy = true
      const payload = {
        id: this.userId,
        legislator_id: this.selectedLegislator.id,
        results: [],
      }
      _.forEach(this.taskResult, (value, key) => {
        const taskId = parseInt(key.split('task')[1])
        const task = this.tasks.find(task => task.id === taskId)
        if (task && task.task_type.data_type === 'Boolean') {
          value = value ? 'YES' : 'NO'
        }
        payload.results.push({
          task_id: taskId,
          result: value
        })
      })
      this.addKPTaskResults(payload)
        .then(() => {
          this.isBusy = false
          toastr.clear()
          toastr.success('Task result has been saved.', 'Success')
          this.refresh()
        })
        .catch((err) => {
          this.handleError(err)
        })
    },
  }
}
</script>

<style lang="scss" scoped>
.kp-position-label {
  width: 145px;
}
.task-input {
  max-width: 350px;
}
.no-underline {
  text-decoration: none;
}
.text-line-through {
  text-decoration: line-through;
}
</style>

<style lang="scss">
#myTasksPage {
  .v-chip__content {
    cursor: pointer;
  }
}
@media only screen and (max-width: 1200px) {
  #save-buttons {
    position: fixed;
    right: 1.5em;
    bottom: 20px;
  }
}
</style>
