<template>
  <div class="fill-width">
    <v-card class="mb-4">
      <v-card-title>
        <h1>Sessions</h1>
        <sessions-page-session-help-modal></sessions-page-session-help-modal>
        <v-spacer></v-spacer>
        <v-btn color="warning" @click="$refs.newSessionModal.toggle(selectedClient)" :disabled="!selectedClient">
          New Session
          <v-icon dark class="ml-2">playlist_add</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-title class="pt-0 align-end">
        <v-select
          label="Client"
          hide-details
          class="client-selector mr-2"
          item-text="assoc_abbrev"
          item-value="id"
          :items="clientList"
          v-model="selectedClientId"
          @input="refresh"
          v-if="isSuperAdmin">
        </v-select>
        <v-checkbox hide-details label="Show Past Sessions" class="mt-0" v-model="showingPastSessions"></v-checkbox>
      </v-card-title>
      <v-data-table :loading="isLoading" class="elevation-1" :pagination.sync="sessionTablePagination" :headers="sessionTableHeader" :items="filteredSessionList">
        <template v-slot:items="props">
          <tr class="inactive" :class="{'active': activeSession && props.item.id === activeSession.id}">
            <td class="justify-center layout">
              <v-btn icon class="mx-0" @click="$refs.editSessionModal.toggle(selectedClient, props.item)">
                <v-icon color="primary">edit</v-icon>
              </v-btn>
            </td>
            <td class="text-xs-center">{{ props.item.name }}</td>
            <td class="text-xs-center">
              <v-tooltip bottom v-if="!!props.item.notes" max-width="450">
                <template v-slot:activator="{ on }">
                  <v-icon color="primary" v-on="on">note</v-icon>
                </template>
                <span>{{ props.item.notes }}</span>
              </v-tooltip>
            </td>
            <td class="text-xs-center">{{ props.item.start_at }}</td>
            <td class="text-xs-center">{{ props.item.end_at }}</td>
            <td class="text-xs-center">
              <v-btn icon :to="{'name': 'kp-tasks-page', 'query': {'session': props.item.id}}">
                <v-icon color="primary">playlist_add_check</v-icon>
              </v-btn>
            </td>
          </tr>
        </template>
        <template v-slot:no-data>
          <p class="text-xs-center mb-0">
            {{ showingPastSessions ? 'No session created yet.' : 'No active session.' }}
          </p>
        </template>
      </v-data-table>
    </v-card>

    <v-card>
      <v-card-title>
        <h2>"{{ activeSession ? `${activeSession.name}` : '' }}" Tasks ({{taskList.length}})</h2>
        <sessions-page-task-help-modal></sessions-page-task-help-modal>
        <v-spacer></v-spacer>
        <v-btn color="warning" @click="$refs.newTaskModal.toggle()" :disabled="!activeSession">
          New Task
          <v-icon dark class="ml-2">playlist_add_check</v-icon>
        </v-btn>
      </v-card-title>
      <v-alert type="warning" outline :value="true" v-if="!activeSession">
        You must have an active session to add tasks.
      </v-alert>
      <v-data-table :loading="isLoading" class="elevation-1" :pagination.sync="taskTablePagination" :headers="taskTableHeader" :items="taskList" v-if="!!activeSession">
        <template v-slot:items="props">
          <tr>
            <td class="justify-end layout">
              <v-btn icon class="mx-0" @click="$refs.editTaskModal.toggle(props.item)">
                <v-icon color="primary">edit</v-icon>
              </v-btn>
              <v-btn icon class="mx-0" @click="onDeleteTask(props.item.id)">
                <v-icon color="pink">delete</v-icon>
              </v-btn>
            </td>
            <!-- <td>{{ props.index + 1 }}</td> -->
            <td class="text-xs-left">{{ props.item.name }}</td>
            <td class="text-xs-left">{{ props.item.tooltip }}</td>
            <td class="text-xs-center">
              <v-tooltip bottom v-if="!!props.item.notes" max-width="450">
                <template v-slot:activator="{ on }">
                  <v-icon color="primary" v-on="on">note</v-icon>
                </template>
                <span>{{ props.item.notes }}</span>
              </v-tooltip>
            </td>
            <td class="text-xs-left no-line-break">{{ props.item.deadline | dateFormatter }}</td>
          </tr>
        </template>
        <template v-slot:no-data>
          <p class="text-xs-center mb-0">
            {{ showingPastSessions ? 'No session created yet.' : 'No active session.' }}
          </p>
        </template>
      </v-data-table>
    </v-card>

    <edit-session-modal ref="editSessionModal" :active-session="activeSession" :session-list="sessionList" :committee-list="committeeList" :refresh="refresh"></edit-session-modal>
    <edit-task-modal ref="editTaskModal" :refresh="refreshTaskList"></edit-task-modal>
    <new-session-modal ref="newSessionModal" :active-session="activeSession" :session-list="sessionList" :committee-list="committeeList" :refresh="refresh"></new-session-modal>
    <new-task-modal
      ref="newTaskModal"
      :active-session="activeSession"
      :common-task-list="commonTaskList"
      :task-list="taskList"
      :refresh="refreshTaskList">
    </new-task-modal>
  </div>
</template>

<script>
import swal from 'sweetalert2'
import ClientService from '../services/ClientService'
import SessionService from '../services/SessionService'
import StateService from '../services/StateService'
import TaskService from '../services/TaskService'
import EditSessionModal from '../components/SessionsPage/EditSessionModal.vue'
import EditTaskModal from '../components/SessionsPage/EditTaskModal.vue'
import NewSessionModal from '../components/SessionsPage/NewSessionModal.vue'
import NewTaskModal from '../components/SessionsPage/NewTaskModal.vue'
import SessionsPageSessionHelpModal from '../components/HelpModals/SessionsPageSessionHelpModal'
import SessionsPageTaskHelpModal from '../components/HelpModals/SessionsPageTaskHelpModal'

export default {
  name: 'SessionsPage',
  mixins: [ClientService, SessionService, StateService, TaskService],
  components: {
    EditSessionModal,
    EditTaskModal,
    NewSessionModal,
    NewTaskModal,
    SessionsPageSessionHelpModal,
    SessionsPageTaskHelpModal,
  },
  data () {
    return {
      isLoading: false,
      showingPastSessions: false,
      clientList: [],
      selectedClientId: null,
      sessionList: [],
      activeSession: null,
      committeeList: [],
      commonTaskList: [],
      taskList: [],
      sessionTablePagination: {
        rowsPerPage: 10
      },
      taskTablePagination: {
        rowsPerPage: 10,
        sortBy: 'deadline'
      },
    }
  },
  computed: {
    sessionTableHeader () {
      return [
        { text: '', value: '', align: 'center', sortable: false },
        { text: 'Name', value: 'name', align: 'center' },
        { text: 'Notes', value: 'notes', align: 'center' },
        { text: 'Start At', value: 'start_at', align: 'center' },
        { text: 'End At', value: 'end_at', align: 'center' },
        { text: 'Result', value: '', align: 'center', sortable: false },
      ]
    },
    taskTableHeader () {
      return [
        { text: '', value: '', align: 'center', sortable: false },
        //{ text: 'No', value: '', sortable: false },
        { text: 'Short Task Label', value: 'name', align: 'left' },
        { text: 'Task Explanation', value: 'tooltip', align: 'left' },
        { text: 'Notes', value: 'notes', align: 'center' },
        { text: 'Deadline', value: 'deadline', align: 'left' },
      ]
    },
    selectedClient () {
      if (!this.isSuperAdmin) {
        return this.userClient
      }
      return this.clientList.find(client => client.id === this.selectedClientId) || {}
    },
    filteredSessionList () {
      if (!this.showingPastSessions) {
        return this.activeSession ? [this.activeSession] : []
      }
      return this.sessionList
    }
  },
  async mounted () {
    this.selectedClientId = this.userClientId
    if (this.isSuperAdmin) {
      this.clientList = (await this.getClients()).data
    }
    this.refreshCommonTaskList()
    this.refresh()
  },
  methods: {
    async refresh () {
      if (!this.selectedClientId) return
      this.isLoading = true
      this.activeSession = (await this.getClientActiveSession(this.selectedClientId)).data
      this.sessionList = (await this.getClientSessions(this.selectedClientId)).data
      // Filter Committee List
      const committeeList = (await this.getStateCommittees(this.selectedClient.state_id)).data
      this.committeeList = []
      if (this.selectedClient.state.house_districts) {
        this.committeeList = [
          ...(this.selectedClient.house_committees || [])
        ]
      }
      if (this.selectedClient.state.sen_districts) {
        this.committeeList = [
          ...this.committeeList,
          ...(this.selectedClient.senate_committees || [])
        ]
      }
      this.committeeList = [
        ...this.committeeList,
        ...(this.selectedClient.joint_committees || []),
      ]
      this.committeeList = this.committeeList.map(committeeId => committeeList.find(committee => committee.id === committeeId))
      this.refreshTaskList()
      this.isLoading = false
    },
    async refreshCommonTaskList () {
      this.commonTaskList = (await this.getCommonTasks()).data
      this.commonTaskList.forEach((task) => {
        task.description = `${task.name} - ${task.tooltip}`
      })
    },
    async refreshTaskList () {
      this.taskList = []
      if (!this.activeSession) return
      this.isLoading = true
      this.taskList = (await this.getSessionTasks(this.activeSession.id)).data
      this.isLoading = false
    },
    onDeleteTask (taskId) {
      swal({
        title: 'Are you 100% sure about that?',
        text: 'Deleting a task will result in the permanent deletion of all results attached to this task.  This is not reversible!',
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Delete Task/Results Forever',
        reverseButtons: true,
      }).then((result) => {
        if (result.value) {
          this.deleteTask(taskId)
            .then((res) => {
              toastr.clear()
              toastr.success('Task has been deleted.', 'Success!')
              this.refreshTaskList()
            })
            .catch((err) => {
              toastr.clear()
              toastr.error('Something went wrong.', 'Error!')
            })
        }
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.client-selector {
  max-width: 200px;
}
</style>

<style lang="scss">
tr.active {
  background-color: rgba(34, 103, 192, 0.2);
}
.inactive {
  background-color: rgb(235, 235, 228);
}
</style>
