<template>
  <div class="fill-width">
    <v-card v-if="!isLoading">
      <v-card-title class="pb-0">
        <h1>Ok, let's do this!</h1>
      </v-card-title>
      <v-alert outline type="info" class="mt-3 mx-3" :value="true">
        In order to use KP Dashboard to its maximum potential, you must complete all of the following steps before you can start checking off tasks.
      </v-alert>
      <v-card-text>
        <v-card class="mb-3" v-for="(instruction, index) in instructionList" :key="index">
          <v-toolbar dark :color="instruction.status ? 'success' : 'error'" height="48">
            <v-icon v-if="instruction.status">check_circle</v-icon>
            <v-icon v-else>cancel</v-icon>
            <v-toolbar-title>STEP {{ index + 1 }} - {{ instruction.title }}</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-btn color="primary" class="white--text" :to="{name: instruction.buttonLink}">{{ instruction.buttonTitle }}</v-btn>
          </v-toolbar>
          <v-card-text>
            <ul>
              <li v-for="text in instruction.list" :key="text">{{ text }}</li>
            </ul>
          </v-card-text>
        </v-card>

        <v-card class="mb-3">
          <v-toolbar dark color="info" height="48">
            <v-icon>info</v-icon>
            <v-toolbar-title>HELPFUL THINGS TO KNOW</v-toolbar-title>
          </v-toolbar>
          <v-card-text>
            <ul>
              <li>
                If you have a history of previous Legislator voting history, create Sessions with a start date in the past and future end date. 
                Then create a Final Vote task and record those past votes in KP Task Results page. 
                They will display for any current Legislators in their History tab sorted by date. 
                Finally, end that task by saving a past end date.
              </li>
              <li>
                KP Dashboard keeps a permanent, running history of all your KPs, Sessions, Tasks, Results, and Legislators. 
                Your Association will be able to call up this history in the future at any time.
              </li>
              <li>
                You only pay for each of your unique primary KPs. 
                If a Member is a primary KP for multiple Legislators, these are only counted as one KP.
              </li>
              <li>
                We take security very seriously. 
                Every User must confirm their email address before entering site. 
                Also, a change in email address requires another confirmation.
              </li>
            </ul>
          </v-card-text>
        </v-card>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
import ClientService from '../services/ClientService'

export default {
  mixins: [ClientService],
  data () {
    return {
      isLoading: true,
    }
  },
  computed: {
    instructionList () {
      const clientStatus = this.appState.clientStatus
      return [
        {
          status: clientStatus.members_imported,
          title: 'IMPORT YOUR MEMBERS',
          buttonTitle: 'GO TO MEMBERS PAGE',
          buttonLink: 'members-page',
          list: [
            'Your members should have legislative districts set for Home, Work, and any other extra work addresses you’d like to monitor.',
            'You can monitor up to 4 work address districts.',
            'Also, make sure you have a functional email address and cell phone number for members and KPs. Reliable communication channels will be imperative!'
          ]
        },
        {
          status: clientStatus.legislators_edited,
          title: 'REVIEW AND EDIT YOUR LEGISLATORS AS NECESSARY',
          buttonTitle: 'GO TO LEGISLATORS PAGE',
          buttonLink: 'legislators-page',
          list: [
            'Your State’s Legislators will be provided for you; however, there are certain fields you can update:',
            'You can edit your private Legislator “Notes” and “Support” by clicking on this icon:',
          ]
        },
        {
          status: clientStatus.kps_assigned,
          title: 'ASSIGN YOUR MEMBERS TO LEGISLATORS AND FILL THE KP POSITIONS',
          buttonTitle: 'GO TO ASSIGNMENTS PAGE',
          buttonLink: 'assignments-page',
          list: [
            `Once a Member is assigned into a KP position, they are considered “KPs”. 
            The most-important KP is the KP1 – the primary Key Person is responsible for coordinating any KP2, KP3 for his or her legislator.`
          ]
        },
        {
          status: clientStatus.sessions_created,
          title: 'CREATE A SESSION',
          buttonTitle: 'GO TO SESSIONS PAGE',
          buttonLink: 'sessions-page',
          list: [
            `Sessions are time frames of when you’d like your Key People to accomplish certain tasks. 
            Start times are usually a few months after a state legislative session has ended, but early enough to accomplish all of your goals for the next legislative session. 
            Example, in Virginia the Legislative session ends about March; 
            however, we start the next “Session” internally in about August or so. Our KPs have from May 1 - July 1 to complete tasks for a typical session.`
          ]
        },
        {
          status: clientStatus.tasks_created,
          title: 'CREATE SESSION TASKS',
          buttonTitle: 'GO TO SESSION TASKS PAGE',
          buttonLink: 'sessions-page',
          list: [
            `Once you have an open Session, you will be able to create your tasks. 
            These are tasks or items that you would like to have completed or monitored during the active Session by your Key People. 
            These vary but generally include Contacting your legislator, meeting with them to have friendly conversation, 
            explaining a certain political agenda, asking for their support, monitoring donations, etc.`
          ]
        },
        {
          status: clientStatus.results_recorded,
          title: 'START RECORDING TASK RESULTS!',
          buttonTitle: 'GO TO TASK RESULTS PAGE',
          buttonLink: 'kp-tasks-page',
          list: [
            `One you have finished 1-5 above, you will then be ready to start ticking off your KP Task Results as they either call in their results or use ez-logins. 
            This is also where you can communicate with your KP team via the Email and Text options.`
          ]
        }
      ]
    }
  },
  async mounted () {
    const result = (await this.getClientStatus(this.userClientId)).data
    this.$store.dispatch('appStore/setClientStatus', result)
    let isCompleted = true
    _.forEach(result, (value) => {
      isCompleted &= value
    })
    if (isCompleted) {
      this.$router.replace({ name: 'home-page' })
    }
    this.isLoading = false
  }
}
</script>

<style lang="scss" scoped>
</style>
