<template>
  <div class="fill-width">
    <v-card>
      <v-card-title>
        <h1>User Sessions</h1>
        <v-spacer></v-spacer>
        <v-btn color="primary" :loading="isLoading" @click="refresh">
          <v-icon dark>refresh</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-title class="pt-0 align-end">
        <v-select
          label="Client"
          hide-details
          class="client-selector"
          append-outer-icon="close"
          item-text="assoc_abbrev"
          item-value="id"
          :items="clientList"
          v-model="selectedClientId"
          @click:append-outer="selectedClientId = null"
          v-if="isSuperAdmin">
        </v-select>
        <v-spacer></v-spacer>
        <v-text-field append-icon="search" label="Search" single-line clearable hide-details class="search-input" v-model="search"></v-text-field>
      </v-card-title>
      <v-data-table
        :loading="isLoading"
        class="elevation-1"
        :pagination.sync="pagination"
        :headers="userSessionTableHeader"
        :items="filteredUserSessionList"
        :custom-filter="customFilter"
        :search="search">
        <template v-slot:items="props">
          <td>{{ props.item.client ? props.item.client.assoc_abbrev : '' }}</td>
          <td class="text-xs-center">{{ props.item.user.firstname }} {{ props.item.user.lastname }}</td>
          <td class="text-xs-center">{{ props.item.user.role }}</td>
          <td class="text-xs-center">{{ props.item.user.email }}</td>
          <td class="text-xs-center">{{ props.item.created_at | dateTimeFormatter }}</td>
        </template>
        <template v-slot:no-data>
          <p class="text-xs-center mb-0">No user session yet.</p>
        </template>
      </v-data-table>
    </v-card>
  </div>
</template>

<script>
import ClientService from '../services/ClientService'
import UserSessionService from '../services/UserSessionService'

export default {
  name: 'UserSessionsPage',
  mixins: [ClientService, UserSessionService],
  data () {
    return {
      isLoading: false,
      search: '',
      selectedClientId: null,
      clientList: [],
      userSessionList: [],
      pagination: {
        rowsPerPage: 10,
        sortBy: 'created_at',
        descending: true
      }
    }
  },
  computed: {
    userSessionTableHeader () {
      return [
        { text: 'Client Abbrev', value: 'client.assoc_abbrev', align: 'left' },
        { text: 'User', value: 'user.lastname', align: 'center' },
        { text: 'Role', value: 'user.role', align: 'center' },
        { text: 'Email', value: 'user.email', align: 'center' },
        { text: 'Logged In At', value: 'created_at', align: 'center' },
      ]
    },
    filteredUserSessionList () {
      if (!this.selectedClientId) return this.userSessionList
      return this.userSessionList.filter(userSession => userSession.client_id == this.selectedClientId)
    },
  },
  async mounted () {
    this.refresh()
  },
  methods: {
    async refresh () {
      this.isLoading = true
      this.clientList = (await this.getClients()).data
      this.userSessionList = (await this.getUserSessions()).data
      this.isLoading = false
    },
    customFilter (items, search, filter) {
      search = search.toString().toLowerCase()
      return items.filter((row) => {
        const fullname1 = `${row.user.firstname} ${row.user.lastname}`.toLowerCase()
        const fullname2 = `${row.user.nickname} ${row.user.lastname}`.toLowerCase()
        return filter(fullname1, search) || filter(fullname2, search)
      })
    },
  }
}
</script>

<style lang="scss" scoped>
.client-selector {
  max-width: 200px;
}
</style>
