<template>
  <div class="fill-width">
    <v-card>
      <v-card-title class="pb-0">
        <h1>Users</h1>
        <team-page-help-modal></team-page-help-modal>
        <v-spacer></v-spacer>
        <v-btn icon color="primary" :loading="isLoading" @click="refresh">
          <v-icon dark>refresh</v-icon>
        </v-btn>
        <v-btn color="warning" @click="$refs.newUserModal.toggle()" :disabled="!selectedClientId">
          New User
          <v-icon dark class="ml-2">person_add</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-title class="pt-0 align-end">
        <v-select
          label="Client"
          hide-details
          class="client-selector"
          item-text="assoc_abbrev"
          item-value="id"
          :items="clientList"
          v-model="selectedClientId"
          @input="refresh"
          v-if="isSuperAdmin">
        </v-select>
        <v-spacer></v-spacer>
        <v-text-field append-icon="search" label="Search" single-line clearable hide-details class="search-input" v-model="search"></v-text-field>
      </v-card-title>
      <v-data-table
        :loading="isLoading"
        class="elevation-1"
        :pagination.sync="pagination"
        :headers="userTableHeader"
        :items="filteredUserList"
        :custom-filter="customFilter"
        :search="search">
        <template v-slot:items="props">
          <tr :class="{'inactive': false}">
            <td class="justify-center layout">
              <v-btn icon class="mx-0" @click="$refs.editUserModal.toggle(props.item)">
                <v-icon color="primary">edit</v-icon>
              </v-btn>
              <v-btn icon class="mx-0" @click="onDeleteUser(props.item.id)">
                <v-icon color="pink">delete</v-icon>
              </v-btn>
            </td>
            <td class="text-xs-center">
              <v-icon color="success" v-if="props.item.active">check_circle</v-icon>
              <v-icon color="error" v-else>cancel</v-icon>
            </td>
            <td class="no-line-break">
              {{ props.item.roles[0].name }}
            </td>
            <td class="no-line-break">
              {{ props.item.firstname }} {{ props.item.lastname }}
            </td>
            <td class="no-line-break">
              {{ props.item.email }}
            </td>
            <!-- removed mailing address July 10, 2019 (AP)
            <td class="no-line-break">
              {{ props.item.mailing_address }}
            </td>
            -->
            <td class="no-line-break">
              {{ props.item.cell_phone }}
            </td>
            <td class="text-xs-center no-line-break">
              {{ props.item.last_login | dateFormatter('MM/DD/YY hh:mm') }}
            </td>
          </tr>
        </template>
        <template v-slot:no-data>
          <p class="text-xs-center mb-0">No user registered yet.</p>
        </template>
      </v-data-table>
    </v-card>

    <edit-user-modal ref="editUserModal" :client="selectedClient" :member-list="memberList" :refresh="refresh"></edit-user-modal>
    <new-user-modal ref="newUserModal" :client="selectedClient" :member-list="memberList" :refresh="refresh"></new-user-modal>
  </div>
</template>

<script>
import swal from 'sweetalert2'
import ClientService from '../services/ClientService'
import UserService from '../services/UserService'
import EditUserModal from '../components/UsersPage/EditUserModal.vue'
import NewUserModal from '../components/UsersPage/NewUserModal.vue'
import TeamPageHelpModal from '../components/HelpModals/TeamPageHelpModal'

export default {
  name: 'UsersPage',
  mixins: [ClientService, UserService],
  components: {
    EditUserModal,
    NewUserModal,
    TeamPageHelpModal,
  },
  data () {
    return {
      isLoading: false,
      search: '',
      selectedClientId: null,
      clientList: [],
      memberList: [],
      userList: [],
      pagination: {
        rowsPerPage: 10,
      }
    }
  },
  computed: {
    userTableHeader () {
      const tableHeader = [
        { text: '', value: '', align: 'center', sortable: false },
        { text: 'Active', value: 'active', align: 'center' },
        { text: 'Role', value: 'roles[0].name', align: 'left' },
        { text: 'Name', value: 'lastname', align: 'left' },
        { text: 'Email', value: 'email', align: 'center' },
        //{ text: 'Mailing Address', value: 'mailing_address', align: 'center' },
        { text: 'Cell Phone', value: 'cell_phone', align: 'center' },
        { text: 'Last Login', value: 'last_login', align: 'center' },
      ]
      return tableHeader
    },
    selectedClient () {
      if (!this.isSuperAdmin) {
        return this.userClient
      }
      return this.clientList.find(client => client.id === this.selectedClientId) || {}
    },
    filteredUserList () {
      return this.userList
    }
  },
  async mounted () {
    this.selectedClientId = this.userClientId
    if (this.isSuperAdmin) {
      this.clientList = (await this.getClients()).data
    }
    this.refresh()
  },
  methods: {
    async refresh () {
      if (!this.selectedClientId) return
      this.isLoading = true
      this.userList = (await this.getClientUsers(this.selectedClientId)).data
      this.memberList = (await this.getClientMembers(this.selectedClientId)).data
        .filter(member => member.active)
        .filter(member => member.coordinator)
      this.isLoading = false
    },
    customFilter (items, search, filter) {
      search = search.toString().toLowerCase()
      return items.filter((row) => {
        const fullname1 = `${row.firstname} ${row.lastname}`.toLowerCase()
        const fullname2 = `${row.nickname} ${row.lastname}`.toLowerCase()
        return filter(fullname1, search) || filter(fullname2, search)
      })
    },
    onDeleteUser (userId) {
      swal({
        title: 'Are you sure to delete this user?',
        type: 'question',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes',
        reverseButtons: true,
      }).then((result) => {
        if (result.value) {
          this.deleteUser(userId)
            .then((res) => {
              toastr.clear()
              toastr.success('User has been deleted.', 'Success!')
              this.refresh()
            })
            .catch((err) => {
              toastr.clear()
              toastr.error('Something went wrong.', 'Error!')
            })
        }
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.client-selector {
  max-width: 200px;
}
td {
  padding: 4px;
}
</style>

<style lang="scss">
.inactive {
  background-color: rgb(235, 235, 228);
}
</style>
