<template>
  <v-navigation-drawer fixed temporary right touchless width="650" v-model="isModalOpen">
    <v-layout fill-height>
      <!-- Main Sidebar -->
      <v-navigation-drawer mini-variant stateless value="true" width="57" class="vertical-tabbar">
        <v-list class="pa-0">
          <v-list-tile class="pa-0" :class="{'active': index === activeTabIndex}" @click="onSelectTab(index)" v-for="(title, index) in tabItemList" :key="index">
            <span>{{ title }}</span>
          </v-list-tile>
        </v-list>
      </v-navigation-drawer>
      <!-- Sub Sidebar -->
      <v-form ref="assignmentForm" class="flex-1" @submit.prevent="onAddLegislatorKP()">
        <v-card style="box-shadow: none !important;">
          <v-card-title>
            <span class="title">Assign {{ tabItemList[activeTabIndex] }} to {{ assignment.fullname }}</span>
            <v-spacer />
            <v-icon @click="isModalOpen = false">close</v-icon>
          </v-card-title>
          <v-divider></v-divider>
          <v-card-text>
            <v-alert type="error" outline class="mb-2" :value="true" v-if="error">{{ error }}</v-alert>
            <v-alert type="info" outline class="mb-2" :value="true">
              Please add in order KP1, KP2, etc. Save each KP before moving on to the next.
              <b>You must set an end date and click Save before you can replace a KP.</b>
            </v-alert>
            <v-layout wrap>
              <v-flex xs12 class="px-2">
                <v-autocomplete
                  label="Member*"
                  :item-text="item => item.nickname + ' ' + item.lastname"
                  item-value="id"
                  :items="eligibleMemberList"
                  :rules="memberRules"
                  :readonly="!kp.is_editable"
                  v-model="kp.member_id">
                </v-autocomplete>
              </v-flex>
              <v-flex xs12 class="px-2">
                <v-select multiple chips label="KP Relationship" item-text="text" item-value="value" :items="kpRelationshipList" v-model="kp.kp_relationship"></v-select>
              </v-flex>
              <v-flex xs12 class="px-2">
                <v-textarea label="Relationship Notes" v-model="kp.notes"></v-textarea>
              </v-flex>
              <v-flex xs6 class="px-2">
                <v-date-picker2 label="Start Date" :rules="startDateRules" v-model="kp.start_date"></v-date-picker2>
              </v-flex>
              <v-flex xs6 class="px-2">
                <v-date-picker2 label="End Date" v-model="kp.end_date"></v-date-picker2>
              </v-flex>
            </v-layout>
          </v-card-text>
          <v-divider></v-divider>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="grey white--text" @click.native="isModalOpen = false">Close</v-btn>
            <v-btn type="submit" color="primary" :loading="isBusy">Save</v-btn>
          </v-card-actions>
        </v-card>
      </v-form>
    </v-layout>
  </v-navigation-drawer>
</template>

<script>
import LegislatorService from '../../services/LegislatorService'
import VDatePicker2 from '../App/VDatePicker2'

export default {
  props: ['client', 'memberList', 'refresh'],
  mixins: [LegislatorService],
  components: {
    VDatePicker2,
  },
  data () {
    return {
      // Modal Open
      isModalOpen: false,
      // Modal Data
			activeTabIndex: 0,
      // Form Data
      assignment: {},
      kp: {},
      // Form Error
      error: '',
      // Form Busy
      isBusy: false,
    }
  },
  computed: {
    // Validation Rules
    memberRules () {
      return [
        v => !!v || 'Member is required.',
      ]
    },
    startDateRules () {
      return [
        v => !!v || 'Start date is required.',
      ]
    },
    kpRelationshipList () {
      return [
        {
          text: 'None',
          value: 'N',
        },
        {
          text: 'Acquaintance',
          value: 'A',
        },
        {
          text: 'Can Call',
          value: 'CC',
        },
        {
          text: 'Family member has a relationship with the legislator',
          value: 'FM',
        },
        {
          text: 'Gave money to the legislator',
          value: '$',
        },
        {
          text: 'Legislator is a patient of the KP',
          value: 'P',
        },
        {
          text: 'Legislator is a personal friend of the KP',
          value: 'PF',
        },
        {
          text: 'KP worked in legislator’s campaign',
          value: 'WC',
        },
        {
          text: 'The KP is very close with the legislator',
          value: 'VC',
        },
      ]
    },
    tabItemList () {
      const itemList = ['KP1', 'KP2', 'KP3', 'KP4', 'KP5']
      return itemList.slice(0, this.client.uses_kps)
    },
    eligibleMemberList () {
      return this.memberList.filter(member => member.eligible)
    }
  },
  methods: {
    async toggle (assignment) {
      this.isModalOpen = true
      this.error = ''
      this.assignment = _.cloneDeep(assignment)
      this.onSelectTab(0)
    },
    onSelectTab (tabIndex) {
      this.activeTabIndex = tabIndex
      this.kp = this.assignment.kps[tabIndex] ? {
        ...this.assignment.kps[tabIndex],
        is_editable: false,
      } : {
        is_editable: true,
        start_date: moment().format('YYYY-MM-DD')
      }
    },
    onAddLegislatorKP () {
      if (!this.$refs.assignmentForm.validate()) {
        this.error = 'Please fill all required fields.'
        return
      }
      this.error = ''
      this.isBusy = true
      const payload = _.cloneDeep(this.kp)
      payload.leg_id = this.assignment.id
      payload.client_id = this.client.id
      payload.kp_position = this.activeTabIndex + 1
      payload.kp_relationship = payload.kp_relationship || []
      payload.notes = payload.notes || null
      payload.end_date = payload.end_date || null
      this.addLegislatorKP(payload)
        .then((res) => {
          this.isBusy = false
          toastr.clear()
          toastr.success('KP has been assigned.', 'Success!')
          this.refresh()
          this.assignment.kps[this.activeTabIndex] = payload.end_date ? null : payload
          this.assignment = _.cloneDeep(this.assignment)
          this.onSelectTab(this.activeTabIndex)
        })
        .catch((err) => {
          this.isBusy = false
          this.error = 'Something went wrong!'
        })
    }
  }
}
</script>

<style lang="scss" scoped>
.active {
  background-color: rgba(0, 0, 0, 0.1);
}
.flex-1 {
  flex: 1;
}
</style>
