<template>
  <v-dialog v-model="dialog" persistent max-width="400">
    <slot slot="activator"></slot>
    <v-card>
      <v-card-title class="headline">Are you sure?</v-card-title>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="primary" @click="() => { yes(); dialog = false}">Yes</v-btn>
        <v-btn color="grey white--text" @click="dialog = false">Cancel</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
  export default {
    name: "ConfirmationModal",
    props: ['yes'],
    data() {
      return {
        dialog: false
      }
    }
  }
</script>
