<template>
  <v-dialog max-width="500" v-model="isModalOpen">
    <v-card>
      <v-card-title>
        <span class="title">Change Deadline</span>
      </v-card-title>
      <v-divider></v-divider>
      <v-card-text>
        <v-layout wrap>
          <v-flex xs12 class="px-2">
            <v-checkbox label="Active" v-model="messageData.active"></v-checkbox>
          </v-flex>
          <v-flex xs12 class="px-2">
            <v-date-picker2 label="Deadline" v-model="messageData.deadline"></v-date-picker2>
          </v-flex>
        </v-layout>
      </v-card-text>
       <v-divider></v-divider>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="primary" :loading="isBusy" @click.native="onSave">Save</v-btn>
        <v-btn color="grey white--text" @click.native="isModalOpen = false">Close</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import VDatePicker2 from '../App/VDatePicker2'
import AdvocacyMessageService from '../../services/AdvocacyMessageService'

export default {
  props: ['refresh'],
  mixins: [AdvocacyMessageService],
  components: {
    VDatePicker2,
  },
  data () {
    return {
      // Modal Open
      isModalOpen: false,
      // Form Data
      messageData: {},
      // Form Busy
      isBusy: false,
    }
  },
  methods: {
    toggle (message) {
      this.isModalOpen = true
      this.messageData = _.cloneDeep(message)
    },
    onSave () {
      this.isBusy = true
      this.updateAdvocacyMessage(this.messageData)
        .then(() => {
          this.isBusy = false
          toastr.clear()
          toastr.success('Message has been updated.', 'Success!')
          this.refresh()
          this.isModalOpen = false
        })
        .catch((err) => {
          this.handleError(err)
        })
    }
  }
}
</script>

<style lang="scss" scoped>
</style>
