<template>
  <v-dialog max-width="600" v-model="isModalOpen">
    <v-card>
      <v-card-title>
        <span class="title">Full Message</span>
      </v-card-title>
      <v-divider></v-divider>
      <v-card-text>
        <v-layout wrap>
          <v-flex xs12 class="px-2">
            <v-textarea label="Subject" rows="3" v-model="message.subject" readonly></v-textarea>
          </v-flex>
          <v-flex xs12 class="mt-3 px-2">
            <div class="mb-1 caption grey--text">Message</div>
            <div class="ql-editor readonly message-container" v-html="message.message"></div>
          </v-flex>
        </v-layout>
      </v-card-text>
       <v-divider></v-divider>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="grey white--text" @click.native="isModalOpen = false">Close</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  data () {
    return {
      // Modal Open
      isModalOpen: false,
      // Form Data
      message: {},
    }
  },
  methods: {
    toggle (message) {
      this.isModalOpen = true
      this.message = message
    }
  }
}
</script>

<style lang="scss" scoped>
.message-container {
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.42);
}
</style>
