<template>
  <v-dialog persistent max-width="750" v-model="isModalOpen">
    <v-card class="message-modal-content">
      <v-card-title>
        <span class="title">Create a new Advocacy Message</span>
      </v-card-title>
      <v-divider></v-divider>
      <v-card-text class="pa-0">
        <div class="pa-3" v-if="error">
          <v-alert type="error" outline :value="true">{{ error }}</v-alert>
        </div>
        <v-stepper vertical class="no-box-shadow" v-model="currentStep">

          <v-stepper-step step="1" :complete="currentStep > 1">Choose Legislator(s) to whom the message should be sent</v-stepper-step>
          <v-stepper-content step="1">
            <v-form ref="step1Form" @submit.prevent="onNextStep()">
              <v-layout wrap>
                <v-flex xs12 class="px-2">
                  <v-checkbox label="Specific Legislator(s) Only" hide-details v-model="messageData.isSpecificLegislatorsOnly" @change="onFilterSpecificLegislators"></v-checkbox>
                </v-flex>
                <v-flex xs4 class="px-2" v-if="!messageData.isSpecificLegislatorsOnly">
                  <v-checkbox label="House" hide-details v-model="messageData.isHouseDistrictsOnly" @change="onSelectDistrictType"></v-checkbox>
                </v-flex>
                <v-flex xs4 class="px-2" v-if="!messageData.isSpecificLegislatorsOnly">
                  <v-checkbox label="Senate" hide-details v-model="messageData.isSenateDisctrictsOnly" @change="onSelectDistrictType"></v-checkbox>
                </v-flex>
                <v-flex xs4 class="px-2" v-if="!messageData.isSpecificLegislatorsOnly">
                  <v-checkbox label="Joint" hide-details v-model="messageData.isJointDisctrictsOnly" @change="onSelectDistrictType"></v-checkbox>
                </v-flex>
                <v-flex xs12 class="px-2" v-if="!messageData.isSpecificLegislatorsOnly">
                  <v-layout align-center class="mt-3" @click="onSelectCommittee(committee.id)" v-for="committee in selectedCommitteeList" :key="committee.id">
                    <v-icon color="accent" class="cursor-pointer" v-if="selectedCommitteeIdList.includes(committee.id)">check_box</v-icon>
                    <v-icon class="cursor-pointer" v-else>check_box_outline_blank</v-icon>
                    <label class="v-label theme--light ml-2 cursor-pointer">{{ committee.label }}</label>
                  </v-layout>
                </v-flex>
                <v-flex xs12 class="mt-3 px-2">
                  <v-autocomplete
                    multiple
                    chips
                    hide-details
                    :label="'Select Legislator(s) (' + (messageData.selectedLegislators || []).length + ')'"
                    class="chip-select"
                    item-text="fullname"
                    item-value="id"
                    :items="legislatorList"
                    v-model="messageData.selectedLegislators">
                    <template v-slot:selection="props">
                      <v-chip close :selected="props.selected" class="chip--select-multi" @input="props.parent.selectItem(props.item)">
                        <v-avatar>
                          <img :src="props.item.official_image" alt="">
                        </v-avatar>
                        {{ props.item.nickname }} {{ props.item.lastname }}
                      </v-chip>
                    </template>
                  </v-autocomplete>
                </v-flex>
              </v-layout>
              <v-layout class="mt-3">
                <v-btn type="submit" color="primary" :disabled="!this.messageData.selectedLegislators || this.messageData.selectedLegislators.length === 0">
                  Next
                  <v-icon right dark>keyboard_arrow_right</v-icon>
                </v-btn>
              </v-layout>
            </v-form>
          </v-stepper-content>

          <v-stepper-step step="2" :complete="currentStep > 2">Choose which constituent members should send the message</v-stepper-step>
          <v-stepper-content step="2">
            <v-form ref="step2Form" @submit.prevent="onNextStep()">
              <v-layout wrap>
                <v-flex xs12 class="px-2">
                  <!--
                  <v-alert type="info" outline :value="true">
                    Choose to have all members of selected legislators send the message or only the primary KPs.
                  </v-alert>
                  -->
                </v-flex>
                <v-flex xs12 class="px-2">
                  <v-checkbox label="Only have KPs send" hide-details v-model="messageData.isKPOnly" @change="onSearchMembers(true)"></v-checkbox>
                </v-flex>
              </v-layout>
              <v-layout wrap>
                <v-flex xs4 class="px-2" v-if="userClient.uses_dob">
                  <v-checkbox label="Filter by age" hide-details v-model="messageData.usesAge" @change="onSearchMembers(true)"></v-checkbox>
                </v-flex>
                <v-flex xs4 class="px-2" v-if="messageData.usesAge">
                  <v-select
                    label="From"
                    hide-details
                    :items="ageList"
                    @change="onSearchMembers(true)"
                    v-model="messageData.fromAge"
                  >
                  </v-select>
                </v-flex>
                <v-flex xs4 class="px-2" v-if="messageData.usesAge">
                  <v-select
                    label="To"
                    hide-details
                    :items="ageList"
                    @change="onSearchMembers(true)"
                    v-model="messageData.toAge"
                  >
                  </v-select>
                </v-flex>
              </v-layout>
              <v-layout wrap>
                <v-flex xs4 class="px-2" v-if="userClient.uses_grad_year">
                  <v-checkbox label="Filter by grad year" hide-details v-model="messageData.usesGradYear" @change="onSearchMembers(true)"></v-checkbox>
                </v-flex>
                <v-flex xs4 class="px-2" v-if="messageData.usesGradYear">
                  <v-select
                    label="From"
                    hide-details
                    :items="gradYearList"
                    @change="onSearchMembers(true)"
                    v-model="messageData.fromGradYear"
                  >
                  </v-select>
                </v-flex>
                <v-flex xs4 class="px-2" v-if="messageData.usesGradYear">
                  <v-select
                    label="To"
                    hide-details
                    :items="gradYearList"
                    @change="onSearchMembers(true)"
                    v-model="messageData.toGradYear"
                  >
                  </v-select>
                </v-flex>
                <v-flex xs12 class="mt-3 px-2">
                  <v-autocomplete
                    multiple
                    chips
                    hide-details
                    :label="'Members who will be requested to send a message to their legislator(s) (' + (messageData.selectedMembers || []).length + ')'"
                    class="chip-select"
                    :loading="status === 'LOADING_MEMBERS'"
                    :item-text="member => (member.nickname + ' ' + member.lastname)"
                    item-value="id"
                    :items="memberList"
                    v-model="messageData.selectedMembers">
                    <template v-slot:selection="props">
                      <v-chip close :selected="props.selected" class="chip--select-multi" @input="props.parent.selectItem(props.item)">
                        {{ props.item.nickname }} {{ props.item.lastname }}
                      </v-chip>
                    </template>
                    <template v-slot:progress>
                      <v-progress-linear indeterminate height="2"></v-progress-linear>
                    </template>
                  </v-autocomplete>
                </v-flex>
              </v-layout>
              <v-layout class="mt-3">
                <v-btn color="primary" @click="currentStep = 1">
                  <v-icon left dark>keyboard_arrow_left</v-icon>
                  Prev
                </v-btn>
                <v-btn type="submit" color="primary" :disabled="!this.messageData.selectedMembers || this.messageData.selectedMembers.length === 0">
                  Next
                  <v-icon right dark>keyboard_arrow_right</v-icon>
                </v-btn>
              </v-layout>
            </v-form>
          </v-stepper-content>


          <v-stepper-step step="3" :complete="currentStep > 3">Create the message that will be sent to members requesting them to take action</v-stepper-step>
          <v-stepper-content step="3">
            <v-form ref="step3Form" @submit.prevent="onNextStep()">
              <v-layout wrap>
                <v-flex xs12 class="px-2">
                  <v-radio-group v-model="messageData.via_sms" @change="onChangeMessageType">
                    <v-radio label="Send action request as text & if no cell phone listed, send as email" :value="1"></v-radio>
                    <v-radio label="Send action request via email" :value="0"></v-radio>
                  </v-radio-group>
                </v-flex>
                <v-flex xs12 class="px-2">
                  <v-text-field label="Email Subject to Members*" v-model="messageData.invitation_subject"></v-text-field>
                </v-flex>
                <v-flex xs12 class="px-2">
                  <div class="mb-1 caption grey--text">Variables</div>
                  <v-layout wrap>
                    <v-chip @click="onAddVariable(variable, 2)" v-for="variable in variableList2" :key="variable">{{ variable }}</v-chip>
                  </v-layout>
                </v-flex>
                <v-flex xs12 class="mt-3 px-2" v-if="!messageData.via_sms">
                  <v-layout align-end>
                    <v-flex xs6>
                      <div class="mb-1 caption grey--text">Email Message to Members*</div>
                    </v-flex>
                    <v-flex xs6 class="text-xs-right">
                      <v-switch hide-details label="Show Preview" class="d-inline-block mt-0" @click="onPreviewMessage(messageData.invitation_message)" v-model="isPreview"></v-switch>
                    </v-flex>
                  </v-layout>
                  <quill-editor ref="messageEditor2" :options="quillEditorOption" v-model="messageData.invitation_message" v-show="!isPreview"></quill-editor>
                  <quill-editor :options="quillEditorOption" :value="formattedMessage" disabled v-show="isPreview"></quill-editor>
                </v-flex>
                <v-flex id="advocacyMsgSmsContainer" xs12 class="px-2" v-else>
                  <v-layout align-end>
                    <v-flex xs6>
                      <div class="mb-1 caption grey--text">Text/Email Message to Members*</div>
                    </v-flex>
                    <v-flex xs6 class="text-xs-right">
                      <v-switch hide-details label="Show Preview" class="d-inline-block mt-0" @click="onPreviewMessage(messageData.invitation_message)" v-model="isPreview"></v-switch>
                    </v-flex>
                  </v-layout>
                  <!--<v-textarea ref="messageEditor3" counter="150" v-model="messageData.invitation_message" @input="onChangeMessageContent"></v-textarea>-->

                  <quill-editor ref="messageEditor3" :options="quillEditorSmsOption" v-model="messageData.invitation_message" @input="onChangeMessageContent" v-show="!isPreview"></quill-editor>
                  <quill-editor :options="quillEditorOption" :value="formattedMessage" disabled v-show="isPreview"></quill-editor>
                  <div id="editorContainer" counter="160" ><span class="text-counter">{{finalMessageLength}}/160</span></div>

                </v-flex>
              </v-layout>
              <v-layout class="mt-3">
                <v-btn color="primary" @click="currentStep = 2">
                  <v-icon left dark>keyboard_arrow_left</v-icon>
                  Prev
                </v-btn>
                <v-btn type="submit" color="primary" :disabled="!isForm3Valid">
                  Next
                  <v-icon right dark>keyboard_arrow_right</v-icon>
                </v-btn>
              </v-layout>
            </v-form>
          </v-stepper-content>

          <v-stepper-step step="4" :complete="currentStep > 4">Create the message that will be sent to Legislators from Members</v-stepper-step>
          <v-stepper-content step="4">
            <v-form ref="step4Form" @submit.prevent="onNextStep()">
              <v-layout wrap>
                <v-flex xs12 class="px-2">
                  <v-text-field label="Email Subject to Legislators*" v-model="messageData.subject"></v-text-field>
                </v-flex>
                <v-flex xs12 class="px-2">
                  <div class="mb-1 caption grey--text">Variables</div>
                  <v-layout wrap>
                    <v-chip @click="onAddVariable(variable, 1)" v-for="variable in variableList1" :key="variable">{{ variable }}</v-chip>
                  </v-layout>
                </v-flex>
                <v-flex xs12 class="mt-3 px-2">
                  <v-layout align-end>
                    <v-flex xs6>
                      <div class="mb-1 caption grey--text">Email Message to Legislators*</div>
                    </v-flex>
                    <v-flex xs6 class="text-xs-right">
                      <v-switch hide-details label="Show Preview" class="d-inline-block mt-0" @click="onPreviewMessage(messageData.message)" v-model="isPreview"></v-switch>
                    </v-flex>
                  </v-layout>
                  <quill-editor ref="messageEditor1" :options="quillEditorOption" v-model="messageData.message" v-show="!isPreview"></quill-editor>
                  <quill-editor :options="quillEditorOption" :value="formattedMessage" disabled v-show="isPreview"></quill-editor>
                </v-flex>
                <v-flex xs12 class="mt-3 px-2">
                  <v-date-picker2 label="Deadline after which this message will become disabled*" format="dddd, MMMM D, YYYY" v-model="messageData.deadline"></v-date-picker2>
                </v-flex>
              </v-layout>
              <v-layout>
                <v-btn color="primary" @click="currentStep = 3">
                  <v-icon left dark>keyboard_arrow_left</v-icon>
                  Prev
                </v-btn>
                <v-btn type="submit" color="primary" :disabled="!this.messageData.subject || !this.messageData.message || !this.messageData.deadline">
                  Next
                  <v-icon right dark>keyboard_arrow_right</v-icon>
                </v-btn>
              </v-layout>
            </v-form>
          </v-stepper-content>

          <v-stepper-step step="5" :complete="currentStep > 5">Final Review</v-stepper-step>
          <v-stepper-content step="5">
            <v-layout wrap>
              <v-flex xs12 class="mt-3 px-2">
                <v-text-field hide-details label="Email subject to Legislator(s)" v-model="messageData.subject" readonly></v-text-field>
              </v-flex>
              <v-flex xs12 class="mt-3 px-2">
                <div class="mb-1 caption grey--text">Email Message to Legislator(s)</div>
                <div class="ql-editor readonly message-container" v-html="messageData.message"></div>
              </v-flex>
              <v-flex xs12 class="mt-3 px-2">
                <v-text-field label="Deadline" :value="getFormattedDate(messageData.deadline, 'dddd, MMMM D, YYYY')" readonly></v-text-field>
              </v-flex>
              <v-flex xs12 class="mt-3 px-2">
                <v-autocomplete
                  multiple
                  chips
                  hide-details
                  :label="'Legislators who will receive this Message from their consituent Members (' + (messageData.selectedLegislators || []).length + ')'"
                  class="chip-select"
                  item-text="fullname"
                  item-value="id"
                  :items="legislatorList"
                  v-model="messageData.selectedLegislators"
                  readonly>
                  <template v-slot:selection="props">
                    <v-chip :selected="props.selected" class="chip--select-multi">
                      {{ props.item.fullname }}
                    </v-chip>
                  </template>
                </v-autocomplete>
              </v-flex>
              <v-flex xs12 class="mt-3 px-2">
                <v-autocomplete
                  multiple
                  chips
                  hide-details
                  :label="'Members who will be asked to send this Message (' + (messageData.selectedMembers || []).length + ')'"
                  class="chip-select"
                  :item-text="member => (member.nickname + ' ' + member.lastname)"
                  item-value="id"
                  :items="memberList"
                  v-model="messageData.selectedMembers"
                  readonly>
                  <template v-slot:selection="props">
                    <v-chip :selected="props.selected" class="chip--select-multi">
                      {{ props.item.nickname }} {{ props.item.lastname }}
                    </v-chip>
                  </template>
                </v-autocomplete>
              </v-flex>
            </v-layout>
            <v-layout class="mt-3" align-center justify-space-between row>
              <v-btn color="primary" @click="currentStep = 4">
                <v-icon left dark>keyboard_arrow_left</v-icon>
                Prev
              </v-btn>
              <v-btn color="primary" :loading="status === 'SAVING'" @click="onSave" v-if="isNewModal">
                Save for Later
                <v-icon right dark>save</v-icon>
              </v-btn>
              <confirmation-modal :yes="() => onSendNow()">
                <v-btn color="primary" :loading="status === 'SENDING_NOW'" v-if="isNewModal">
                  Send to Members Now
                  <v-icon right dark>send</v-icon>
                </v-btn>
              </confirmation-modal>
              <confirmation-modal :yes="() => onSend()">
                <v-btn color="primary" :loading="status === 'SENDING'" @click="onSend" v-if="!isNewModal">
                  Send to Members Now
                  <v-icon right dark>send</v-icon>
                </v-btn>
              </confirmation-modal>
            </v-layout>
          </v-stepper-content>
        </v-stepper>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="grey white--text" @click.native="isModalOpen = false">Cancel</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { quillEditor } from 'vue-quill-editor'
import VDatePicker2 from '../App/VDatePicker2'
import AdvocacyMessageService from '../../services/AdvocacyMessageService'
import AppService from '../../services/AppService'
import ConfirmationModal from '../../components/AdvocacyPage/ConfirmationModal'

export default {
  props: ['refresh', 'committeeList', 'legislatorList'],
  mixins: [AdvocacyMessageService, AppService],
  components: {
    quillEditor,
    VDatePicker2,
    ConfirmationModal
  },
  data () {
    return {
      // Modal Open
      isModalOpen: false,
      isNewModal: true,
      // Form Data
      currentStep: 1,
      messageData: {},
      selectedCommitteeIdList: [],
      memberList: [],
      isPreview: false,
      formattedMessage: '',
      // Form Error
      error: '',
      // Form Status
      status: '',
    }
  },
  computed: {
    quillEditorOption () {
      return {
        modules: {
          toolbar: [
            [{ 'size': ['small', false, 'large'] }],
            [ 'bold', 'italic', 'underline', 'strike' ],
            [{ 'color': [] }, { 'background': [] }],
            [{ 'list': 'ordered' }, { 'list': 'bullet'}, { 'indent': '-1' }, { 'indent': '+1' }],
            [ 'direction', { 'align': [] }],
            //[ 'link', 'image' ],
            [ 'clean' ]
          ]
        }
      }
    },
    quillEditorSmsOption () {
      return {
        modules: {
          toolbar: null
        }
      }
    },
    gradYearList () {
      const thisYear = moment().year()
      return _.range(1960, thisYear + 1)
    },
    ageList () {
      return _.range(25, 81)
    },
    variableList1 () {
      return [
        '{leg_salutation}',
        '{member_nick}',
        '{member_first}',
        '{member_last}',
        '{leg_nick}',
        '{leg_last}',
        '{leg_full}',
        '{leg_email}',
        '{leg_ph}',
        '{district}',
      ]
    },
    variableList2 () {
      return [
        '{member_nick}',
        '{member_first}',
        '{member_last}',
        '{ez_login}',
      ]
    },
    defaultMessageContent () {
      if (this.messageData.via_sms) {
        return `Dear {member_nick},\nPlease click the link below to send an Advocacy message to your legislator. Thank you!\n{ez_login}`
      }
      return `Dear {member_nick},<br /><br />Please click the link below to send an Advocacy message to your legislator.<br />A template message has been created for you which may be edited before sending if you prefer.<br />Thank you!<br /><br />{ez_login}`
    },
    finalMessageLength () {
      let kpNick = ''
      let kpFirst = ''
      let kpLast = ''
      let legNick = ''
      let legLast = ''
      let legFull = ''
      let legEmail = ''
      let legPh = ''
      let district = ''
      const ezLogin = 'https://kpda.sh/ez/xxxxxxxx?s=adv'

      const selectedLegislators = this.legislatorList.filter(legislator => this.messageData.selectedLegislators.includes(legislator.id))
      const selectedMembers = this.memberList.filter(member => this.messageData.selectedMembers.includes(member.id))

      selectedMembers.forEach((member) => {
        if (kpNick.length < (member.nickname || '').length) kpNick = member.nickname
        if (kpFirst.length < (member.firstname || '').length) kpFirst = member.firstname
        if (kpLast.length < (member.lastname || '').length) kpLast = member.lastname
      })
      selectedLegislators.forEach((legislator) => {
        if (legNick.length < (legislator.nickname || '').length) legNick = legislator.nickname
        if (legLast.length < (legislator.lastname || '').length) legLast = legislator.lastname
        if (legFull.length < (legislator.fullname || '').length) legFull = legislator.fullname
        if (legEmail.length < (legislator.official_email || '').length) legEmail = legislator.official_email
        if (legPh.length < (legislator.official_phone || '').length) legPh = legislator.official_phone
        if (district.length < (legislator.district ? legislator.district.district : '').length) district = legislator.district.district
      })

      let message = this.messageData.invitation_message || ''
      message = message.replace(/{member_nick}/g, kpNick)
      message = message.replace(/{member_first}/g, kpFirst)
      message = message.replace(/{member_last}/g, kpLast)
      message = message.replace(/{leg_nick}/g, legNick)
      message = message.replace(/{leg_last}/g, legLast)
      message = message.replace(/{leg_full}/g, legFull)
      message = message.replace(/{leg_email}/g, legEmail)
      message = message.replace(/{leg_ph}/g, legPh)
      message = message.replace(/{district}/g, district)
      message = message.replace(/{ez_login}/g, ezLogin)

      message = this.html2Text(message)

      return message.length
    },
    isForm3Valid () {
      return this.messageData.invitation_subject
        && this.finalMessageLength > 0
        && (this.messageData.via_sms === 0 || (this.messageData.via_sms === 1 && this.finalMessageLength <= 160))
    },
    selectedCommitteeList () {
      let selectedCommitteeList = []
      if (this.messageData.isHouseDistrictsOnly) {
        selectedCommitteeList = [...this.committeeList.filter(committee => committee.type === 0 && (this.userClient.house_committees || []).includes(committee.id))]
      }
      if (this.messageData.isSenateDisctrictsOnly) {
        selectedCommitteeList = [
          ...selectedCommitteeList,
          ...this.committeeList.filter(committee => committee.type === 1 && (this.userClient.senate_committees || []).includes(committee.id))
        ]
      }
      if (this.messageData.isJointDisctrictsOnly) {
        selectedCommitteeList = [
          ...selectedCommitteeList,
          ...this.committeeList.filter(committee => committee.type === 2 && (this.userClient.joint_committees || []).includes(committee.id))
        ]
      }
      const committeeTypeList = ['H', 'S', 'J']
      selectedCommitteeList.forEach((committee) => {
        committee.label = `${committee.fullname} (${committeeTypeList[committee.type]})`
      })
      return selectedCommitteeList
    }
  },
  methods: {
    async toggle (advocacyMessage) {
      this.isModalOpen = true
      this.isPreview = false
      this.error = ''
      if (advocacyMessage) {
        this.isNewModal = false
        this.currentStep = 5
        this.messageData = {
          id: advocacyMessage.id,
          subject: advocacyMessage.subject,
          message: advocacyMessage.message,
          isSpecificLegislatorsOnly: true,
          selectedLegislators: advocacyMessage.legislators,
          isKPOnly: advocacyMessage.is_kp_only,
          usesAge: false,
          fromAge: 25,
          toAge: 80,
          usesGradYear: false,
          fromGradYear: 1960,
          toGradYear: moment().year(),
          selectedMembers: advocacyMessage.members,
          invitation_subject: advocacyMessage.invitation_subject,
          invitation_message: advocacyMessage.invitation_message,
          via_sms: advocacyMessage.via_sms,
        }
        this.onSearchMembers(false)
      } else {
        this.isNewModal = true
        this.currentStep = 1
        this.messageData = {
          subject: 'Please support our bill, from Dr. {member_nick} {member_last} a constituent of District {district}',
          message: 'Dear {leg_salutation},',
          isSpecificLegislatorsOnly: true,
          selectedLegislators: [],
          usesAge: false,
          fromAge: 25,
          toAge: 80,
          usesGradYear: false,
          fromGradYear: 1960,
          toGradYear: moment().year(),
          selectedMembers: [],
          invitation_subject: '[URGENT] Legislative Action Requested!',
          via_sms: 1,
        }
        this.messageData.invitation_message = this.defaultMessageContent
        this.messageData = { ...this.messageData }
      }
    },
    onAddVariable (variable, messageType) {
      variable += ' '
      if (messageType === 1 || (messageType === 2 && !this.messageData.via_sms)) {
        let $quill = this.$refs.messageEditor1.quill
        if (messageType === 2) {
          $quill = this.$refs.messageEditor2.quill
        }
        const currentPosition = $quill.getSelection(true).index
        $quill.insertText(currentPosition, variable)
        $quill.setSelection(currentPosition + variable.length)
      } else {
        this.messageData.invitation_message = (this.messageData.invitation_message || '') + variable
        this.messageData = { ...this.messageData }
        this.$refs.messageEditor3.focus()
        this.onChangeMessageContent()
      }
    },
    onFilterSpecificLegislators () {
      if (this.messageData.isSpecificLegislatorsOnly) {
        this.messageData.isHouseDistrictsOnly = false
        this.messageData.isSenateDisctrictsOnly = false
        this.messageData.isJointDisctrictsOnly = false
        this.messageData.selectedLegislators = []
        this.selectedCommitteeIdList = []
      } else {
        this.messageData.selectedLegislators = this.legislatorList.map(legislator => legislator.id)
      }
      this.messageData = _.cloneDeep(this.messageData)
    },
    onSelectDistrictType () {
      let selectedCommitteeIdList = []
      if (this.messageData.isHouseDistrictsOnly) {
        selectedCommitteeIdList = [
          ...this.committeeList.filter(committee => committee.type === 0 && (this.userClient.house_committees || []).includes(committee.id)).map(committee => committee.id)
        ]
      }
      if (this.messageData.isSenateDisctrictsOnly) {
        selectedCommitteeIdList = [
          ...selectedCommitteeIdList,
          ...this.committeeList.filter(committee => committee.type === 1 && (this.userClient.senate_committees || []).includes(committee.id)).map(committee => committee.id)
        ]
      }
      if (this.messageData.isJointDisctrictsOnly) {
        selectedCommitteeIdList = [
          ...selectedCommitteeIdList,
          ...this.committeeList.filter(committee => committee.type === 2 && (this.userClient.joint_committees || []).includes(committee.id)).map(committee => committee.id)
        ]
      }
      this.selectedCommitteeIdList = selectedCommitteeIdList
      this.onFilterLegislators()
    },
    onSelectCommittee (committeeId) {
      if (this.selectedCommitteeIdList.includes(committeeId)) {
        this.selectedCommitteeIdList = this.selectedCommitteeIdList.filter(_committeeId => _committeeId !== committeeId)
      } else {
        this.selectedCommitteeIdList.push(committeeId)
      }
      this.onFilterLegislators()
    },
    onFilterLegislators () {
      const selectedLegislators = this.legislatorList.filter((legislator) => {
        if (!legislator.committees) return false
        const committeeIds = legislator.committees.filter(committee => !committee.pivot.memberships.includes(0)).map(committee => committee.id)
        if (committeeIds.length === 0) return false
        return !!this.selectedCommitteeIdList.find(committeeId => committeeIds.includes(committeeId))
      })
      this.messageData.selectedLegislators = selectedLegislators.map(legislator => legislator.id)
      this.messageData = _.cloneDeep(this.messageData)
    },
    onSearchMembers (needUpdate) {
      this.status = 'LOADING_MEMBERS'
      const payload = {
        client_id: this.userClientId,
        is_kp_only: !!this.messageData.isKPOnly,
        legislators: this.messageData.selectedLegislators,
      }
      this.searchMembers(payload)
        .then((res) => {
          this.status = ''
          this.memberList = res.data
          if (this.messageData.usesAge) {
            this.memberList = this.memberList.filter((member) => {
              if (!member.dob) return
              const age = moment().diff(member.dob, 'years');
              return age >= this.messageData.fromAge && age <= this.messageData.toAge
            })
          }
          if (this.messageData.usesGradYear) {
            this.memberList = this.memberList.filter(member => member.grad_year && member.grad_year >= this.messageData.fromGradYear && member.grad_year <= this.messageData.toGradYear)
          }
          if (needUpdate) {
            this.messageData.selectedMembers = this.memberList.map(member => member.id)
            this.messageData = _.cloneDeep(this.messageData)
          }
        })
        .catch((err) => {
          this.status = ''
          this.handleError(err)
        })
    },
    onChangeMessageType () {
      this.messageData = {
        ...this.messageData,
        invitation_message: this.defaultMessageContent,
      }
    },
    onChangeMessageContent () {
      // const $el = document.querySelector('#advocacyMsgSmsContainer .v-counter')
      // $el.innerHTML = `${this.finalMessageLength} / 150`
      // if (this.finalMessageLength > 150 && !$el.classList.contains('error--text')) {
      //   $el.classList.add('error--text')
      // }
      // if (this.finalMessageLength < 150) {
      //   $el.classList.remove('error--text')
      // }
    },
    async onPreviewMessage (message) {
      if (this.isPreview) {
        if (!this.messageData.message) {
          this.formattedMessage = ''
          return
        }
        const payload = {
          legislator_id: this.messageData.selectedLegislators[0],
          member_id: this.messageData.selectedMembers[0],
          message: message,
        }
        this.formattedMessage = (await this.getAppFormattedMessage(payload)).data
      }
    },
    onNextStep () {
      if (this.currentStep === 1) {
        if (!this.$refs.step1Form.validate()) return
        this.onSearchMembers(true)
        this.currentStep = 2
      } else if (this.currentStep === 2) {
        this.currentStep = 3
      } else if (this.currentStep === 3) {
        this.currentStep = 4
      } else if (this.currentStep === 4) {
        this.currentStep = 5
      }
    },
    onSave () {
      this.status = 'SAVING'
      const payload = {
        client_id: this.userClientId,
        subject: this.messageData.subject,
        message: this.messageData.message,
        deadline: this.messageData.deadline,
        legislators: this.messageData.selectedLegislators,
        members: this.messageData.selectedMembers,
        is_kp_only: !!this.messageData.isKPOnly,
        invitation_subject: this.messageData.invitation_subject,
        invitation_message: this.messageData.invitation_message,
        via_sms: !!this.messageData.via_sms,
      }
      this.createAdvocacyMessage(payload)
        .then(() => {
          this.status = ''
          toastr.clear()
          toastr.success('New message has been created.', 'Success!')
          this.refresh()
          this.isModalOpen = false
        })
        .catch((err) => {
          this.status = ''
          this.handleError(err)
        })
    },
    async onSendNow () {
      this.status = 'SENDING_NOW'
      const payload = {
        client_id: this.userClientId,
        subject: this.messageData.subject,
        message: this.messageData.message,
        deadline: this.messageData.deadline,
        legislators: this.messageData.selectedLegislators,
        members: this.messageData.selectedMembers,
        is_kp_only: !!this.messageData.isKPOnly,
        invitation_subject: this.messageData.invitation_subject,
        invitation_message: this.html2Text(this.messageData.invitation_message),
        via_sms: !!this.messageData.via_sms,
      }
      try {
        const newAdvocacyMessage = (await this.createAdvocacyMessage(payload)).data
        await this.sendAdvocacyMessage(newAdvocacyMessage.id)
        toastr.clear()
        toastr.success('New message has been sent to assigned members.', 'Success!')
        this.refresh()
        this.isModalOpen = false
      } catch (err) {
        this.handleError(err)
      }
      this.status = ''
    },
    async onSend () {
      this.status = 'SENDING'
      const payload = {
        id: this.messageData.id,
        client_id: this.userClientId,
        subject: this.messageData.subject,
        message: this.messageData.message,
        deadline: this.messageData.deadline,
        legislators: this.messageData.selectedLegislators,
        members: this.messageData.selectedMembers,
        is_kp_only: !!this.messageData.isKPOnly,
        invitation_subject: this.messageData.invitation_subject,
        invitation_message: this.html2Text(this.messageData.invitation_message),
        via_sms: !!this.messageData.via_sms,
      }
      try {
        await this.updateAdvocacyMessage(payload)
        await this.sendAdvocacyMessage(payload.id)
        toastr.clear()
        toastr.success('Message has been sent to assigned members.', 'Success!')
        this.refresh()
        this.isModalOpen = false
      } catch (err) {
        this.handleError(err)
      }
      this.status = ''
    },
    html2Text(html){
      let find =/(<br>|<\/p><p>)/,
        re = new RegExp(find, 'g');

      let txt = html.replace(re, '\n');
      txt = txt.replace(/<[^>]*>?/gm, '')
      return txt
    }
  }
}
</script>

<style lang="scss" scoped>
.cursor-pointer {
  cursor: pointer;
}
.no-box-shadow {
  box-shadow: none;
}
.legislator-list-container {
  max-height: 120px;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 0;
  }
}
.member-list-container {
  max-height: 120px;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 0;
  }
}
.message-container {
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.42);
}
</style>

<style lang="scss" >
.message-modal-content {
  .v-select.chip-select {
    padding-top: 18px !important;
    .v-select__slot {
      .v-label {
        top: 0px !important;
      }
      .v-select__selections {
        max-height: 168px;
        overflow-y: auto;
      }
    }
  }
}

.text-counter {
  float: right;
  color: gray;
}
/* Manually hide toolbar of sms quileditor */
#advocacyMsgSmsContainer .ql-toolbar  { display: none;}
#advocacyMsgSmsContainer .ql-container  { border: 1px solid #ccc }
</style>
