<template>
  <v-dialog persistent max-width="500" v-model="isModalOpen">
    <v-card>
      <v-card-title>
        <span class="title">Send Message</span>
      </v-card-title>
      <v-divider></v-divider>
      <v-card-text>
        <v-layout wrap>
          <v-flex xs12 class="px-2">
            <v-autocomplete
              label="Legislator"
              item-text="fullname"
              item-value="id"
              :items="legislatorList"
              v-model="message.legislator_id"
              @input="onChangeLegislator"
            >
            </v-autocomplete>
          </v-flex>
          <v-flex xs12 class="px-2">
            <v-textarea label="Subject" rows="3" v-model="message.subject"></v-textarea>
          </v-flex>
          <v-flex xs12 class="px-2">
            <div class="mb-1 caption grey--text">Message</div>
            <quill-editor ref="quillEditor" :options="quillEditorOption" v-model="message.message"></quill-editor>
          </v-flex>
        </v-layout>
      </v-card-text>
       <v-divider></v-divider>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="grey white--text" @click.native="isModalOpen = false">Close</v-btn>
        <v-btn
          color="primary white--text"
          :loading="isBusy"
          @click.native="onSend"
          :disabled="!message.legislator_id || !message.subject || !message.message"
        >
          Send
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import swal from 'sweetalert2'
import { quillEditor } from 'vue-quill-editor'
import AdvocacyMessageService from '../../services/AdvocacyMessageService'

export default {
  props: ['refresh'],
  mixins: [AdvocacyMessageService],
  components: {
    quillEditor,
  },
  data () {
    return {
      // Modal Open
      isModalOpen: false,
      // Form Data
      advocacyMessage: {},
      legislatorList: [],
      message: {},
      isBusy: false,
    }
  },
  computed: {
    quillEditorOption () {
      return {
        modules: {
          toolbar: [
            [{ 'size': ['small', false, 'large'] }],
            ['bold', 'italic'],
            [{ 'list': 'ordered'}, { 'list': 'bullet' }],
          ]
        }
      }
    },
  },
  methods: {
    async toggle (advocacyMessage) {
      this.isModalOpen = true
      this.advocacyMessage = advocacyMessage
      this.message = {}
      this.fetchLegislatorList()
    },
    async fetchLegislatorList () {
      this.legislatorList = (await this.getRemainingLegislators(this.advocacyMessage.id, { member_id: this.userId })).data
      if (this.legislatorList.length > 0) {
        this.message = {
          legislator_id: this.legislatorList[0].id
        }
        this.onChangeLegislator()
      }
    },
    async onChangeLegislator () {
      this.message.subject = (await this.getFormattedSubject(this.advocacyMessage.id, {
        legislator_id: this.message.legislator_id,
        member_id: this.userId,
      })).data
      this.message.message = (await this.getFormattedMessage(this.advocacyMessage.id, {
        legislator_id: this.message.legislator_id,
        member_id: this.userId,
      })).data
      this.message = { ...this.message }
    },
    onSend () {
      swal({
        title: 'Are you ready to send this message directly to your legislator?',
        type: 'question',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Send Now',
        cancelButtonText: 'Continue Editing',
        reverseButtons: true,
      })
        .then((result) => {
          if (!result.value) return
          this.isBusy = true
          const payload = {
            ...this.message,
            member_id: this.userId,
          }
          this.sendReplyAdvocacyMessage(this.advocacyMessage.id, payload)
            .then(() => {
              this.isBusy = false
              this.isModalOpen = false
              swal({
                type: 'success',
                title: 'Message Sent!',
                text: `YOU ROCK! Thank you for taking the time to connect with your legislator and help promote ${this.userClient.profession}!`,
                confirmButtonText: 'Close',
              })
                .then(() => this.refresh())
            })
            .catch((err) => {
              this.handleError(err, true)
            })
        })
    }
  }
}
</script>

<style lang="scss" scoped>
.message-container {
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.42);
}
</style>
