<template>
  <v-dialog max-width="500" v-model="isModalOpen">
    <v-card>
      <v-card-title>
        <span class="title">Stats</span>
      </v-card-title>
      <v-divider></v-divider>
        <v-data-table
          disable-initial-sort
          class="elevation-1"
          :pagination.sync="pagination"
          :headers="statsTableHeader"
          :items="statsList"
        >
          <template v-slot:items="props">
            <td class="text-xs-center">{{ props.item.fullname }}</td>
            <td class="text-xs-center">
              <span v-if="props.item.sent_at">{{ props.item.sent_at | dateTimeFormatter }}</span>
              <v-icon color="error" v-else>cancel</v-icon>
            </td>
          </template>
          <template v-slot:no-data>
            <p class="text-xs-center mb-0">No stats yet.</p>
          </template>
        </v-data-table>
       <v-divider></v-divider>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="grey white--text" @click.native="isModalOpen = false">Close</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import AdvocacyMessageService from '../../services/AdvocacyMessageService'

export default {
  mixins: [AdvocacyMessageService],
  data () {
    return {
      // Modal Open
      isModalOpen: false,
      // Form Data
      statsList: [],
      pagination: {
        rowsPerPage: 10
      }
    }
  },
  computed: {
    statsTableHeader () {
      return [
        { text: 'Legislator', value: 'fullname', align: 'center' },
        { text: 'Sent At', value: 'sent_at', align: 'center' },
      ]
    }
  },
  methods: {
    async toggle (advocacyMessageId) {
      this.statsList = (await this.getReplyStats(advocacyMessageId, { member_id: this.userId })).data
      this.isModalOpen = true
    }
  }
}
</script>

<style lang="scss" scoped>
</style>
