<template>
  <v-dialog max-width="650" v-model="isModalOpen">
    <v-card>
      <v-card-title>
        <span class="title">Stats</span>
      </v-card-title>
      <v-divider></v-divider>
        <v-data-table
          class="elevation-1"
          :pagination.sync="pagination"
          :headers="statsTableHeader"
          :items="statsList"
        >
          <template v-slot:items="props">
            <td>{{ props.item.member_name }}</td>
            <td>{{ props.item.legislator_name }}</td>
            <td class="text-xs-center">
              <span v-if="props.item.sent_at">{{ props.item.sent_at | dateTimeFormatter }}</span>
              <v-icon color="error" v-else>cancel</v-icon>
            </td>
            <td>
              <v-tooltip bottom>
                <template v-slot:activator="{ on }">
                  <v-btn
                    color="warning"
                    :loading="status === ('REMINDING_' + props.item.member_id + '_' + props.item.legislator_id)"
                    @click="onRemind(props.item)"
                    v-if="!props.item.sent_at"
                    v-on="on"
                  >
                    Remind
                  </v-btn>
                </template>
                <span>Remind {{ props.item.member_name }} about this message</span>
              </v-tooltip>
            </td>
          </template>
          <template v-slot:no-data>
            <p class="text-xs-center mb-0">No stats yet.</p>
          </template>
        </v-data-table>
       <v-divider></v-divider>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="grey white--text" @click.native="isModalOpen = false">Close</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import AdvocacyMessageService from '../../services/AdvocacyMessageService'

export default {
  mixins: [AdvocacyMessageService],
  data () {
    return {
      // Modal Open
      isModalOpen: false,
      // Form Data
      status: '',
      advocacyMessageId: null,
      statsList: [],
      pagination: {
        rowsPerPage: 10
      }
    }
  },
  computed: {
    statsTableHeader () {
      return [
        { text: 'Member', value: 'member_name', align: 'left' },
        { text: 'Legislator', value: 'legislator_name', align: 'left' },
        { text: 'Sent At', value: 'sent_at', align: 'center' },
        { text: '', value: '' },
      ]
    }
  },
  methods: {
    async toggle (advocacyMessageId) {
      this.advocacyMessageId = advocacyMessageId
      this.statsList = (await this.getStats(advocacyMessageId)).data
      this.isModalOpen = true
    },
    onRemind (message) {
      this.status = `REMINDING_${message.member_id}_${message.legislator_id}`
      const payload = {
        member_id: message.member_id
      }
      this.remindAdvocacyMessage(this.advocacyMessageId, payload)
        .then(() => {
          this.status = ''
          toastr.clear()
          toastr.success(`Remind message has been sent to ${message.member_name}.`, 'Success!')
        })
        .catch((err) => {
          this.status = ''
          this.handleError(err)
        })
    }
  }
}
</script>

<style lang="scss" scoped>
</style>
